USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_NewModelCreation]    Script Date: 2023-10-25 12:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		James Crawford
-- Create date: 2015-12-08
-- Description:	Copies model records for selected model (@OldMN) into same tables for new model (@NewMN). Ran from Access database.

-- 2023-05-17 James Crawford - Added "US Price" column as it was missing from this stored proc.
-- IT Request # 1980
-- =============================================
ALTER PROCEDURE [dbo].[sp_NewModelCreation] 
	-- Add the parameters for the stored procedure here
	@Class nvarchar(255), @Model nvarchar(255), @OldMN nvarchar(255), @NewMN nvarchar(255), @NVIS nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Products Table
	--Insert new record into Products table from old model
	insert into Products with (tablock) (Class, [Non-Current], [Grouping], [Start Date], [End Date], Price, [US Price], [Weight], Make, Width, Spread, [Deck Length], [Days], GN, Paint, Finish, [S/NL1], [S/NL2], [S/NT1], [S/NT2], [S/NAxles])
	select Class, [Non-Current], [Grouping], [Start Date], [End Date], Price, [US Price], [Weight], Make, Width, Spread, [Deck Length], [Days], GN, Paint, Finish, [S/NL1], [S/NL2], [S/NT1], [S/NT2], [S/NAxles]
	from Products
	where Class = @Class
	and [Model No] = @OldMN

	--Update new record with new Model, Model No and NVIS
	update Products
	set Model = @Model,
	[Model No] = @NewMN,
	NVIS = @NVIS,
	Proposed = 1
	where Model is null
	and [Model No] is null
	and NVIS is null

	--Standards Table
	declare @tmpStandards table
	(
		[Model No] [nvarchar](255) NULL,
		[Standard No] [nvarchar](255) NULL,
		[Group] [nvarchar](255) NULL,
		[Section] [nvarchar](255) NULL,
		[Description] [nvarchar](max) NULL,
		[Start Date] [datetime] NULL,
		[End Date] [datetime] NULL,
		[SortG] [int] NULL,
		[SortSe] [int] NULL,
		[Selection] [bit] NULL,
		[SortGv2] [int] NULL,
		[SortSev2] [int] NULL
	)

	--Insert records into tmp table from old model
	insert into @tmpStandards ([Model No], [Standard No], [Group], Section, [Description], [Start Date], [End Date], SortG, SortSe, Selection, SortGv2, SortSev2)
	select [Model No], [Standard No], [Group], Section, [Description], [Start Date], [End Date], SortG, SortSe, Selection, SortGv2, SortSev2
	from Standards
	where [Model No] = @OldMN

	--Update tmp table with new Model No and Standard Nos
	update @tmpStandards
	set [Model No] = @NewMN,
	[Standard No] = REPLACE([Standard No], @OldMN, @NewMN)
	from @tmpStandards

	--Insert records from tmp table into Standards table
	insert into Standards with (tablock) ([Model No], [Standard No], [Group], Section, [Description], [Start Date], [End Date], SortG, SortSe, Selection, SortGv2, SortSev2)
	select [Model No], [Standard No], [Group], Section, [Description], [Start Date], [End Date], SortG, SortSe, Selection, SortGv2, SortSev2
	from @tmpStandards

	--Options Table
	declare @tmpOptions table
	(
		[Model No] [nvarchar](50) NULL,
		[Option No] [nvarchar](50) NULL,
		[Start Date] [datetime] NULL DEFAULT (CONVERT([date],getdate(),(0))),
		[End Date] [datetime] NULL DEFAULT (case when datepart(month,getdate())>=(7) then CONVERT([date],CONVERT([varchar],datepart(year,getdate())+(1),(0))+'-07-01',(0)) else CONVERT([date],CONVERT([varchar],datepart(year,getdate()),(0))+'-07-01',(0)) end),
		[Price] [money] NULL,
        [US Price] [money] NULL,
		[Sections] [nvarchar](255) NULL,
		[Description] [nvarchar](max) NULL,
		[Weight] [int] NULL,
		[Width] [int] NULL,
		[Deck Length] [int] NULL,
		[Spread] [int] NULL,
		[SortSe] [int] NULL,
		[Draw/Part#] [nvarchar](255) NULL,
		[Std Hours] [float] NULL
	)

	--Insert records into tmp table from old model
	insert into @tmpOptions ([Model No], [Option No], [Start Date], [End Date], Price, [US Price], Sections, [Description], [Weight], Width, [Deck Length], Spread, SortSe, [Draw/Part#], [Std Hours])
	select [Model No], [Option No], [Start Date], [End Date], Price, [US Price], Sections, [Description], [Weight], Width, [Deck Length], Spread, SortSe, [Draw/Part#], [Std Hours]
	from Options
	where [Model No] = @OldMN
	and Obsolete = 0

	--Update tmp table with new Model No and Standard Nos
	update @tmpOptions
	set [Model No] = @NewMN,
	[Option No] = REPLACE([Option No], @OldMN, @NewMN)
	from @tmpOptions

	--Insert records from tmp table into Options table
	insert into Options with (tablock) ([Model No], [Option No], [Start Date], [End Date], Price, [US Price], Sections, [Description], [Weight], Width, [Deck Length], Spread, SortSe, [Draw/Part#], [Std Hours])
	select [Model No], [Option No], [Start Date], [End Date], Price, [US Price], Sections, [Description], [Weight], Width, [Deck Length], Spread, SortSe, [Draw/Part#], [Std Hours]
	from @tmpOptions

	--Options_SpecLines Table
	declare @tmpOptionsSL table
	(
		[Model No] [nvarchar](50) NULL,
		[Option No] [nvarchar](50) NULL,
		[Description] [nvarchar](max) NULL,
		[Line#] [int] NULL DEFAULT ((1)),
		[SpecGroup] [nvarchar](255) NULL,
		[SpecSortG] [int] NULL,
		[SpecSection] [nvarchar](255) NULL,
		[SpecSortSe] [float] NULL,
		[SpecDescription] [nvarchar](max) NULL,
		[SpecDescriptionBold] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionItalic] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionUnderline] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionBackColour] [nvarchar](255) NULL,
		[SpecDescriptionFontColour] [nvarchar](255) NULL,
		[SpecSortSeLine] [int] NULL DEFAULT ((0))
	)

	--Insert records into tmp table from old model
	insert into @tmpOptionsSL ([Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	                           SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine)
	select [Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	       SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine
	from Options_SpecLines
	where [Model No] = @OldMN

	--Update tmp table with new Model No and Option Nos
	update @tmpOptionsSL
	set [Model No] = @NewMN,
	[Option No] = REPLACE([Option No], @OldMN, @NewMN)
	from @tmpOptionsSL

	--Insert records from tmp table into Options_SpecLines table
	insert into Options_SpecLines with (tablock) ([Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
												  SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine)
	select [Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	       SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine
	from @tmpOptionsSL

	--Options_FactoryLines Table
	declare @tmpOptionsFL table
	(
		[Model No] [nvarchar](50) NULL,
		[Option No] [nvarchar](50) NULL,
		[Description] [nvarchar](max) NULL,
		[Line#] [int] NULL DEFAULT ((1)),
		[SpecGroup] [nvarchar](255) NULL,
		[SpecSortG] [int] NULL,
		[SpecSection] [nvarchar](255) NULL,
		[SpecSortSe] [float] NULL,
		[SpecDescription] [nvarchar](max) NULL,
		[SpecDescriptionBold] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionItalic] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionUnderline] [bit] NULL DEFAULT ((0)),
		[SpecDescriptionBackColour] [nvarchar](255) NULL,
		[SpecDescriptionFontColour] [nvarchar](255) NULL,
		[SpecSortSeLine] [int] NULL DEFAULT ((0))
	)

	--Insert records into tmp table from old model
	insert into @tmpOptionsFL ([Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	                           SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine)
	select [Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	       SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine
	from Options_FactoryLines
	where [Model No] = @OldMN

	--Update tmp table with new Model No and Option Nos
	update @tmpOptionsFL
	set [Model No] = @NewMN,
	[Option No] = REPLACE([Option No], @OldMN, @NewMN)
	from @tmpOptionsFL

	--Insert records from tmp table into Options_FactoryLines table
	insert into Options_FactoryLines with (tablock) ([Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
													 SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine)
	select [Model No], [Option No], [Description], Line#, SpecGroup, SpecSortG, SpecSection, SpecSortSe, 
	       SpecDescription, SpecDescriptionBold, SpecDescriptionUnderline, SpecDescriptionItalic, SpecDescriptionBackColour, SpecDescriptionFontColour, SpecSortSeLine
	from @tmpOptionsFL

	--Budget Standards Table
	insert into [Budget Std] with (tablock) ([Model No], COGS, [Made In Material], [Bought Out Material], [Labour Cost],
											 [Machine Shop], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping)
	select @NewMN, COGS, [Made In Material], [Bought Out Material], [Labour Cost],
	[Machine Shop], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping
	from [Budget Std]
	where [Model No] = @OldMN

	--Budget Options Table
	declare @tmpBudgetOptions table
	(
		[Bud_Date_Opt] [datetime] NULL,
		[Model No] [nvarchar](50) NULL,
		[Option No] [nvarchar](50) NULL,
		[Description] [nvarchar](max) NULL,
		[Cost] [money] NULL DEFAULT ((0)),
		[Labour Cost] [money] NULL DEFAULT ((0)),
		[Made In Material] [money] NULL DEFAULT ((0)),
		[Bought Out Material] [money] NULL DEFAULT ((0)),
		[Machine Shop] [float] NULL DEFAULT ((0)),
		[Steel Kit] [float] NULL DEFAULT ((0)),
		[Axles] [float] NULL DEFAULT ((0)),
		[Stakes/Bunks] [float] NULL DEFAULT ((0)),
		[Beam] [float] NULL DEFAULT ((0)),
		[GNK] [float] NULL DEFAULT ((0)),
		[Parts] [float] NULL DEFAULT ((0)),
		[Line] [float] NULL DEFAULT ((0)),
		[Step 1] [float] NULL DEFAULT ((0)),
		[Step 2] [float] NULL DEFAULT ((0)),
		[Blast] [float] NULL DEFAULT ((0)),
		[Paint] [float] NULL DEFAULT ((0)),
		[Finish] [float] NULL DEFAULT ((0)),
		[Finish - GNK] [float] NULL DEFAULT ((0)),
		[Final Assembly] [float] NULL DEFAULT ((0)),
		[Tire Assembly] [float] NULL DEFAULT ((0)),
		[Shipping] [float] NULL DEFAULT ((0)),
		[Sections] [nvarchar](255) NULL,
		[SortSe] [int] NULL,
		[Obsolete] [bit] NULL DEFAULT ((0))
	)

	--Insert records into tmp table from old model
	insert into @tmpBudgetOptions (Bud_Date_Opt, [Model No], [Option No], [Description], Cost, [Labour Cost], [Made In Material], [Bought Out Material],
	                               [Machine Shop], [Steel Kit], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping, Sections, SortSe)
	select Bud_Date_Opt, [Model No], [Option No], [Description], Cost, [Labour Cost], [Made In Material], [Bought Out Material],
	       [Machine Shop], [Steel Kit], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping, Sections, SortSe
	from [Budget Options]
	where [Model No] = @OldMN

	--Update tmp table with new Model No and Option Nos
	update @tmpBudgetOptions
	set [Model No] = @NewMN,
	[Option No] = REPLACE([Option No], @OldMN, @NewMN)
	from @tmpBudgetOptions

	--Insert records from tmp table into Budget Options table
	insert into [Budget Options] with (tablock) (Bud_Date_Opt, [Model No], [Option No], [Description], Cost, [Labour Cost], [Made In Material], [Bought Out Material],
												 [Machine Shop], [Steel Kit], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping, Sections, SortSe)
	select Bud_Date_Opt, [Model No], [Option No], [Description], Cost, [Labour Cost], [Made In Material], [Bought Out Material],
	[Machine Shop], [Steel Kit], Axles, [Stakes/Bunks], Beam, GNK, Parts, Line, [Step 1], [Step 2], Blast, Paint, Finish, [Finish - GNK], [Final Assembly], [Tire Assembly], Shipping, Sections, SortSe
	from @tmpBudgetOptions

	--Products - Dealers Table
	--Insert new record into Products - Dealers table from Products table for old model
	insert into [Products - Dealers] with (tablock) (Class, Model, [Model No], [Non-Current], [Start Date], [End Date], Price, Weight, Width, Spread, [Deck Length], [US Price])
	select Class, Model, [Model No], [Non-Current], [Start Date], [End Date], Price, Weight, Width, Spread, [Deck Length], [US Price]
	from Products
	where [Model No] = @NewMN

	--SN Type Table
	--Insert Model No into SN Type table for New Model (and/or any missing models in SN Type table)
	insert into [SN Type] with (tablock) ([Model No])
	select Products.[Model No] from Products
	left outer join [SN Type] on Products.[Model No] = [SN Type].[Model No]
	where [Non-Current] = 0
	and [SN Type].[Model No] is null

END

