USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductInfoOfSameClassSTG]    Script Date: 2023-04-03 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_ProductInfoOfSameClassSTG]
	@quote NVARCHAR(8),
	@class NVARCHAR(MAX)=NULL
AS BEGIN

	IF @class IS NULL BEGIN
		SELECT
			[ProductsV2].Class,
			[ProductsV2].Model,
			[ProductsV2].[Model No],
			[ProductsV2].Price
		FROM
			[ProductsV2]
		INNER JOIN (
			SELECT
				[ProductsV2].Class
			FROM 
				[OrdersV2]
			INNER JOIN
				[ProductsV2]
			ON
				[OrdersV2].[ProductID] = [ProductsV2].[IDTrailer]
			WHERE
				[SGQuote] = 'SG101135'
		) AS [SrcA]
		ON
			[ProductsV2].[Class] = [SrcA].[Class]
		;
	END
	ELSE BEGIN
		SELECT
			[ProductsV2].Class,
			[ProductsV2].Model,
			[ProductsV2].[Model No],
			[ProductsV2].Price
		FROM
			[ProductsV2]
		WHERE
			[Class] = @class
		;
	END
END