USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_AddNoneNPO]    Script Date: 2023-08-09 1:57:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_AddNoneNPO]
   ON  [dbo].[Orders]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);
	
		DECLARE @persons AS NVARCHAR(MAX);
		DECLARE @subject AS NVARCHAR(MAX);
		DECLARE @body AS NVARCHAR(MAX);
		DECLARE @quote AS INT;
		DECLARE @quote_s AS NVARCHAR(MAX);
		DECLARE @nc AS INT;
		DECLARE @ds AS BIT;
		
		SELECT @quote = [Quote#] FROM inserted i;
		SELECT @quote_s = CAST(@quote AS NVARCHAR(MAX));
		SELECT @nc = COUNT(*) FROM [Custom Work] WHERE [Quote#] = @quote;
	
		SELECT @ds = 0;
		DECLARE @handled AS BIT=0;

		SELECT @body = '<!DOCTYPE html><html><head><title>Sales Update</title><style>.Val{text-align: right;}</style></head><body><table border="1" class="dataframe"><thead><tr style="text-align: center;"><th>Col</th><th>Val</th></thead>';

		-- Insert statements for trigger here
		IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'UPDATE';
			SET @user = SYSTEM_USER;
			--SELECT @body = 'Update on quote=' + @quote_s + '.'
			SELECT @body = @body + '<tr><td class="Col">Mode</td><td class="Val">Update</td></tr>'
			SELECT @body = @body + '<tr><td class="Col">Quote</td><td class="Val">' + @quote_s + '</td></tr>'

			IF @nc = 0 BEGIN
				SELECT @body = @body + '</table>'
				SELECT @body = @body + '<p>Inserted new record</p>'
				SELECT @ds = 1;
				INSERT INTO
					[Custom Work]
				(
					[Quote Date]
					,[Quote#]
					,[Order Date]
					,[WO#]
					,[Section]
					,[SortSe]
					,[Description]
					,[Qty]
				)
				SELECT
					[i].[Quote Date]
					,[i].[Quote#]
					,[i].[Order Date]
					,[i].[WO#]
					,NULL
					,NULL
					,'None'
					,1
				FROM
					INSERTED i
			END
			ELSE BEGIN
				--SELECT @body = @body + ' nc=' + CAST(@nc AS nvarchar(MAX))
				SELECT @body = @body + '<tr><td class="Col"># NPOs</td><td class="Val">' + CAST(@nc AS nvarchar(MAX)) + '</td></tr>'
				SELECT @body = @body + '</table>'
			END
			SELECT @handled = 1;

		END
		IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'INSERT';
			SET @user = SYSTEM_USER;

			INSERT INTO
				[Custom Work]
			(
				[Quote Date]
			   ,[Quote#]
			   ,[Order Date]
			   ,[WO#]
			   ,[Section]
			   ,[SortSe]
			   ,[Description]
			   ,[Qty]
			)
			SELECT
				[i].[Quote Date]
			   ,[i].[Quote#]
			   ,[i].[Order Date]
			   ,[i].[WO#]
			   ,NULL
			   ,NULL
			   ,'None'
			   ,1
			FROM
				INSERTED i

			
			SELECT @body = @body + '<tr><td class="Col">Mode</td><td class="Val">Insert</td></tr>'
			SELECT @body = @body + '<tr><td class="Col">Quote</td><td class="Val">' + @quote_s + '</td></tr>'
			SELECT @body = @body + '</table>'
			SELECT @handled = 1;
			--SELECT @body = 'Insert on quote=' + @quote_s + '.'
			--SELECT @body = @body + ' Inserted new record'

		END
		IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
			SET @activity = 'DELETE';
			SET @user = SYSTEM_USER;

			--SELECT @body = 'Delete on quote=' + @quote_s + '.'
			SELECT @body = @body + '<tr><td class="Col">Mode</td><td class="Val">Delete</td></tr>'
			SELECT @body = @body + '<tr><td class="Col">Quote</td><td class="Val">' + @quote_s + '</td></tr>'
			SELECT @body = @body + '</table>'
			SELECT @handled = 1;
		END

		DECLARE @s AS NVARCHAR(MAX);
		SELECT @s = '';
		SELECT @persons = 'avery.briggs@bwstrailers.com';
		SELECT @subject = 'New Order @quote="' + @quote_s + '"';

		IF @handled = 0 BEGIN
			SELECT @body = @body + '<tr><td class="Col">Mode</td><td class="Val">N/A</td></tr>'
			SELECT @body = @body + '</table>'
		END
		
		SELECT @body = @body + '</body></html>';

		IF @ds = 1 BEGIN

			EXEC msdb.dbo.sp_send_dbmail 
				@recipients = 'avery.briggs@bwstrailers.com',
				@profile_name = 'SQL Agent',
				@subject = @subject, 
				@body = @body,
				@body_format='HTML'
				--,
				--@copy_recipients=NULL,
				--@blind_copy_recipients=NULL,
				--@importance=NULL,
				--@sensitivity=NULL,
				--@file_attachments=NULL,
				--@query=NULL,
				--@execute_query_database=NULL,
				--@attach_query_result_as_file=NULL,
				--@query_attachment_filename=NULL,
				--@query_result_header=NULL,
				--@query_result_width=NULL,
				--@query_result_separator=NULL,
				--@exclude_query_output=NULL,
				--@append_query_error=NULL,
				--@query_no_truncate=NULL,
				--@query_result_no_padding=NULL,
				--@mailitem_id=NULL,
				--@from_address=NULL,
				--@reply_to=NULL
				----@body_format='HTML'
			;
		END

	END

END
