USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_PVCollectOrders]    Script Date: 2022-03-11 11:00:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_PVCollectOrders] 

@sd AS DATETIME=NULL,-- = '2022-03-01'
@ed AS DATETIME=NULL,-- = '2022-03-10'
@id AS INTEGER=NULL -- = '2022-03-10'

AS BEGIN

	IF @sd IS NULL BEGIN
		SELECT @sd = MIN([Delivery Date]) FROM [Orders] WITH (NOLOCK)
	END
	IF @ed IS NULL BEGIN
		SELECT @ed = MAX([Delivery Date]) FROM [Orders] WITH (NOLOCK)
	END
	IF @id IS NULL BEGIN
		SELECT
			[Orders].*,
			[Customers].[Customer],
			[Dealers].[COMPANY NAME]
		FROM
			[Orders] WITH (NOLOCK)
		LEFT JOIN
			[Customers]
		ON
			[Customers].[ID#] =	[Orders].[CustID]
		LEFT JOIN
			[Dealers]
		ON
			[Orders].[DealerID] = [Dealers].[ID]
		WHERE
			(
				[PriceSecured] IS NULL 
				OR [PriceSecured] = 0
			)
			AND [Delivery Date] IS NOT NULL
			AND [Delivery Date] BETWEEN @sd AND @ed

	END
	ELSE BEGIN 
		SELECT
			[Orders].*,
			[Customers].[Customer],
			[Dealers].[COMPANY NAME]
		FROM
			[Orders] WITH (NOLOCK)
		LEFT JOIN
			[Customers]
		ON
			[Customers].[ID#] =	[Orders].[CustID]
		LEFT JOIN
			[Dealers]
		ON
			[Orders].[DealerID] = [Dealers].[ID]
		WHERE
			(
				[PriceSecured] IS NULL 
				OR [PriceSecured] = 0
			)
			AND [Delivery Date] IS NOT NULL
			AND [Delivery Date] BETWEEN @sd AND @ed
			AND [DealerID] = @id
	END
END