USE [SysproCompanyA]
GO
--/****** Object:  StoredProcedure [dbo].[sp_APTrialBalance]    Script Date: 2023-11-07 10:45:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_APTrialBalance] 
--	-- Add the parameters for the stored procedure here
--	@d datetime, @reporttype int, @excludezeroinvs int, @localcur int

	
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	DECLARE
	@d datetime, @reporttype int, @excludezeroinvs int, @localcur int
	SELECT
		@d = '2023-11-30'
		,@reporttype = 1
		,@excludezeroinvs = 1
		,@localcur = 0


    -- Insert statements for procedure here
	declare @mth int, @year int

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = FinYear,
			@loopglperiod = FinPeriod
	from ApControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
							select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'

	SELECT '-A' AS [T], @SQLselect;

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
					@loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select FinYear - 1 from InvControl with (nolock))
		begin
			if @loopglyear = (select FinYear from InvControl with (nolock))
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
											select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
											select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'
				end

			exec sp_executesql @SQLselect

			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	SELECT '-B' AS [T], * FROM #PeriodEndDates;

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	SELECT '-C' AS [T], * FROM #PeriodEndDates;

	select @mth = GlPeriod,
			@year = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@d)
	and year(PeriodEndDate) = year(@d)

	if @reporttype = 0 and @excludezeroinvs = 0
		select case when Currency = '$' then 'CDN' else Currency end as Currency,
		mainsub.Supplier, SupplierName, right(Invoice, 8) as Invoice, InvoiceDate,
		cast(cast(Detail as decimal(14, 2)) as float) as Total,
		cast(cast(Net as decimal(14, 2)) as float) as TotalSum,
		cast(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Detail as decimal(14, 2)) else 0 end as float) as [Current],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Net as decimal(14, 2)) else 0 end as float) as [CurrentSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Detail as decimal(14, 2)) else 0 end as float) as [30Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Net as decimal(14, 2)) else 0 end as float) as [30DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Detail as decimal(14, 2)) else 0 end as float) as [60Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Net as decimal(14, 2)) else 0 end as float) as [60DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Detail as decimal(14, 2)) else 0 end as float) as [90Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Net as decimal(14, 2)) else 0 end as float) as [90DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Detail as decimal(14, 2)) else 0 end as float) as [120Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Net as decimal(14, 2)) else 0 end as float) as [120DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Detail as decimal(14, 2)) else 0 end as float) as [150Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Net as decimal(14, 2)) else 0 end as float) as [150DaysSum]
		from (select ApSupplier.Currency, ApSupplier.Supplier, SupplierName,
			  sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2))) as [Check]
			  from ApSupplier with (nolock)
			  inner join ApInvoice with (nolock) on ApSupplier.Supplier = ApInvoice.Supplier
			  left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
							   from ApInvoicePay with (nolock)
							   where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
							   group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																	  and ApInvoice.Invoice = subA.Invoice
			  where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
			  and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
				   or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
			  /*and InvoiceDate <= @d*/
			  group by ApSupplier.Currency, ApSupplier.Supplier, SupplierName
			  having (sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2)))) <> 0) as mainsub
		inner join (select ApInvoice.Supplier, ApInvoice.Invoice, InvoiceDate,
					((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end))) as Detail, 
					((OrigInvValue * (case when @localcur = 1 then 1 else ConvRate end)) + ((case when PaidValue is null then 0 else PaidValue end) * (case when @localcur = 1 then 1 else ConvRate end))) as Net 
					from ApInvoice with (nolock)
					left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
									 from ApInvoicePay with (nolock)
									 where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
									 group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																						   and ApInvoice.Invoice = subA.Invoice
					where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
					and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
						 or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
					/*and InvoiceDate <= @d*/) as subA on mainsub.Supplier = subA.Supplier

	if @reporttype = 0 and @excludezeroinvs = 1
		select case when Currency = '$' then 'CDN' else Currency end as Currency,
		mainsub.Supplier, SupplierName, right(Invoice, 8) as Invoice, InvoiceDate,
		cast(cast(Detail as decimal(14, 2)) as float) as Total,
		cast(cast(Net as decimal(14, 2)) as float) as TotalSum,
		cast(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Detail as decimal(14, 2)) else 0 end as float) as [Current],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Net as decimal(14, 2)) else 0 end as float) as [CurrentSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Detail as decimal(14, 2)) else 0 end as float) as [30Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Net as decimal(14, 2)) else 0 end as float) as [30DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Detail as decimal(14, 2)) else 0 end as float) as [60Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Net as decimal(14, 2)) else 0 end as float) as [60DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Detail as decimal(14, 2)) else 0 end as float) as [90Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Net as decimal(14, 2)) else 0 end as float) as [90DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Detail as decimal(14, 2)) else 0 end as float) as [120Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Net as decimal(14, 2)) else 0 end as float) as [120DaysSum],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Detail as decimal(14, 2)) else 0 end as float) as [150Days],
		cast(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Net as decimal(14, 2)) else 0 end as float) as [150DaysSum]
		from (select ApSupplier.Currency, ApSupplier.Supplier, SupplierName,
			  sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2))) as [Check]
			  from ApSupplier with (nolock)
			  inner join ApInvoice with (nolock) on ApSupplier.Supplier = ApInvoice.Supplier
			  left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
							   from ApInvoicePay with (nolock)
							   where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
							   group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																	  and ApInvoice.Invoice = subA.Invoice
			  where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
			  and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
				   or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
			  /*and InvoiceDate <= @d*/
			  group by ApSupplier.Currency, ApSupplier.Supplier, SupplierName
			  having (sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2)))) <> 0) as mainsub
		inner join (select ApInvoice.Supplier, ApInvoice.Invoice, InvoiceDate,
					((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end))) as Detail, 
					((OrigInvValue * (case when @localcur = 1 then 1 else ConvRate end)) + ((case when PaidValue is null then 0 else PaidValue end) * (case when @localcur = 1 then 1 else ConvRate end))) as Net 
					from ApInvoice with (nolock)
					left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
									 from ApInvoicePay with (nolock)
									 where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
									 group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																						   and ApInvoice.Invoice = subA.Invoice
					where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
					and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
						 or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
					/*and InvoiceDate <= @d*/) as subA on mainsub.Supplier = subA.Supplier
		where Net <> 0

	if @reporttype = 1 and @excludezeroinvs = 0
		select case when Currency = '$' then 'CDN' else Currency end as Currency,
		mainsub.Supplier, SupplierName, 
		cast(sum(cast(Net as decimal(14, 2))) as float) as Total,
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Net as decimal(14, 2)) else 0 end) as float) as [Current],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Net as decimal(14, 2)) else 0 end) as float) as [30Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Net as decimal(14, 2)) else 0 end) as float) as [60Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Net as decimal(14, 2)) else 0 end) as float) as [90Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Net as decimal(14, 2)) else 0 end) as float) as [120Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Net as decimal(14, 2)) else 0 end) as float) as [150Days]
		from (select ApSupplier.Currency, ApSupplier.Supplier, SupplierName,
			  sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2))) as [Check]
			  from ApSupplier with (nolock)
			  inner join ApInvoice with (nolock) on ApSupplier.Supplier = ApInvoice.Supplier
			  left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
							   from ApInvoicePay with (nolock)
							   where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
							   group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																	  and ApInvoice.Invoice = subA.Invoice
			  where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
			  and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
				   or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
			  /*and InvoiceDate <= @d*/
			  group by ApSupplier.Currency, ApSupplier.Supplier, SupplierName
			  having (sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2)))) <> 0) as mainsub
		inner join (select ApInvoice.Supplier, ApInvoice.Invoice, InvoiceDate,
					((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end))) as Detail, 
					((OrigInvValue * (case when @localcur = 1 then 1 else ConvRate end)) + ((case when PaidValue is null then 0 else PaidValue end) * (case when @localcur = 1 then 1 else ConvRate end))) as Net 
					from ApInvoice with (nolock)
					left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
									 from ApInvoicePay with (nolock)
									 where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
									 group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																						   and ApInvoice.Invoice = subA.Invoice
					where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
					and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
						 or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
					/*and InvoiceDate <= @d*/) as subA on mainsub.Supplier = subA.Supplier
		group by Currency, mainsub.Supplier, SupplierName
	
	if @reporttype = 1 and @excludezeroinvs = 1
		select case when Currency = '$' then 'CDN' else Currency end as Currency,
		mainsub.Supplier, SupplierName, 
		cast(sum(cast(Net as decimal(14, 2))) as float) as Total,
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) <= 29 then cast(Net as decimal(14, 2)) else 0 end) as float) as [Current],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 30 and 59 then cast(Net as decimal(14, 2)) else 0 end) as float) as [30Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 60 and 89 then cast(Net as decimal(14, 2)) else 0 end) as float) as [60Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 90 and 119 then cast(Net as decimal(14, 2)) else 0 end) as float) as [90Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) between 120 and 149 then cast(Net as decimal(14, 2)) else 0 end) as float) as [120Days],
		cast(sum(case when DATEDIFF(DD, InvoiceDate, @d) >= 150 then cast(Net as decimal(14, 2)) else 0 end) as float) as [150Days]
		from (select ApSupplier.Currency, ApSupplier.Supplier, SupplierName,
			  sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2))) as [Check]
			  from ApSupplier with (nolock)
			  inner join ApInvoice with (nolock) on ApSupplier.Supplier = ApInvoice.Supplier
			  left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
							   from ApInvoicePay with (nolock)
							   where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
							   group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																	  and ApInvoice.Invoice = subA.Invoice
			  where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
			  and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
				   or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
			  /*and InvoiceDate <= @d*/
			  group by ApSupplier.Currency, ApSupplier.Supplier, SupplierName
			  having (sum(cast((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end)) as decimal(14, 2)))) <> 0) as mainsub
		inner join (select ApInvoice.Supplier, ApInvoice.Invoice, InvoiceDate,
					((OrigInvValue) + ((case when PaidValue is null then 0 else PaidValue end))) as Detail, 
					((OrigInvValue * (case when @localcur = 1 then 1 else ConvRate end)) + ((case when PaidValue is null then 0 else PaidValue end) * (case when @localcur = 1 then 1 else ConvRate end))) as Net 
					from ApInvoice with (nolock)
					left outer join (select Supplier, Invoice, sum(TrnValue) as PaidValue 
									 from ApInvoicePay with (nolock)
									 where right('0000' + cast(TrnYear as varchar(4)), 4) + right('00' + cast(TrnMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
									 group by Supplier, Invoice) as subA on ApInvoice.Supplier = subA.Supplier
																						   and ApInvoice.Invoice = subA.Invoice
					where right('0000' + cast(InvoiceYear as varchar(4)), 4) + right('00' + cast(InvoiceMonth as varchar(2)), 2) <= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
					and (right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) >= right('0000' + cast(@year as varchar(4)), 4) + right('00' + cast(@mth as varchar(2)), 2)
						 or right('0000' + cast(YearInvBalZero as varchar(4)), 4) + right('00' + cast(MonthInvBalZero as varchar(2)), 2) = 0)
					/*and InvoiceDate <= @d*/) as subA on mainsub.Supplier = subA.Supplier
		group by Currency, mainsub.Supplier, SupplierName
		having sum(Net) <> 0


--END