USE [BWSdb]
GO
/****** Object:  UserDefinedFunction [dbo].[fnRemoveNonNumericCharacters]    Script Date: 2024-12-11 4:46:22 PM ******/

-- 2024-12-11 1815 - Abriggs - Function to remove special characters from string inputs.
--								Optionally include a select set of specials with default param.

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Function [dbo].[fn_RemoveSpecials](
	@strText NVARCHAR(MAX),
	@include NVARCHAR(MAX) = '',
	@fillChar NVARCHAR(MAX) = ''
)
RETURNS NVARCHAR(MAX)
AS
BEGIN


	/*
	---------------------
	------ TESTING ------
	---------------------

	DECLARE @strText NVARCHAR(MAX) = 'avery is very cool, except when; he tries'' to insert: some! speci@l character3.( This is rude# and should not be%$ tolerated. Remo^e them &t onc*), I mean `~ *all -_+= /-+<?>/ specials } [] { \| "';
	--DECLARE @strTextC NVARCHAR(MAX) = UPPER(SUBSTRING(@strText, 1, LEN(@strText)));
	DECLARE @include NVARCHAR(MAX) = ';';
	DECLARE @fillChar NVARCHAR(MAX) = '';
	--DECLARE @invalidTable TABLE ([ID] INT IDENTITY(0, 1), [Char] NVARCHAR(1), [RN] INT)
	*/

	DECLARE @invalidTable TABLE ([ID] INT IDENTITY(0, 1), [Char] NVARCHAR(1))
	INSERT INTO @invalidTable ([Char]) VALUES
		('`'),
		('~'),
		('!'),
		('@'),
		('#'),
		('$'),
		('%'),
		('^'),
		('&'),
		('*'),
		('('),
		(')'),
		('-'),
		('_'),
		('='),
		('+'),
		('{'),
		('}'),
		('['),
		(']'),
		('\'),
		('|'),
		(';'),
		(':'),
		(''''),
		('"'),
		(','),
		('<'),
		('.'),
		('>'),
		('/'),
		('?'),
		(CHAR(9)),  -- \t
		(CHAR(10))  -- \n
	;
	
	DECLARE @i INT;
	DECLARE @c INT;
	DECLARE @char NVARCHAR(1);

	SELECT
		@i = 0,
		@c = LEN(@include)
	;

	WHILE @i < @c BEGIN

		SELECT
			@char = SUBSTRING(@include, @i + 1, 1)
		;

		DELETE FROM 
			@invalidTable
		WHERE
			[Char] = @char
		;

		SELECT
			@i = @i + 1
		;
	END

	SELECT
		@i = 0,
		@c = MAX([ID])
	FROM
		@invalidTable
	;

	WHILE @i <= @c BEGIN

		SELECT
			@char = ''
		;

		SELECT
			@char = [Char]
		FROM
			@invalidTable
		WHERE
			[ID] = @i
		;

		IF LEN(@char) > 0 BEGIN
			SELECT 
				@strText = REPLACE(@strText, @char, @fillChar)
			;
		END

		SELECT
			@i = @i + 1	
		;

	END


	/*
	---------------------

	SELECT
		@strText AS [Res]
	---------------------
	*/



    RETURN @strText
END
