USE [BWSdb]
GO
/****** Object:  UserDefinedFunction [dbo].[TrailingDigits]    Script Date: 2022-10-06 10:21:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	-- Use this function to quickly alter a phone number.
	-- Removes country and provincial area codes.

ALTER FUNCTION [dbo].[NBPhonify](
	@numberIn VARCHAR(MAX)
	,@trace BIT = 0
) RETURNS VARCHAR(MAX)
AS
BEGIN
	/*
	
		DECLARE @t1 AS NVARCHAR(MAX);
		DECLARE @t2 AS NVARCHAR(MAX);
		DECLARE @t3 AS NVARCHAR(MAX);
		SET @t1 = '15063238472';
		SET @t2 = '16478901060';
		SET @t3 = '15062785454';

		SELECT @t1 AS [@t1], @t2 AS [@t2], @t3 AS [@t3]

		SELECT
			LEFT(REPLACE(@t1, '1506', ''), 3) + '-' + RIGHT(@t1, 4) AS [X]
	*/

	DECLARE @t AS NVARCHAR(MAX);
	SET @t = RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(@numberIn, ' ', ''), '+', ''), '-', ''), CHAR(13) + CHAR(10), ' ')))

	--RETURN (CASE WHEN @a IS NULL THEN '' ELSE RIGHT(@wordIn, @a - 1) END)
	RETURN (CASE
		WHEN
			(LEN(@t) > 16 OR LEN(@t) < 7) OR (LEFT(@t, 4) NOT LIKE '1506' AND LEFT(@t, 3) NOT LIKE '506')
		THEN
			(CASE WHEN @trace = 1 THEN 'A_' ELSE '' END)
			 +
			(CASE
				WHEN
					LEN(@t) = 7
				THEN
					(CASE WHEN @trace = 1 THEN 'a_' ELSE '' END)
					+
					LEFT(@t, 3) + '-' + RIGHT(@t, LEN(@t) - 3)
				WHEN
					LEN(@t) = 10
				THEN
					(CASE WHEN @trace = 1 THEN 'b_' ELSE '' END)
					+
					LEFT(@t, 3) + '-' + LEFT(RIGHT(@t, 7), 3) + '-' + RIGHT(@t, 4)
				WHEN
					LEN(@t) = 11
				THEN
					(CASE WHEN @trace = 1 THEN 'c_' ELSE '' END)
					+
					LEFT(RIGHT(@t, 10), 3) + '-' + LEFT(RIGHT(RIGHT(@t, 10), 7), 3) + '-' + RIGHT(@t, 4)
				WHEN
					LEN(@t) = 12
				THEN
					(CASE WHEN @trace = 1 THEN 'd_' ELSE '' END)
					+
					LEFT(RIGHT(@t, 11), 3) + '-' + LEFT(RIGHT(RIGHT(@t, 11), 7), 3) + '-' + RIGHT(@t, 4)
				ELSE
					(CASE WHEN @trace = 1 THEN 'e_' ELSE '' END)
					+
					@t
				END)
		WHEN LEFT(@t, 4) = '1506' THEN
			(CASE WHEN @trace = 1 THEN 'B_' ELSE '' END)
			+
			LEFT(RIGHT(@t, LEN(@t) - 4), 3) + '-' + RIGHT(@t, 4)
		WHEN LEFT(@t, 3) = '506' THEN
			(CASE WHEN @trace = 1 THEN 'C_' ELSE '' END)
			+
			LEFT(RIGHT(@t, LEN(@t) - 3), 3) + '-' + RIGHT(@t, 4)
		ELSE
			(CASE WHEN @trace = 1 THEN 'D_' ELSE '' END)
			+
			LEFT(@t, 3) + '-' + RIGHT(@t, LEN(@t) - 3)
		END)
END