USE [BWSdb]
GO
/****** Object:  UserDefinedFunction [dbo].[NEXT_BUSINESS_DAY]    Script Date: 7/7/2021 2:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[NEXT_BUSINESS_DAY] (
	@DateIn DATETIME,
	@NDays INT = 1
)
RETURNS DATETIME
AS
BEGIN
	RETURN (
		CASE
			WHEN (
				SELECT
					COUNT([CalendarDate])
				FROM
					[SysproCompanyA].[dbo].[v_CalendarWorkDays]
				WHERE
					@DateIn <= [CalendarDate]
					AND [WorkDay] = 1
			) <= @NDays THEN
					NULL -- No more records left with future dates
			ELSE (
				SELECT TOP(1) 
					[CalendarDate]
				FROM (
					SELECT
						TOP(@NDays) [CalendarDate]
					FROM
						[SysproCompanyA].[dbo].[v_CalendarWorkDays]
					WHERE
						@DateIn <= [CalendarDate]
						AND [WorkDay] = 1
					ORDER BY
						[CalendarDate]
					) AS [CalendarDate]
				ORDER BY
					[CalendarDate] DESC
			)
					
		END
	)
END
;

--SELECT
--						case
--							when DATEPART(WEEKDAY, @DateIn) = 6 then
--								DATEADD(DAY, 3, @DateIn)
--							when DATEPART(WEEKDAY, @DateIn) = 7 then
--								DATEADD(DAY, 2, @DateIn)
--							else
--								DATEADD(DAY, 1, @DateIn)
--						end
