USE [BWSdb]
GO
/****** Object:  UserDefinedFunction [dbo].[TrailingDigits]    Script Date: 2022-10-28 2:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	-- Use this function to determine the percentage complete this time of day is relative to midnight that day.
	-- i.e 3AM ==> 12.5% (1 / 8)
	
--ALTER FUNCTION [dbo].[PercentOfDay](@timeIn DATETIME, @startTime DATETIME=NULL, @endTime DATETIME=NULL) RETURNS DECIMAL(14, 5)
ALTER FUNCTION [dbo].[PercentOfDay](@timeIn DATETIME) RETURNS DECIMAL(14, 5)
AS
BEGIN

	DECLARE @result AS DECIMAL(14, 5);

	DECLARE @dt AS DATETIME;
	SELECT @dt = CAST(CAST(DATEPART(YEAR, @timeIn) AS NVARCHAR(4))
		+ '-' + CAST(DATEPART(MONTH, @timeIn) AS NVARCHAR(2))
		+ '-' + CAST(DATEPART(DAY, @timeIn) AS NVARCHAR(2))
		+ ' ' + CAST(DATEPART(HOUR, @timeIn) AS NVARCHAR(2))
		+ ':' + CAST(DATEPART(MINUTE, @timeIn) AS NVARCHAR(2))
		+ ':' + CAST(DATEPART(SECOND, @timeIn) AS NVARCHAR(2)) AS DATETIME)
	SELECT @result =
		100 * ((DATEPART(HOUR, @dt)
		+ (DATEPART(MINUTE, @dt) / 60.0)
		+ (DATEPART(SECOND, @dt) / (60.0 * 60))) / 24.0)
		
	RETURN (CASE WHEN @result IS NULL THEN -1 ELSE @result END)


	--	DECLARE @sd AS DATETIME;
	--	DECLARE @ed AS DATETIME;
	--	SELECT @sd = (CASE WHEN @startTime IS NULL 
	--		THEN
	--			CAST(CAST(DATEPART(YEAR, @timeIn) AS NVARCHAR(4))
	--				+ '-' + CAST(DATEPART(MONTH, @timeIn) AS NVARCHAR(2))
	--				+ '-' + CAST(DATEPART(DAY, @timeIn) AS NVARCHAR(2))
	--				+ ' 12:00:00 AM' AS DATETIME)
	--		ELSE
	--			@startTime
	--		END)
	--	SELECT @sd = (CASE WHEN @startTime IS NULL 
	--		THEN
	--			CAST(CAST(DATEPART(YEAR, @timeIn) AS NVARCHAR(4))
	--				+ '-' + CAST(DATEPART(MONTH, @timeIn) AS NVARCHAR(2))
	--				+ '-' + CAST(DATEPART(DAY, @timeIn) AS NVARCHAR(2))
	--				+ ' 11:59:59 PM' AS DATETIME)
	--		ELSE
	--			@startTime
	--		END)

	--	DECLARE @d AS DATETIME;
	--	SELECT @d = CAST(CAST(DATEPART(YEAR, @timeIn) AS NVARCHAR(4))
	--			+ '-' + CAST(DATEPART(MONTH, @timeIn) AS NVARCHAR(2))
	--			+ '-' + CAST(DATEPART(DAY, @timeIn) AS NVARCHAR(2))
	--			+ ' ' + CAST(DATEPART(HOUR, @timeIn) AS NVARCHAR(2))
	--			+ ':' + CAST(DATEPART(MINUTE, @timeIn) AS NVARCHAR(2))
	--			+ ':' + CAST(DATEPART(SECOND, @timeIn) AS NVARCHAR(2)) AS DATETIME)

	--	DECLARE @T AS TABLE (
	--		[ID] INT IDENTITY(1, 1)
	--		, [DateCreated] DATETIME DEFAULT GETDATE()
	--		, [Time] DATETIME
	--		, [dpH] INT
	--		, [dpM] INT
	--		, [dpS] INT
	--		, [dp(H+M+S)] DECIMAL(14, 5)
	--		, [%d] DECIMAL(14, 5)
	--	);

	--	DECLARE @dt AS DATETIME;
	--	DECLARE @i AS INT;
	--	DECLARE @c AS INT;

	--	SELECT @i = 0;
	--	SELECT @c = DATEDIFF(SECOND, @sd, @ed);

	--	WHILE @i < @c BEGIN

	--		SELECT @dt = DATEADD(SECOND, @i, @d);

	--		INSERT INTO @T
	--		([Time] , [dpH] , [dpM] , [dpS] , [dp(H+M+S)], [%d])
	--		SELECT
	--			@dt
	--			,DATEPART(HOUR, @dt) AS [dp(H)]
	--			,DATEPART(MINUTE, @dt) AS [dp(M)]
	--			,DATEPART(SECOND, @dt) AS [dp(S)]
	--			,DATEPART(HOUR, @dt)
	--			+ (DATEPART(MINUTE, @dt) / 60.0)
	--			+ (DATEPART(SECOND, @dt) / (60.0 * 60))
	--			AS [dp(H+M+S)]
	--			,100 * ((DATEPART(HOUR, @dt)
	--			+ (DATEPART(MINUTE, @dt) / 60.0)
	--			+ (DATEPART(SECOND, @dt) / (60.0 * 60))) / 24.0)
	--			AS [%d]

	--		SELECT @i = @i + 1;
	--	END

	--	DECLARE @res AS DECIMAL(14, 5);

	--	SELECT @res = [%d] FROM @T WHERE 
	--		CAST(CAST(DATEPART(YEAR, @d) AS NVARCHAR(4))
	--			+ '-' + CAST(DATEPART(MONTH, @d) AS NVARCHAR(2))
	--			+ '-' + CAST(DATEPART(DAY, @d) AS NVARCHAR(2))
	--			+ ' ' + CAST(DATEPART(HOUR, @d) AS NVARCHAR(2))
	--			+ ':' + CAST(DATEPART(MINUTE, @d) AS NVARCHAR(2))
	--			+ ':' + CAST(DATEPART(SECOND, @d) AS NVARCHAR(2)) AS DATETIME) = [Time]

	----RETURN (CASE WHEN @a IS NULL THEN '' ELSE RIGHT(@wordIn, @a - 1) END)
	--RETURN (CASE WHEN @res IS NULL THEN -1 ELSE @res END)
END