
USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_DealerStatusReportV2]    Script Date: 9/13/2021 10:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].sp_DealerStatusReportUOO
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Grab Today's date for easy referencing
DECLARE @today datetime = cast(getdate() as date)



create table #v_DealerStatusReport2
	(
		Quote# int,
		WO# int,
		SalesOrder varchar(6),
		[Model No] nvarchar(50),
		[Serial Number] nvarchar(255),
		[Purchase Order] nvarchar(255),
		[Payment Terms] nvarchar(255),
		[Company Name] nvarchar(50),
		[Order Date] datetime,
		[Invoice Date] datetime,
		[Available Date] datetime,
		[Delivery Date] datetime,
		[Date Completed] datetime,
		[Shipped Date] datetime,
		[Date In Service] datetime,
		[Date Registered] datetime,
		[US Sale] bit,
		[Selling Price (Pre V2)] decimal(14, 0),
		[Selling Price] decimal(14, 0),
		Customer nvarchar(255),
		DOG int,
		Class nvarchar(255),
		DealerID int,
		SlotNo int,
		LastBOL int,
		[PO Delivery Date] datetime,
		[CURRENT DEALER] BIT
	)

	insert into #v_DealerStatusReport2
	select		
	[v_Dealer Status Report 2].[Quote#],
	[WO#],
	[SalesOrder],
	[v_Dealer Status Report 2].[Model No],
	[Serial Number],
	[Purchase Order],
	[Payment Terms], 
	[Dealers].[Company Name], 
	[PO Date],
	[Invoice Date],
	[Available Date],
	(CASE WHEN [Delivery Date] IS NULL THEN [Production Slots].[Slot Date] ELSE [Delivery Date] END) AS [Delivery Date],
	[Date Completed],
	[Shipped Date],
	[Date In Service],
	[Date Registered],
	[US Sale],
	[Selling Price (Pre V2)],
	[Selling Price], [Customer], [DOG], [Class], [DealerID], [Slot#] AS [SlotNo], [LastBOL], [Requested Delivery Date], [CURRENT DEALER] 

	from [v_Dealer Status Report 2]
	LEFT OUTER JOIN
		[Production Slots]
	ON
		[Production Slots].[PSlotID#] = [Slot#]
	LEFT OUTER JOIN
		[Dealers]
	ON
		[Dealers].[ID] = [v_Dealer Status Report 2].[DealerID]
	where ([v_Dealer Status Report 2].Quote# in (select distinct Quote# from Orders with (nolock) where FinishedGoodsDealerLocID is null)
		   and [v_Dealer Status Report 2].Quote# <> 24545) --Manually removed from report as it was never given a WO as per Shelley - February 8, 2021
	or [v_Dealer Status Report 2].Quote# in (select distinct Quote# from Orders with (nolock) 
				  inner join Dealers with (nolock) on Orders.FinishedGoodsDealerLocID = Dealers.ID
				  where DealerID not in (select ID from Dealers with (nolock) where left([COMPANY NAME], 3) = 'BWS')
				  and Quote# <> 24545) --Manually removed from report as it was never given a WO as per Shelley - February 8, 2021


SELECT 
	*
FROM 
	#v_DealerStatusReport2
WHERE (
		[Customer] IS NOT NULL
		and [Customer] <> ''
		and [CURRENT DEALER] = 1
		and ([Invoice Date] is null or [Invoice Date] > @today)
			and [Date Completed] is null
			and ([Shipped Date] is null or [Shipped Date] > @today))
ORDER BY	
	[COMPANY NAME], [Order Date]
END
