USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_defectsReceivingBySupplierReport]    Script Date: 2021-09-28 1:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_defectsReceivingBySupplierReport]
	-- Add the parameters for the stored procedure here
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN
	SELECT
		*
	FROM (
		SELECT
			[Supplier],
			[Problem],
			MAX([# Defects]) AS [Total Defects]
		FROM (
			SELECT
				[Supplier],
				[Problem],
				ROW_NUMBER() OVER (
					PARTITION BY 
						[Supplier],
						[Reason]
					ORDER BY 
						[Supplier] DESC
				) AS [# Defects]
			FROM
				[Defects_Receiving]
			INNER JOIN
				[Defects_Receiving_Problems]
			ON
				[Defects_Receiving].[ProblemID] = [Defects_Receiving_Problems].[DefRecProbsID#]
			WHERE
				[Input Date] Between @StartDate	And @EndDate
		) AS [StartTable]
		GROUP BY
			[Supplier],
			[Problem]
	) AS [SourceTable]
	PIVOT (
		SUM([Total Defects])
		FOR
			[Problem]
		IN (
			[Wrong Count],
			[Incorrect Parts],
			[Labelled Wrong],
			[Welded Wrong],
			[Made wrong],
			[Qty doesn't match]
		)
	) AS [PivotTable]
	ORDER BY
		[Supplier]
END;

