USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenMonthlyCalendar]    Script Date: 2022-03-29 2:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GenMonthlyCalendar] 
	@sd DATETIME=NULL,
	@ed DATETIME=NULL
AS BEGIN

/****************************************/
--DECLARE
--	@sd DATETIME=NULL,
--	@ed DATETIME=NULL
--SET @sd = '2020-01-01'
--SET @ed = '2023-01-01'

/****************************************/

SET @sd = ISNULL(@sd, '1970-01-01');
SET @ed = ISNULL(@ed, '2250-01-01');

SELECT
	[Month]
	,[B].SeqNo AS [Year]
	,DATENAME(MONTH, DateAdd( month , [Month] , 0 ) - 1 ) + ' ' + CAST([B].[SeqNo] AS NVARCHAR(4)) AS [DateFmt]
	FROM (
		SELECT TOP 12
			[SequenceNumbers].[SeqNo] AS [Month]
		FROM
			[SequenceNumbers]
		) AS [A]
		CROSS JOIN (
			SELECT TOP (CASE WHEN YEAR(@ed) - YEAR(@sd) + 1 < 1 THEN 1 ELSE YEAR(@ed) - YEAR(@sd) + 1 END)
				[SeqNo]
			FROM
				[BWSdb].[dbo].[SequenceNumbers]
			WHERE
				[SeqNo] >= YEAR(@sd)
		) AS [B]
	WHERE
		YEAR(@sd) <= [B].[SeqNo] AND [B].[SeqNo] <= YEAR(@ed)
		AND (100 * YEAR(@sd)) + MONTH(@sd) <= (100 * [B].[SeqNo]) + [Month] AND (100 * [B].[SeqNo]) + [Month] <= (100 * YEAR(@ed)) + MONTH(@ed)
END