USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_WOSnapshotEmployeesOnJob Ops 4 5]    Script Date: 2022-10-24 10:04:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_WOSnapshotEmployeesOnJob Ops 4 5]
	@WO NVARCHAR(MAX)
AS
BEGIN

--DECLARE @WO NVARCHAR(MAX) = '10015456';

-- SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4

--SELECT
--	[LoggedOff]
--	,[LoggedOn]
	
--			,[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4


SELECT
	[ClkEmployee].[Employee]
	,[ClkEmployee].[Name]
	,[Operation]
	,CAST(ROUND(SUM([RunTime]), 2) AS DECIMAL(14, 2)) AS [SumHours]
	FROM
		[WipLabJnl]
	INNER JOIN 
		[ClkEmployee]
	ON
		[WipLabJnl].[Employee] = [ClkEmployee].[Employee]
	WHERE
		[Job] LIKE @WO
		AND [Operation] = 4
	GROUP BY
		[ClkEmployee].[Employee]
		,[ClkEmployee].[Name]
		,[Operation]

--SELECT
--		[EmployeeNumber]
--		,[EmployeeName]
--		,[Operation]
--		,CAST(ROUND(SUM([Hours]), 2) AS DECIMAL(14, 2)) AS [Hours]
--	FROM (
--		SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4
--		UNION
--		SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 5
--	) AS [UnionSrc]
--	GROUP BY
--		[EmployeeNumber]
--		,[EmployeeName]
--		,[Operation]
END
