USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_WIPValuation]    Script Date: 2023-06-20 3:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----2022-09-28 James Crawford - Added where clause to exclude 3 Half Round Work Orders from reports: 10015030 - 10015032
----IT Request #001197

CREATE PROCEDURE [dbo].[sp_WIPValuationIncComp] 
	-- Add the parameters for the stored procedure here
	--DECLARE
	@ed datetime, @includenotstarted bit, @includecompleted bit

	--SELECT
	--	@ed='May 31 2023'
	--	, @includenotstarted=0
	--	, @includecompleted=1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @pm int, @py int

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = CurrentFinYear,
		   @loopglperiod = CurrentFinPeriod
	from WipControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select FinYear - 1 from InvControl with (nolock))
		begin
			if @loopglyear = (select FinYear from InvControl with (nolock))
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from InvControl with (nolock)'
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	select @pm = GlPeriod,
		   @py = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@ed)
	and year(PeriodEndDate) = year(@ed)

	--Gather info for select statement
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#MainJobInfo') IS NOT NULL
		DROP TABLE #MainJobInfo 

	create table #MainJobInfo
	(
		Job varchar(20),
		JobDescription varchar(50),
		JobClassification varchar(10),
		QtyToMake decimal(10, 3),
		DateCreated datetime,
		DueDate datetime,
		ActCompleteDate datetime,
		StockCode varchar(30),
		StockDescription varchar(50),
		TimeToDate decimal(14, 2),
		LabourToDate decimal(14, 2),
		MaterialToDate decimal(14, 2),
		StartDate DATETIME
	)

	insert into #MainJobInfo with (tablock) (Job, JobDescription, JobClassification, QtyToMake, DateCreated, DueDate,
											 ActCompleteDate, StockCode, StockDescription, TimeToDate, LabourToDate, MaterialToDate, StartDate)
	select WipMaster.Job, JobDescription, JobClassification, QtyToMake, JobTenderDate as DateCreated, JobDeliveryDate as DueDate,
	ActCompleteDate, StockCode, StockDescription, 
	sum(cast(case when LRunTimeHours is null then 0 else LRunTimeHours end as decimal(14, 2))) as TimeToDate,
	sum(cast(case when TrnType = 'L' then TrnValue else 0 end as decimal(14, 2))) as LabourToDate,
	sum(cast(case when TrnType = 'R' then TrnValue else 0 end as decimal(14, 2))) as MaterialToDate
	, WipMaster.[JobStartDate] AS [StartDate]
	from WipMaster with (nolock)
	left outer join WipJobPost with (nolock) on WipMaster.Job = WipJobPost.Job
	where ((PostYear <= @py
	and (case when PostYear = @py and PostMonth <= @pm then 1
			  when PostYear < @py then 1
			  else 0 end) = 1)
	or @includenotstarted = 1)
	and WipMaster.Job not in ('10015030', '10015031', '10015032')
	group by WipMaster.Job, JobDescription, JobClassification, QtyToMake, JobTenderDate, JobDeliveryDate, ActCompleteDate, StockCode, StockDescription, [JobStartDate]

	--Select statement
	select mainsub.Job, JobDescription, JobClassification, QtyToMake, DateCreated, DueDate, ActCompleteDate, StockCode, StockDescription,
	sum(TimeToDate) as TimeToDate,
	sum(LabourToDate) as LabourCostToDate,
	sum(MaterialToDate) as MaterialCostToDate,
	sum(LabourToDate) + sum(MaterialToDate) as TotalCostToDate,
	case when Labour is null then 0 else Labour end as LabourBookedOutofWIP,
	case when Material is null then 0 else Material end as MaterialBookedOutofWIP,
	(case when Labour is null then 0 else Labour end) + (case when Material is null then 0 else Material end) as TotalBookedOutofWIP,
	(sum(LabourToDate) + sum(MaterialToDate)) 
	 - ((case when Labour is null then 0 else Labour end) + (case when Material is null then 0 else Material end)) as CurrentWIP,
	[StartDate] AS [StartDate]
	from #MainJobInfo as mainsub
	left outer join (select Job, 
					 case when sum(MaterialValue) is null then 0 else sum(MaterialValue) end as Material, 
					 case when sum(LabourValue) is null then 0 else sum(LabourValue) end as Labour,
					 case when sum(MaterialValue) + sum(LabourValue)  is null then 0 else convert(float, sum(MaterialValue) + sum(LabourValue)) end as Total
					 from WipPartBook with (nolock)
					 where TrnDate <= @ed
					 group by Job) as subA on mainsub.Job collate Latin1_General_BIN = subA.Job
	inner join (select Job, sum(NetMatAllocations) as NetMatAllocations, sum(NetLabAllocations) as NetLabAllocations
				from (select Job, sum(ValueIssued) as NetMatAllocations, 0 as NetLabAllocations from WipJobAllMat with (nolock)
					  group by Job

					  union all select Job, 0, sum(ValueIssued) from WipJobAllLab with (nolock)
					  group by Job) as mainsub
				group by Job) as subB on mainsub.Job collate Latin1_General_BIN = subB.Job
	WHERE
		(CASE WHEN ISNULL(@includecompleted, 1) = 1 THEN 1 ELSE (CASE WHEN ISNULL([ActCompleteDate], '9999-12-31') > GETDATE() THEN 1 ELSE 0 END) END) = 1
	group by mainsub.Job, JobDescription, JobClassification, QtyToMake, DateCreated, DueDate, ActCompleteDate, StockCode, StockDescription, subA.Material, subA.Labour, subB.NetLabAllocations, subB.NetMatAllocations, [StartDate]
	having ((((sum(LabourToDate) + sum(MaterialToDate))
			- ((case when Labour is null then 0 else Labour end) + (case when Material is null then 0 else Material end)) <> 0) or @includenotstarted = 1)
	and (ActCompleteDate is null or ActCompleteDate > @ed))
	or
	((case when Labour = NetLabAllocations then NetLabAllocations else sum(LabourToDate) end + case when Material = NetMatAllocations then NetMatAllocations else sum(MaterialToDate) end)
			- ((case when Labour is null then 0 else Labour end) + (case when Material is null then 0 else Material end)) <> 0
	and ActCompleteDate < @ed)


END
