USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_Orders_FinishDate_DeliveryDateUpkeep]    Script Date: 2024-07-05 1:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		James Crawford
-- Create date: 2024-05-31
-- Description:	Ensures the [Finish Date] and [Delivery Date] columns are updated based on BWS Production Schedule changes.

-- 2024-05-31 James Crawford - Initial Commit. 
-- [Delivery Date] is being set to equal the new [Finish Date] value + 3 working days (based on Syspro Company Calendar)
-- IT Request #2799
-- 2024-06-04 James Crawford - Shelley says the [Finish Date] and [Est Delivery Date] aren't being consistently updated as the Production Schedule date [MRP FInish Date] changes.
-- Adjusted trigger to fire if the [Finish Date] OR [Available Date] changes
-- IT Request #2807

--2024-07-05 Avery Briggs - Corrected trigger
-- =============================================

ALTER TRIGGER [dbo].[tr_Orders_FinishDate_DeliveryDateUpkeep] 
   ON  [dbo].[Orders]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/*
    -- Insert statements for trigger here
	--Grab edited Quote#, old [Finish Date], and new [Finish Date] values
	declare @QuoteNum INT
    declare @oldfinishdate DATETIME
    declare @newfinishdate DATETIME
    declare @oldavailabledate DATETIME
    declare @newavailabledate DATETIME
    declare @newdeliverydate datetime
	select @QuoteNum            = inserted.Quote#           from inserted
    select @oldfinishdate       = deleted.[Finish Date]     from deleted
    select @newfinishdate       = inserted.[Finish Date]    from inserted
    select @oldavailabledate    = deleted.[Available Date]  from deleted
    select @newavailabledate    = inserted.[Available Date] from inserted
	*/

    IF TRIGGER_NESTLEVEL() < 2 BEGIN
        /*
		-- update dates if [Finish Date] OR [Available Date] has been changed
        if (@oldfinishdate <> @newfinishdate or (@oldfinishdate is null and @newfinishdate is not null)) 
        OR (@oldavailabledate <> @newavailabledate or (@oldavailabledate is null and @newavailabledate is not null))
            BEGIN
                -- Take the new [Finish Date] value OR new [Available Date] (if [Finish Date] is not filled in), go ahead 3 working days in the BWS Syspro Company Calendar, then assign this to the @newdeliverydate variable
                select @newdeliverydate = subB.CalendarDate
                FROM
                    (
                        select CalendarDate, row_number() over ( order by CalendarDate asc) as rn, WorkDay
                        from SysproCompanyA.dbo.v_CalendarWorkDays with (nolock)
                        where WorkDay = 1
                    ) as subA
                inner JOIN
                    (
                        select CalendarDate, row_number() over ( order by CalendarDate asc) as rn, WorkDay
                        from SysproCompanyA.dbo.v_CalendarWorkDays with (nolock)
                        where WorkDay = 1
                    ) as subB
                ON
                    subB.rn - subA.rn = 3
                WHERE
                    subA.CalendarDate = (case when @newfinishdate is null then @newavailabledate else @newfinishdate end)

                -- Update dates in Orders table
                update Orders
                set
                    [Delivery Date] = @newdeliverydate
                WHERE
                    Quote# = @QuoteNum
            END
		*/

		UPDATE
			[BWSdb].[dbo].[Orders]
		SET
			[Delivery Date] = (CASE
				WHEN ISNULL([I].[Finish Date], [I].[Available Date]) IS NULL THEN NULL
				WHEN [I].[Finish Date] IS NOT NULL THEN [SysproCompanyA].[dbo].[GetNthBusinessDay]([I].[Finish Date], 3)
				ELSE [SysproCompanyA].[dbo].[GetNthBusinessDay]([I].[Available Date], 3)
			END)
		FROM
			[BWSdb].[dbo].[Orders] [O]
		INNER JOIN
			[INSERTED] [I]
		ON
			[O].[Quote#] = [I].[Quote#]
		WHERE
			[O].[Available Date] <> [I].[Available Date]
		;

    END

END
