USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_OrdersV2_AvailableDate_FinishDate_DeliveryDateUpkeep]    Script Date: 2024-07-05 1:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		James Crawford
-- Create date: 2024-05-28
-- Description:	Ensures the [Available Date], [Finish Date], and [Delivery Date] columns are updated based on Stargate Production Schedule changes.

-- 2024-05-28 James Crawford - Initial Commit. 
-- [Finish Date] is being set to equal the new [Available Date] value.
-- [Delivery Date] is being set to equal the new [Available Date] value + 3 working days (based on Syspro Company Calendar)
-- IT Request #2799
-- 2024-06-17 James Crawford - Disabled trigger in SQL as [Delivery Date] logic has been moved to the [tr_PDS_Update_History] trigger on the [Stargatedb].[dbo].[PDS Updates] table to ensure it fires properly.

--2024-07-05 Avery Briggs - Corrected trigger
-- =============================================

ALTER TRIGGER [dbo].[tr_OrdersV2_AvailableDate_FinishDate_DeliveryDateUpkeep] 
   ON  [dbo].[OrdersV2]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	--Grab edited SGQuote, old [Available Date], and new [Available Date] values
	/*
	declare @sgquote VARCHAR(8)
    declare @oldavailabledate DATETIME
    declare @newavailabledate DATETIME
    declare @newdeliverydate datetime
	select @sgquote             = inserted.SGQuote          from inserted
    select @oldavailabledate    = deleted.[Available Date]  from deleted
    select @newavailabledate    = inserted.[Available Date] from inserted
	*/

    IF TRIGGER_NESTLEVEL() < 2 BEGIN
		/*
        -- update dates if [Available Date] has been changed
        if (@oldavailabledate <> @newavailabledate or @oldavailabledate is null)
            BEGIN
                -- Take the new [Available Date] value, go ahead 3 working days in the Stargate Syspro Company Calendar, then assign this to the @newdeliverydate variable
                select @newdeliverydate = subB.CalendarDate
                FROM
                    (
                        select CalendarDate, row_number() over ( order by CalendarDate asc) as rn, WorkDay
                        from SysproCompanyS.dbo.v_CalendarWorkDays with (nolock)
                        where WorkDay = 1
                    ) as subA
                inner JOIN
                    (
                        select CalendarDate, row_number() over ( order by CalendarDate asc) as rn, WorkDay
                        from SysproCompanyS.dbo.v_CalendarWorkDays with (nolock)
                        where WorkDay = 1
                    ) as subB
                ON
                    subB.rn - subA.rn = 3
                WHERE
                    subA.CalendarDate = @newavailabledate

                -- Update dates in OrdersV2 table
                update OrdersV2
                set
                    [Finish Date] = @newavailabledate
                    , [Delivery Date] = @newdeliverydate
                WHERE
                    SGQuote = @sgquote
            END
		*/
		

		UPDATE
			[BWSdb].[dbo].[OrdersV2]
		SET
			[Delivery Date] = (CASE
				WHEN [I].[Available Date] IS NULL THEN NULL
				ELSE [SysproCompanyS].[dbo].[GetNthBusinessDay]([I].[Available Date], 3)
			END)
		FROM
			[BWSdb].[dbo].[OrdersV2] [O]
		INNER JOIN
			[INSERTED] [I]
		ON
			[O].[SGQuote] = [I].[SGQuote]
		WHERE
			[O].[Available Date] <> [I].[Available Date]
		;
	
    END

END
