USE [Stargatedb]
GO
/****** Object:  Trigger [dbo].[tr_LLTUpdateDate]    Script Date: 2023-07-13 3:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER  [dbo].[tr_LLTUpdateDateQuoteMaster]
   ON [dbo].[LongLeadQuoteMaster]
   --BEFORE
   AFTER
   --INSTEAD OF
   INSERT
   --, DELETE
   , UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);

		DECLARE @id INT;

		SELECT @id = i.[LongLeadQuoteID#] FROM INSERTED i

		-- Insert statements for trigger here
		IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'UPDATE';
			SET @user = SYSTEM_USER;

			UPDATE
				[LongLeadQuoteMaster]
			SET
				[LastUpdated] = GETDATE()
			WHERE
				[LongLeadQuoteID#] = @id
			;
		END
		IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'INSERT';
			SET @user = SYSTEM_USER;

			UPDATE
				[LongLeadQuoteMaster]
			SET
				[LastUpdated] = GETDATE()
			WHERE
				[LongLeadQuoteID#] = @id
			;
		END
		IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
			SET @activity = 'DELETE';
			SET @user = SYSTEM_USER;
		END

	END
END
