USE [Stargatedb]
GO
/****** Object:  StoredProcedure [dbo].[sp_Weekly Payroll Summary]    Script Date: 2021-10-14 4:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Weekly Payroll Summary]

@sd datetime,
@ed datetime	
	
AS
BEGIN

SET NOCOUNT ON;

	select [Emp#], SUM([TtlHours]) as TtlHrs, SUM([Overtime]) as Overtime
	from [dtOvertimeYTD]
	where OTDate Between @sd and @ed and (Emp# <> 3 or Emp# <> 2000)
	group by [Emp#]
	
END