USE [Stargatedb]
GO
/****** Object:  StoredProcedure [dbo].[sp_WeeklyRpt]    Script Date: 2021-10-14 10:49:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_WeeklyRpt] 
	-- Add the parameters for the stored procedure here
	@startdate datetime, @enddate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Adjust date parameters to meet specified 24-hour range
	select @startdate = DATEADD(hour, 3, @startdate) --3 AM of start date
	select @enddate = dateadd(hour, 27, @enddate) --3 AM of date following start date (to get full 24 hour period)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#SYSPROTransReport') IS NOT NULL
		DROP TABLE #SYSPROTransReport 

	create table #SYSPROTransReport
	(
		EntryDate datetime,
		LoggedOn datetime,
		Employee varchar(20),
		Journal decimal(10, 0),
		Job varchar(20),
		WorkCentre varchar(20),
		Operation decimal(5, 0),
		NPCode varchar(10),
		MachCode varchar(30),
		Reference varchar(30),
		RunTime decimal(14, 6),
		RunTime_Sum decimal(14, 5)
	)
	
	--Insert initial Labour Journal transactions
	insert into #SYSPROTransReport (EntryDate, Employee, Journal, Job, WorkCentre, Operation, NPCode, MachCode, Reference, RunTime)
	select EntryDate, Employee, Journal, Job, WorkCentre, Operation, NonProdCode, Machine, Reference, RunTime
	from SysproCompanyS.dbo.WipLabJnl with (nolock)
	where EntryDate between cast(@startdate as date) and cast(@enddate as date)
	and (year(EntryDate) - TrnYear) <= 2 -- MAKE SURE UNNEEDED RECORDS FROM SEVERAL FISCALS AGO ARE NOT INCLUDED!!!!

	--Add loggedon dates from ShopClock
	--update #SYSPROTransReport
	--set LoggedOn = b.LoggedOn
	--from #SYSPROTransReport as a
	--inner join SysproCompanyS.dbo.ClkTransaction as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
	--											    and a.Job collate Latin1_General_BIN = b.JobNumber
	--											    and a.Employee = b.EmployeeNumber
	--												and a.WorkCentre = b.WorkCentreCode collate Latin1_General_BIN
	--											    and a.Operation = b.Operation
	--											    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
	--											    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	--where cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) <> 0

	update #SYSPROTransReport
	set LoggedOn = b.LoggedOn,
		RunTime_Sum = case when cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
						   then cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 5)) / 60 as decimal(14, 5))
						   when cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
						   then (cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 5)) / 60 as decimal(14, 5))) * -1
						   when cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
						   then cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 5)) / 60 as decimal(14, 5))
						   when cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
						   then (cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 5)) / 60 as decimal(14, 5))) * -1 end
	from #SYSPROTransReport as a
	inner join SysproCompanyS.dbo.ClkTransaction as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
												    and a.Job collate Latin1_General_BIN = b.JobNumber
												    and a.Employee collate Latin1_General_BIN= b.EmployeeNumber
													and a.WorkCentre collate Latin1_General_BIN= b.WorkCentreCode 
												    and a.Operation = b.Operation
												    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
												    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	where cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
	or cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
	or cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
	or cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1

	update #SYSPROTransReport
	set Reference = 'ShopClock'
	where Reference <> 'ShopClock'
	and Reference <> ''

	--Remove records that fall outside of ShopClock range
	delete from #SYSPROTransReport
	from #SYSPROTransReport as a
	inner join SysproCompanyS.dbo.ClkTransaction as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
												    and a.Job collate Latin1_General_BIN = b.JobNumber
												    and a.Employee collate Latin1_General_BIN = b.EmployeeNumber
													and a.WorkCentre collate Latin1_General_BIN = b.WorkCentreCode 
												    and a.Operation = b.Operation
												    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
												    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	where /*RunTime = cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2))
	and*/ b.LoggedOn not between @startdate and @enddate
	--and Reference = 'ShopClock'

	delete from #SYSPROTransReport
	where Employee = 200485
	and (EntryDate = 'august 14 2020' and Journal = 52517 and WorkCentre = 'F' and Operation = 0 and NPCode = '02' and MachCode = '30' and Reference = '' and RunTime = 2.18)
	or (EntryDate = 'august 17 2020' and Journal = 52529 and WorkCentre = 'F' and Operation = 0 and NPCode = '14' and MachCode = '30' and Reference = '' and RunTime = 6.5)

	--Remove records that still fall outside of range EXCEPT FOR BEREAVEMENT AND HOLIDAY HOURS!
	delete from #SYSPROTransReport
	where (LoggedOn not between @startdate and @enddate
	or LoggedOn is null)
	and NPCode not in ('01', '09')
	and Reference = 'ShopClock'
	and ((Employee <> 200397 and EntryDate <> 'august 14 2020') -- <- TEMP FIX FOR AUGUST 14, 2020
		 and (Employee <> 200543 and EntryDate <> 'november 10 2020')) -- <- TEMP FIX FOR NOVEMBER 10, 2020

	--Remove any bereavement and holiday hours that fall past original end date
	delete from #SYSPROTransReport
	where EntryDate > dateadd(hour, -27, @enddate)
	and NPCode in ('01', '09')

	--Remove rounding records
	delete from #SYSPROTransReport
	where Reference <> 'ShopClock'
	and RunTime between -0.03 and 0.03
	and Employee not in (200485, 200477) -- <- TEMP FIX FOR AUGUST 15, 2020
	and EntryDate <> 'august 15 2020' -- <- TEMP FIX FOR AUGUST 15, 2020

	--and Employee not in (select Employee
	--					 from #SYSPROTransReport
	--					 group by Employee
	--					 having right(cast(sum(RunTime_Sum) as decimal(14, 2)), 3) in ('.00', '.50'))

	--Update Runtime_Sum column for remaining bereavement and holiday hours
	update #SYSPROTransReport
	set RunTime_Sum = RunTime
	where NPCode in ('01', '09')
	or Reference <> 'ShopClock'
	or (Employee = 200397 and EntryDate = 'august 14 2020') -- <- TEMP FIX FOR AUGUST 14, 2020
	or (Employee = 200477 and EntryDate between 'august 14 2020' and 'august 15 2020') -- <- TEMP FIX FOR AUGUST 14, 2020

	--Adjust entry date for smaller transactions that fall between 12 - 3 am on the following day
	--FOR THOSE THAT DO, move EntryDate back 1 day
	update #SYSPROTransReport
	set EntryDate = case when datepart(hour, LoggedOn) < 3 then dateadd(day, -1, EntryDate) else EntryDate end
	where LoggedOn is not null

	----Adjust rounding so it matches ShopClock report
	--update #SYSPROTransReport
	--set RunTime = case when b.NetRunTime between -0.01 and 0.01 then RunTime + b.NetRunTime
	--				   else b.NetRunTime end
	--from #SYSPROTransReport as a
	--inner join (select WipLabJnl.EntryDate, WipLabJnl.Job, WipLabJnl.Employee, WipLabJnl.WorkCentre, WipLabJnl.Operation, WipLabJnl.Machine, WipLabJnl.NonProdCode,
	--			count(*) as NoRecords, min(WipLabJnl.Journal) as FirstJE, max(WipLabJnl.Journal) as LastJE, sum(RunTime) as NetRunTime
	--			from SysproCompanyS.dbo.WipLabJnl with (nolock)
	--			inner join (select EntryDate, Job, Employee, WorkCentre, Operation,  Machine, NonProdCode, Journal, RunTime as RunTimeAdj
	--						from SysproCompanyS.dbo.WipLabJnl with (nolock)
	--						where RunTime = -0.01
	--						or RunTime = 0.01) as subAdjust on WipLabJnl.EntryDate = subAdjust.EntryDate
	--														   and WipLabJnl.Job = subAdjust.Job
	--														   and WipLabJnl.Employee = subAdjust.Employee
	--														   and WipLabJnl.WorkCentre = subAdjust.WorkCentre
	--														   and WipLabJnl.Operation = subAdjust.Operation
	--														   and WipLabJnl.Machine = subAdjust.Machine
	--														   and WipLabJnl.NonProdCode = subAdjust.NonProdCode
	--			group by WipLabJnl.EntryDate, WipLabJnl.Job, WipLabJnl.Employee, WipLabJnl.WorkCentre, WipLabJnl.Operation,  WipLabJnl.Machine, WipLabJnl.NonProdCode) as b on a.EntryDate = b.EntryDate
	--																								     and a.Job collate Latin1_General_BIN = b.Job
	--																									 and a.Employee = b.Employee
	--																									 and a.WorkCentre collate Latin1_General_BIN = b.WorkCentre
	--																									 and a.Operation = b.Operation
	--																									 and a.MachCode collate Latin1_General_BIN = b.Machine
	--																									 and a.NPCode collate Latin1_General_BIN = b.NonProdCode
	--																									 and ((a.Journal = b.FirstJE and NoRecords = 2)
	--																										  or
	--																										  (a.Journal <= b.LastJE and a.Journal <> b.FirstJE))
	--																									 and (a.RunTime = b.NetRunTime - 0.01
	--																										  or a.RunTime = b.NetRunTime + 0.01
	--																										  or b.NetRunTime = -0.01
	--																										  or b.NetRunTime = 0.01)

	--Final select statement
	declare @nethoursworked decimal(14, 2)

	select @nethoursworked = sum([Net Hours Work])
	from (
	select Employees.Emp#, 
	cast(sum(HoursWorked) as decimal(14, 2)) as [Net Hours Work]
	from Employees
	inner join (select convert(real, Employee) as Emp#,
				EntryDate, RunTime_Sum as HoursWorked,
				0 as Vacation,
				0 as Absent,
				0 as Absent_BQ,
				0 as [Sick Leave],
				0 as Late,
				0 as [Leave Early],
				0 as [Shortage of Work],
				null as Comments
				from #SYSPROTransReport
				where Employee not between 100054 and 100071
				
				union all select Emp#, DateWorked, convert(float, 0),
				Vacation,
				Absent,
				case when Absent_BQOverride = 1 then 0 else Absent end,
				[Sick Leave],
				Late,
				[Leave Early],
				[Shortage of Work],
				Comments
				from [Hours Worked]
				where DateWorked between DATEADD(hour, -3, @startdate) and dateadd(hour, -27, @enddate)) as subSYSPRO on Employees.Emp# = subSYSPRO.Emp#
	where StaffID# = any (select ID from (select max(StaffID#) as ID, Emp# from Employees group by Emp#) as mainsub)
	group by Employees.Emp#
	) as mainsub

	select StaffID#, Employees.Emp#, [2nd Name], [1st Name], 
	cast(sum(HoursWorked) as decimal(14, 5)) as [Hours Work], 
	@nethoursworked as [Net Hours Work],
	sum(Vacation) as V, 
	sum(Absent) as A, 
	sum(Absent_BQ) as ABQ, 
	sum([Sick Leave]) as SL, 
	sum(Late) as L, 
	sum([Leave Early]) as E, 
	sum([Shortage of Work]) as S, 
	subSYSPRO.Comments, Terminated, EntryDate 
	from Employees
	inner join (select convert(real, Employee) as Emp#,
				EntryDate, RunTime_Sum as HoursWorked,
				0 as Vacation,
				0 as Absent,
				0 as Absent_BQ,
				0 as [Sick Leave],
				0 as Late,
				0 as [Leave Early],
				0 as [Shortage of Work],
				null as Comments
				from #SYSPROTransReport
				where Employee not between 100054 and 100071
				
				union all select Emp#, DateWorked, convert(float, 0),
				Vacation,
				Absent,
				case when Absent_BQOverride = 1 then 0 else Absent end,
				[Sick Leave],
				Late,
				[Leave Early],
				[Shortage of Work],
				Comments
				from [Hours Worked]
				where DateWorked between DATEADD(hour, -3, @startdate) and dateadd(hour, -27, @enddate)) as subSYSPRO on Employees.Emp# = subSYSPRO.Emp#
	where StaffID# = any (select ID from (select max(StaffID#) as ID, Emp# from Employees group by Emp#) as mainsub)
	group by StaffID#, Employees.Emp#, [2nd Name], [1st Name], subSYSPRO.Comments, Terminated, EntryDate
	order by Employees.Emp# desc

END
