USE [Stargatedb]
GO
/****** Object:  StoredProcedure [dbo].[sp_Weekly Payroll Summary YTD]    Script Date: 2021-10-14 4:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Weekly Payroll Summary YTD]

@ed datetime	
	
AS
BEGIN

SET NOCOUNT ON;

--declare @sd datetime, @sd1 datetime, @ed1 datetime

--select @ed1 = DATEADD(yy, -1, @ed)
--select @sd = CONVERT(datetime, 'July 1,' + convert(varchar, YEAR(@ed)))
--select @sd1 = CONVERT(datetime, 'July 1,' + convert(varchar, YEAR(@ed1)))

--If (@ed > CONVERT(datetime, 'June 30,' + CONVERT(varchar, year(@ed))))
--	select [Emp#], SUM([TtlHours]) as TtlHrs, SUM([Overtime]) as Overtime, (SUM(dtOvertimeYTD.[Overtime])/SUM([TtlHours])) as [Overtime%]
--	from [dtOvertimeYTD]
--	where OTDate Between @sd and @ed and (Emp# <> 3 or Emp# <> 2000)
--	group by [Emp#]
--Else
--	select [Emp#], SUM([TtlHours]) as TtlHrs, SUM([Overtime]) as Overtime, (SUM(dtOvertimeYTD.[Overtime])/SUM([TtlHours])) as [Overtime%]
--	from [dtOvertimeYTD]
--	where OTDate Between @sd1 and @ed and (Emp# <> 3 or Emp# <> 2000)
--	group by [Emp#]

	declare @glyear decimal(4, 0), @glmonth decimal(2, 0), @ytdsd datetime, @pytdsd datetime

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = GlYear,
		   @loopglperiod = GlPeriod
	from SysproCompanyS.dbo.GenControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)
	where Company = 'A'

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.GenControl with (nolock) where Company = ''A'''

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select GlYear - 1 from SysproCompanyS.dbo.GenControl with (nolock) where Company = 'S')
		begin
			if @loopglyear = (select GlYear from SysproCompanyS.dbo.GenControl with (nolock) where Company = 'S')
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.GenControl with (nolock) where Company = ''S'''
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.GenControl with (nolock) where Company = ''S'''
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	select @glmonth = GlPeriod,
		   @glyear = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@ed)
	and year(PeriodEndDate) = year(@ed)

	select top (1) @ytdsd = cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01'
	from #PeriodEndDates
	where GlYear = @glyear
	order by PeriodEndDate asc

	--Select statement
	select [Emp#], SUM([TtlHours]) as TtlHrs, SUM([Overtime]) as Overtime, (SUM(dtOvertimeYTD.[Overtime])/SUM([TtlHours])) as [Overtime%]
	from [dtOvertimeYTD]
	where OTDate Between @ytdsd and @ed and (Emp# <> 3 or Emp# <> 2000)
	group by [Emp#]

END
