USE [Stargatedb]
GO
/****** Object:  Trigger [dbo].[tr_HWupdates]    Script Date: 2021-10-14 11:41:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create TRIGGER [dbo].[tr_HWupdates]
   ON  [dbo].[Hours Worked]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @rid int, @abvalue bit
	select @rid = i.HrsID					from inserted i
	select @abvalue = i.[Absent_BQOverride]	from inserted i

	--Keeps StaffID# up-to-date
	update [Hours Worked]
	set StaffID# = Employees.[StaffID#]
	from Employees
	inner join [Hours Worked] on Employees.Emp# = [Hours Worked].Emp#
	where Employees.Terminated is null

	--Update Absent Override column for new/edited record if the same as Absent value
	update [Hours Worked]
	set [Absent_BQOverride] = @abvalue
	where Absent = @abvalue
	and HrsID = @rid

END



