USE [BWSdb]
GO

EXEC [dbo].[sp_EmployeeEmails]

DECLARE @emails AS TABLE (
	[ID] INT IDENTITY(1, 1),
	[Name] NVARCHAR(MAX),
	[Deptartment] INTEGER,
	[Company] NVARCHAR(MAX),
	[email] NVARCHAR(MAX)
);
--INSERT INTO @emails
DECLARE @c AS INT;
DECLARE @reqs AS INT;
DECLARE @email AS NVARCHAR(MAX);
SELECT @reqs = COUNT(*) FROM [IT Requests];

SELECT @c = 0;
WHILE @c < @reqs BEGIN

	SELECT @email = [IT Requests].[RequestFollowUpPersonnel] FROM [IT Requests] WHERE [ITRequestID#] = @c
	IF @email IS NOT NULL BEGIN
		IF LEN(@email) > 0 BEGIN
			PRINT 'EMAIL <' + @email + '>'
			INSERT INTO @emails (
				[Name],
				[Deptartment],
				[Company],
				[email]
			)
			SELECT
				(CASE WHEN [splited_data] NOT IN (
					'afaulkner1@bwstrailers.com',
					'BBlaney@bwstrailers.com',
					'parts@bwstrailers.com'
				) THEN (
					(SELECT UPPER(LEFT([A].[splited_data], 1)) + LOWER(RIGHT([A].[splited_data], LEN([A].[splited_data]) - 1)) FROM [dbo].[split_string_idx]([splited_data], '.') AS [A] WHERE [Idx] = 0)
					+ ' ' + 
					(SELECT UPPER(LEFT([C].[splited_data], 1)) + LOWER(RIGHT([C].[splited_data], LEN([C].[splited_data]) - 1)) FROM [dbo].[split_string_idx]((SELECT [B].[splited_data] FROM [dbo].[split_string_idx](@email, '.') AS [B] WHERE [Idx] = 1), '@') AS [C] WHERE [Idx] = 0)
				)
				ELSE (CASE
					WHEN [splited_data] = 'afaulkner1@bwstrailers.com' THEN 'Aaron Faulkner'
					WHEN [splited_data] = 'BBlaney@bwstrailers.com' THEN 'Barry Blaney'
					WHEN [splited_data] = 'parts@bwstrailers.com' THEN 'Parts'
					ELSE 'UNKNOWN' END)
				END),
				0,
				'BWS',
				[splited_data] 
			FROM
				[dbo].[split_string_idx](@email, ';')
			WHERE
				[splited_data] NOT IN (
					SELECT
						[email] 
					FROM
						@emails
				)
		END
	END

	SET @c = @c + 1;
END

SELECT * FROM @emails ORDER BY [Email]
SELECT * FROM [Dept]
