USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITRSendEmailUpdatedITRequestColoured]    Script Date: 2024-11-29 7:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Avery Briggs
-- Create date: 2022-06-02 10:09
-- Description: Emails specified personnel when a new IT Request is updated in the [IT Requests] table (fired from the [tr_SendEmailUpdatedITRequestColoured] trigger on the [IT Requests] table)

-- 2023-09-15 James Crawford - Replaced IT Slack emails with "IT Request" Teams channel email
-- Also, reformatted HTML email so the HTML table properly shows up in Teams channel email: https://chat.openai.com/share/8dc3efce-4115-4b09-8a70-3acd4928f3d8
-- IT Request #2283

-- 2024-11-29 1943 - Avery Briggs - Added more space to datetime string variables, and priority variables.

-- =============================================

ALTER PROCEDURE [dbo].[sp_ITRSendEmailUpdatedITRequestColoured]  
   @reqID AS INTEGER,
   @oldStatus AS NVARCHAR(MAX),
   @newStatus AS NVARCHAR(MAX),
   @didUpdate AS BIT,  -- Use this to include a short update disclaimer as a footnote
   @doSend AS BIT=0,   -- Use this to stop the email from being sent. Overridden by @force if used.
   @force AS BIT=0,    -- Use this to FORCE email text, provided valid HTML. Return something other than [Success]
   @isTest AS BIT=0,   -- Use this to send an email to only Avery Briggs for testing purposes
   @tableOnly AS BIT=0 -- Use this to return Table HTML tag only
AS 
BEGIN        
	SET NOCOUNT ON;

	DECLARE @ws AS NVARCHAR(MAX) = '                                           ';
	DECLARE @persons AS NVARCHAR(MAX);
	DECLARE @subject AS NVARCHAR(255);
	DECLARE @body AS NVARCHAR(MAX);

	DECLARE @itr_today AS NVARCHAR(19);
	DECLARE @itr_id AS NVARCHAR(6);
	DECLARE @itr_duedate AS NVARCHAR(19);
	DECLARE @itr_request AS NVARCHAR(MAX);
	DECLARE @itr_requestby AS NVARCHAR(255);
	DECLARE @itr_priority AS NVARCHAR(3);
	DECLARE @itr_subpriority AS NVARCHAR(3);
	DECLARE @itr_type AS NVARCHAR(255);
	DECLARE @itr_subtype AS NVARCHAR(255);
	DECLARE @itr_company AS NVARCHAR(25);
	DECLARE @itr_directory AS NVARCHAR(255);
	DECLARE @itr_comments AS NVARCHAR(MAX);
	DECLARE @itr_hrsEst AS FLOAT;
	DECLARE @itr_hrsAct AS FLOAT;
	DECLARE @itr_colour_labourFS AS NVARCHAR(MAX);
	DECLARE @itr_colour_statusNFS AS NVARCHAR(MAX);
	DECLARE @itr_colour_statusOFS AS NVARCHAR(MAX);

	DECLARE @itr_status_old AS NVARCHAR(255);
	DECLARE @itr_status_new AS NVARCHAR(255);

	DECLARE @itr_colour_labourT AS TABLE ([ID] INT IDENTITY(1, 1), [Status] NVARCHAR(MAX), [Rf] INT, [Gf] INT, [Bf] INT);
	DECLARE @itr_colour_statusT AS TABLE ([ID] INT IDENTITY(1, 1), [Status] NVARCHAR(MAX), [Rf] INT, [Gf] INT, [Bf] INT);

	SELECT @itr_today =			CAST(GETDATE() AS NVARCHAR(19));
	SELECT @itr_id =			CAST(@reqID AS NVARCHAR(6));
	SELECT @itr_duedate =		CAST([DueDate] AS NVARCHAR(19)) FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_request =		[Request] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_requestby =		[RequestedBy] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_priority =		[Priority] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_subpriority =	[SubPriority] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_type =			[RequestType] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_subtype =		[RequestSubType] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_company =		[Company] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_directory =		[Directory] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_comments =		[Comments] FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_hrsEst =		ISNULL([LabourEstimate], 0.0) FROM [IT Requests] WHERE [ITRequestID#] = @reqID;
	SELECT @itr_hrsAct =		ISNULL([LabourActual], 0.0) FROM [IT Requests] WHERE [ITRequestID#] = @reqID;

	SELECT @itr_status_old =	@oldStatus;
	SELECT @itr_status_new =	@newStatus;

	/*******************************************************************************/
								-- For Testing
	/*******************************************************************************/

	--DECLARE @TID AS INT = 365;
	--SELECT @itr_today =			CAST(GETDATE() AS NVARCHAR(19));
	----SELECT @itr_id =			CAST([ITRequestID#] AS NVARCHAR(6)) FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_duedate =		CAST([DueDate] AS NVARCHAR(19)) FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_request =		[Request] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_requestby =		[RequestedBy] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_priority =		[Priority] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_subpriority =	[SubPriority] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_type =			[RequestType] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_subtype =		[RequestSubType] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_company =		[Company] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_directory =		[Directory] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	--SELECT @itr_comments =		[Comments] FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	----SELECT @itr_hrsEst =		ISNULL([LabourEstimate], 0) FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];
	----SELECT @itr_hrsAct =		ISNULL([LabourActual], 0) FROM (SELECT * FROM [IT Requests] WHERE [ITRequestID#] = @TID) AS [Src];

	--SELECT @itr_status_old =	'In Progress';
	----SELECT @itr_status_new =	'Complete';
	----SELECT @itr_hrsEst =		3.5;
	----SELECT @itr_hrsAct =		4.1;

	/*******************************************************************************/

	IF @itr_status_old <> @itr_status_new OR @force=1 BEGIN

		INSERT INTO @itr_colour_labourT ([Status], [Rf], [Gf], [Bf]) VALUES
		('He < Ha <= (He + 0.5)', 138, 96, 0), -- orange, slightly over estimate
		('(He - 0.5) <= Ha <= He', 0, 204, 25), -- green, slightly under estimate
		('Ha < (He - 0.5)', 0, 204, 25), -- green, very under estimate
		('(He + 0.5) < Ha', 183, 9, 9) -- red, very over estimate

		SELECT @itr_colour_statusOFS = 
			RIGHT(CAST([R] AS NVARCHAR(MAX)), 3) + ',' + 
			RIGHT(CAST([G] AS NVARCHAR(MAX)), 3) + ',' + 
			RIGHT(CAST([B] AS NVARCHAR(MAX)), 3)
		FROM [ITR Status] WHERE [Status] = @itr_status_old;
		SELECT @itr_colour_statusNFS = 
			RIGHT(CAST([R] AS NVARCHAR(MAX)), 3) + ',' + 
			RIGHT(CAST([G] AS NVARCHAR(MAX)), 3) + ',' + 
			RIGHT(CAST([B] AS NVARCHAR(MAX)), 3)
		FROM [ITR Status] WHERE [Status] = @itr_status_new;

		IF @itr_hrsAct < (@itr_hrsEst - 0.5) BEGIN
			SELECT @itr_colour_labourFS = CAST([Rf] AS NVARCHAR(3)) + ',' + CAST([Gf] AS NVARCHAR(3)) + ',' + CAST([Bf] AS NVARCHAR(3)) FROM @itr_colour_labourT WHERE [ID] = 3;
		END
		IF @itr_hrsAct > (@itr_hrsEst + 0.5) BEGIN
			SELECT @itr_colour_labourFS = CAST([Rf] AS NVARCHAR(3)) + ',' + CAST([Gf] AS NVARCHAR(3)) + ',' + CAST([Bf] AS NVARCHAR(3)) FROM @itr_colour_labourT WHERE [ID] = 4;
		END
		IF (@itr_hrsEst - 0.5 <= @itr_hrsAct) AND (@itr_hrsAct <= @itr_hrsEst) BEGIN
			SELECT @itr_colour_labourFS = CAST([Rf] AS NVARCHAR(3)) + ',' + CAST([Gf] AS NVARCHAR(3)) + ',' + CAST([Bf] AS NVARCHAR(3)) FROM @itr_colour_labourT WHERE [ID] = 1;
		END
		IF @itr_hrsEst < @itr_hrsAct AND @itr_hrsAct <= (@itr_hrsEst + 0.5) BEGIN
			SELECT @itr_colour_labourFS = CAST([Rf] AS NVARCHAR(3)) + ',' + CAST([Gf] AS NVARCHAR(3)) + ',' + CAST([Bf] AS NVARCHAR(3)) FROM @itr_colour_labourT WHERE [ID] = 2;
		END

		-- ITR #
		-- Date
		-- Due Date
		-- Request
		-- Priority
		-- SubPriority
		-- Request Type
		-- Request SubType
		-- Company
		-- Directory

		SET @subject = 'Updated IT Request #' + RIGHT('000000' + @itr_id, 6);

		-- SET @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001" ><Table class="ITR Table" border="1" cellpadding = "5" cellspacing = "5"><thead><th colspan="2"><b>Request</b></th></thead><tbody><tr><td><b>Company:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_company, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Request Date:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_today, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Requested By:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_requestby, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Due Date:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_duedate, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Priority:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_priority, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Sub-Priority:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_subpriority, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Type:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_type, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Sub-Type:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_subtype, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Status (Old):</b></td><td style="color:RGB(' + @itr_colour_statusOFS + ')"><b>'
		-- SET @body = @body + ISNULL(@itr_status_old, '-')
		-- SET @body = @body + '</b></td></tr><tr><td><b>Status (New):</b></td><td style="color:RGB(' + @itr_colour_statusNFS + ')"><b>'
		-- SET @body = @body + ISNULL(@itr_status_new, '-')
		-- SET @body = @body + '</b></td></tr><tr><td><b>Text:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_request, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Comments:</b></td><td>'
		-- SET @body = @body + ISNULL(@itr_comments, '-')
		-- SET @body = @body + '</td></tr><tr><td><b>Labour (Est.):</b></td><td>'
		-- SET @body = @body + CAST(ISNULL(@itr_hrsEst, '0') AS NVARCHAR(255))
		-- SET @body = @body + '</td></tr><tr><td><b>Labour (Act.):</b></td><td style="color:RGB(' + @itr_colour_labourFS + ')"><b>'
		-- SET @body = @body + CAST(ISNULL(@itr_hrsAct, '0') AS NVARCHAR(255))
		-- SET @body = @body + '</b></td></tr><tr><td><b>Link:</b></td><td><a href="'
		-- SET @body = @body + ISNULL(@itr_directory, '-')
		-- SET @body = @body + '">Attachments</a></td></tr></tbody></Table></div></body><footer>'
		-- SET @body = @body + '<h6>Note: Request attachments will be included in future emails once BWS has transitioned to Office 365.</h6>'
		-- IF @didUpdate = 0 BEGIN
		-- 	SET @body = @body + '<h6>Note: This is just a status update email - No updates have been made to the system.</h6>'
		-- END
		-- SET @body = @body + '</footer></html>'

	SET @body = '';
	IF @tableOnly = 0 BEGIN
		SET @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001">';
	END
    SET @body = @body + '<Table border="1" cellpadding="5" cellspacing="5"><thead><tr><th colspan="2"><b>Request</b></th></tr></thead><tbody>'
    SET @body = @body + '<tr><td><b>Company:</b></td><td>' + ISNULL(@itr_company, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Request Date:</b></td><td>' + ISNULL(@itr_today, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Requested By:</b></td><td>' + ISNULL(@itr_requestby, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Due Date:</b></td><td>' + ISNULL(@itr_duedate, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Priority:</b></td><td>' + ISNULL(@itr_priority, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Sub-Priority:</b></td><td>' + ISNULL(@itr_subpriority, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Type:</b></td><td>' + ISNULL(@itr_type, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Sub-Type:</b></td><td>' + ISNULL(@itr_subtype, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Status (Old):</b></td><td style="color:RGB(' + @itr_colour_statusOFS + ')"><b>' + ISNULL(@itr_status_old, '-') + '</b></td></tr>'
    SET @body = @body + '<tr><td><b>Status (New):</b></td><td style="color:RGB(' + @itr_colour_statusNFS + ')"><b>' + ISNULL(@itr_status_new, '-') + '</b></td></tr>'
    SET @body = @body + '<tr><td><b>Text:</b></td><td>' + ISNULL(@itr_request, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Comments:</b></td><td>' + ISNULL(@itr_comments, '-') + '</td></tr>'
    SET @body = @body + '<tr><td><b>Labour (Est.):</b></td><td>' + CAST(ISNULL(@itr_hrsEst, '0') AS NVARCHAR(255)) + '</td></tr>'
    SET @body = @body + '<tr><td><b>Labour (Act.):</b></td><td style="color:RGB(' + @itr_colour_labourFS + ')"><b>' + CAST(ISNULL(@itr_hrsAct, '0') AS NVARCHAR(255)) + '</b></td></tr>'
    SET @body = @body + '<tr><td><b>Link:</b></td><td><a href="' + ISNULL(@itr_directory, '-') + '">Attachments</a></td></tr>'
    SET @body = @body + '</tbody></Table>'

    -- Add the footer
    SET @body = @body + '<footer><h6>Note: Request attachments will be included in future emails once BWS has transitioned to Office 365.</h6>'
    IF @didUpdate = 0 BEGIN
        SET @body = @body + '<h6>Note: This is just a status update email - No updates have been made to the system.</h6>'
    END
    SET @body = @body + '</footer>'
	IF @tableOnly = 0 BEGIN
		SET @body = @body + '</html>'
	END

        SELECT @persons = '4554064e.hugocorporation.com@ca.teams.ms' -- "IT Requests" channel email in "IT" Teams
		-- SELECT @persons = 'q0y9o8w7x8v5o6b0@bwsmanufacturingltd.slack.com'; -- Avery
		-- SELECT @persons = @persons + ';' + 'v6l2a8z0e8u7x0k9@bwsmanufacturingltd.slack.com'; -- James
		-- SELECT @persons = @persons + ';' + 'o8u2z7g5f5h2z5o0@bwsmanufacturingltd.slack.com'; -- Jamie

		SELECT @persons = @persons + ';' + 'avery.briggs@bwstrailers.com';
		-- SELECT @persons = @persons + ';' + 'it@bwstrailers.com'; -- BWS IT Shared Inbox
		--SELECT @persons = @persons + ';' + 'james.crawford@bwstrailers.com'
	
		--SELECT @persons = 'avery.briggs@bwstrailers.com';
		--SELECT @persons = @persons + ';' + 's1p7r9u7n8b9a9z5@bwsmanufacturingltd.slack.com'; -- Caleb

		-- Fail gracefully if there is no text up to this point.
		IF @body IS NULL BEGIN
			SET @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001"><p>INVALID HTML PARSED FOR REQUEST: ' + CAST(@itr_id AS NVARCHAR(MAX)) + '</p></div></body></html>'
		END
		ELSE IF LEN(@body) = 0 BEGIN
			SET @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001"><p>INVALID HTML PARSED FOR REQUEST: ' + CAST(@itr_id AS NVARCHAR(MAX)) + '</p></div></body></html>'
		END

		IF @doSend = 1 OR @force = 1 BEGIN
			if @doSend = 1 BEGIN
				EXEC msdb.dbo.sp_send_dbmail
					@recipients = @persons,
					@profile_name = 'SQL Agent',
					@subject = @subject, 
					@body = @body,
					@body_format='HTML';
					SELECT 1 AS [Success];
			END
			ELSE BEGIN
				SELECT @itr_colour_statusOFS AS [@itr_colour_statusOFS], @itr_colour_statusNFS AS [@itr_colour_statusNFS], @persons AS [@persons], @body AS [@body], @subject AS [@subject]
			END
		END
		ELSE BEGIN
			SELECT @itr_colour_statusOFS AS [@itr_colour_statusOFS], @itr_colour_statusNFS AS [@itr_colour_statusNFS], @persons AS [@persons], @body AS [@body], @subject AS [@subject]
		END
	END
	ELSE BEGIN
		SELECT 0 AS [Success];
	END
END
