USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITRAllRequestLabourByMonth]    Script Date: 2022-10-20 4:32:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ITRAllRequestLabourByMonth]

AS BEGIN

DECLARE @data AS TABLE 
	(
		[ID] INT IDENTITY(1, 1),
		[DateCreated] DATETIME DEFAULT GETDATE(),
		[Row#] INT,
		[CountOf Requests] INT,
		[Sumof LabourActual] INT,
		[Sumof LabourEstimate] INT,
		[Labour Act / Est] INT,
		[DiffLabActLastMonth] INT,
		[DiffLabEstLastMonth] INT,
		[DiffNReqsLastMonth] INT,
		[DiffLabAct2Month] INT,
		[DiffLabEst2Month] INT,
		[DiffNReqs2Month] INT,
		[Year] INT,
		[Month] INT,
		[DateFmt] NVARCHAR(255)
	)
;

INSERT INTO @data 
	(
		[Row#],
		[CountOf Requests],
		[Sumof LabourActual],
		[Sumof LabourEstimate],
		[Labour Act / Est],
		[DiffLabActLastMonth],
		[DiffLabEstLastMonth],
		[DiffNReqsLastMonth],
		[DiffLabAct2Month],
		[DiffLabEst2Month],
		[DiffNReqs2Month],
		[Year],
		[Month],
		[DateFmt]
)
SELECT
	[Row#]
	, SUM([CountOf Requests]) AS [CountOf Requests]
	, SUM([Sumof LabourActual]) AS [Sumof LabourActual]
	, SUM([Sumof LabourEstimate]) AS [Sumof LabourEstimate]
	, SUM([Sumof LabourActual]) / (CASE WHEN SUM([Sumof LabourEstimate]) = 0 THEN 1 ELSE SUM([Sumof LabourEstimate]) END) AS [Labour Act / Est]
	, NULL AS [DiffLabActLastMonth]
	, NULL AS [DiffLabEstLastMonth]
	, NULL AS [DiffNReqsLastMonth]
	, NULL AS [DiffLabAct2Month]
	, NULL AS [DiffLabEst2Month]
	, NULL AS [DiffNReqs2Month]
	, [Year]
	, [Month]
	, [DateFmt] 
FROM (
	SELECT
		COUNT([ITRequestID#]) AS [CountOf Requests]
		, SUM([LabourActual]) AS [Sumof LabourActual]
		, 0 AS [Sumof LabourEstimate]
		--, SUM([LabourEstimate]) AS [Sumof LabourEstimate]
		, [Year]
		, [Month]
		, [DateFmt]
		, [Row#]
	FROM (
		SELECT
		ROW_NUMBER() OVER(
			ORDER BY
				[B].SeqNo,
				[Month]
		) AS [Row#]
		, [Month]
		,[B].SeqNo AS [Year]
		,DATENAME(MONTH, DATEADD(MONTH, [Month] , 0 ) - 1 ) + ' ' + CAST([B].[SeqNo] AS NVARCHAR(4)) AS [DateFmt]
		FROM (
			SELECT TOP 12
				[SequenceNumbers].[SeqNo] AS [Month]
			FROM
				[SequenceNumbers]
			) AS [A]
			CROSS JOIN (
				SELECT TOP 250
					[SeqNo]
				FROM
					[BWSdb].[dbo].[SequenceNumbers]
				WHERE
					[SeqNo] >= YEAR(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))
			) AS [B]
		WHERE
			2020 <= [B].[SeqNo] AND [B].[SeqNo] <= 2250
			AND (100 * YEAR(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))) + MONTH(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests]))) <= (100 * [B].[SeqNo]) + [Month] AND (100 * [B].[SeqNo]) + [Month] <= (100 * YEAR(DATEADD(MONTH, 1, (SELECT MAX([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))) + MONTH(DATEADD(MONTH, 1, (SELECT MAX([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))
	) AS [Calendar]
	LEFT JOIN
		[dbo].[IT Requests]
	ON
		YEAR([RequestDate]) = [Year] AND MONTH([RequestDate]) = [Month]
	LEFT JOIN
		[dbo].[IT Personnel]
	ON
		[IT Requests].[ITPersonAssignedID] = [IT Personnel].ITPersonID#
	GROUP BY
		[Year]
		, [Month]
		, [DateFmt] 
		, [Row#]

	UNION ALL

	SELECT
		0 AS [CountOf Requests]
		, 0 AS [Sumof LabourActual]
		, SUM([LabourEstimate]) AS [Sumof LabourEstimate]
		--, SUM([LabourEstimate]) AS [Sumof LabourEstimate]
		, [Year]
		, [Month]
		, [DateFmt]
		, [Row#]
	FROM (
		SELECT
		ROW_NUMBER() OVER(
			ORDER BY
				[B].SeqNo,
				[Month]
		) AS [Row#]
		, [Month]
		,[B].SeqNo AS [Year]
		,DATENAME(MONTH, DATEADD(MONTH, [Month] , 0 ) - 1 ) + ' ' + CAST([B].[SeqNo] AS NVARCHAR(4)) AS [DateFmt]
		FROM (
			SELECT TOP 12
				[SequenceNumbers].[SeqNo] AS [Month]
			FROM
				[SequenceNumbers]
			) AS [A]
			CROSS JOIN (
				SELECT TOP 250
					[SeqNo]
				FROM
					[BWSdb].[dbo].[SequenceNumbers]
				WHERE
					[SeqNo] >= YEAR(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))
			) AS [B]
		WHERE
			2020 <= [B].[SeqNo] AND [B].[SeqNo] <= 2250
			AND (100 * YEAR(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))) + MONTH(DATEADD(MONTH, -1, (SELECT MIN([RequestDate]) AS [sd] FROM [dbo].[IT Requests]))) <= (100 * [B].[SeqNo]) + [Month] AND (100 * [B].[SeqNo]) + [Month] <= (100 * YEAR(DATEADD(MONTH, 1, (SELECT MAX([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))) + MONTH(DATEADD(MONTH, 1, (SELECT MAX([RequestDate]) AS [sd] FROM [dbo].[IT Requests])))
	) AS [Calendar]
	LEFT JOIN
		[dbo].[IT Requests]
	ON
		YEAR([RequestDate]) = [Year] AND MONTH([RequestDate]) = [Month]
	LEFT JOIN
		[dbo].[IT Personnel]
	ON
		[IT Requests].[ITPersonAssignedID] = [IT Personnel].ITPersonID#
	GROUP BY
		[Year]
		, [Month]
		, [DateFmt] 
		, [Row#]

) AS [Src]
GROUP BY
	[Year]
	, [Month]
	, [DateFmt]
	, [Row#]


--SELECT * FROM @data

DECLARE @i AS INTEGER;
DECLARE @c AS INTEGER;

SELECT @c = COUNT(*) FROM @data;
SELECT @i = 1;

WHILE @i < @c BEGIN
	
	UPDATE
		@data
	SET
		[DiffLabActLastMonth] = (CASE WHEN @i = 0 THEN NULL ELSE ([Sumof LabourActual] - (SELECT [Sumof LabourActual] FROM @data WHERE [ID] = @i - 1)) END)
		,[DiffLabEstLastMonth] = (CASE WHEN @i = 0 THEN NULL ELSE ([Sumof LabourEstimate] - (SELECT [Sumof LabourEstimate] FROM @data WHERE [ID] = @i - 1)) END)
		,[DiffNReqsLastMonth] = (CASE WHEN @i = 0 THEN NULL ELSE ([CountOf Requests] - (SELECT [CountOf Requests] FROM @data WHERE [ID] = @i - 1)) END)
		,[DiffLabAct2Month] = (CASE WHEN @i < 2 THEN NULL ELSE ([Sumof LabourActual] - (SELECT [Sumof LabourActual] FROM @data WHERE [ID] = @i - 2)) END)
		,[DiffLabEst2Month] = (CASE WHEN @i < 2 THEN NULL ELSE ([Sumof LabourEstimate] - (SELECT [Sumof LabourEstimate] FROM @data WHERE [ID] = @i - 2)) END)
		,[DiffNReqs2Month] = (CASE WHEN @i < 2 THEN NULL ELSE ([CountOf Requests] - (SELECT [CountOf Requests] FROM @data WHERE [ID] = @i - 2)) END)
		--,[DiffLabEstLastMonth]
		--,[DiffNReqsLastMonth]
		--,[DiffLabAct6Month]
		--,[DiffLabEst6Month]
		--,[DiffNReqs6Month]
	WHERE
		[ID] = @i
	;

	SELECT @i = @i + 1;

END

SELECT * FROM @data
END