USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITREstimateLabour]    Script Date: 2022-09-07 8:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ITREstimateLabour]
	@department INT
	, @requestType NVARCHAR(MAX)=NULL
	, @requestSubType NVARCHAR(MAX)=NULL
	
AS
BEGIN

	-- TESTING --

	--DECLARE @department AS INT; --NVARCHAR(MAX);
	--DECLARE @requestType AS NVARCHAR(MAX);
	--DECLARE @requestSubType AS NVARCHAR(MAX);

	--SET @department = 12;
	--SET @requestType = 'Hardware';
	--SET @requestSubType = 'Computer';

	---------------

	DECLARE @ttl_hours_act AS FLOAT;
	DECLARE @ttl_hours_bud AS FLOAT;
	DECLARE @ttl_requests AS INTEGER;

	SELECT @ttl_requests = COUNT(*), @ttl_hours_act = SUM([LabourActual]), @ttl_hours_bud = SUM([LabourEstimate]) FROM [IT Requests];

	
	IF @requestType IS NULL AND @requestSubType IS NULL BEGIN
		SELECT
			MIN([Dept].[DeptID]) AS [ID]
			, [Dept].[Dept]
			, COUNT(*) AS [# Reqs]
			, CAST(ROUND(100 * ((COUNT(*) + 0.0) / @ttl_requests), 2) AS DECIMAL(16, 2)) AS [% Ttl Reqs]
			, ROUND(SUM(ISNULL([LabourActual], 0)), 2) AS [Act]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)), 2) AS [Bud]
			, ROUND(SUM(ISNULL([LabourActual], 0)) / COUNT(*), 2) AS [Act / Req]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)) / COUNT(*), 2) AS [Bud / Req]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / SUM(ISNULL([LabourEstimate], 0)), 2) AS [% Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Act vs Ttl Act]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Bud vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Act vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Bud vs Ttl Act]
			, @ttl_requests AS [Total Requests]
			, ROUND(@ttl_hours_act, 2) AS [Total Actual]
			, ROUND(@ttl_hours_bud, 2) AS [Total Budget]
		FROM 
			[BWSdb].[dbo].[IT Requests] 
		LEFT JOIN
			[BWSdb].[dbo].[Dept]
		ON
			[IT Requests].[Department] = [Dept].[DeptID]
		WHERE
			[Department] = @department
		GROUP BY
			[Dept].[Dept]
		ORDER BY
			[# Reqs] DESC
	END
	ELSE IF @requestType IS NOT NULL AND @requestSubType IS NULL BEGIN
	SELECT
			MIN([Dept].[DeptID]) AS [ID]
			, [Dept].[Dept]
			, [RequestType]
			, COUNT(*) AS [# Reqs]
			, CAST(ROUND(100 * ((COUNT(*) + 0.0) / @ttl_requests), 2) AS DECIMAL(16, 2)) AS [% Ttl Reqs]
			, ROUND(SUM(ISNULL([LabourActual], 0)), 2) AS [Act]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)), 2) AS [Bud]
			, ROUND(SUM(ISNULL([LabourActual], 0)) / COUNT(*), 2) AS [Act / Req]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)) / COUNT(*), 2) AS [Bud / Req]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / SUM(ISNULL([LabourEstimate], 0)), 2) AS [% Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Act vs Ttl Act]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Bud vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Act vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Bud vs Ttl Act]
			, @ttl_requests AS [Total Requests]
			, ROUND(@ttl_hours_act, 2) AS [Total Actual]
			, ROUND(@ttl_hours_bud, 2) AS [Total Budget]
		FROM 
			[BWSdb].[dbo].[IT Requests] 
		LEFT JOIN
			[BWSdb].[dbo].[Dept]
		ON
			[IT Requests].[Department] = [Dept].[DeptID]
		WHERE
			[Department] = @department
			AND (1 = (CASE WHEN @requestType IS NULL THEN 1 WHEN [RequestType] = @requestType THEN 1 ELSE 0 END))
		GROUP BY
			[Dept].[Dept]
			, [RequestType]
		ORDER BY
			[# Reqs] DESC
	END
	ELSE IF @requestType IS NULL AND @requestSubType IS NOT NULL BEGIN
		SELECT
			MIN([Dept].[DeptID]) AS [ID]
			, [Dept].[Dept]
			, [RequestSubType]
			, COUNT(*) AS [# Reqs]
			, CAST(ROUND(100 * ((COUNT(*) + 0.0) / @ttl_requests), 2) AS DECIMAL(16, 2)) AS [% Ttl Reqs]
			, ROUND(SUM(ISNULL([LabourActual], 0)), 2) AS [Act]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)), 2) AS [Bud]
			, ROUND(SUM(ISNULL([LabourActual], 0)) / COUNT(*), 2) AS [Act / Req]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)) / COUNT(*), 2) AS [Bud / Req]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / SUM(ISNULL([LabourEstimate], 0)), 2) AS [% Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Act vs Ttl Act]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Bud vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Act vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Bud vs Ttl Act]
			, @ttl_requests AS [Total Requests]
			, ROUND(@ttl_hours_act, 2) AS [Total Actual]
			, ROUND(@ttl_hours_bud, 2) AS [Total Budget]
		FROM 
			[BWSdb].[dbo].[IT Requests] 
		LEFT JOIN
			[BWSdb].[dbo].[Dept]
		ON
			[IT Requests].[Department] = [Dept].[DeptID]
		WHERE
			[Department] = @department
			AND (1 = (CASE WHEN @requestSubType IS NULL THEN 1 WHEN [RequestSubType] = @requestSubType THEN 1 ELSE 0 END))
		GROUP BY
			[Dept].[Dept]
			, [RequestSubType]
		ORDER BY
			[# Reqs] DESC
	END
	ELSE BEGIN
		SELECT
			MIN([Dept].[DeptID]) AS [ID]
			, [Dept].[Dept]
			, [RequestType]
			, [RequestSubType]
			, COUNT(*) AS [# Reqs]
			, CAST(ROUND(100 * ((COUNT(*) + 0.0) / @ttl_requests), 2) AS DECIMAL(16, 2)) AS [% Ttl Reqs]
			, ROUND(SUM(ISNULL([LabourActual], 0)), 2) AS [Act]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)), 2) AS [Bud]
			, ROUND(SUM(ISNULL([LabourActual], 0)) / COUNT(*), 2) AS [Act / Req]
			, ROUND(SUM(ISNULL([LabourEstimate], 0)) / COUNT(*), 2) AS [Bud / Req]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / SUM(ISNULL([LabourEstimate], 0)), 2) AS [% Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Act vs Ttl Act]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Bud vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Act vs Ttl Bud]
			, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Bud vs Ttl Act]
			, @ttl_requests AS [Total Requests]
			, ROUND(@ttl_hours_act, 2) AS [Total Actual]
			, ROUND(@ttl_hours_bud, 2) AS [Total Budget]
		FROM 
			[BWSdb].[dbo].[IT Requests] 
		LEFT JOIN
			[BWSdb].[dbo].[Dept]
		ON
			[IT Requests].[Department] = [Dept].[DeptID]
		WHERE
			[Department] = @department
			AND (1 = (CASE WHEN @requestType IS NULL THEN 1 WHEN [RequestType] = @requestType THEN 1 ELSE 0 END))
			AND (1 = (CASE WHEN @requestSubType IS NULL THEN 1 WHEN [RequestSubType] = @requestSubType THEN 1 ELSE 0 END))
		GROUP BY
			[Dept].[Dept]
			, [RequestType]
			, [RequestSubType]
		ORDER BY
			[# Reqs] DESC
	END



	-- 2022-09-07
	--SELECT
	--	MIN([Dept].[DeptID]) AS [ID]
	--	, [Dept].[Dept]
	--	, [RequestType]
	--	, [RequestSubType]
	--	, COUNT(*) AS [# Reqs]
	--	, CAST(ROUND(100 * ((COUNT(*) + 0.0) / @ttl_requests), 2) AS DECIMAL(16, 2)) AS [% Ttl Reqs]
	--	, ROUND(SUM(ISNULL([LabourActual], 0)), 2) AS [Act]
	--	, ROUND(SUM(ISNULL([LabourEstimate], 0)), 2) AS [Bud]
	--	, ROUND(SUM(ISNULL([LabourActual], 0)) / COUNT(*), 2) AS [Act / Req]
	--	, ROUND(SUM(ISNULL([LabourEstimate], 0)) / COUNT(*), 2) AS [Bud / Req]
	--	, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / SUM(ISNULL([LabourEstimate], 0)), 2) AS [% Bud]
	--	, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Act vs Ttl Act]
	--	, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Bud vs Ttl Bud]
	--	, ROUND(100 * SUM(ISNULL([LabourActual], 0)) / ISNULL(@ttl_hours_bud, 0), 2) AS [% Act vs Ttl Bud]
	--	, ROUND(100 * SUM(ISNULL([LabourEstimate], 0)) / ISNULL(@ttl_hours_act, 0), 2) AS [% Bud vs Ttl Act]
	--	, @ttl_requests AS [Total Requests]
	--	, ROUND(@ttl_hours_act, 2) AS [Total Actual]
	--	, ROUND(@ttl_hours_bud, 2) AS [Total Budget]
	--FROM 
	--	[IT Requests] 
	--LEFT JOIN
	--	[Dept]
	--ON
	--	[IT Requests].[Department] = [Dept].[DeptID]
	--WHERE
	--	[Department] = @department
	--	AND (1 = (CASE WHEN @requestType IS NULL THEN 1 WHEN [RequestType] = @requestType THEN 1 ELSE 0 END))
	--	AND (1 = (CASE WHEN @requestSubType IS NULL THEN 1 WHEN [RequestSubType] = @requestSubType THEN 1 ELSE 0 END))
	--GROUP BY
	--	[Dept].[Dept]
	--	, [RequestType]
	--	, [RequestSubType]
	--ORDER BY
	--	[# Reqs] DESC



END



-- -- Top 5 highest issued requests
--SELECT TOP 5 * FROM [IT Requests] WHERE [LabourActual] IS NOT NULL ORDER BY [LabourActual] DESC

-- -- Bottom 5 highest budgeted requests
--SELECT TOP 5 * FROM [IT Requests] WHERE [LabourEstimate] IS NOT NULL ORDER BY [LabourEstimate]

-- -- Bottom 5 highest issued requests
--SELECT TOP 5 * FROM [IT Requests] WHERE [LabourActual] IS NOT NULL ORDER BY [LabourActual]


-- -- Top 5 most revisited requests
--SELECT TOP 5 * FROM [IT Requests] WHERE [OpenCounter] IS NOT NULL ORDER BY [OpenCounter] DESC