USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITRTopNTimeIssued]    Script Date: 2022-06-10 4:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_ITRTopNTimeIssued]
	@topN AS INTEGER
AS BEGIN
	-- Most frequent Dept, Request Type, Request SubType, and the number of requests.
	-- Ordered by most time issued

	--DECLARE @topN AS INTEGER;
	--SET @topN = 10;

	IF @topN IS NULL OR @topN < 0 BEGIN
		SET @topN = 1;
	END

	SELECT 
		*
	FROM (
		SELECT TOP (SELECT @topN)
			[Dept]
				, [RequestType]
				, [RequestSubType]

				-- All
				, COUNT([RequestSubType]) AS [All Requests]
				, SUM([LabourActual]) AS [Ttl Act]
				, SUM([LabourEstimate]) AS [Ttl Est]
				, SUM([LabourActual]) / NULLIF(COUNT([RequestSubType]), 0) AS [Act / Req]
				, SUM([LabourEstimate]) / NULLIF(COUNT([RequestSubType]), 0) AS [Est / Req]
				, SUM(CASE WHEN [StartDate] IS NOT NULL THEN 1 ELSE 0 END) AS [# Opened All]
				, SUM(CASE WHEN [CompletionDate] IS NOT NULL THEN 1 ELSE 0 END) AS [# Closed All]
				, CAST(1 * ISNULL(CAST(SUM(CASE WHEN [CompletionDate] IS NOT NULL THEN 1 ELSE 0 END) AS DECIMAL(18, 6)) / CAST(NULLIF(SUM(CASE WHEN [StartDate] IS NOT NULL THEN 1 ELSE 0 END), 0) AS DECIMAL(18, 6)), 1) AS DECIMAL(18, 3)) AS [Throughput All]
			
				-- This Month Past ((Today - (1 * MONTH)) -> Today)
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourActual] ELSE 0 END) AS [Ttl Act This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourEstimate] ELSE 0 END) AS [Ttl Est This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END) AS [Requests This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourActual] ELSE 0 END) / NULLIF(SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END), 0) AS [Act / Req This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourEstimate] ELSE 0 END) / NULLIF(SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END), 0) AS [Est / Req This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [StartDate] BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() THEN 1 ELSE 0 END) AS [# Opened This Month]
				, SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [CompletionDate] BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() THEN 1 ELSE 0 END) AS [# Closed This Month]
				, CAST(1 * ISNULL(CAST(SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [CompletionDate] BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() THEN 1 ELSE 0 END) AS DECIMAL(18, 6)) / CAST(NULLIF(SUM(CASE WHEN DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR GETDATE() BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [StartDate] BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE() THEN 1 ELSE 0 END), 0) AS DECIMAL(18, 6)), 1) AS DECIMAL(18, 3)) AS [Throughput This Month]
			
				-- The Month Before ((Today - (2 * MONTH)) -> (Today - (1 * MONTH)))
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourActual] ELSE 0 END) AS [Ttl Act Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourEstimate] ELSE 0 END) AS [Ttl Est Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END) AS [Requests Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourActual] ELSE 0 END) / NULLIF(SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END), 0) AS [Act / Req Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN [LabourEstimate] ELSE 0 END) / NULLIF(SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] THEN 1 ELSE 0 END), 0) AS [Est / Req Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [StartDate] BETWEEN DATEADD(MONTH, -2, GETDATE()) AND DATEADD(MONTH, -1, GETDATE()) THEN 1 ELSE 0 END) AS [# Opened Last Month]
				, SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [CompletionDate] BETWEEN DATEADD(MONTH, -2, GETDATE()) AND DATEADD(MONTH, -1, GETDATE()) THEN 1 ELSE 0 END) AS [# Closed Last Month]
				, CAST(1 * ISNULL(CAST(SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [CompletionDate] BETWEEN DATEADD(MONTH, -2, GETDATE()) AND DATEADD(MONTH, -1, GETDATE()) THEN 1 ELSE 0 END) AS DECIMAL(18, 6)) / CAST(NULLIF(SUM(CASE WHEN DATEADD(MONTH, -2, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] OR DATEADD(MONTH, -1, GETDATE()) BETWEEN [RequestDateOriginal] AND [LastStatusUpdate] AND [StartDate] BETWEEN DATEADD(MONTH, -2, GETDATE()) AND DATEADD(MONTH, -1, GETDATE()) THEN 1 ELSE 0 END), 0) AS DECIMAL(18, 6)), 1) AS DECIMAL(18, 3)) AS [Throughput Last Month]
		
		FROM 
			[IT Requests] 
		LEFT JOIN
			[Dept]
		ON
			[IT Requests].[Department] = [Dept].[DeptID]
		GROUP BY
			[Dept].[Dept]
			, [RequestSubType]
			, [RequestType]
		HAVING
			SUM([LabourActual]) >= (
				SELECT TOP (SELECT @topN)
					MIN([Ttl Act])
				FROM (
					SELECT
						[Dept]
						, [RequestType]
						, [RequestSubType]
						, SUM([LabourActual]) AS [Ttl Act]
					FROM 
						[IT Requests] 
					LEFT JOIN
						[Dept]
					ON
						[IT Requests].[Department] = [Dept].[DeptID]
					GROUP BY
						[Dept].[Dept]
						, [RequestSubType]
						, [RequestType]
					) AS [A]
				)
		ORDER BY
			[Ttl Act] DESC
	) AS [Src]
END