USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITRequestPersonnelTotals]    Script Date: 2022-06-10 11:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ITRequestPersonnelTotals]
@sd AS DATETIME, @ed AS DATETIME
--DECLARE @sd AS DATETIME, @ed AS DATETIME;
--SET @sd = '2021-11-01';
--SET @ed = '2022-07-01';
AS
BEGIN

-- Date constraints cover all requests that have ANY date column fall into the range.
-- [RequestDate]
-- [DueDate]
-- [StartDate]
-- [CompletionDate]
-- [LastStatusUpdate]

--------------------------------------------------------------------------------------------------------------------------------------

SELECT [ITPersonID#], [Name], SUM([LabourEstimate]) AS [LabourEstimate], SUM([LabourActual]) AS [LabourActual], SUM([Queued]) AS [Queued], SUM([In Progress]) AS [In Progress], SUM([Complete]) AS [Complete], SUM([InComplete]) AS [Incomplete], SUM([Declined]) AS [Declined], SUM([Debugging]) AS [Debugging], SUM([Waiting]) AS [Waiting]
FROM (
SELECT [ITStaffID], [Queued], [In Progress], [Complete], [InComplete], [Declined], [Debugging], [Waiting], [LabourEstimate], [LabourActual]
FROM (
SELECT
	(CASE WHEN [ITPersonAssignedID] < 2 OR [ITPersonAssignedID] IS NULL THEN 1 ELSE [ITPersonAssignedID] END) AS [ITStaffID],
	[Status],
	[LabourEstimate],
	[LabourActual],
	SUM([Count]) AS [Count]
FROM (
	SELECT
		[ITPersonAssignedID], [Status], SUM([LabourEstimate]) AS [LabourEstimate], SUM([LabourActual]) AS [LabourActual], COUNT([Status]) AS [Count]
	FROM
		[IT Requests]
	WHERE
		[RequestDate] BETWEEN @sd AND @ed
		OR [DueDate] BETWEEN @sd AND @ed
		OR [StartDate] BETWEEN @sd AND @ed
		OR [CompletionDate] BETWEEN @sd AND @ed
		OR [LastStatusUpdate] BETWEEN @sd AND @ed
	GROUP BY
		[ITPersonAssignedID], [Status]
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Queued' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'In Progress' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Declined' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Complete' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Incomplete' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Waiting' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
	UNION
		(
			SELECT
				NULL AS [ITID#],
				'Debugging' AS [Status],
				0 AS [LabourEstimate],
				0 AS [LabourActual],
				0 AS [Count]
		)
) AS [Src]
GROUP BY
	(CASE WHEN [ITPersonAssignedID] < 2 OR [ITPersonAssignedID] IS NULL THEN 1 ELSE [ITPersonAssignedID] END), [Status], [LabourEstimate], [LabourActual]
) AS [PivotSrc]
PIVOT (
	SUM([Count]) FOR [Status] IN ([Queued], [In Progress], [Complete], [InComplete], [Declined], [Debugging], [Waiting])
) AS [PivotTbl]
UNION 
	SELECT [ITPersonID#], 0 AS [Queued], 0 AS [In Progress], 0 AS [Complete], 0 AS [Incomplete], 0 AS [Declined], 0 AS [Debugging], 0 AS [Waiting], 0 AS [LabourEstimate], 0 AS [LabourActual] FROM [IT Personnel]
) AS [SrcB]
INNER JOIN
	[IT Personnel]
ON
	[ITStaffID] = [ITPersonID#]
GROUP BY
	[ITPersonID#], [Name]
ORDER BY
	[ITPersonID#], [Name]
END