USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_ITRCustomersUpdateActive]    Script Date: 2023-11-02 11:57:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_ITRCustomersUpdateActive]
   ON  [dbo].[ITR Customers]
   AFTER INSERT, UPDATE
AS 
BEGIN

	IF TRIGGER_NESTLEVEL() < 2 BEGIN

		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.

		-- Insert statements for trigger hereSET NOCOUNT ON;

		-- In vars
		DECLARE @in_id AS INT;
		DECLARE @in_dateCreated AS DATETIME;
		DECLARE @in_active AS BIT;

		-- Out vars
		DECLARE @out_active AS BIT;

		-- working vars
		DECLARE @new_activity AS BIT;

		SELECT 
			@in_id = i.[CustomerID]
			, @in_dateCreated = ISNULL(i.[DateAdded], GETDATE())
			, @in_active = ISNULL(i.[Active], 1)
		FROM
			inserted i
		;

		SELECT 
			@out_active = d.[Active]
		FROM
			deleted d
		;

		SELECT @new_activity = (CASE WHEN @in_active = @out_active THEN 0 ELSE 1 END);
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);

		-- Insert statements for trigger here
		IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'UPDATE';
			SET @user = SYSTEM_USER;

			IF @in_dateCreated IS NULL BEGIN
				UPDATE
					[ITR Customers]
				SET
					[DateAdded] = GETDATE()
				WHERE
					[CustomerID] = @in_id
				;
			END

			IF @new_activity = 1 BEGIN
				
				UPDATE
					[ITR Customers]
				SET
					[Active] = @in_active
					, [LastActive] = (CASE WHEN @in_active = 1 THEN GETDATE() ELSE [DateAdded] END)
					--, [DateInactive] = (CASE WHEN @in_active = 0 THEN GETDATE() ELSE [DateInactive] END)
				WHERE
					[CustomerID] = @in_id
				;

			END

		END
		IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'INSERT';
			SET @user = SYSTEM_USER;

			UPDATE
				[ITR Customers]
			SET
				[Active] = @in_active
				, [LastActive] = GETDATE()
				, [DateAdded] = @in_dateCreated
				--, [DateInactive] = (CASE WHEN @in_active = 0 THEN GETDATE() ELSE NULL END)
			WHERE
				[CustomerID] = @in_id
			;

		END
		IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
			SET @activity = 'DELETE';
			SET @user = SYSTEM_USER;
		END

	END

END
