USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_StatusUpdate]    Script Date: 2022-05-13 9:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_StatusUpdate]
   ON  [dbo].[IT Requests]
   AFTER INSERT, DELETE, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @itrid AS INT;
	DECLARE @today AS DATETIME;
	DECLARE @startDate AS DATETIME;
	DECLARE @status AS NVARCHAR(MAX);
	DECLARE @itPersonAssigned AS INT;
	DECLARE @itPersonAssignedName AS NVARCHAR(MAX);
	DECLARE @requestedBy AS NVARCHAR(MAX);
	DECLARE @isOpen AS BIT;
	DECLARE @currCount AS INT;

	SET @today = GETDATE()
	SELECT @itrid	= i.[ITRequestID#]	from inserted i
	SELECT @status	= i.[Status]	from inserted i
	SELECT @itPersonAssigned	= i.[ITPersonAssignedID]	from inserted i
	SELECT @startDate	= i.[StartDate]	from inserted i
	
	SELECT @itPersonAssignedName = [Name] FROM INSERTED i LEFT JOIN [IT Personnel] ON [ITPersonAssignedID] = [IT Personnel].ITPersonID# WHERE [ITPersonID#] = @itPersonAssigned;
	SELECT @requestedBy = i.[RequestedBy] FROM INSERTED i;

	IF @status = 'Queued' BEGIN
		IF @itPersonAssigned <> 0 BEGIN
			SET @status = 'In Progress'
			SET @startDate = @today
		END
	END

	SELECT @isOpen = (CASE WHEN @status IN ('Queued', 'In Progress', 'Debugging') THEN 1 ELSE 0 END)

	UPDATE
		[IT Requests]
	SET
		[LastStatusUpdate] = @today,
		[CompletionDate] = (CASE WHEN @status = 'Complete' OR @status = 'Incomplete' OR @status = 'Declined' THEN @today ELSE NULL END),
		[Status] = @status,
		[StartDate] = @startDate,
		[IsOpened] = @isOpen
	WHERE
		[ITRequestID#] = @itrid

	
	DECLARE @itr_status_old AS NVARCHAR(255);
	SELECT @itr_status_old =	[Status] FROM DELETED d;
	IF @status <> @itr_status_old AND @isOpen = 1 BEGIN
		UPDATE
			[IT Requests]
		SET
			[OpenCounter] = ISNULL([OpenCounter], 0) + (CASE WHEN @isOpen = 1 THEN 1 ELSE 0 END)
		WHERE
			[ITRequestID#] = @itrid
	END
	
	SELECT @currCount	= i.[OpenCounter]	from inserted i

	IF @currCount IS NULL BEGIN
		UPDATE
			[IT Requests]
		SET
			[OpenCounter] = 1
		WHERE
			[ITRequestID#] = @itrid
	END

	IF @isOpen=1 AND @requestedBy <> @itPersonAssignedName BEGIN

		EXEC [dbo].[sp_ITRSendAssignmentNotification] @reqID=@itrid

	END

END
