USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_StatusUpdate]    Script Date: 2023-08-24 4:45:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_StatusUpdate]
   ON  [dbo].[IT Requests]
   AFTER INSERT, DELETE, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @itrid AS INT;
	DECLARE @today AS DATETIME;
	DECLARE @startDate AS DATETIME;
	DECLARE @completeDate AS DATETIME;
	DECLARE @status AS NVARCHAR(MAX);
	DECLARE @itPersonAssigned AS INT;
	DECLARE @itPersonAssignedName AS NVARCHAR(MAX);
	DECLARE @requestedBy AS NVARCHAR(MAX);
	DECLARE @isOpen AS BIT;
	DECLARE @currCount AS INT;
	DECLARE @assignmentDate AS DATETIME;
	
	DECLARE @newLocked AS BIT;
	DECLARE @newLockedOG AS BIT;
	DECLARE @oldLocked AS BIT;

	SET @today = GETDATE()
	SELECT @itrid	= i.[ITRequestID#]	FROM INSERTED i
	SELECT @status	= i.[Status]	FROM INSERTED i
	SELECT @itPersonAssigned	= i.[ITPersonAssignedID]	FROM INSERTED i
	SELECT @startDate	= i.[StartDate]	FROM INSERTED i
	SELECT @completeDate	= i.[CompletionDate]	FROM INSERTED i
	
	SELECT @itPersonAssignedName = [Name] FROM INSERTED i LEFT JOIN [IT Personnel] ON [ITPersonAssignedID] = [IT Personnel].ITPersonID# WHERE [ITPersonID#] = @itPersonAssigned;
	SELECT @requestedBy = i.[RequestedBy] FROM INSERTED i;

	IF @status = 'Queued' BEGIN
		IF @itPersonAssigned <> 0 AND @itPersonAssigned <> 1 BEGIN
			SET @status = 'In Progress'
			SET @startDate = @today
		END
	END

	IF @startDate IS NULL AND @status <> 'Queued' BEGIN
		SET @startDate = CASE WHEN @completeDate IS NULL THEN GETDATE() ELSE @completeDate END;
	END

	DECLARE @autoSee AS BIT;
	SELECT @isOpen = (CASE WHEN @status IN ('Queued', 'In Progress', 'Debugging', 'Waiting') THEN 1 ELSE 0 END)
	DECLARE @itr_status_old AS NVARCHAR(255);
	SELECT @itr_status_old =	[Status] FROM DELETED d;
	
	SELECT @newLockedOG = ISNULL([RequesterLocked], 1) FROM INSERTED i;
	SELECT @newLocked = [RequesterLocked] FROM INSERTED i;
	SELECT @oldLocked = [RequesterLocked] FROM DELETED d;

	-- Decide if this request should be locked or not based on internal / external status
	DECLARE @it_p_id AS INTEGER;  -- Personnel ID [ITR Customers]
	DECLARE @itp_p_id AS INTEGER;  -- Personnel ID [IT Personnel]
	DECLARE @it_s_id AS INTEGER;  -- Settings ID
	SELECT @it_p_id = [CustomerID] FROM [ITR Customers] WHERE LOWER([Name]) LIKE '%' + @requestedBy + '%';
	IF @newLockedOG <> 0 BEGIN
		IF @it_p_id IS NOT NULL BEGIN
			SELECT @it_s_id = [ID] FROM [ITR Settings] WHERE [ITRCustomerID] = @it_p_id;
			IF @it_s_id IS NOT NULL BEGIN
				SELECT 
					@newLocked = [AutoLockOwnRequests]
					, @autoSee = [AutoSeeOwnRequests]
				FROM
					[ITR Settings]
				WHERE
					[ID] = @it_s_id;
			END
		END
	END

	-- https://docs.microsoft.com/en-us/sql/t-sql/functions/trigger-nestlevel-transact-sql?view=sql-server-ver16
	IF TRIGGER_NESTLEVEL() < 2 BEGIN	

		UPDATE
			[IT Requests]
		SET
			[LastStatusUpdate] = @today,
			[CompletionDate] = (CASE WHEN @status = 'Complete' OR @status = 'Incomplete' OR @status = 'Declined' THEN @today ELSE NULL END),
			[Status] = @status,
			[StartDate] = @startDate,
			[IsOpened] = @isOpen,
			[OpenCounter] = ISNULL([OpenCounter], 0) + (CASE WHEN @status <> @itr_status_old AND @isOpen = 1 THEN 1 ELSE 0 END),
			[RequestDateOriginal] = ISNULL([RequestDateOriginal], ISNULL([RequestDate], GETDATE())),
			[RequesterLocked] = @newLocked,
			[RequesterLockedDate] = (CASE WHEN @newLocked = 1 AND (@oldLocked IS NULL OR @oldLocked != 1) THEN GETDATE() ELSE [RequesterLockedDate] END),
			[SeenByRequester] = (CASE WHEN @autoSee = 1 THEN GETDATE() ELSE [SeenByRequester] END),
			[SeenByIT] = (CASE WHEN @autoSee = 1 AND @itp_p_id IS NOT NULL THEN GETDATE() ELSE [SeenByIT] END)
		WHERE
			[ITRequestID#] = @itrid


			
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
			
			-- Use this to send test data in email form

--DECLARE @persons AS NVARCHAR(MAX);
--DECLARE @subject AS NVARCHAR(MAX);
--DECLARE @body AS NVARCHAR(MAX);
--SELECT @persons = 'avery.briggs@bwstrailers.com';
--SELECT @subject = 'TEST UPDATE';
--SELECT @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001" ><p>@ID= "' +
--		CAST(ISNULL(@itrid, 'N/A') AS NVARCHAR(MAX)) +
--		'", @requestBy="' + CAST(ISNULL(@requestedBy, -1) AS NVARCHAR(MAX)) +
--		'", @newLocked="' + CAST(ISNULL(@newLocked, -1) AS NVARCHAR(MAX)) +
--		'", @oldLocked="' + CAST(ISNULL(@oldLocked, -1) AS NVARCHAR(MAX)) +
--		', @newLockedOG="' + CAST(ISNULL(@newLockedOG, -1) AS NVARCHAR(MAX)) +
--		'", @it_p_id="' + CAST(ISNULL(@it_p_id, -1) AS NVARCHAR(MAX)) +
--		'", @it_s_id="' + CAST(ISNULL(@it_s_id, -1) AS NVARCHAR(MAX)) +
--		'", </p></div></body></html>';

---- Send Email
--EXEC msdb.dbo.sp_send_dbmail 
--	@recipients = @persons,
--	@profile_name = 'SQL Agent',
--	@subject = @subject, 
--	@body = @body,
--	@body_format='HTML'
--	;


-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------



		--IF @status <> @itr_status_old AND @isOpen = 1 BEGIN
		--	UPDATE
		--		[IT Requests]
		--	SET
		--	WHERE
		--		[ITRequestID#] = @itrid
		--END
	
		--SELECT @currCount	= i.[OpenCounter]	from inserted i

		--IF @currCount IS NULL BEGIN
		--	UPDATE
		--		[IT Requests]
		--	SET
		--		[OpenCounter] = 1
		--	WHERE
		--		[ITRequestID#] = @itrid
		--END
		
		SELECT @currCount	= [OpenCounter] FROM [IT Requests] WHERE [ITRequestID#] = @itrid
		SELECT @assignmentDate	= [AssignmentEmailDate] FROM [IT Requests] WHERE [ITRequestID#] = @itrid

		IF @isOpen=1 AND @currCount < 2 AND @requestedBy <> @itPersonAssignedName AND @assignmentDate IS NULL BEGIN
			
			DECLARE @consumeResult AS TABLE([Result] INT);
			INSERT INTO @consumeResult
			EXEC [dbo].[sp_ITRSendAssignmentNotification] @reqID=@itrid

			UPDATE
				[IT Requests]
			SET
				[AssignmentEmailDate] = GETDATE()
			WHERE
				[ITRequestID#] = @itrid;

		END

	END

END



-- old version 2022-05-20

--USE [BWSdb]
--GO
--/****** Object:  Trigger [dbo].[tr_StatusUpdate]    Script Date: 2022-05-20 3:12:26 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER TRIGGER [dbo].[tr_StatusUpdate]
--   ON  [dbo].[IT Requests]
--   AFTER INSERT, DELETE, UPDATE
--AS 
--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
--	SET NOCOUNT ON;

--    -- Insert statements for trigger here
--	DECLARE @itrid AS INT;
--	DECLARE @today AS DATETIME;
--	DECLARE @startDate AS DATETIME;
--	DECLARE @status AS NVARCHAR(MAX);
--	DECLARE @itPersonAssigned AS INT;
--	DECLARE @itPersonAssignedName AS NVARCHAR(MAX);
--	DECLARE @requestedBy AS NVARCHAR(MAX);
--	DECLARE @isOpen AS BIT;
--	DECLARE @currCount AS INT;

--	SET @today = GETDATE()
--	SELECT @itrid	= i.[ITRequestID#]	FROM INSERTED i
--	SELECT @status	= i.[Status]	FROM INSERTED i
--	SELECT @itPersonAssigned	= i.[ITPersonAssignedID]	FROM INSERTED i
--	SELECT @startDate	= i.[StartDate]	FROM INSERTED i
	
--	SELECT @itPersonAssignedName = [Name] FROM INSERTED i LEFT JOIN [IT Personnel] ON [ITPersonAssignedID] = [IT Personnel].ITPersonID# WHERE [ITPersonID#] = @itPersonAssigned;
--	SELECT @requestedBy = i.[RequestedBy] FROM INSERTED i;

--	IF @status = 'Queued' BEGIN
--		IF @itPersonAssigned <> 0 AND @itPersonAssigned <> 1 BEGIN
--			SET @status = 'In Progress'
--			SET @startDate = @today
--		END
--	END

--	SELECT @isOpen = (CASE WHEN @status IN ('Queued', 'In Progress', 'Debugging') THEN 1 ELSE 0 END)

--	IF TRIGGER_NESTLEVEL() <= 1 BEGIN

--		UPDATE
--			[IT Requests]
--		SET
--			[LastStatusUpdate] = @today,
--			[CompletionDate] = (CASE WHEN @status = 'Complete' OR @status = 'Incomplete' OR @status = 'Declined' THEN @today ELSE NULL END),
--			[Status] = @status,
--			[StartDate] = @startDate,
--			[IsOpened] = @isOpen
--		WHERE
--			[ITRequestID#] = @itrid


--		DECLARE @itr_status_old AS NVARCHAR(255);
--		SELECT @itr_status_old =	[Status] FROM DELETED d;
--		IF @status <> @itr_status_old AND @isOpen = 1 BEGIN
--			UPDATE
--				[IT Requests]
--			SET
--				[OpenCounter] = ISNULL([OpenCounter], 0) + 1 --(CASE WHEN @isOpen = 1 THEN 1 ELSE 0 END)
--			WHERE
--				[ITRequestID#] = @itrid
--		END
	
--		SELECT @currCount	= i.[OpenCounter]	from inserted i

--		IF @currCount IS NULL BEGIN
--			UPDATE
--				[IT Requests]
--			SET
--				[OpenCounter] = 1
--			WHERE
--				[ITRequestID#] = @itrid
--		END

--		IF @isOpen=1 AND @requestedBy <> @itPersonAssignedName BEGIN

--			EXEC [dbo].[sp_ITRSendAssignmentNotification] @reqID=@itrid

--		END

--	END

--END
