USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_SendEmailNewITRequest]    Script Date: 2024-11-29 7:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Avery Briggs
-- Create date: TBD
-- Description: Emails specified personnel when a new IT Request is created in the [IT Requests] table

-- 2023-09-15 James Crawford - Replaced IT Slack emails with "IT Request" Teams channel email
-- Also, reformatted HTML email so the HTML table properly shows up in Teams channel email: https://chat.openai.com/share/8dc3efce-4115-4b09-8a70-3acd4928f3d8
-- IT Request #2283

-- 2024-11-29 1943 - Avery Briggs - Added more space to datetime string variables, and priority variables.

-- =============================================

ALTER TRIGGER [dbo].[tr_SendEmailNewITRequest]  
   ON  [dbo].[IT Requests] 
   AFTER INSERT
AS 

BEGIN        
SET NOCOUNT ON;

DECLARE @ws AS NVARCHAR(MAX) = '                                           ';
DECLARE @persons AS NVARCHAR(MAX);
DECLARE @subject AS NVARCHAR(255);
DECLARE @body AS NVARCHAR(MAX);

DECLARE @itr_id AS NVARCHAR(6);
DECLARE @itr_today AS NVARCHAR(19);
DECLARE @itr_reqdate AS NVARCHAR(19);
DECLARE @itr_duedate AS NVARCHAR(19);
DECLARE @itr_request AS NVARCHAR(MAX);
DECLARE @itr_requestby AS NVARCHAR(255);
DECLARE @itr_priority AS NVARCHAR(3);
DECLARE @itr_subpriority AS NVARCHAR(3);
DECLARE @itr_type AS NVARCHAR(255);
DECLARE @itr_subtype AS NVARCHAR(255);
DECLARE @itr_company AS NVARCHAR(25);
DECLARE @itr_directory AS NVARCHAR(255);

--SELECT @itr_today =			CAST(GETDATE() AS NVARCHAR(11));
SELECT @itr_reqdate =		CAST([DueDate] AS NVARCHAR(19)) FROM INSERTED i;
SELECT @itr_id =			CAST([ITRequestID#] AS NVARCHAR(6)) FROM INSERTED i;
SELECT @itr_duedate =		CAST([DueDate] AS NVARCHAR(19)) FROM INSERTED i;
SELECT @itr_request =		[Request] FROM INSERTED i;
SELECT @itr_requestby =		[RequestedBy] FROM INSERTED i;
SELECT @itr_priority =		CAST([Priority] AS NVARCHAR(3)) FROM INSERTED i;
SELECT @itr_subpriority =	CAST([SubPriority] AS NVARCHAR(3)) FROM INSERTED i;
SELECT @itr_type =			[RequestType] FROM INSERTED i;
SELECT @itr_subtype =		[RequestSubType] FROM INSERTED i;
SELECT @itr_company =		[Company] FROM INSERTED i;
SELECT @itr_directory =		[Directory] FROM INSERTED i;

-- Enter Recipients
-- SET @persons = 'q0y9o8w7x8v5o6b0@bwsmanufacturingltd.slack.com'; -- Avery
-- SET @persons = @persons + ';' + 'v6l2a8z0e8u7x0k9@bwsmanufacturingltd.slack.com'; -- James
-- SET @persons = @persons + ';' + 'o8u2z7g5f5h2z5o0@bwsmanufacturingltd.slack.com'; -- Jamie
--SET @persons = @persons + ';' + 's1p7r9u7n8b9a9z5@bwsmanufacturingltd.slack.com'; -- Caleb
-- SET @persons = @persons + ';' + 'it@bwstrailers.com'; -- BWS IT Shared Inbox
SET @persons = '4554064e.hugocorporation.com@ca.teams.ms' -- "IT Requests" channel email in "IT" Teams

--SET @persons = 'avery.briggs@bwstrailers.com'

-- Set Subject and Body
SET @subject = 'New IT Request #' + RIGHT('000000' + @itr_id, 6);

-- SET @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001" ><Table class="ITR Table" border="1" cellpadding = "5" cellspacing = "5"><thead><th colspan="2"><b>Request</b></th></thead><tbody><tr><td><b>Company:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_company, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Request Date:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_reqdate, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Requested By:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_requestby, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Due Date:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_duedate, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Priority:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_priority, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Sub-Priority:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_subpriority, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Type:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_type, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Sub-Type:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_subtype, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Text:</b></td><td>'
-- SET @body = @body + ISNULL(@itr_request, '-')
-- SET @body = @body + '</td></tr><tr><td><b>Link:</b></td><td><a href="'
-- SET @body = @body + ISNULL(@itr_directory, '-')
-- SET @body = @body + '">Attachments</a></td></tr></tbody></Table></div></body><footer><h6>Note: Request attachments will be included in future emails once BWS has transitioned to Office 365.</h6></footer></html>'

SET @body = '<Table border="1" cellpadding="5" cellspacing="5"><thead><tr><th colspan="2"><b>Request</b></th></tr></thead><tbody>'
SET @body = @body + '<tr><td><b>Company:</b></td><td>' + ISNULL(@itr_company, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Request Date:</b></td><td>' + ISNULL(@itr_reqdate, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Requested By:</b></td><td>' + ISNULL(@itr_requestby, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Due Date:</b></td><td>' + ISNULL(@itr_duedate, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Priority:</b></td><td>' + ISNULL(@itr_priority, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Sub-Priority:</b></td><td>' + ISNULL(@itr_subpriority, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Type:</b></td><td>' + ISNULL(@itr_type, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Sub-Type:</b></td><td>' + ISNULL(@itr_subtype, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Text:</b></td><td>' + ISNULL(@itr_request, '-') + '</td></tr>'
SET @body = @body + '<tr><td><b>Link:</b></td><td><a href="' + ISNULL(@itr_directory, '-') + '">Attachments</a></td></tr>'
SET @body = @body + '</tbody></Table>'
set @body = @body + '<h6>Note: Request attachments will be included in future emails once BWS has transitioned to Office 365.</h6>'


-- Send Email
EXEC msdb.dbo.sp_send_dbmail 
	@recipients = @persons,
	@profile_name = 'SQL Agent',
	@subject = @subject, 
	@body = @body,
	@body_format='HTML'
	;
END
