USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCHED_LinesInUseBetweenDates]    Script Date: 2025-04-22 5:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2025-04-01 1945 - Avery Briggs - Use this SP to quickly determine which known Schedule lines will be in use between 2 dates.
-- 2025-04-22 1722 - Avery Briggs - Added the 'mode' param to support Delivery Date Scheduling

ALTER PROCEDURE [dbo].[sp_SCHED_LinesInUseBetweenDates] 
	@sd DATETIME = NULL,
	@ed DATETIME = NULL,
	@mode INT = NULL
AS
BEGIN

	/*
	DECLARE @sd DATETIME = '2025-03-01'
	DECLARE @ed DATETIME = '2025-03-31'
	*/

	SELECT
		@sd = ISNULL(@sd, CAST(GETDATE() AS DATE)),
		@ed = ISNULL(@ed, DATEADD(MONTH, 1, CAST(GETDATE() AS DATE))),
		@mode = ISNULL(@mode, 1)
	;

	IF @mode = 2 BEGIN
		-- Delivery Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Delivery Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Delivery Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Delivery Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Delivery Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Delivery Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 3 BEGIN
		-- Quote Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Quote Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Quote Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Quote Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Quote Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Quote Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 4 BEGIN
		-- Order Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Order Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Order Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Order Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Order Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Order Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 5 BEGIN
		-- Invoice Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Invoice Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Invoice Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Invoice Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Invoice Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Invoice Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 6 BEGIN
		-- Purchase Order Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [PO Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [PO Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [PO Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [PO Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [PO Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 7 BEGIN
		-- Finish Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Finish Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Finish Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Finish Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Finish Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [Finish Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE IF @mode = 8 BEGIN
		-- WO Review Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [WO Review Date] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [WO Review Date] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [WO Review Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [WO Review Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[Orders] [O] INNER JOIN [dtProductionSchedule] [dt] ON [O].[WO#] = [dt].[WO#] WHERE [WO Review Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
	END
	ELSE BEGIN
		-- Production Date
		SELECT 
			[PL].*
		FROM (
			SELECT [WO Line 1] AS [ProdLine] FROM [BWSdb].[dbo].[dtProductionSchedule] WHERE [Prod Date 1] BETWEEN @sd AND @ed GROUP BY [WO Line 1]
			UNION
			SELECT [WO Line 2] FROM	[BWSdb].[dbo].[dtProductionSchedule] WHERE [Prod Date 2] BETWEEN @sd AND @ed GROUP BY [WO Line 2]
			UNION
			SELECT [Beam Line] FROM	[BWSdb].[dbo].[dtProductionSchedule] WHERE [Beam Date] BETWEEN @sd AND @ed GROUP BY [Beam Line]
			UNION
			SELECT [GN Line] FROM [BWSdb].[dbo].[dtProductionSchedule] WHERE [GN Date] BETWEEN @sd AND @ed GROUP BY [GN Line]
			UNION
			SELECT [Other Line] FROM [BWSdb].[dbo].[dtProductionSchedule] WHERE [Other Date] BETWEEN @sd AND @ed GROUP BY [Other Line]
		) AS [Src]
		INNER JOIN 
			[BWSdb].[dbo].[Prod Lines] [PL]
		ON 
			[Src].[ProdLine] = [PL].[Prod Line]
		--ORDER BY [LO]
	END
END