USE [SysproCompanyA]
GO
/****** Object:  Trigger [dbo].[tr_NewJobStartEmailNotification]    Script Date: 2022-07-28 12:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_NewJobStartEmailNotification] 
   ON  [dbo].[ClkTransaction] 
   AFTER INSERT
   
AS 

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	declare @job varchar(20),
			@mc varchar(30),
			@EmpName varchar(50),
			@WC varchar(20),
			@WCDesc varchar(50),
			@TL AS NVARCHAR(25),
			@warn AS BIT;

	select @job		 = i.JobNumber					from inserted i
	select @mc		 = i.MachineCode				from inserted i
	select @EmpName  = i.EmployeeName				from inserted i
	select @WC		 = i.WorkCentreCode				from inserted i
	select @WCDesc	 = i.WorkCentreCodeDescription	from inserted i

	--If this is the first time an employee has logged onto a 10 million level job with Machine Code 41, send email
	IF LEFT(@job, 1) = '1' AND @mc = '41'
		BEGIN
			IF ((SELECT COUNT(*) FROM ClkTransaction WITH (NOLOCK) WHERE [JobNumber] = @job AND [MachineCode] = @mc) = 1) --OR 1 = 1
				BEGIN

					--Compose email body
					DECLARE @sSubject NVARCHAR(1000) =  'New Job Start - WO# ' + rtrim(@job) + ' - Pre Build Review Required!',
							@sBody NVARCHAR(MAX),
							@sModelNo NVARCHAR(50),
							@sDesigner NVARCHAR(255),
							@sSpecialInstructions NVARCHAR(MAX)

					SELECT @sModelNo = [Orders].[Model No],
						@sDesigner = [Staff],
						@sSpecialInstructions = [Special Instructions]
					FROM [BWSdb].[dbo].[Orders] WITH (NOLOCK)
					INNER JOIN [BWSdb].[dbo].[Design] WITH (NOLOCK) ON [Orders].[Quote#] = [Design].[Quote#]
					WHERE cast([Orders].[WO#] AS NVARCHAR(20)) = @job
					
					SELECT @TL	 = (CASE WHEN [Prod Line] IS NULL THEN [Prod Line2] ELSE [Prod Line] END) FROM [BWSdb].[dbo].[Production] WHERE [WO#] = CAST(@job AS INT)
					SELECT @warn = (CASE WHEN (SELECT COUNT(*) FROM [BWSdb].[dbo].[Production] WHERE [WO#] = @job) <> 1 THEN 1 ELSE 0 END)

					SELECT @sBody = '<!DOCTYPE html><!-- Automated message to alert of Shopclock job starts. 2022-07-27 --><html><head><meta content="text/html; charset=UTF-8" /><style> html, body {width: 100%;height: 100%;margin: 0;padding: 0;} </style></head><body><div class="Body" id="Body ID 001" ><table class="Table" id="Table ID 001" border="1" cellpadding = "5" cellspacing = "5", style="width:30%; margin-left: 20px; margin-top: 20px; margin-right: 20px; margin-bottom: 20px;"><thead><th colspan="2">Time Card Info:</th></thead><tbody><tr><td>Employee Name:</td><td>'
							+ ISNULL(@EmpName, 'N/A')
							+ '</td></tr><tr><td>Trailer Line:</td><td>'
							+ ISNULL(@TL, 'N/A')
							+ '</td></tr><tr><td>WorkCentre:</td><td>'
							+ ISNULL(@WC, 'N/A')
							+ '</td></tr><tr><td>WorkCentre Description:</td><td>'
							+ ISNULL(@WCDesc, 'N/A')
							+ '</td></tr></tbody></table><table class="Table" id="Table ID 002" border="1" cellpadding = "5" cellspacing = "5", style="width:30%; margin-left: 20px; margin-top: 20px; margin-right: 20px; margin-bottom: 20px;"><thead><th style="width:100%" colspan="2">WO Info:</th></thead><tbody><tr><td>Model No:</td><td>'
							+ ISNULL(@sModelNo, 'N/A')
							+ '</td></tr><tr><td>Engineer:</td><td>'
							+ ISNULL(@sDesigner, 'N/A')
							+ '</td></tr></tbody></table><div style="margin-left: 20px; margin-top: 20px; margin-right: 20px; margin-bottom: 20px;"><dl><dt>Special Instructions:</dt><dd>'
							+ ISNULL(@sSpecialInstructions, 'N/A')
							+ '</dd></dl>'

							+ (CASE WHEN @warn = 1 THEN '<dl style="color:RGB(255, 0, 0)"><dl>WARNING:</dt><dd style="color:RGB(240, 20, 20)">WO# '
								+ @job
								+ ' HAS NOT BEEN ENTERED ON THE PRODUCTION SCHEDULE YET.</dd></dl>'
								ELSE '' END)

							+ '</div></div></body></html>'
							;

					--Send email
					EXEC [msdb].[dbo].[sp_send_dbmail]
						@recipients = 'EngineeringGroup@bwstrailers.com; avery.briggs@bwstrailers.com',
						--@recipients = 'avery.briggs@bwstrailers.com',
						@profile_name = 'SQL Agent',
						@subject = @sSubject,
						@body = @sBody,
						@body_format='HTML';
				end
		end

END


----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------


-- Old version 2022-07-28
--USE [SysproCompanyA]
--GO
--/****** Object:  Trigger [dbo].[tr_NewJobStartEmailNotification]    Script Date: 2022-07-28 12:34:16 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER TRIGGER [dbo].[tr_NewJobStartEmailNotification] 
--   ON  [dbo].[ClkTransaction] 
--   AFTER INSERT
   
--AS 

--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
--	SET NOCOUNT ON;

--    -- Insert statements for trigger here
--	declare @job varchar(20),
--			@mc varchar(30),
--			@EmpName varchar(50),
--			@WC varchar(20),
--			@WCDesc varchar(50)

--	select @job		 = i.JobNumber					from inserted i
--	select @mc		 = i.MachineCode				from inserted i
--	select @EmpName  = i.EmployeeName				from inserted i
--	select @WC		 = i.WorkCentreCode				from inserted i
--	select @WCDesc	 = i.WorkCentreCodeDescription	from inserted i

--	--If this is the first time an employee has logged onto a 10 million level job with Machine Code 41, send email
--	if left(@job, 1) = '1' and @mc = '41'
--		begin
--			if (select count(*) from ClkTransaction with (nolock) where JobNumber = @job and MachineCode = @mc) = 1
--				begin
--					--Compose email body
--					declare @sSubject varchar(1000) =  'New Job Start - WO# ' + rtrim(@job) + ' - Pre Build Review Required!',
--							@sBody varchar(max),
--							@sModelNo varchar(50),
--							@sDesigner varchar(255),
--							@sSpecialInstructions varchar(max)

--					select @sModelNo = Orders.[Model No],
--						   @sDesigner = Staff,
--						   @sSpecialInstructions = [Special Instructions]
--					from BWSdb.dbo.Orders with (nolock)
--					inner join BWSdb.dbo.Design with (nolock) on Orders.Quote# = Design.Quote#
--					where cast(Orders.WO# as varchar(20)) = @job

--					select @sBody = 'Time Card info:' + char(10) + char(10)
--									+ 'Employee Name: ' + case when @EmpName is null then '' else REPLACE(@EmpName, '''', '') end + char(10)
--									+ 'WorkCente: ' + case when @WC is null then '' else REPLACE(@WC, '''', '') end  + char(10) 
--									+ 'WorkCente Description: ' + case when @WCDesc is null then '' else REPLACE(@WCDesc, '''', '') end + char(10) + char(10)
--									+ 'WO Info:' + char(10) + char(10)
--									+ 'Model No: ' + case when @sModelNo is null then '' else REPLACE(@sModelNo, '''', '') end + char(10)
--									+ 'Engineer: ' + case when @sDesigner is null then '' else REPLACE(@sDesigner, '''', '') end + char(10) + char(10)
--									+ 'Special Instructions: ' + char(10) + case when @sSpecialInstructions is null then 'N/A' else REPLACE(@sSpecialInstructions, '''', '') end

--					--Send email
--					exec msdb.dbo.sp_send_dbmail
--						@recipients = 'EngineeringGroup@bwstrailers.com',
--						@profile_name = 'SQL Agent',
--						@subject = @sSubject,
--						@body = @sBody;
--				end
--		end

--END
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------







