USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_TopLevelWOSubsReport]    Script Date: 2021-10-04 4:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_TopLevelWOSubsReport]
	@WO VARCHAR(8)
AS
BEGIN

SELECT
	[JobStartDate] AS [WipJobAllMat.JobStartDate],
	[WipJobAllMat].[Job] AS [WipJobAllMat.Job],
	[WipMaster].[Job] AS [WipMaster.Job],
	[WipJobAllMat].[StockCode] AS [WipMaster.StockCode],
	[WipJobAllMat].[StockDescription] AS [WipMaster.StockDescription],
	[WipMaster].[Complete] AS [WipMaster.Complete],
	[WipJobAllMat].[QtyIssued] AS [WipJobAllMat.QtyIssued],
	[WipMaster].[QtyToMake] AS [WipMaster.QtyToMake]
FROM
	[WipJobAllMat] WITH (NOLOCK)
INNER JOIN
	[WipMaster] WITH (NOLOCK)
ON
	[WipJobAllMat].[StockCode] = [WipMaster].[StockCode] and [WipJobAllMat].[Warehouse] = [WipMaster].[Warehouse]
WHERE
	[WipJobAllMat].[Job] = @WO
ORDER BY
	[WipMaster].[JobStartDate] DESC

END