USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClkTallyWeeklyReport]    Script Date: 2022-04-08 4:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[sp_ClkTallyWeeklyReport]
	@sd DATETIME, @ed DATETIME, @empNum NVARCHAR(MAX) = NULL
AS BEGIN

/***************************************************************************************************/
/***************************              TESTING                  *********************************/
/***************************************************************************************************/
/***************************************************************************************************/

--DECLARE @sd AS DATETIME;
--DECLARE @ed AS DATETIME;
--DECLARE @empNum NVARCHAR(MAX);
--SET @sd = 'October 11 2021';
--SET @ed = 'October 15 2021';
--SET @sd = '2022-02-11';
--SET @ed = '2022-02-15';
--SET @empNum='0;000001;1;100001;100005;100009;100017;100029;100034;100035;100037;100038;100041;100047;100051;100052;100054;100055;100056;100057;100058;100059;100060;100061;100062;100063;100064;100065;100066;100067;100068;100069;100070;100071;100074;100075;100078;100079;100087;100089;100090;100095;100096;100098;100099;100100;100101;100103;100104;100105;100106;100107;100108;200002;200006;200018;200020;200023;200025;200045;200069;200092;200100;200102;200114;200141;200185;200198;200224;200238;200239;200241;200249;200273;200288;200299;200305;200309;200318;200321;200326;200328;200330;200332;200336;200339;200350;200366;200377;200390;200397;200430;200434;200435;200437;200440;200441;200443;200445;200447;200448;200449;200459;200462;200471;200472;200474;200477;200479;200481;200482;200485;200495;200497;200498;200513;200516;200520;200523;200524;200525;200527;200528;200529;200530;200531;200536;200537;200539;200540;200541;200543;200546;200548;200553;200554;200556;200557;200559;200564;200569;200570;200571;200572;200573;200579;200580;200582;200584;200593;200594;200599;200600;200601;200603;200605;200606;200607;200609;200610;200611;200612;200613;200614;200615;200616;200617;200618;200619;200620;200621;200622;200623;200624;200625;200626;200627;200628;200629;200630;200631;600622';

/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/

DECLARE @ed2 AS DATETIME; -- used for sp_clkTallyHours since the @ed param is exclusive
SET @ed2 = DATEADD(DAY, 1, @ed);

DECLARE @emps AS TABLE([idx] INT, [EmpNum] NVARCHAR(MAX));
INSERT INTO @emps SELECT * FROM [BWSdb].[dbo].[split_string_idx](@empNum, ';');

DECLARE @weeklyRpt AS TABLE (
	[ID] INT IDENTITY(1,1),
	[StaffID#] INT,
	[Emp#] INT,
	[2nd Name] NVARCHAR(MAX),
	[1st Name] NVARCHAR(MAX),
	[Hours Work] FLOAT,
	[Net Hours Work] FLOAT,
	[V] BIT,
	[A] BIT,
	[ABQ] BIT,
	[SL] BIT,
	[L] BIT,
	[E] BIT,
	[S] BIT,
	[Comments] NVARCHAR(MAX),
	[Terminated] DATETIME,
	[EntryDate] DATETIME
);

DECLARE @clkTally AS TABLE (
	[ID] INT IDENTITY(1,1),
	[QueryID] NVARCHAR(1),
	[EmployeeNumber] NVARCHAR(MAX),
	[EmployeeName] NVARCHAR(MAX),
	[HrsWorked] FLOAT,
	[Date] DATETIME
);

INSERT INTO @weeklyRpt
EXEC sp_WeeklyRpt @sd, @ed

INSERT INTO @clkTally
EXEC [SysproCompanyA].[dbo].[sp_ClkTallyHours] @sd=@sd, @ed=@ed2, @by_transaction=0, @by_date=1

--SELECT
--	[ID],
--	[StaffID#],
--	[Emp#],
--	[2nd Name],
--	[1st Name],
--	[Hours Work],
--	[Net Hours Work],
--	[V],
--	[A],
--	[ABQ],
--	[SL],
--	[L],
--	[E],
--	[S],
--	[Comments],
--	[Terminated],
--	[EntryDate]
--FROM
--	@weeklyRpt
--;
--SELECT
--	[ID],
--	[QueryID],
--	[EmployeeNumber],
--	[EmployeeName],
--	[HrsWorked],
--	[Date]
--FROM
--	@clkTally

IF @empNum IS NULL BEGIN
	SELECT
		[QueryID]
		,[EmployeeNumber]
		,[EmployeeName]
		,[HrsWorked]
		,[Date]
		,[StaffID#]
		,[Emp#]
		,[2nd Name]
		,[1st Name]
		,[Hours Work]
		,[Net Hours Work]
		,[V]
		,[A]
		,[ABQ]
		,[SL]
		,[L]
		,[E]
		,[S]
		,[Comments]
		,[Terminated]
		,[EntryDate]
	FROM
		@weeklyRpt AS [WR]
	LEFT JOIN
		@clkTally AS [CT]
	ON
		YEAR([CT].[Date]) = YEAR([WR].[EntryDate])
		AND MONTH([CT].[Date]) = MONTH([WR].[EntryDate])
		AND DAY([CT].[Date]) = DAY([WR].[EntryDate])
		AND 
		[CT].[EmployeeNumber] = 
			(CASE
				WHEN LEFT([CT].[EmployeeNumber], 3) = '100' THEN
					'100' + RIGHT('000' + CAST([WR].[Emp#] AS NVARCHAR(MAX)), 3)
				ELSE
					'200' + RIGHT('000' + CAST([WR].[Emp#] AS NVARCHAR(MAX)), 3)
			END)
	ORDER BY
		[2nd Name]
		,[1st Name]
		,[EntryDate]
END
ELSE BEGIN
	SELECT
		[QueryID]
		,[EmployeeNumber]
		,[EmployeeName]
		,[HrsWorked]
		,[Date]
		,[StaffID#]
		,[Emp#]
		,[2nd Name]
		,[1st Name]
		,[Hours Work]
		,[Net Hours Work]
		,[V]
		,[A]
		,[ABQ]
		,[SL]
		,[L]
		,[E]
		,[S]
		,[Comments]
		,[Terminated]
		,[EntryDate]
	FROM
		@weeklyRpt AS [WR]
	LEFT JOIN
		@clkTally AS [CT]
	ON
		YEAR([CT].[Date]) = YEAR([WR].[EntryDate])
		AND MONTH([CT].[Date]) = MONTH([WR].[EntryDate])
		AND DAY([CT].[Date]) = DAY([WR].[EntryDate])
		AND 
		[CT].[EmployeeNumber] = 
			(CASE
				WHEN LEFT([CT].[EmployeeNumber], 3) = '100' THEN
					'100' + RIGHT('000' + CAST([WR].[Emp#] AS NVARCHAR(MAX)), 3)
				ELSE
					'200' + RIGHT('000' + CAST([WR].[Emp#] AS NVARCHAR(MAX)), 3)
			END)
	WHERE
		[EmployeeNumber] IN (SELECT [EmpNum] FROM @emps)
	ORDER BY
		[2nd Name]
		,[1st Name]
		,[EntryDate]
END
END
