USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[UpdateDemountableDateInService]    Script Date: 8/20/2021 2:04:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER
	[dbo].[UpdateDemountableDateInService]
ON 
	[dbo].[Orders]
AFTER
	UPDATE
AS
BEGIN
	DECLARE @SD DATETIME;
	DECLARE @QN INT;
	SELECT @SD = [i].[Shipped Date] FROM [inserted] i
	SELECT @QN = [i].[Quote#] FROM [inserted] i
	UPDATE
		[Orders]
	SET
		[Date In Service] = @SD
	WHERE
		[Quote#] = @QN
		AND [DealerID] = 5
		AND [Quote#] IS NOT NULL
END