USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlyMaterialBudget]    Script Date: 2021-09-24 1:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_MonthlyMaterialBudget]
	@SD DATETIME, @ED DATETIME, @COL VARCHAR(1)
AS 
BEGIN

if @COL = 'M' begin

select DATENAME(MONTH, CAST(CAST(year(ActCompleteDate) AS varchar(50))+'-'+RIGHT('00'+CAST(month(ActCompleteDate) AS varchar(50)), 2)+'-01' AS DATETIME)) + ' - ' + CAST(year(ActCompleteDate) AS varchar(30)) AS [Date],
sum(ValueIssued) as Material
from WipMaster with (nolock)
inner join WipJobAllMat with (nolock) on WipMaster.Job = WipJobAllMat.Job
where ActCompleteDate is not null and ActCompleteDate BETWEEN @SD AND @ED
group by year(ActCompleteDate), month(ActCompleteDate)
order by year(ActCompleteDate), month(ActCompleteDate)

end
else if @COL = 'B' begin

select DATENAME(MONTH, CAST(CAST(year(ActCompleteDate) AS varchar(50))+'-'+RIGHT('00'+CAST(month(ActCompleteDate) AS varchar(50)), 2)+'-01' AS DATETIME)) + ' - ' + CAST(year(ActCompleteDate) AS varchar(30)) AS [Date],
sum(UnitQtyReqd * UnitCost) as Budget
from WipMaster with (nolock)
inner join WipJobAllMat with (nolock) on WipMaster.Job = WipJobAllMat.Job
where ActCompleteDate is not null and ActCompleteDate BETWEEN @SD AND @ED
group by year(ActCompleteDate), month(ActCompleteDate)
order by year(ActCompleteDate), month(ActCompleteDate)
end
else begin

select DATENAME(MONTH, CAST(CAST(year(ActCompleteDate) AS varchar(50))+'-'+RIGHT('00'+CAST(month(ActCompleteDate) AS varchar(50)), 2)+'-01' AS DATETIME)) + ' - ' + CAST(year(ActCompleteDate) AS varchar(30)) AS [Date],
sum(ValueIssued) as Material, sum(UnitQtyReqd * UnitCost) as Budget
from WipMaster with (nolock)
inner join WipJobAllMat with (nolock) on WipMaster.Job = WipJobAllMat.Job
where ActCompleteDate is not null and ActCompleteDate BETWEEN @SD AND @ED
group by year(ActCompleteDate), month(ActCompleteDate)
order by year(ActCompleteDate), month(ActCompleteDate)
end
END