USE [BWSdb]
GO
--/****** Object:  StoredProcedure [dbo].[sp_QuickRef_ListSimilarQuotes]    Script Date: 2022-11-02 1:35:20 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>

---- 2022-06-29 Added to join clause in the #QuoteswithsameOptions insert statement. Had to double check that the quantities are the same.
----     See ITR#000604
---- =============================================
--ALTER PROCEDURE [dbo].[sp_QuickRef_ListSimilarQuotes] 
--	-- Add the parameters for the stored procedure here
--	@quote int
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;



	DECLARE @quote AS INT;
	SET @quote = 28070;

    -- Insert statements for procedure here
	--Grab Model No for future referencing
	declare @modelno nvarchar(255) = (select [Model No] from Orders with (nolock) where Quote# = @quote)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteOptions') IS NOT NULL
		DROP TABLE #QuoteOptions 

	create table #QuoteOptions
	(
		#Options int,
		[Option No] nvarchar(255),
        [Price] money,
        [Qty] int,
        [Sections] nvarchar(255),
        [Description] nvarchar(max)
	)

	--Grab Quotes with same Model No and Options as @quote parameter
	insert into #QuoteOptions ([Option No], Price, Qty, Sections, Description)
	select [Option No], Price, Qty, Sections, Description
	from [Order Options] with (nolock)
	where Quote# = @quote

	SELECT 'A' AS [X], '#QuoteOptions' AS [Table], * FROM #QuoteOptions

	update #QuoteOptions
	set #Options = NoOptions
	from (select count(*) as NoOptions
		  from [Order Options] with (nolock)
		  where Quote# = @quote) as subCountOptions
		  
	SELECT 'B' AS [X], '#QuoteOptions' AS [Table], * FROM #QuoteOptions

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteswithsameOptions') IS NOT NULL
		DROP TABLE #QuoteswithsameOptions 

	create table #QuoteswithsameOptions
	(
		[Quote#] int,
		[WO#] int,
		[Quote Date] datetime,
		[Prod Date] datetime
	)

	insert into #QuoteswithsameOptions
	select main.Quote#, main.WO#, main.[Quote Date], [Prod Date]
	from [Order Options] as main with (nolock)
	inner join Orders with (nolock) on main.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join #QuoteOptions as QuoteOptions on main.[Option No] = QuoteOptions.[Option No]
												and (case when main.Sections is null then '' else main.Sections end) = (case when QuoteOptions.Sections is null then '' else QuoteOptions.Sections end)
												and main.Description = QuoteOptions.Description
												AND main.[Qty] = [QuoteOptions].[Qty]
	where main.Quote# in (select Quote#
						  from [Order Options] with (nolock)
						  group by Quote#
						  having count(*) in (select #Options from #QuoteOptions))
	and Orders.[Model No] = @modelno
	and [Date Declined] is null
	group by main.Quote#, main.WO#, main.[Quote Date], [Prod Date]
	having count(*) = (select distinct #Options from #QuoteOptions)
	
	SELECT 'C' AS [X], '#QuoteswithsameOptions' AS [Table], * FROM #QuoteswithsameOptions

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteNPOs') IS NOT NULL
		DROP TABLE #QuoteNPOs

	create table #QuoteNPOs
	(
		#NPOs int,
        [Description] nvarchar(max)
	)

	--Grab Quotes with same NPOs
	insert into #QuoteNPOs (Description)
	select Description
	from [Custom Work] with (nolock)
	where Quote# = @quote

	SELECT 'D' AS [X],'#QuoteNPOs' AS [Table], * FROM #QuoteNPOs

	update #QuoteNPOs
	set #NPOs = NoNPOs
	from (select count(*) as NoNPOs
		  from [Custom Work] with (nolock)
		  where Quote# = @quote) as subCountNPOs

	SELECT 'E' AS [Table], '#QuoteNPOs' AS [Table], * FROM #QuoteNPOs

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteswithsameNPOs') IS NOT NULL
		DROP TABLE #QuoteswithsameNPOs 

	create table #QuoteswithsameNPOs
	(
		[Quote#] int,
		[WO#] int,
		[Quote Date] datetime,
		[Prod Date] datetime
	)

	insert into #QuoteswithsameNPOs
	select main.Quote#, main.WO#, main.[Quote Date], [Prod Date]
	from [Custom Work] as main with (nolock)
	inner join Orders with (nolock) on main.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join #QuoteNPOs as QuoteNPOs on main.Description = QuoteNPOs.Description
	where main.Quote# in (select Quote#
						  from [Custom Work] with (nolock)
						  group by Quote#
						  having count(*) in (select #NPOs from #QuoteNPOs))
	and Orders.[Model No] = @modelno
	and [Date Declined] is null
	group by main.Quote#, main.WO#, main.[Quote Date], [Prod Date]
	having count(*) = (select distinct #NPOs from #QuoteNPOs)

	SELECT 'F' AS [X], '#QuoteswithsameNPOs' AS [Table], * FROM #QuoteswithsameNPOs

	--Final select statement
	select Options.Quote#, Options.WO#, Options.[Quote Date], Options.[Prod Date]
	from #QuoteswithsameOptions as Options
	inner join #QuoteswithsameNPOs as NPOs on Options.Quote# = NPOs.Quote#
	where Options.Quote# <> @quote

--END
