USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_ProductionOperationsMaintenance]    Script Date: 2024-10-17 2:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Avery Briggs
-- Create date: 2024-10-17 1435
-- Description:	Maintain active bit and dates
-- =============================================

ALTER TRIGGER [dbo].[tr_ProductionOperationsMaintenance]
   ON  [dbo].[ProductionOperations]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE
		[ProductionOperations]
	SET
		[LastModified] = GETDATE()
		,[DateActive] = (CASE 
			WHEN ([I].[Active] = 1) AND (ISNULL([D].[Active], 0) <> 1) THEN GETDATE()
			ELSE [P].[DateActive] 
		END)
		,[DateInActive] = (CASE 
			WHEN ([I].[Active] = 0) AND (ISNULL([D].[Active], 1) <> 0) THEN GETDATE()
			ELSE [P].[DateInActive] 
		END)
	FROM
		INSERTED [I]
	LEFT JOIN
		[ProductionOperations] [P]
	ON
		[P].[ID] = [I].[ID]
	LEFT JOIN
		DELETED [D]
	ON
		[P].[ID] = [D].[ID]
END
