USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClkLabourOverride]    Script Date: 2023-08-09 4:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2022-09-07 James Crawford - Added the new "Approved By" columns to the select statement from the [ClkFrmConfirm] table
-- IT Request #001112
-- 2022-09-14 James Crawford - Added the Shift column ([ClkShiftRoundRules V2] table) and the Dept column (BWSdb.dbo.Employees table) to the select statement
-- IT Request #001141
-- 2022-09-21 James Crawford - Adjusted subquery "A" to based in/out time based on shift times ([ClkShiftRoundRules V2] table)
-- IT Request #001141
-- 2022-09-22 James Crawford - Commented out "OverrideHoursWorked" column logic as we do not need to see Overwritten hours in the normal Hours Worked column
-- IT Request #001141

--ALTER PROCEDURE [dbo].[sp_ClkLabourOverride]
----DECLARE
--	@sd DATETIME, @ed DATETIME
--SET @sd = '2022-02-10'
--SET @ed = '2022-02-10 23:59:59'
--AS
--BEGIN


--USE SysproCompanyA
--GO

--EXEC 
--	[dbo].[sp_ClkLabourOverride]
--		@sd='2023-08-01',
--		@ed='2023-08-01 23:59:59'




DECLARE @sd DATETIME ='2023-08-01';
DECLARE @ed DATETIME ='2023-08-01 23:59:59';

DECLARE @T TABLE (
				[QueryID] NVARCHAR(1),
				[EmployeeNumber] REAL,
				[EmployeeName] NVARCHAR(200),
				[HrsWorked] FLOAT,
				[StartDate] DATETIME,
				[EndDate] DATETIME);

INSERT INTO @T EXEC [sp_ClkTallyHours] @sd=@sd, @ed=@ed, @by_transaction=0

SELECT 'A', * FROM [ClkFrmConfirm] WHERE [EntryDate] BETWEEN @sd AND @ed ORDER BY [EmployeeNumber];
;
SELECT 
		'B',
		[EmployeeNumber],
		MIN([InTimeFromShopClk]) AS [InTimeFromShopClk],
		MAX([OutTimeFromShopClk]) AS [OutTimeFromShopClk]
	FROM
		[ClkTransaction]
    CROSS JOIN
            (
                select cast(cast(@sd as date) as datetime) + cast(min(StartTime) as time) as FirstInTime,
                case when min(EndTime) <= min(StartTime)
					then
						cast(dateadd(day, 1, cast(@ed as date)) as datetime)
						+ cast(min(EndTime) as time)
					else
						cast(cast(@ed as date) as datetime)
						+ cast(max(EndTime) as time)
					end as LastOutTime
                FROM
                    [ClkShiftRoundRules V2] with (nolock)
            ) as subDateRange
	WHERE
		([InTimeFromShopClk] BETWEEN FirstInTime AND LastOutTime OR [OutTimeFromShopClk] BETWEEN FirstInTime AND LastOutTime)
		AND [InTimeFromShopClk] IS NOT NULL
	GROUP BY
		[EmployeeNumber]

;

SELECT 'C', * FROM @T;

SELECT
	[ClkFrmConfirmID#]
	, [@T].[EmployeeNumber] AS [EmployeeNumber]
	, [EmployeeName]
	--(CASE WHEN [IncludeLunch] = 1 THEN (CASE WHEN [OverrideFlag] = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN [OverrideFlag] = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END) AS [HrsWorked],
	--(CASE WHEN [OverrideFlag] = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END) AS [HrsWorkedNOLUNCH],
	, (CASE
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 1 THEN (CASE WHEN [IncludeLunchSun] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 2 THEN (CASE WHEN [IncludeLunchMon] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 3 THEN (CASE WHEN [IncludeLunchTue] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 4 THEN (CASE WHEN [IncludeLunchWed] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 5 THEN (CASE WHEN [IncludeLunchThu] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 6 THEN (CASE WHEN [IncludeLunchFri] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
		ELSE (CASE WHEN [IncludeLunchSat] = 1 THEN (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) - 0.5 ELSE (/*CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END*/ [HrsWorked]) END)
	--, (CASE
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 1 THEN (CASE WHEN [IncludeLunchSun] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 2 THEN (CASE WHEN [IncludeLunchMon] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 3 THEN (CASE WHEN [IncludeLunchTue] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 4 THEN (CASE WHEN [IncludeLunchWed] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 5 THEN (CASE WHEN [IncludeLunchThu] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	WHEN DATEPART(WEEKDAY, ISNULL([EntryDate], @sd)) = 6 THEN (CASE WHEN [IncludeLunchFri] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	--	ELSE (CASE WHEN [IncludeLunchSat] = 1 THEN (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) ELSE (CASE WHEN ISNULL([OverrideFlag], 0) = 0 THEN [HrsWorked] - 0.5 ELSE [OverrideHoursWorked] END) END)
	END) AS [HrsWorked]
	, [StartDate]
	, [EndDate]
	, [PK]
	, [ClkShiftEmpAssign].[ShiftID]
	, [ClkShiftEmpAssign].[Emp#]
	, [Name]
	, [StartTime]
	, [EndTime]
	, [Interval]
	, [EarlyThreshold]
	, [LateThreshold]
	, [IncludeLunchSun]
	, [IncludeLunchMon]
	, [IncludeLunchTue]
	, [IncludeLunchWed]
	, [IncludeLunchThu]
	, [IncludeLunchFri]
	, [IncludeLunchSat]
	, [EntryDate]
	, [OverrideFlag]
	, [HoursWorked]
	, [ConfirmedFlag]
	, [OverrideHoursWorked]
	, [SubmitFlag]
	, [SubmittedBy]
	, [InTimeFromShopClk]
	, [OutTimeFromShopClk]
	, ISNULL([EntryDate], @sd) AS [EntryDate]
	, ApprovedByForeman
	, ForemanApprovalDate
	, ApprovedByPayroll
	, PayrollApprovalDate
	, [ClkShiftRoundRules V2].[Name] as [Shift Name]
	, [SubDept].[Dept] as [Manpower Report Department]
	--, (CASE WHEN [OverrideFlag] = 0 THEN [HrsWorked] ELSE [OverrideHoursWorked] END) AS [HrsWorkedNOLUNCH]



	
	FROM @T
LEFT JOIN
	[ClkShiftEmpAssign]
ON
	[@T].[EmployeeNumber] = [ClkShiftEmpAssign].[Emp#]
LEFT JOIN
	[ClkShiftRoundRules V2]
ON
	[ClkShiftEmpAssign].[ShiftID] = [ClkShiftRoundRules V2].[ShiftID]
LEFT JOIN (
	SELECT
		*
	FROM
		[ClkFrmConfirm]
	WHERE
		[EntryDate] BETWEEN @sd AND @ed
) AS [Src]
ON
	[Src].[EmployeeNumber] = [@T].[EmployeeNumber]
INNER JOIN (
	SELECT 
		[EmployeeNumber],
		MIN([InTimeFromShopClk]) AS [InTimeFromShopClk],
		MAX([OutTimeFromShopClk]) AS [OutTimeFromShopClk]
	FROM
		[ClkTransaction]
    CROSS JOIN
            (
                select cast(cast(@sd as date) as datetime) + cast(min(StartTime) as time) as FirstInTime,
                case when min(EndTime) <= min(StartTime)
					then
						cast(dateadd(day, 1, cast(@ed as date)) as datetime)
						+ cast(min(EndTime) as time)
					else
						cast(cast(@ed as date) as datetime)
						+ cast(max(EndTime) as time)
					end as LastOutTime
                FROM
                    [ClkShiftRoundRules V2] with (nolock)
            ) as subDateRange
	WHERE
		([InTimeFromShopClk] BETWEEN FirstInTime AND LastOutTime OR [OutTimeFromShopClk] BETWEEN FirstInTime AND LastOutTime)
		AND [InTimeFromShopClk] IS NOT NULL
	GROUP BY
		[EmployeeNumber]
		
	) AS [A]
ON
	[A].[EmployeeNumber] = [ClkShiftEmpAssign].[Emp#]
LEFT JOIN (
	select Emp#, Dept.Dept
	from 
		BWSdb.dbo.Employees with (nolock)
	inner join 
		BWSdb.dbo.Dept with (nolock) 
	on 
		Employees.Dept = Dept.DeptID
    WHERE
        Terminated is NULL
        or Terminated > @ed

) as [SubDept]
ON
	convert(real, right([ClkShiftEmpAssign].[Emp#], 3)) = [SubDept].[Emp#]
WHERE
	([EntryDate] IS NULL OR [EntryDate] BETWEEN @sd AND @ed)
	AND ([InTimeFromShopClk] BETWEEN @sd AND @ed OR [OutTimeFromShopClk] BETWEEN @sd AND @ed)
	AND [InTimeFromShopClk] IS NOT NULL
ORDER BY
	[EmployeeName]

--END
