USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_UpdateProductsSerialCalcMethod]    Script Date: 2024-03-26 12:03:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Avery Briggs
-- Create date: 2024-03-25
-- Description:	Update new products to have the correct class based serialcalcmethod
--				TODO move the logic to a table instead of a case statement. Will allow easier editing.
-- =============================================
ALTER TRIGGER [dbo].[tr_UpdateProductsSerialCalcMethod] 
   ON [dbo].[Products]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
		UPDATE
			[Products]
		SET
			[SerialCalcMethod] = (
				CASE 
					WHEN ([I].[Class] IN ('Agriculture', 'Stargate', 'Snow & Ice Control')
						AND LEFT([I].[Model No], 8) <> 'SPUD KIT')
						OR ([I].[Class] IN ('Snow & Ice Control')
						AND LEFT([I].[Model No], 8) = 'SPUD KIT')
						THEN 1
					WHEN ([I].[Class] = 'Towing')
						THEN 2
					ELSE
						NULL
					END
			)
		FROM 
			[Products] [P]
		INNER JOIN
			[INSERTED] [I]
		ON
			[P].[IDTrailer] = [I].[IDTrailer]
	END
END
