USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_TopLevelWOReportJamieMulti]    Script Date: 2022-03-01 8:26:14 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--ALTER PROCEDURE [dbo].[sp_TopLevelWOReportJamieMulti]
DECLARE
	@WO VARCHAR(MAX),
	@INCOMPLETEONLY BIT,
	@PARTCATEGORY NVARCHAR(MAX)=NULL,
	@OPERATION NVARCHAR(MAX)=NULL,
	@WAREHOUSE NVARCHAR(MAX)=NULL

	
SET @WO = '10014747;10014748';
SET @INCOMPLETEONLY = 0;
SET @OPERATION='01;04;05';
SET @WAREHOUSE='04;06'
SET @PARTCATEGORY='M;B;S'

-- WIDE OPEN
SET @WO = '10014747;10014748';
SET @INCOMPLETEONLY = 0;
SET @OPERATION=NULL;
SET @WAREHOUSE=NULL;
SET @PARTCATEGORY=NULL;


--AS
--BEGIN

DECLARE @wos AS TABLE([Job#] INT, [Job] NVARCHAR(MAX));
INSERT INTO @wos SELECT * FROM [BWSdb].[dbo].[split_string_idx](@wo, ';');

DECLARE @T TABLE (
	[ph] INT,
	[WO] NVARCHAR(MAX),
	[Part Category] CHAR(1),
	[Operation] INT,
	[WipMaster.JobStartDate] DATETIME,
	[WipMaster.Job] NVARCHAR(100),
	[WipMaster.StockCode] NVARCHAR(MAX),
	[WipMaster.StockDescription] NVARCHAR(MAX),
	[QtyOnHand] INT,
	[QtyIssued] INT,
	[QtyRequired] INT,
	[HrsIssued] FLOAT,
	[Complete] VARCHAR(1),
	[Warehouse] NVARCHAR(MAX)
)











INSERT INTO @T
--EXEC [dbo].[sp_TopLevelWOSubsReportJamie] @WO=@WO, @INCOMPLETEONLY=@INCOMPLETEONLY, @PARTCATEGORY=@PARTCATEGORY, @OPERATION=@OPERATION, @WAREHOUSE=@WAREHOUSE
SELECT
	0 AS [ph],
	[WipMaster].[Job],
	'M' AS [Part Category],
	[Operation],
	MAX([WipMaster].[JobStartDate]) AS [WipMaster.JobStartDate],
	MAX([WipMaster].[Job]) AS [WipMaster.Job],
	[WipJobAllMat].[StockCode] AS [WipMaster.StockCode],
	[WipJobAllMat].[StockDescription] AS [WipMaster.StockDescription],
	CAST(ROUND((QtyOnHand), 0) AS INT) AS [QtyOnHand],
	CAST(ROUND([QtyIssued], 0) AS INT) AS [QtyIssued],
	CAST(ROUND([UnitQtyReqd], 0) AS INT) AS [QtyRequired],
	CAST(ROUND(SUM([RunTimeIssued]), 2) AS decimal(14, 2)) AS [HrsIssued],
	(CASE WHEN (CAST(ROUND(([UnitQtyReqd]), 0) AS INT)) - CAST(ROUND(([QtyIssued]), 0) AS INT) <= 0 THEN 'Y' ELSE 'N' END) AS [Complete],
	[WipMaster].[Warehouse] AS [Warehouse]
FROM
	[WipJobAllMat] WITH (NOLOCK)
INNER JOIN
	[WipMaster] WITH (NOLOCK)
ON
	[WipJobAllMat].[StockCode] = [WipMaster].[StockCode] and [WipJobAllMat].[Warehouse] = [WipMaster].[Warehouse]
INNER JOIN
	[WipJobAllLab]
ON
	[WipJobAllLab].[Job] = [WipMaster].[Job]
INNER JOIN
	[InvWarehouse]
ON
	[InvWarehouse].[StockCode] = [WipMaster].[StockCode] and [InvWarehouse].[Warehouse] = [WipMaster].[Warehouse]
WHERE
	[WipJobAllMat].[Job] IN (SELECT [Job] FROM @wos)
	AND ((@INCOMPLETEONLY = 1 AND [WipMaster].[Complete] = 'N') OR @INCOMPLETEONLY = 0)
	AND QtyOnHand = 0
GROUP BY
	[WipMaster].[Job],
	[WipJobAllMat].[StockCode],
	[WipJobAllMat].[StockDescription],
	[WipMaster].[Warehouse]
	
	,[Operation]
	,[UnitQtyReqd]
	,[QtyIssued]
	,[QtyOnHand]

UNION ALL (
	SELECT
		1 AS [ph],
		[WipMaster].[Job],
		'M' AS [Part Category],
		[Operation],
		MAX([WipMaster].[JobStartDate]) AS [WipMaster.JobStartDate],
		MAX([WipMaster].[Job]) AS [WipMaster.Job],
		[WipJobAllMat].[StockCode] AS [WipMaster.StockCode],
		[WipJobAllMat].[StockDescription] AS [WipMaster.StockDescription],
		CAST(ROUND((QtyOnHand), 0) AS int) AS [QtyOnHand],
		CAST(ROUND([QtyIssued], 0) AS int) AS [QtyIssued],
		CAST(ROUND([UnitQtyReqd], 0) AS int) AS [QtyRequired],
		CAST(ROUND(SUM([RunTimeIssued]), 2) AS decimal(14, 2)) AS [HrsIssued],
		(CASE WHEN (CAST(ROUND([UnitQtyReqd], 0) AS int)) - CAST(ROUND([QtyIssued], 0) AS int) <= 0 THEN 'Y' else 'N' END) AS [Complete],
		[WipMaster].[Warehouse] AS [Warehouse]
	FROM
		[WipJobAllMat] WITH (NOLOCK)
	INNER JOIN
		[WipMaster] WITH (NOLOCK)
	ON
		[WipJobAllMat].[StockCode] = [WipMaster].[StockCode] and [WipJobAllMat].[Warehouse] = [WipMaster].[Warehouse]
	INNER JOIN
		[WipJobAllLab]
	ON
		[WipJobAllLab].[Job] = [WipMaster].[Job]
	INNER JOIN
		[InvWarehouse]
	ON
		[InvWarehouse].[StockCode] = [WipMaster].[StockCode] and [InvWarehouse].[Warehouse] = [WipMaster].[Warehouse]
	WHERE
		[WipJobAllMat].[Job] IN (SELECT [Job] FROM @wos)
		AND ((@INCOMPLETEONLY = 1 AND [WipMaster].[Complete] = 'N') OR @INCOMPLETEONLY = 0)
		AND QtyOnHand > 0
	GROUP BY
		[WipMaster].[Job],
		[WipJobAllMat].[StockCode],
		[WipJobAllMat].[StockDescription],
		[WipMaster].[Warehouse]
	
		,[Operation]
		,[UnitQtyReqd]
		,[QtyIssued]
		,[QtyOnHand]
	--ORDER BY
	--	[WipMaster.JobStartDate]
)


SELECT * FROM @wos


















DECLARE @results TABLE (
	[ph] INT,
	[Job] NVARCHAR(MAX),
	[Part Category] CHAR(1),
	[Operation] NVARCHAR(MAX),
	[WipMaster.JobStartDate] DATETIME,
	[WipMaster.Job] NVARCHAR(100),
	[WipMaster.StockCode] NVARCHAR(MAX),
	[WipMaster.StockDescription] NVARCHAR(MAX),
	[QtyOnHand] INT,
	[QtyIssued] INT,
	[QtyRequired] INT,
	[HrsIssued] FLOAT,
	[Complete] VARCHAR(1),
	[Warehouse] NVARCHAR(MAX)
)

INSERT INTO @results
SELECT * FROM @T
UNION ALL
SELECT 
	(CASE WHEN [QtyOnHand] = 0 THEN 0 ELSE 1 END) AS [ph],
	[WipMaster].[Job],
	'B' AS [Part Category],
	[OperationOffset],
	[MLatestDueDate] AS [WipMaster.JobStartDate],
	'PO#' + RIGHT([PurchaseOrder], 8) AS [WipMaster.Job],
	[MStockCode] AS [WipMaster.StockCode],
	[A].[StockDescription] AS [WipMaster.StockDescription],
	[QtyOnHand],
	[QtyIssued],
	[UnitQtyReqd] AS [QtyRequired],
	[RunTimeIssued] AS [HrsIssued],
	[Complete] AS [Complete],
	[A].[Warehouse]
FROM (
SELECT
	'THIS ONE' as [MARKER],
	[WipJobAllMat].*
FROM
	[WipJobAllMat]
LEFT JOIN
	@T
ON
	[@T].[WipMaster.StockCode] = [WipJobAllMat].[StockCode]
WHERE
	--[Job] IN (SELECT [Job] FROM @wos)
	--AND
	[@T].[WipMaster.StockCode] IS NULL
) AS [A]
INNER JOIN (
	SELECT * FROM (
	SELECT ROW_NUMBER() OVER (
		PARTITION BY [MStockCode]
		ORDER BY [MLatestDueDate] DESC
	) AS [Row#],
	[PurchaseOrder], [MStockCode], [MLatestDueDate], [PorMasterDetail].[MWarehouse] FROM [PorMasterDetail] WITH (NOLOCK)
	) AS [Src]
	INNER JOIN
		[InvWarehouse]
	ON
		[InvWarehouse].[StockCode] = [Src].[MStockCode] and [InvWarehouse].[Warehouse] = [Src].[MWarehouse]
	WHERE
		[Row#] = 1
	) AS [B]
ON
	[A].[StockCode] = [B].[MStockCode]
INNER JOIN
	[WipMaster]
ON
	[A].[Job] = [WipMaster].[Job]
INNER JOIN (
	SELECT [Job], SUM([RunTimeIssued]) AS [RunTimeIssued] FROM
	[WipJobAllLab]
	GROUP BY
		[Job]
) AS [C]
ON
	[A].[Job] = [C].[Job]
WHERE
	((@INCOMPLETEONLY = 1 AND [WipMaster].[Complete] = 'N') OR @INCOMPLETEONLY = 0)
ORDER BY
	[ph], [Complete], [WipMaster.JobStartDate], [WipMaster.StockCode]
	

-- Ensure @WAREHOUSE, @OPERATION, and @PARTCATEGORY are parsed correctly
DECLARE @split_wh AS TABLE ([idx] INT, [splitted_data] NVARCHAR(MAX))
INSERT INTO @split_wh SELECT * FROM [BWSdb].[dbo].[split_string_idx](@WAREHOUSE, ';')
IF (SELECT COUNT(*) FROM @split_wh) = 0 BEGIN
	-- If no warehouses are selected then return all warehouses
	INSERT INTO @split_wh ([idx], [splitted_data]) SELECT ROW_NUMBER() OVER (ORDER BY [Warehouse]) AS [Row#], [Warehouse] FROM [SysproCompanyA].[dbo].[InvWhControl] GROUP BY [Warehouse]
END

DECLARE @split_op AS TABLE ([idx] INT, [splitted_data] NVARCHAR(MAX))
INSERT INTO @split_op SELECT * FROM [BWSdb].[dbo].[split_string_idx](@OPERATION, ';')
IF (SELECT COUNT(*) FROM @split_op) = 0 BEGIN
	-- If no operations are selected then return all operations
	INSERT INTO @split_op ([idx], [splitted_data]) SELECT ROW_NUMBER() OVER (ORDER BY [Warehouse]) AS [Row#], [Warehouse] FROM [SysproCompanyA].[dbo].[InvWarehouse] GROUP BY [Warehouse]
END

DECLARE @split_pc AS TABLE ([idx] INT, [splitted_data] NVARCHAR(MAX))
INSERT INTO @split_pc SELECT * FROM [BWSdb].[dbo].[split_string_idx](@PARTCATEGORY, ';')
IF (SELECT COUNT(*) FROM @split_pc) = 0 BEGIN
	-- If no part categories are selected then return all part categories
	INSERT INTO @split_pc ([idx], [splitted_data]) SELECT ROW_NUMBER() OVER (ORDER BY [PartCategory]) AS [Row#], [PartCategory] FROM [SysproCompanyA].[dbo].[InvMaster] GROUP BY [PartCategory]
END

SELECT 'A' AS [@T], * FROM @T
--SELECT 'B' AS [@split_pc], * FROM @split_pc
--SELECT 'C' AS [@split_op], * FROM @split_op
--SELECT 'D' AS [@split_wh], * FROM @split_wh
SELECT 'E' AS [@R], * FROM @results

SELECT
	[ph],
	[Job],
	[Part Category],
	MAX([Operation]) AS [Operation],
	[WipMaster.JobStartDate],
	[WipMaster.Job],
	[WipMaster.StockCode],
	[WipMaster.StockDescription],
	MAX([QtyOnHand]) AS [QtyOnHand],
	SUM([QtyIssued]) AS [QtyIssued],
	SUM([QtyRequired]) AS [QtyRequired],
	SUM([HrsIssued]) AS [HrsIssued],
	[Complete],
	[Warehouse]
FROM
	@results
WHERE 
	[Warehouse] IN (SELECT [Splitted_data] FROM @split_wh)
	AND RIGHT('00' + [Operation], 2) IN (SELECT [Splitted_data] FROM @split_op)
	AND [Part Category] IN (SELECT [Splitted_data] FROM @split_pc)
GROUP BY
	[ph],
	[Job],
	[Part Category],
	[WipMaster.JobStartDate],
	[WipMaster.Job],
	[WipMaster.StockCode],
	[WipMaster.StockDescription],
	[Complete],
	[Warehouse]

--END