USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_ITFFlagsUpdateActive]    Script Date: 2024-06-05 3:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_ITI_Building_Maps_UpdateActive]
   ON  [dbo].[ITI_Building_Maps]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for trigger hereSET NOCOUNT ON;
	/*
	-- In vars
	DECLARE @in_id AS INT;
	DECLARE @in_dateCreated AS DATETIME;
	DECLARE @in_active AS BIT;

	-- Out vars
	DECLARE @out_active AS BIT;

	-- working vars
	DECLARE @new_activity AS BIT;

	SELECT 
		@in_id = i.[ID]
		, @in_dateCreated = i.[DateCreated]
		, @in_active = ISNULL(i.[Active], 1)
	FROM
		inserted i
	;

	SELECT 
		@out_active = d.[Active]
	FROM
		deleted d
	;

	SELECT @new_activity = (CASE WHEN @in_active = @out_active THEN 0 ELSE 1 END);
	*/

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);

		-- Insert statements for trigger here

				
			UPDATE
				[ITI_Building_Maps]
			SET
				[Active] = ISNULL([M].[Active], ISNULL([I].[Active], 1))
				, [DateCreated] = ISNULL([I].[DateCreated], GETDATE())
				, [DateActive] = (CASE WHEN ISNULL([M].[DateActive], [I].[DateActive]) IS NULL THEN GETDATE()
									WHEN [M].[DateActive] IS NULL THEN [I].[DateActive] ELSE [M].[DateActive] END)
				, [DateInactive] = (CASE WHEN ISNULL([M].[DateInactive], [I].[DateInactive]) IS NULL THEN (
									CASE WHEN ISNULL([M].[Active], ISNULL([I].[Active], 1)) = 1 THEN NULL ELSE GETDATE() END
									)
									WHEN [M].[DateInactive] IS NULL THEN [I].[DateInactive] ELSE [M].[DateInactive] END)
				, [DateLastModified] = GETDATE()
			FROM
				[ITI_Building_Maps] [M]
			INNER JOIN
				INSERTED [I]
			ON
				[M].[ID] = [I].[ID]
			;

	END

END
