USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_FeetInchesDecimal]    Script Date: 2023-01-24 12:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- text to length
-- '40 ft. 10 in.' => 40.833
-- 40' 10" => 40.833
-- 40 in. => 3.333
-- 40" => 3.333


ALTER PROCEDURE [dbo].[sp_FeetInchesDecimal]
	@s_oal AS NVARCHAR(MAX)
AS BEGIN

--DECLARE @s_oal AS NVARCHAR(MAX) = '40"';
--SELECT @s_oal = 
	--('40 ft. 1 in.');
	--('40 ft 1 in');
	--('0 ft 144 in');
	--('40'' 10"');
	--('40''');
	--('40"');
	--('40 ft.');
	--('40 ft');
	--('40 in.');
	--('40 in');
--DECLARE @s_oal AS NVARCHAR(MAX) = '40''';

	SELECT @s_oal = LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(LOWER(@s_oal), '*npo*:', ''), 'npo:', ''), 'overall', '')));
	SELECT @s_oal = RIGHT(@s_oal, LEN(@s_oal) - CHARINDEX(',', @s_oal))

	DECLARE @break_one AS NVARCHAR(MAX) = 'ft';
	DECLARE @break_two AS NVARCHAR(MAX) = 'in';
	DECLARE @temp AS NVARCHAR(MAX);

	IF @s_oal LIKE ('%' + @break_one + '.%') BEGIN
		SELECT @break_one = @break_one + '.'
	END
	ELSE IF @s_oal NOT LIKE ('%' + @break_one + '%') BEGIN
		SELECT @break_one = ''''
		IF @s_oal NOT LIKE ('%' + @break_one + '%') BEGIN
			IF @s_oal NOT LIKE ('%"%') AND @s_oal NOT LIKE ('%in%') BEGIN
				SELECT @s_oal = @s_oal + ''''
				--PRINT 'Ajusting s_oal <' + @s_oal + '>'
			END
		END
	END

	IF @s_oal LIKE ('%' + @break_two + '.%') BEGIN
		SELECT @break_two = @break_two + '.';
	END
	ELSE IF @s_oal NOT LIKE ('%' + @break_two + '%') BEGIN
		SELECT @break_two = '"'
	END

	DECLARE @feet AS INT;
	DECLARE @inches AS INT;

	DECLARE @splt_1 AS TABLE([ID] INT, [Val] NVARCHAR(MAX));
	DECLARE @splt_2 AS TABLE([ID] INT, [Val] NVARCHAR(MAX));

	IF @s_oal NOT LIKE ('%' + @break_one + '%') BEGIN
		INSERT INTO @splt_1 ([Val]) VALUES (NULL);
	END

	INSERT INTO @splt_1
	SELECT * FROM [dbo].[split_string_idx](@s_oal, @break_one);

	UPDATE 
		@splt_1
	SET
		[Val] = RIGHT([Val], LEN(VAL) - (LEN(@break_one) - 1))
	WHERE 
		[ID] = 1

	INSERT INTO @splt_2
	SELECT 
		*
	FROM (
		SELECT
			*
		FROM
			[BWSdb].[dbo].[split_string_idx]((
				SELECT LEFT(LTRIM(RTRIM([Val])), LEN(LTRIM(RTRIM(Val))) - (LEN(@break_two) - 1)) FROM @splt_1 WHERE [ID] = 1), @break_two) AS [A]
				--SELECT RIGHT(LTRIM(RTRIM([Val])), LEN(LTRIM(RTRIM(Val))) - (LEN(@break_two))) FROM @splt_1 WHERE [ID] = 1), @break_two) AS [A]
	) AS [B]
	;

	IF @s_oal NOT LIKE ('%' + @break_one + '%') BEGIN
		UPDATE 
			@splt_1
		SET
			[Val] = '0'
		WHERE
			[ID] = 0
		;

		INSERT INTO @splt_2 ([ID], [Val])
		SELECT [Idx], [splited_data] FROM [dbo].[split_string_idx](@s_oal, @break_two)
		
		PRINT '@s_oal NOT LIKE (''%'' + @break_one + ''%'')'
	END

	SELECT @temp = LTRIM(RTRIM([Val])) FROM @splt_2 WHERE [ID] = 0
	
	--SELECT 1 AS [SPLIT], * FROM @splt_1
	--SELECT 2 AS [SPLIT], * FROM @splt_2
	--SELECT 
	--	@break_one AS [1]
	--	, @break_two AS [2]
	--	, @temp AS [T]

	IF @temp = '' BEGIN
		SELECT @temp = '0';
		--PRINT 'adjust @inches from empty string'
	END

	SELECT @feet = CAST(LTRIM(RTRIM(ISNULL([Val], '0'))) AS INT) FROM @splt_1 WHERE [ID] = 0;
	SELECT @inches = CAST(@temp AS INT);
	
	IF @inches IS NULL BEGIN
		SELECT @inches = '0';
		--PRINT 'adjust @inches from null'
	END

	--SELECT 
	--	@feet AS [Ft]
	--	, @inches AS [In]

	-- Copy this into your code to quickly store the results of this SP for further processing.
	-- Opted to create this as a SP rather than a function in order to retrieve all calculated value.
	DECLARE @result AS TABLE (
		[Input] NVARCHAR(MAX)
		, [Ft Part] INTEGER
		, [In Part] INTEGER
		, [Ft Tot] DECIMAL(14, 7)
		, [In Tot] INTEGER
	);

	INSERT INTO @result
		SELECT 
			@s_oal AS [Input]
			, @feet AS [Ft Part]
			, @inches AS [In Part]
			, @feet + (@inches / 12.0) AS [Ft Tot]
			, (@feet * 12) + @inches AS [In Tot]
	;

	SELECT * FROM @result;
END