USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_SerialNumberCalcSTG]    Script Date: 2023-09-06 9:50:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_SerialNumberCalcByModelSTG] 
	-- Add the parameters for the stored procedure here
--	DECLARE
	@pid INT

--	SELECT @quote = 'SG101115', @year=2024;
AS
BEGIN
--SET NOCOUNT ON added to prevent extra result sets from
	 --INTerfering with SELECT statements.
	SET NOCOUNT ON;

	--DECLARE @pid AS INT;
	--SELECT 
	--	@pid = 660

	DECLARE @calc_pos_7 AS NVARCHAR(1);
	DECLARE @prefix AS NVARCHAR(3) = '2SV';
	DECLARE @plant AS NVARCHAR(1) = 'M';

	DECLARE @plantT AS TABLE ([Let] NVARCHAR(1), [Code] INT)

	DECLARE @t TABLE (
		[ID] INT,
		[Description] NVARCHAR(max),
		[Starts] INT,
		[Pos] INT,
		[token] NVARCHAR(max)
	)

	DECLARE @lengthRanges AS TABLE ([ID] INT IDENTITY(0, 1), [A] INT, [B] INT)
	INSERT INTO @lengthRanges ([A], [B]) VALUES
		(0, 9),
		(20, 29),
		(10, 19),
		(30, 39),
		(40, 49),
		(50, 59),
		(60, 69)
	;	
	
	DECLARE @i AS INT;
	DECLARE @c AS INT;
	DECLARE @a AS INT;
	DECLARE @b AS INT;
	DECLARE @r AS INT;
	--SELECT @r = CAST([Ft Tot] AS INT) FROM @resultT WHERE [ID] = 0
	
	SELECT @i = 0, @r = [Deck Length] FROM [ProductsV2] WHERE [IDTrailer] = @pid

	--SELECT @a AS [@a], @b AS [@b], @r AS [@r]

	SELECT @c = COUNT(*) FROM @lengthRanges
	WHILE @i < @c BEGIN
		SELECT @a = [A], @b = [B] FROM @lengthRanges WHERE [ID] = @i;
		IF @a <= @r AND @r <= @b BEGIN
			SELECT @calc_pos_7 = [ID] FROM @lengthRanges WHERE [ID] = @i;
			BREAK;
		END
		SELECT @i = @i + 1;
		--SELECT @i AS [I], @r AS [R], @a AS [A], @b AS [B];
		--PRINT 'i=' + CAST(@i AS NVARCHAR(MAX))
	END

	IF @calc_pos_7 IS NULL OR LEN(@calc_pos_7) = 0 BEGIN
		SELECT 
			@calc_pos_7 = ISNULL([Position7], '')
		FROM
			[SN Type V2] 
		INNER JOIN 
			[ProductsV2] 
		ON
			[SN Type V2].[Model No] = [ProductsV2].[Model No]
		WHERE
			[ProductsV2].[IDTrailer] = @pid
	END

	DECLARE @chartonum TABLE (
		[Character] CHAR(1),
		[Number] INT
	)

	INSERT INTO @chartonum VALUES 
		('A', 1), ('B', 2), ('C', 3),
		('D', 4), ('E', 5), ('F', 6),
		('G', 7), ('H', 8), ('J', 1),
		('K', 2), ('L', 3), ('M', 4),
		('N', 5), ('P', 7), ('R', 9),
		('S', 2), ('T', 3), ('U', 4),
		('V', 5), ('W', 6), ('X', 7),
		('Y', 8), ('Z', 9)
	;

	INSERT INTO @plantT ([Let], [Code])
	SELECT @plant, [Number] FROM @chartonum WHERE [Character] = @plant

	SELECT 
		'2SV' AS [Prefix]
		, Position4 AS [4]
		, Position5 AS [5]
		, Position6 AS [6]
		, @calc_pos_7 AS [7]
		, cast(Position8 as NVARCHAR) AS [8]
		--, case when @cn % 11 = 10 then 'X' else cast(@cn % 11 as NVARCHAR) end AS [CD]
		, @plant AS [11]
		--, right('000000' + cast(@newsn as NVARCHAR), 6) AS [#]
	FROM
		[SN Type V2] WITH (NOLOCK)
	INNER JOIN
		[ProductsV2] WITH (NOLOCK) 
	ON
		[SN Type V2].[Model No] = [ProductsV2].[Model No]
	INNER JOIN (
		SELECT
			DISTINCT [Model No]
		FROM
			[ProductsV2] WITH (NOLOCK)
		WHERE 
			[IDTrailer] = @pid
	) AS [subA]
	ON
		[ProductsV2].[Model No] = [subA].[Model No]
	WHERE 
		[ProductsV2].[CompanyID] = 1 
		AND [SN Type V2].[CompanyID] = 1

END
