USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_RptByClassSpecificDealer V2]    Script Date: 2023-10-25 5:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_RptByClassSpecificDealer V2] 
	-- Add the parameters for the stored procedure here
DECLARE
	@fiscalyear int, @dealerid int, @version int, @fxrate decimal(14, 4), @companyID INT = 0

	SELECT
		@fiscalyear=2024,
		@dealerid=138,
		@version=1,
		@fxrate=1,
		@companyID=1
--AS
--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
--	SET NOCOUNT ON;


select DealerID, [ProductsV2].Grouping, ClassGroup, ClassSort, 
					UnitCount as NoUnits, 
					[Net Cost] as [Selling Price], 
					ActualTotalCost,
					ActMargin as [Actual Margin]
					from [Stargatedb].[dbo].[dtSalesPerformance] with (nolock)
					inner join (select distinct BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)
								where Fiscal = @fiscalyear - 1 AND [CompanyID] = @companyID) as subPFRange on year([Invoice Date]) = BudYear
																				and month([Invoice Date]) = BudMonth
					inner join [OrdersV2] with (nolock) on dtSalesPerformance.WO# = [OrdersV2].WO#
					inner join [ProductsV2] with (nolock) on [OrdersV2].[Model No] = [ProductsV2].[Model No]
					inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
					where UnitExcl = 1
					and DealerID = @dealerid AND [subPFRange].[CompanyID] = @companyID


select 'PartA' AS [Part], Dealer, [ProductsV2].Grouping, ClassGroup, ClassSort, MonthID, MonthDate, NoUnits, 
			  (case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
			  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
			  case when Approved = 1
					then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
			  case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
			  0 as PFAUnits,
			  0 as PFARevenue,
			  0 as PFACost,
			  0 as PFAMargin
			  from [Budget Forecast V2 Master] with (nolock)
			  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
			  inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
			  inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
			  inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
			  inner join (select Fiscal, BudYear, BudMonth,
						  cast(cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01' as datetime) as MonthDate,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID, [CompanyID]
						  from (select distinct Fiscal, BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)) as subA
						  where Fiscal = @fiscalyear AND [CompanyID] = @companyID) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	and [Budget Forecast V2].BudYear = subRowID.BudYear
																	and [Budget Forecast V2].BudMonth = subRowID.BudMonth
																	and [Budget Forecast V2].[CompanyID] = @companyID -- 1
																	and [Budget Forecast V2 Master].[CompanyID] = @companyID -- 1

			  left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
			  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
			  and Dealer = @dealerid
			  and [Budget Forecast V2 Master].Version = @version
			  AND [Budget Forecast V2 Master].[CompanyID] = @companyID
			  AND [subRowID].[CompanyID] = @companyID
			;


select Dealer, [ProductsV2].Grouping, ClassGroup, ClassSort, MonthID, MonthDate, NoUnits, 
			  (case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
			  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
			  case when Approved = 1
					then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
			  case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
			  0 as PFAUnits,
			  0 as PFARevenue,
			  0 as PFACost,
			  0 as PFAMargin
			  from [Budget Forecast V2 Master] with (nolock)
			  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
			  inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
			  inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
			  inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
			  inner join (select Fiscal, BudYear, BudMonth,
						  cast(cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01' as datetime) as MonthDate,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID, [CompanyID]
						  from (select distinct Fiscal, BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)) as subA
						  where Fiscal = @fiscalyear AND [CompanyID] = @companyID) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	and [Budget Forecast V2].BudYear = subRowID.BudYear
																	and [Budget Forecast V2].BudMonth = subRowID.BudMonth
																	and [Budget Forecast V2].[CompanyID] = @companyID -- 1
																	and [Budget Forecast V2 Master].[CompanyID] = @companyID -- 1

			  left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
			  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
			  and Dealer = @dealerid
			  and [Budget Forecast V2 Master].Version = @version
			  AND [Budget Forecast V2 Master].[CompanyID] = @companyID
			  AND [subRowID].[CompanyID] = @companyID

			  union all select DealerID, Grouping, ClassGroup, ClassSort, 
			  0, 0, 0, 0, 0, 0,
			  sum(NoUnits) as PFAUnits,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 0)) as PFARevenue,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum(ActualTotalCost) / sum(NoUnits) end as decimal(14, 0)) as PFACost,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Actual Margin]) / sum(NoUnits) end as decimal(14, 0)) as PFAMargin
			  from (select DealerID, [ProductsV2].Grouping, ClassGroup, ClassSort, 
					UnitCount as NoUnits, 
					[Net Cost] as [Selling Price], 
					ActualTotalCost,
					ActMargin as [Actual Margin]
					from [Stargatedb].[dbo].[dtSalesPerformance] with (nolock)
					inner join (select distinct BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)
								where Fiscal = @fiscalyear - 1 AND [CompanyID] = @companyID) as subPFRange on year([Invoice Date]) = BudYear
																				and month([Invoice Date]) = BudMonth
					inner join [OrdersV2] with (nolock) on dtSalesPerformance.WO# = [OrdersV2].WO#
					inner join [ProductsV2] with (nolock) on [OrdersV2].[Model No] = [ProductsV2].[Model No]
					inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
					where UnitExcl = 1
					and DealerID = @dealerid AND [subPFRange].[CompanyID] = @companyID) as mainPFA
			  group by DealerID, Grouping, ClassGroup, ClassSort




	IF @companyID = 1 BEGIN

		-- STG

		-- Insert statements for procedure here
		select Dealer, mainsub.Grouping, mainsub.ClassGroup, mainsub.ClassSort,
		sum(case when PFAUnits is null then 0 else PFAUnits end) as PFAUnits,
		sum(case when PFARevenue is null then 0 else PFARevenue end) as PFANetPrice,
		sum(case when PFACost is null then 0 else PFACost end) as PFANetCost,
		sum(case when PFAMargin is null then 0 else PFAMargin end) as PFANetMargin,
		case when sum(PFARevenue) = 0 or sum(PFARevenue) is null then 0 
			 else cast(sum(PFAMargin) / sum(PFARevenue) as decimal(14, 3)) end as [PFANetMargin%],
		max(case when MonthID = 1 then MonthDate end) as Month1Date,

		cast(sum(case when MonthID = 1 then NoUnits else 0 end) as decimal(14, 0)) as Month1Units,

		cast(sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 0)) as Month1NetPrice,
		cast(sum(case when MonthID = 1 then NetCost else 0 end) as decimal(14, 0)) as Month1NetCost,
		cast(sum(case when MonthID = 1 then NetMargin else 0 end) as decimal(14, 0)) as Month1NetMargin,
		case when cast(sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 1 then NetMargin else 0 end)
				  / sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 3)) end as [Month1NetMargin%],
		max(case when MonthID = 2 then MonthDate end) as Month2Date,
		cast(sum(case when MonthID = 2 then NoUnits else 0 end) as decimal(14, 0)) as Month2Units,
		cast(sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 0)) as Month2NetPrice,
		cast(sum(case when MonthID = 2 then NetCost else 0 end) as decimal(14, 0)) as Month2NetCost,
		cast(sum(case when MonthID = 2 then NetMargin else 0 end) as decimal(14, 0)) as Month2NetMargin,
		case when cast(sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 2 then NetMargin else 0 end)
				  / sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 3)) end as [Month2NetMargin%],
		max(case when MonthID = 3 then MonthDate end) as Month3Date,
		cast(sum(case when MonthID = 3 then NoUnits else 0 end) as decimal(14, 0)) as Month3Units,
		cast(sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 0)) as Month3NetPrice,
		cast(sum(case when MonthID = 3 then NetCost else 0 end) as decimal(14, 0)) as Month3NetCost,
		cast(sum(case when MonthID = 3 then NetMargin else 0 end) as decimal(14, 0)) as Month3NetMargin,
		case when cast(sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 3 then NetMargin else 0 end)
				  / sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 3)) end as [Month3NetMargin%],
		max(case when MonthID = 4 then MonthDate end) as Month4Date,
		cast(sum(case when MonthID = 4 then NoUnits else 0 end) as decimal(14, 0)) as Month4Units,
		cast(sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 0)) as Month4NetPrice,
		cast(sum(case when MonthID = 4 then NetCost else 0 end) as decimal(14, 0)) as Month4NetCost,
		cast(sum(case when MonthID = 4 then NetMargin else 0 end) as decimal(14, 0)) as Month4NetMargin,
		case when cast(sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 4 then NetMargin else 0 end)
				  / sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 3)) end as [Month4NetMargin%],
		max(case when MonthID = 5 then MonthDate end) as Month5Date,
		cast(sum(case when MonthID = 5 then NoUnits else 0 end) as decimal(14, 0)) as Month5Units,
		cast(sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 0)) as Month5NetPrice,
		cast(sum(case when MonthID = 5 then NetCost else 0 end) as decimal(14, 0)) as Month5NetCost,
		cast(sum(case when MonthID = 5 then NetMargin else 0 end) as decimal(14, 0)) as Month5NetMargin,
		case when cast(sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 5 then NetMargin else 0 end)
				  / sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 3)) end as [Month5NetMargin%],
		max(case when MonthID = 6 then MonthDate end) as Month6Date,
		cast(sum(case when MonthID = 6 then NoUnits else 0 end) as decimal(14, 0)) as Month6Units,
		cast(sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 0)) as Month6NetPrice,
		cast(sum(case when MonthID = 6 then NetCost else 0 end) as decimal(14, 0)) as Month6NetCost,
		cast(sum(case when MonthID = 6 then NetMargin else 0 end) as decimal(14, 0)) as Month6NetMargin,
		case when cast(sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 6 then NetMargin else 0 end)
				  / sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 3)) end as [Month6NetMargin%],
		max(case when MonthID = 7 then MonthDate end) as Month7Date,
		cast(sum(case when MonthID = 7 then NoUnits else 0 end) as decimal(14, 0)) as Month7Units,
		cast(sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 0)) as Month7NetPrice,
		cast(sum(case when MonthID = 7 then NetCost else 0 end) as decimal(14, 0)) as Month7NetCost,
		cast(sum(case when MonthID = 7 then NetMargin else 0 end) as decimal(14, 0)) as Month7NetMargin,
		case when cast(sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 7 then NetMargin else 0 end)
				  / sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 3)) end as [Month7NetMargin%],
		max(case when MonthID = 8 then MonthDate end) as Month8Date,
		cast(sum(case when MonthID = 8 then NoUnits else 0 end) as decimal(14, 0)) as Month8Units,
		cast(sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 0)) as Month8NetPrice,
		cast(sum(case when MonthID = 8 then NetCost else 0 end) as decimal(14, 0)) as Month8NetCost,
		cast(sum(case when MonthID = 8 then NetMargin else 0 end) as decimal(14, 0)) as Month8NetMargin,
		case when cast(sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 8 then NetMargin else 0 end)
				  / sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 3)) end as [Month8NetMargin%],
		max(case when MonthID = 9 then MonthDate end) as Month9Date,
		cast(sum(case when MonthID = 9 then NoUnits else 0 end) as decimal(14, 0)) as Month9Units,
		cast(sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 0)) as Month9NetPrice,
		cast(sum(case when MonthID = 9 then NetCost else 0 end) as decimal(14, 0)) as Month9NetCost,
		cast(sum(case when MonthID = 9 then NetMargin else 0 end) as decimal(14, 0)) as Month9NetMargin,
		case when cast(sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 9 then NetMargin else 0 end)
				  / sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 3)) end as [Month9NetMargin%],
		max(case when MonthID = 10 then MonthDate end) as Month10Date,
		cast(sum(case when MonthID = 10 then NoUnits else 0 end) as decimal(14, 0)) as Month10Units,
		cast(sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 0)) as Month10NetPrice,
		cast(sum(case when MonthID = 10 then NetCost else 0 end) as decimal(14, 0)) as Month10NetCost,
		cast(sum(case when MonthID = 10 then NetMargin else 0 end) as decimal(14, 0)) as Month10NetMargin,
		case when cast(sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 10 then NetMargin else 0 end)
				  / sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 3)) end as [Month10NetMargin%],
		max(case when MonthID = 11 then MonthDate end) as Month11Date,
		cast(sum(case when MonthID = 11 then NoUnits else 0 end) as decimal(14, 0)) as Month11Units,
		cast(sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 0)) as Month11NetPrice,
		cast(sum(case when MonthID = 11 then NetCost else 0 end) as decimal(14, 0)) as Month11NetCost,
		cast(sum(case when MonthID = 11 then NetMargin else 0 end) as decimal(14, 0)) as Month11NetMargin,
		case when cast(sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 11 then NetMargin else 0 end)
				  / sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 3)) end as [Month11NetMargin%],
		max(case when MonthID = 12 then MonthDate end) as Month12Date,
		cast(sum(case when MonthID = 12 then NoUnits else 0 end) as decimal(14, 0)) as Month12Units,
		cast(sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 0)) as Month12NetPrice,
		cast(sum(case when MonthID = 12 then NetCost else 0 end) as decimal(14, 0)) as Month12NetCost,
		cast(sum(case when MonthID = 12 then NetMargin else 0 end) as decimal(14, 0)) as Month12NetMargin,
		case when cast(sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 12 then NetMargin else 0 end)
				  / sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 3)) end as [Month12NetMargin%],
		cast(sum(NoUnits) as decimal(14, 0)) as TotalUnits,
		cast(sum(NetPrice) as decimal(14, 0)) as TotalNetPrice,
		cast(sum(NetCost) as decimal(14, 0)) as TotalNetCost,
		cast(sum(NetMargin) as decimal(14, 0)) as TotalNetMargin,
		case when cast(sum(NetPrice) as decimal(14, 0)) = 0 then 0
			 else cast(sum(NetMargin) / sum(NetPrice) as decimal(14, 3)) end as [TotalNetMargin%]
		from (select Dealer, [ProductsV2].Grouping, ClassGroup, ClassSort, MonthID, MonthDate, NoUnits, 
			  (case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
			  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
			  case when Approved = 1
					then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
			  case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
			  0 as PFAUnits,
			  0 as PFARevenue,
			  0 as PFACost,
			  0 as PFAMargin
			  from [Budget Forecast V2 Master] with (nolock)
			  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
			  inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
			  inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
			  inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
			  inner join (select Fiscal, BudYear, BudMonth,
						  cast(cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01' as datetime) as MonthDate,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID, [CompanyID]
						  from (select distinct Fiscal, BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)) as subA
						  where Fiscal = @fiscalyear AND [CompanyID] = @companyID) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	and [Budget Forecast V2].BudYear = subRowID.BudYear
																	and [Budget Forecast V2].BudMonth = subRowID.BudMonth
																	and [Budget Forecast V2].[CompanyID] = @companyID -- 1
																	and [Budget Forecast V2 Master].[CompanyID] = @companyID -- 1

			  left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
			  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
			  and Dealer = @dealerid
			  and [Budget Forecast V2 Master].Version = @version
			  AND [Budget Forecast V2 Master].[CompanyID] = @companyID
			  AND [subRowID].[CompanyID] = @companyID

			  union all select DealerID, Grouping, ClassGroup, ClassSort, 
			  0, 0, 0, 0, 0, 0,
			  sum(NoUnits) as PFAUnits,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 0)) as PFARevenue,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum(ActualTotalCost) / sum(NoUnits) end as decimal(14, 0)) as PFACost,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Actual Margin]) / sum(NoUnits) end as decimal(14, 0)) as PFAMargin
			  from (select DealerID, [ProductsV2].Grouping, ClassGroup, ClassSort, 
					UnitCount as NoUnits, 
					[Net Cost] as [Selling Price], 
					ActualTotalCost,
					ActMargin as [Actual Margin]
					from [Stargatedb].[dbo].[dtSalesPerformance] with (nolock)
					inner join (select distinct BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)
								where Fiscal = @fiscalyear - 1 AND [CompanyID] = @companyID) as subPFRange on year([Invoice Date]) = BudYear
																				and month([Invoice Date]) = BudMonth
					inner join [OrdersV2] with (nolock) on dtSalesPerformance.WO# = [OrdersV2].WO#
					inner join [ProductsV2] with (nolock) on [OrdersV2].[Model No] = [ProductsV2].[Model No]
					inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
					where UnitExcl = 1
					and DealerID = @dealerid AND [subPFRange].[CompanyID] = @companyID) as mainPFA
			  group by DealerID, Grouping, ClassGroup, ClassSort) as mainsub
		group by Dealer, mainsub.Grouping, mainsub.ClassGroup, mainsub.ClassSort

	END
	ELSE BEGIN

		-- BWS

		-- Insert statements for procedure here
		select Dealer, mainsub.Grouping, mainsub.ClassGroup, mainsub.ClassSort,
		sum(case when PFAUnits is null then 0 else PFAUnits end) as PFAUnits,
		sum(case when PFARevenue is null then 0 else PFARevenue end) as PFANetPrice,
		sum(case when PFACost is null then 0 else PFACost end) as PFANetCost,
		sum(case when PFAMargin is null then 0 else PFAMargin end) as PFANetMargin,
		case when sum(PFARevenue) = 0 or sum(PFARevenue) is null then 0 
			 else cast(sum(PFAMargin) / sum(PFARevenue) as decimal(14, 3)) end as [PFANetMargin%],
		max(case when MonthID = 1 then MonthDate end) as Month1Date,
		cast(sum(case when MonthID = 1 then NoUnits else 0 end) as decimal(14, 0)) as Month1Units,
		cast(sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 0)) as Month1NetPrice,
		cast(sum(case when MonthID = 1 then NetCost else 0 end) as decimal(14, 0)) as Month1NetCost,
		cast(sum(case when MonthID = 1 then NetMargin else 0 end) as decimal(14, 0)) as Month1NetMargin,
		case when cast(sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 1 then NetMargin else 0 end)
				  / sum(case when MonthID = 1 then NetPrice else 0 end) as decimal(14, 3)) end as [Month1NetMargin%],
		max(case when MonthID = 2 then MonthDate end) as Month2Date,
		cast(sum(case when MonthID = 2 then NoUnits else 0 end) as decimal(14, 0)) as Month2Units,
		cast(sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 0)) as Month2NetPrice,
		cast(sum(case when MonthID = 2 then NetCost else 0 end) as decimal(14, 0)) as Month2NetCost,
		cast(sum(case when MonthID = 2 then NetMargin else 0 end) as decimal(14, 0)) as Month2NetMargin,
		case when cast(sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 2 then NetMargin else 0 end)
				  / sum(case when MonthID = 2 then NetPrice else 0 end) as decimal(14, 3)) end as [Month2NetMargin%],
		max(case when MonthID = 3 then MonthDate end) as Month3Date,
		cast(sum(case when MonthID = 3 then NoUnits else 0 end) as decimal(14, 0)) as Month3Units,
		cast(sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 0)) as Month3NetPrice,
		cast(sum(case when MonthID = 3 then NetCost else 0 end) as decimal(14, 0)) as Month3NetCost,
		cast(sum(case when MonthID = 3 then NetMargin else 0 end) as decimal(14, 0)) as Month3NetMargin,
		case when cast(sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 3 then NetMargin else 0 end)
				  / sum(case when MonthID = 3 then NetPrice else 0 end) as decimal(14, 3)) end as [Month3NetMargin%],
		max(case when MonthID = 4 then MonthDate end) as Month4Date,
		cast(sum(case when MonthID = 4 then NoUnits else 0 end) as decimal(14, 0)) as Month4Units,
		cast(sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 0)) as Month4NetPrice,
		cast(sum(case when MonthID = 4 then NetCost else 0 end) as decimal(14, 0)) as Month4NetCost,
		cast(sum(case when MonthID = 4 then NetMargin else 0 end) as decimal(14, 0)) as Month4NetMargin,
		case when cast(sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 4 then NetMargin else 0 end)
				  / sum(case when MonthID = 4 then NetPrice else 0 end) as decimal(14, 3)) end as [Month4NetMargin%],
		max(case when MonthID = 5 then MonthDate end) as Month5Date,
		cast(sum(case when MonthID = 5 then NoUnits else 0 end) as decimal(14, 0)) as Month5Units,
		cast(sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 0)) as Month5NetPrice,
		cast(sum(case when MonthID = 5 then NetCost else 0 end) as decimal(14, 0)) as Month5NetCost,
		cast(sum(case when MonthID = 5 then NetMargin else 0 end) as decimal(14, 0)) as Month5NetMargin,
		case when cast(sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 5 then NetMargin else 0 end)
				  / sum(case when MonthID = 5 then NetPrice else 0 end) as decimal(14, 3)) end as [Month5NetMargin%],
		max(case when MonthID = 6 then MonthDate end) as Month6Date,
		cast(sum(case when MonthID = 6 then NoUnits else 0 end) as decimal(14, 0)) as Month6Units,
		cast(sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 0)) as Month6NetPrice,
		cast(sum(case when MonthID = 6 then NetCost else 0 end) as decimal(14, 0)) as Month6NetCost,
		cast(sum(case when MonthID = 6 then NetMargin else 0 end) as decimal(14, 0)) as Month6NetMargin,
		case when cast(sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 6 then NetMargin else 0 end)
				  / sum(case when MonthID = 6 then NetPrice else 0 end) as decimal(14, 3)) end as [Month6NetMargin%],
		max(case when MonthID = 7 then MonthDate end) as Month7Date,
		cast(sum(case when MonthID = 7 then NoUnits else 0 end) as decimal(14, 0)) as Month7Units,
		cast(sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 0)) as Month7NetPrice,
		cast(sum(case when MonthID = 7 then NetCost else 0 end) as decimal(14, 0)) as Month7NetCost,
		cast(sum(case when MonthID = 7 then NetMargin else 0 end) as decimal(14, 0)) as Month7NetMargin,
		case when cast(sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 7 then NetMargin else 0 end)
				  / sum(case when MonthID = 7 then NetPrice else 0 end) as decimal(14, 3)) end as [Month7NetMargin%],
		max(case when MonthID = 8 then MonthDate end) as Month8Date,
		cast(sum(case when MonthID = 8 then NoUnits else 0 end) as decimal(14, 0)) as Month8Units,
		cast(sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 0)) as Month8NetPrice,
		cast(sum(case when MonthID = 8 then NetCost else 0 end) as decimal(14, 0)) as Month8NetCost,
		cast(sum(case when MonthID = 8 then NetMargin else 0 end) as decimal(14, 0)) as Month8NetMargin,
		case when cast(sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 8 then NetMargin else 0 end)
				  / sum(case when MonthID = 8 then NetPrice else 0 end) as decimal(14, 3)) end as [Month8NetMargin%],
		max(case when MonthID = 9 then MonthDate end) as Month9Date,
		cast(sum(case when MonthID = 9 then NoUnits else 0 end) as decimal(14, 0)) as Month9Units,
		cast(sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 0)) as Month9NetPrice,
		cast(sum(case when MonthID = 9 then NetCost else 0 end) as decimal(14, 0)) as Month9NetCost,
		cast(sum(case when MonthID = 9 then NetMargin else 0 end) as decimal(14, 0)) as Month9NetMargin,
		case when cast(sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 9 then NetMargin else 0 end)
				  / sum(case when MonthID = 9 then NetPrice else 0 end) as decimal(14, 3)) end as [Month9NetMargin%],
		max(case when MonthID = 10 then MonthDate end) as Month10Date,
		cast(sum(case when MonthID = 10 then NoUnits else 0 end) as decimal(14, 0)) as Month10Units,
		cast(sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 0)) as Month10NetPrice,
		cast(sum(case when MonthID = 10 then NetCost else 0 end) as decimal(14, 0)) as Month10NetCost,
		cast(sum(case when MonthID = 10 then NetMargin else 0 end) as decimal(14, 0)) as Month10NetMargin,
		case when cast(sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 10 then NetMargin else 0 end)
				  / sum(case when MonthID = 10 then NetPrice else 0 end) as decimal(14, 3)) end as [Month10NetMargin%],
		max(case when MonthID = 11 then MonthDate end) as Month11Date,
		cast(sum(case when MonthID = 11 then NoUnits else 0 end) as decimal(14, 0)) as Month11Units,
		cast(sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 0)) as Month11NetPrice,
		cast(sum(case when MonthID = 11 then NetCost else 0 end) as decimal(14, 0)) as Month11NetCost,
		cast(sum(case when MonthID = 11 then NetMargin else 0 end) as decimal(14, 0)) as Month11NetMargin,
		case when cast(sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 11 then NetMargin else 0 end)
				  / sum(case when MonthID = 11 then NetPrice else 0 end) as decimal(14, 3)) end as [Month11NetMargin%],
		max(case when MonthID = 12 then MonthDate end) as Month12Date,
		cast(sum(case when MonthID = 12 then NoUnits else 0 end) as decimal(14, 0)) as Month12Units,
		cast(sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 0)) as Month12NetPrice,
		cast(sum(case when MonthID = 12 then NetCost else 0 end) as decimal(14, 0)) as Month12NetCost,
		cast(sum(case when MonthID = 12 then NetMargin else 0 end) as decimal(14, 0)) as Month12NetMargin,
		case when cast(sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 0)) = 0 then 0
			 else cast(sum(case when MonthID = 12 then NetMargin else 0 end)
				  / sum(case when MonthID = 12 then NetPrice else 0 end) as decimal(14, 3)) end as [Month12NetMargin%],
		cast(sum(NoUnits) as decimal(14, 0)) as TotalUnits,
		cast(sum(NetPrice) as decimal(14, 0)) as TotalNetPrice,
		cast(sum(NetCost) as decimal(14, 0)) as TotalNetCost,
		cast(sum(NetMargin) as decimal(14, 0)) as TotalNetMargin,
		case when cast(sum(NetPrice) as decimal(14, 0)) = 0 then 0
			 else cast(sum(NetMargin) / sum(NetPrice) as decimal(14, 3)) end as [TotalNetMargin%]
		from (select Dealer, Products.Grouping, ClassGroup, ClassSort, MonthID, MonthDate, NoUnits, 
			  (case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
			  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
			  case when Approved = 1
					then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
			  case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
			  0 as PFAUnits,
			  0 as PFARevenue,
			  0 as PFACost,
			  0 as PFAMargin
			  from [Budget Forecast V2 Master] with (nolock)
			  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
			  inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
														and [Budget Forecast V2].[Model No] = Products.[Model No]
			  inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
			  inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
			  inner join (select Fiscal, BudYear, BudMonth,
						  cast(cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01' as datetime) as MonthDate,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID, [CompanyID]
						  from (select distinct Fiscal, BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)) as subA
						  where Fiscal = @fiscalyear AND [CompanyID] = @companyID) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	and [Budget Forecast V2].BudYear = subRowID.BudYear
																	and [Budget Forecast V2].BudMonth = subRowID.BudMonth
			  left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
			  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
			  and Dealer = @dealerid
			  and [Budget Forecast V2 Master].Version = @version
			  AND [subRowID].[CompanyID] = @companyID

			  union all select DealerID, Grouping, ClassGroup, ClassSort, 
			  0, 0, 0, 0, 0, 0,
			  sum(NoUnits) as PFAUnits,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 0)) as PFARevenue,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum(ActualTotalCost) / sum(NoUnits) end as decimal(14, 0)) as PFACost,
			  cast(case when sum(NoUnits) = 0 or sum(NoUnits) is null then 0 else sum([Actual Margin]) / sum(NoUnits) end as decimal(14, 0)) as PFAMargin
			  from (select DealerID, Products.Grouping, ClassGroup, ClassSort, 
					UnitCount as NoUnits, 
					[Net Cost] as [Selling Price], 
					ActualTotalCost,
					ActMargin as [Actual Margin]
					from dtSalesPerformance with (nolock)
					inner join (select distinct BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)
								where Fiscal = @fiscalyear - 1 AND [CompanyID] = @companyID) as subPFRange on year([Invoice Date]) = BudYear
																				and month([Invoice Date]) = BudMonth
					inner join Orders with (nolock) on dtSalesPerformance.WO# = Orders.WO#
					inner join Products with (nolock) on Orders.[Model No] = Products.[Model No]
					inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
					where UnitExcl = 1
					and DealerID = @dealerid AND [subPFRange].[CompanyID] = @companyID) as mainPFA
			  group by DealerID, Grouping, ClassGroup, ClassSort) as mainsub
		group by Dealer, mainsub.Grouping, mainsub.ClassGroup, mainsub.ClassSort
	END
	


--END
