USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastVersionCopy V2]    Script Date: 2023-10-18 4:35:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastVersionCopy V2] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @versiontype int, @oldversion int, @newversion int, @dealertype int, @dealerid int, @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Copy to a new version
	if @versiontype = 1
		begin
			--Add new version record in master table for @newversion with same values from @oldversion (IF THERE ISN'T A RECORD ALREADY)
			if (select count(*) from [Budget Forecast V2 Master] with (nolock) where Fiscal = @fiscalyear and Version = @newversion AND [CompanyID] = @companyID) = 0
				begin
					insert into [Budget Forecast V2 Master] with (tablock) (Fiscal, Version, [PriceIncrease%], [CostIncrease%], Approved, [CompanyID])
					select Fiscal, @newversion, [PriceIncrease%], [CostIncrease%], 0, @companyID
					from [Budget Forecast V2 Master] with (nolock)
					where Fiscal = @fiscalyear
					and Version = @oldversion
				end

			--If copying all dealers, do so
			if @dealertype = 1
				begin
					insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version, NoUnits, 
																	 [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
																	 [Approved Price], [Approved COGS], [Approved Hours], [CompanyID])
					select BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, @newversion, NoUnits, [Discount 1], [Discount 2], [Discount 3], 
 					[Expected Margin], [Approved Price], [Approved COGS], [Approved Hours], @companyID
					from [Budget Forecast V2] with (nolock)
					where Fiscal = @fiscalyear
					and Version = @oldversion
				end

			--If copying specific dealers, do so
			if @dealertype = 2
				begin
					insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version, NoUnits, 
																	 [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
																	 [Approved Price], [Approved COGS], [Approved Hours], [CompanyID])
					select BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, @newversion, NoUnits, [Discount 1], [Discount 2], [Discount 3], 
 					[Expected Margin], [Approved Price], [Approved COGS], [Approved Hours], @companyID
					from [Budget Forecast V2] with (nolock)
					where Fiscal = @fiscalyear
					and Version = @oldversion
					and Dealer = @dealerid
				end
		end

	--Overwrite specific dealer version
	if @versiontype = 2
		begin
			--Update same records
			update [Budget Forecast V2]
			set NoUnits = subOverwrite.NoUnits,
				[Discount 1] = subOverwrite.[Discount 1],
				[Discount 2] = subOverwrite.[Discount 2],
				[Discount 3] = subOverwrite.[Discount 3],
				[Expected Margin] = subOverwrite.[Expected Margin],
				[Approved Price] = subOverwrite.[Approved Price],
				[Approved COGS] = subOverwrite.[Approved COGS],
				[Approved Hours] = subOverwrite.[Approved Hours]
			from [Budget Forecast V2]
			inner join (select * from [Budget Forecast V2] with (nolock)
						where Fiscal = @fiscalyear
						and Version = @oldversion
						AND [CompanyID] = @companyID
						and Dealer = @dealerid) as subOverwrite on [Budget Forecast V2].BudYear = subOverwrite.BudYear
																   and [Budget Forecast V2].BudMonth = subOverwrite.BudMonth
																   and [Budget Forecast V2].Dealer = subOverwrite.Dealer
																   and [Budget Forecast V2].Class = subOverwrite.Class
																   and [Budget Forecast V2].[Model No] = subOverwrite.[Model No]
																   and [Budget Forecast V2].Fiscal = subOverwrite.Fiscal
			where [Budget Forecast V2].Fiscal = @fiscalyear
			and [Budget Forecast V2].Version = @newversion
			and [Budget Forecast V2].Dealer = @dealerid
			AND [Budget Forecast V2].[CompanyID] = @companyID

			--Insert missing records
			insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version, NoUnits, 
															 [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
															 [Approved Price], [Approved COGS], [Approved Hours], [CompanyID])
			select [Budget Forecast V2].BudYear, [Budget Forecast V2].BudMonth, [Budget Forecast V2].Dealer, [Budget Forecast V2].Class, 
			[Budget Forecast V2].[Model No], [Budget Forecast V2].Fiscal, @newversion, [Budget Forecast V2].NoUnits, [Budget Forecast V2].[Discount 1], 
			[Budget Forecast V2].[Discount 2], [Budget Forecast V2].[Discount 3], [Budget Forecast V2].[Expected Margin], 
			[Budget Forecast V2].[Approved Price], [Budget Forecast V2].[Approved COGS], [Budget Forecast V2].[Approved Hours], @companyID
			from [Budget Forecast V2] with (nolock)
			left outer join (select * from [Budget Forecast V2] with (nolock)
							 where Fiscal = @fiscalyear
							 and Version = @newversion
							 AND [CompanyID] = @companyID
							 and Dealer = @dealerid) as subOverwrite on [Budget Forecast V2].BudYear = subOverwrite.BudYear
																		and [Budget Forecast V2].BudMonth = subOverwrite.BudMonth
																		and [Budget Forecast V2].Dealer = subOverwrite.Dealer
																		and [Budget Forecast V2].Class = subOverwrite.Class
																		and [Budget Forecast V2].[Model No] = subOverwrite.[Model No]
																		and [Budget Forecast V2].Fiscal = subOverwrite.Fiscal
			where [Budget Forecast V2].Fiscal = @fiscalyear
			and [Budget Forecast V2].Version = @oldversion
			AND [Budget Forecast V2].[CompanyID] = @companyID
			and [Budget Forecast V2].Dealer = @dealerid
			and subOverwrite.Fiscal is null

		end

END
