USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_RptClassPSalesvsCForecast V2]    Script Date: 2023-11-03 3:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_RptClassPSalesvsCForecast V2] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @version int, @fxrate decimal(14, 4), @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Calculate end period for last fiscal
	declare @PFED datetime

	select top (1) @PFED = cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01'
	from (select distinct BudYear - 1 as BudYear, BudMonth
		  from [Budget Forecast V2] with (nolock)
		  where 
			Fiscal = @fiscalyear
			AND [CompanyID] = @companyID
		) as mainsub
	order by BudYear desc, BudMonth desc

	select @PFED = dateadd(day, -1, dateadd(month, 1, @PFED))
	
	IF @companyID = 1 BEGIN

		--Select statement
		select Grouping, ClassGroup, ClassSort,
		sum(NoUnits) as PSUnits,
		cast(sum([Selling Price]) as decimal(14, 2)) as PSSellingPrice,
		cast(sum([Actual Margin]) as decimal(14, 2)) as PSActualMargin,
		cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [PSActualMargin%],
		cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as PSAvgRev,
		sum(TotalHours) as PSTotalHours,
		sum([On Order]) as [On Order],
		sum([Forecast Units]) as CFUnits,
		cast(sum([Forecast Selling Price]) as decimal(14, 2)) as CFSellingPrice,
		cast(sum([Forecast Margin]) as decimal(14, 2)) as CFMargin,
		cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [CFMargin%],
		cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as CFAvgRev
		from (select [ProductsV2].Grouping, ClassGroup, ClassSort,
				UnitCount as NoUnits, 
				[Net Cost] as [Selling Price], 
				[Net Cost] - ActualTotalCost as [Actual Margin],
				TotalActual as TotalHours,
				0 as [On Order],
				0 as [Forecast Units],
				0 as [Forecast Selling Price],
				0 as [Forecast Margin]
				from [Stargatedb].[dbo].[dtSalesPerformance] with (nolock)
				inner join (select distinct BudYear - 1 as BudYear, BudMonth, [CompanyID]
							from [Budget Forecast V2] with (nolock)
							where 
								Fiscal = @fiscalyear
								AND [CompanyID] = @companyID
							) as subPFRange on year([Invoice Date]) = BudYear
																		 and month([Invoice Date]) = BudMonth
				inner join [OrdersV2] with (nolock) on dtSalesPerformance.WO# = [OrdersV2].WO#
				inner join [ProductsV2] with (nolock) on [OrdersV2].[Model No] = [ProductsV2].[Model No]
				inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
				where 
					UnitExcl = 1 
					and [Date Declined] is null 
					and dtSalesPerformance.WO# not like '3%'

					AND [subPFRange].[CompanyID] = @companyID
					AND [ProductsV2].[CompanyID] = @companyID
					AND [OrdersV2].[CompanyID] = @companyID
					AND [ProductsV2].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown V2].[CompanyID] = @companyID

				union all select [ProductsV2].Grouping, ClassGroup, ClassSort,
				0, 0, 0, 0,
				count(Quote#) as [On Order],
				0, 0, 0
				FROM [v_Order Book Detail v2]
				inner join [ProductsV2] with (nolock) on [v_Order Book Detail v2].[Model No] = [ProductsV2].[Model No]
				inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
				WHERE 
					([v_Order Book Detail v2].[COMPANY NAME] <> N'BWS Manufacturing Ltd.')
					and ([PO Date] is not null and [PO Date] <= @PFED)
					and ([Invoice Date] is null or [Invoice Date] > @PFED)
					and ([Date Declined] is null or [Date Declined] > @PFED)
				
					AND [ProductsV2].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown V2].[CompanyID] = @companyID

				group by [ProductsV2].Grouping, ClassGroup, ClassSort

				union all select [ProductsV2].Grouping, ClassGroup, ClassSort,
				0, 0, 0, 0, 0,
				NoUnits, 
				(case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
				* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
				case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin
				from [Budget Forecast V2 Master] with (nolock)
				inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
				inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
				inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
				inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
				left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where 
					[Budget Forecast V2 Master].Fiscal = @fiscalyear
					and [Budget Forecast V2 Master].Version = @version

					AND [Budget Forecast V2].[CompanyID] = @companyID
					AND [ProductsV2].[CompanyID] = @companyID
					AND [DealersV2].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown V2].[CompanyID] = @companyID
				) as mainsub
		group by Grouping, ClassGroup, ClassSort

	END

	ELSE BEGIN

		-- STG
		--Select statement
		select Grouping, ClassGroup, ClassSort,
		sum(NoUnits) as PSUnits,
		cast(sum([Selling Price]) as decimal(14, 2)) as PSSellingPrice,
		cast(sum([Actual Margin]) as decimal(14, 2)) as PSActualMargin,
		cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [PSActualMargin%],
		cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as PSAvgRev,
		sum(TotalHours) as PSTotalHours,
		sum([On Order]) as [On Order],
		sum([Forecast Units]) as CFUnits,
		cast(sum([Forecast Selling Price]) as decimal(14, 2)) as CFSellingPrice,
		cast(sum([Forecast Margin]) as decimal(14, 2)) as CFMargin,
		cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [CFMargin%],
		cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as CFAvgRev
		from (select Products.Grouping, ClassGroup, ClassSort,
				UnitCount as NoUnits, 
				[Net Cost] as [Selling Price], 
				[Net Cost] - ActualTotalCost as [Actual Margin],
				TotalActual as TotalHours,
				0 as [On Order],
				0 as [Forecast Units],
				0 as [Forecast Selling Price],
				0 as [Forecast Margin]
				from dtSalesPerformance with (nolock)
				inner join (select distinct BudYear - 1 as BudYear, BudMonth, [CompanyID]
							from [Budget Forecast V2] with (nolock)
							where 
								Fiscal = @fiscalyear
								AND [CompanyID] = @companyID
							) as subPFRange on year([Invoice Date]) = BudYear
																		 and month([Invoice Date]) = BudMonth
				inner join Orders with (nolock) on dtSalesPerformance.WO# = Orders.WO#
				inner join Products with (nolock) on Orders.[Model No] = Products.[Model No]
				inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
				where 
					UnitExcl = 1 
					and [Date Declined] is null 
					and dtSalesPerformance.WO# not like '3%'

					AND [subPFRange].[CompanyID] = @companyID
					AND [Products].[CompanyID] = @companyID
					AND [Orders].[CompanyID] = @companyID
					AND [Products].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown].[CompanyID] = @companyID

				union all select Products.Grouping, ClassGroup, ClassSort,
				0, 0, 0, 0,
				count(Quote#) as [On Order],
				0, 0, 0
				FROM [v_Order Book Detail v2]
				inner join Products with (nolock) on [v_Order Book Detail v2].[Model No] = Products.[Model No]
				inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
				WHERE 
					([v_Order Book Detail v2].[COMPANY NAME] <> N'BWS Manufacturing Ltd.')
					and ([PO Date] is not null and [PO Date] <= @PFED)
					and ([Invoice Date] is null or [Invoice Date] > @PFED)
					and ([Date Declined] is null or [Date Declined] > @PFED)
				
					AND [Products].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown].[CompanyID] = @companyID

				group by Products.Grouping, ClassGroup, ClassSort

				union all select Products.Grouping, ClassGroup, ClassSort,
				0, 0, 0, 0, 0,
				NoUnits, 
				(case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
				* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
				case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin
				from [Budget Forecast V2 Master] with (nolock)
				inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
				inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
														and [Budget Forecast V2].[Model No] = Products.[Model No]
				inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
				inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
				left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where 
					[Budget Forecast V2 Master].Fiscal = @fiscalyear
					and [Budget Forecast V2 Master].Version = @version

					AND [Budget Forecast V2].[CompanyID] = @companyID
					AND [Products].[CompanyID] = @companyID
					AND [Dealers].[CompanyID] = @companyID
					AND [v_Class Totals Breakdown].[CompanyID] = @companyID
				) as mainsub
		group by Grouping, ClassGroup, ClassSort
	END
END
