USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastVersionUpdate]    Script Date: 2023-10-19 12:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastVersionUpdate] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @version int, 
	@priceincpercent decimal(14, 2), @costincpercent decimal(14, 2), @approved bit, @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Update Master table
	update [Budget Forecast V2 Master]
	set [PriceIncrease%] = @priceincpercent,
		[CostIncrease%] = @costincpercent,
		Approved = @approved
	where Fiscal = @fiscalyear
	and Version = @version
	AND [CompanyID] = @companyID

	--Add current pricing (CDN or US, based on Dealer), COGS and discounts (CDN or US, based on Dealer) to Forecast table if approved
	if @approved = 1
		begin
			
			IF @companyID = 1 BEGIN

				-- STG

				update [Budget Forecast V2]
				set [Approved Price] = case [CURRENT DEALER US] when 0 then (case when Price is null then 0 else Price end)
																when 1 then (case when [US Price] is null then 0 else [US Price] end) end,
					[Approved COGS] = case when COGS is null then 0 else COGS end,
					[Discount 1] = case [CURRENT DEALER US] when 0 then QR_Discount1 when 1 then QRUS_Discount1 end,
					[Discount 2] = case [CURRENT DEALER US] when 0 then QR_Discount2 when 1 then QRUS_Discount2 end,
					[Discount 3] = case [CURRENT DEALER US] when 0 then QR_Discount3 when 1 then QRUS_Discount3 end,
					[Expected Margin] = case [CURRENT DEALER US] when 0 then QR_ExpectedMargin when 1 then QRUS_ExpectedMargin end,
					[Approved Hours] = case when (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
											else (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end
				from [Budget Forecast V2] with (nolock)
				inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
				inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
				left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where Fiscal = @fiscalyear
				and Version = @version
				AND [Budget Forecast V2].[CompanyID] = @companyID
			END
			ELSE BEGIN
				
				-- BWS

				update [Budget Forecast V2]
				set [Approved Price] = case [CURRENT DEALER US] when 0 then (case when Price is null then 0 else Price end)
																when 1 then (case when [US Price] is null then 0 else [US Price] end) end,
					[Approved COGS] = case when COGS is null then 0 else COGS end,
					[Discount 1] = case [CURRENT DEALER US] when 0 then QR_Discount1 when 1 then QRUS_Discount1 end,
					[Discount 2] = case [CURRENT DEALER US] when 0 then QR_Discount2 when 1 then QRUS_Discount2 end,
					[Discount 3] = case [CURRENT DEALER US] when 0 then QR_Discount3 when 1 then QRUS_Discount3 end,
					[Expected Margin] = case [CURRENT DEALER US] when 0 then QR_ExpectedMargin when 1 then QRUS_ExpectedMargin end,
					[Approved Hours] = case when (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
											else (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end
				from [Budget Forecast V2] with (nolock)
				inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
														and [Budget Forecast V2].[Model No] = Products.[Model No]
				inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
				left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where Fiscal = @fiscalyear
				and Version = @version
				AND [Budget Forecast V2].[CompanyID] = @companyID

			END
		end	
END
