USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastInput]    Script Date: 2023-10-18 10:33:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastInput] 
	 --Add the parameters for the stored procedure here
	--DECLARE
	@fiscalyear int, @dealerid int, @version int, @companyID INT=0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Add records for selected dealer and class (all current models) for current fiscal
	declare @loopyear int = @fiscalyear,
			@loopmonth int = 11,
			@looptimes int = 1

	while @looptimes <= 12
		begin
			IF @companyID = 1 BEGIN
				-- Stargate
				if (select count(*) from [Budget Forecast V2] with (nolock) where BudYear = @loopyear and BudMonth = @loopmonth and Dealer = @dealerid and Version = @version AND [CompanyID] = 1) = 0
					begin
						insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version,
																		 [Discount 1], [Discount 2], [Discount 3], [Expected Margin], [CompanyID])
						select @loopyear, @loopmonth, ID, Class, [Model No], 
						case when @loopmonth = 12 then @loopyear + 1 else @loopyear end,
						@version, QR_Discount1, QR_Discount2, QR_Discount3, QR_ExpectedMargin
						, 1 -- CompanyID for STG
						from ProductsV2 with (nolock)
						cross join DealersV2 with (nolock)
						where Proposed = 0
						and [Non-Current] = 0
						and ID = @dealerid
						and [ProductsV2].[CompanyID] = 1
					end
			END
			ELSE BEGIN
				-- BWS
				if (select count(*) from [Budget Forecast V2] with (nolock) where BudYear = @loopyear and BudMonth = @loopmonth and Dealer = @dealerid and Version = @version) = 0
					begin
						insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version,
																		 [Discount 1], [Discount 2], [Discount 3], [Expected Margin])
						select @loopyear, @loopmonth, ID, Class, [Model No], 
						case when @loopmonth = 12 then @loopyear + 1 else @loopyear end,
						@version, QR_Discount1, QR_Discount2, QR_Discount3, QR_ExpectedMargin
						from Products with (nolock)
						cross join Dealers with (nolock)
						where Proposed = 0
						and [Non-Current] = 0
						and ID = @dealerid
					end
			END

			if @loopmonth = 1 
				begin
					select @loopmonth = 12,
						   @loopyear =  @loopyear - 1
				end
			else
				begin
					select @loopmonth = @loopmonth - 1
				end

			select @looptimes = @looptimes + 1
		end

END
