USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastEditDataFetch]    Script Date: 2023-10-18 4:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastEditDataFetch] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @dealerid int, @version int, @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#BFV2_ForecastEditData') IS NOT NULL
		DROP TABLE #BFV2_ForecastEditData 

	create table #BFV2_ForecastEditData
	(
		Dealer int,
		Version int,
		Class nvarchar(255),
		[Model No] nvarchar(255),
		[Discount 1] real,
		[Discount 2] real,
		[Discount 3] real,
		[Expected Margin] real,
		Fiscal int,
		Month1Date datetime,
		Month1 int,
		Month2Date datetime,
		Month2 int,
		Month3Date datetime,
		Month3 int,
		Month4Date datetime,
		Month4 int,
		Month5Date datetime,
		Month5 int,
		Month6Date datetime,
		Month6 int,
		Month7Date datetime,
		Month7 int,
		Month8Date datetime,
		Month8 int,
		Month9Date datetime,
		Month9 int,
		Month10Date datetime,
		Month10 int,
		Month11Date datetime,
		Month11 int,
		Month12Date datetime,
		Month12 int,
		MonthTtl as (Month1 + Month2 + Month3 + Month4 + Month5 + Month6 + Month7 + Month8 + Month9 + Month10 + Month11 + Month12),
		PY1Fiscal int,
		PY1Month1Date datetime,
		PY1Month1 int,
		PY1Month2Date datetime,
		PY1Month2 int,
		PY1Month3Date datetime,
		PY1Month3 int,
		PY1Month4Date datetime,
		PY1Month4 int,
		PY1Month5Date datetime,
		PY1Month5 int,
		PY1Month6Date datetime,
		PY1Month6 int,
		PY1Month7Date datetime,
		PY1Month7 int,
		PY1Month8Date datetime,
		PY1Month8 int,
		PY1Month9Date datetime,
		PY1Month9 int,
		PY1Month10Date datetime,
		PY1Month10 int,
		PY1Month11Date datetime,
		PY1Month11 int,
		PY1Month12Date datetime,
		PY1Month12 int,
		PY1MonthTtl as (PY1Month1 + PY1Month2 + PY1Month3 + PY1Month4 + PY1Month5 + PY1Month6 + PY1Month7 + PY1Month8 + PY1Month9 + PY1Month10 + PY1Month11 + PY1Month12),
		PY2Fiscal int,
		PY2Month1Date datetime,
		PY2Month1 int,
		PY2Month2Date datetime,
		PY2Month2 int,
		PY2Month3Date datetime,
		PY2Month3 int,
		PY2Month4Date datetime,
		PY2Month4 int,
		PY2Month5Date datetime,
		PY2Month5 int,
		PY2Month6Date datetime,
		PY2Month6 int,
		PY2Month7Date datetime,
		PY2Month7 int,
		PY2Month8Date datetime,
		PY2Month8 int,
		PY2Month9Date datetime,
		PY2Month9 int,
		PY2Month10Date datetime,
		PY2Month10 int,
		PY2Month11Date datetime,
		PY2Month11 int,
		PY2Month12Date datetime,
		PY2Month12 int,
		PY2MonthTtl as (PY2Month1 + PY2Month2 + PY2Month3 + PY2Month4 + PY2Month5 + PY2Month6 + PY2Month7 + PY2Month8 + PY2Month9 + PY2Month10 + PY2Month11 + PY2Month12),
		PY3Fiscal int,
		PY3Month1Date datetime,
		PY3Month1 int,
		PY3Month2Date datetime,
		PY3Month2 int,
		PY3Month3Date datetime,
		PY3Month3 int,
		PY3Month4Date datetime,
		PY3Month4 int,
		PY3Month5Date datetime,
		PY3Month5 int,
		PY3Month6Date datetime,
		PY3Month6 int,
		PY3Month7Date datetime,
		PY3Month7 int,
		PY3Month8Date datetime,
		PY3Month8 int,
		PY3Month9Date datetime,
		PY3Month9 int,
		PY3Month10Date datetime,
		PY3Month10 int,
		PY3Month11Date datetime,
		PY3Month11 int,
		PY3Month12Date datetime,
		PY3Month12 int,
		PY3MonthTtl as (PY3Month1 + PY3Month2 + PY3Month3 + PY3Month4 + PY3Month5 + PY3Month6 + PY3Month7 + PY3Month8 + PY3Month9 + PY3Month10 + PY3Month11 + PY3Month12)
		, [CompanyID] INT
	)

	declare @listofdealerIDs table
	(
		DealerIDs int
	)

	IF @companyID = 1 BEGIN

		-- Stargate

			insert into @listofdealerIDs
		select distinct ID from DealersV2 with (nolock)
		where [COMPANY NAME] = (select [COMPANY NAME] from [DealersV2] with (nolock) where ID = @dealerid)

		insert into #BFV2_ForecastEditData (Dealer, Version, Class, [Model No], [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
											Month1, Month2, Month3, Month4, Month5, Month6, Month7, Month8, Month9, Month10, Month11, Month12, [CompanyID])
		select Dealer, Version, Class, [Model No], [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
		[1] as Month1, [2] as Month2, [3] as Month3, [4] as Month4, [5] as Month5, [6] as Month6,
		[7] as Month7, [8] as Month8, [9] as Month9, [10] as Month10, [11] as Month11, [12] as Month12, [CompanyID]
		from (select Dealer, Version, Class, [Model No],
			  [Discount 1], [Discount 2], [Discount 3], [Expected Margin], MonthID, NoUnits, [CompanyID]
			  from [Budget Forecast V2] with (nolock)
			  inner join (select Fiscal, BudYear, BudMonth,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
						  from (select distinct Fiscal, BudYear, BudMonth
								from [Budget Forecast V2] with (nolock)
								where ([Budget Forecast V2].[CompanyID] = 1) AND (Fiscal = @fiscalyear
								and Dealer = @dealerid)) as subA) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	  and [Budget Forecast V2].BudYear = subRowID.BudYear
																	  and [Budget Forecast V2].BudMonth = subRowID.BudMonth
			  inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
			  where [Budget Forecast V2].Fiscal = @fiscalyear AND ([Budget Forecast V2].[CompanyID] = 1)
			  --and Dealer = @dealerid
			  and Version = @version) as subPivot
		pivot (sum(NoUnits) for MonthID in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])) as pvt

		--Add actual unit sales for prior 3 fiscals
		update #BFV2_ForecastEditData
		set PY1Month1 = case when subActualPivot.Month1 is null then 0 else subActualPivot.Month1 end, 
			PY1Month2 = case when subActualPivot.Month2 is null then 0 else subActualPivot.Month2 end, 
			PY1Month3 = case when subActualPivot.Month3 is null then 0 else subActualPivot.Month3 end, 
			PY1Month4 = case when subActualPivot.Month4 is null then 0 else subActualPivot.Month4 end, 
			PY1Month5 = case when subActualPivot.Month5 is null then 0 else subActualPivot.Month5 end, 
			PY1Month6 = case when subActualPivot.Month6 is null then 0 else subActualPivot.Month6 end, 
			PY1Month7 = case when subActualPivot.Month7 is null then 0 else subActualPivot.Month7 end, 
			PY1Month8 = case when subActualPivot.Month8 is null then 0 else subActualPivot.Month8 end, 
			PY1Month9 = case when subActualPivot.Month9 is null then 0 else subActualPivot.Month9 end, 
			PY1Month10 = case when subActualPivot.Month10 is null then 0 else subActualPivot.Month10 end, 
			PY1Month11 = case when subActualPivot.Month11 is null then 0 else subActualPivot.Month11 end, 
			PY1Month12 = case when subActualPivot.Month12 is null then 0 else subActualPivot.Month12 end,
			PY2Month1 = case when subActualPivot.Month13 is null then 0 else subActualPivot.Month13 end, 
			PY2Month2 = case when subActualPivot.Month14 is null then 0 else subActualPivot.Month14 end, 
			PY2Month3 = case when subActualPivot.Month15 is null then 0 else subActualPivot.Month15 end, 
			PY2Month4 = case when subActualPivot.Month16 is null then 0 else subActualPivot.Month16 end, 
			PY2Month5 = case when subActualPivot.Month17 is null then 0 else subActualPivot.Month17 end, 
			PY2Month6 = case when subActualPivot.Month18 is null then 0 else subActualPivot.Month18 end, 
			PY2Month7 = case when subActualPivot.Month19 is null then 0 else subActualPivot.Month19 end, 
			PY2Month8 = case when subActualPivot.Month20 is null then 0 else subActualPivot.Month20 end, 
			PY2Month9 = case when subActualPivot.Month21 is null then 0 else subActualPivot.Month21 end, 
			PY2Month10 = case when subActualPivot.Month22 is null then 0 else subActualPivot.Month22 end, 
			PY2Month11 = case when subActualPivot.Month23 is null then 0 else subActualPivot.Month23 end, 
			PY2Month12 = case when subActualPivot.Month24 is null then 0 else subActualPivot.Month24 end,
			PY3Month1 = case when subActualPivot.Month25 is null then 0 else subActualPivot.Month25 end, 
			PY3Month2 = case when subActualPivot.Month26 is null then 0 else subActualPivot.Month26 end, 
			PY3Month3 = case when subActualPivot.Month27 is null then 0 else subActualPivot.Month27 end, 
			PY3Month4 = case when subActualPivot.Month28 is null then 0 else subActualPivot.Month28 end, 
			PY3Month5 = case when subActualPivot.Month29 is null then 0 else subActualPivot.Month29 end, 
			PY3Month6 = case when subActualPivot.Month30 is null then 0 else subActualPivot.Month30 end, 
			PY3Month7 = case when subActualPivot.Month31 is null then 0 else subActualPivot.Month31 end, 
			PY3Month8 = case when subActualPivot.Month32 is null then 0 else subActualPivot.Month32 end, 
			PY3Month9 = case when subActualPivot.Month33 is null then 0 else subActualPivot.Month33 end, 
			PY3Month10 = case when subActualPivot.Month34 is null then 0 else subActualPivot.Month34 end, 
			PY3Month11 = case when subActualPivot.Month35 is null then 0 else subActualPivot.Month35 end, 
			PY3Month12 = case when subActualPivot.Month36 is null then 0 else subActualPivot.Month36 end
		from #BFV2_ForecastEditData
		left outer join (select Class, [Model No],
					[1] as Month1, [2] as Month2, [3] as Month3, [4] as Month4, [5] as Month5, [6] as Month6,
					[7] as Month7, [8] as Month8, [9] as Month9, [10] as Month10, [11] as Month11, [12] as Month12,
					[13] as Month13, [14] as Month14, [15] as Month15, [16] as Month16, [17] as Month17, [18] as Month18,
					[19] as Month19, [20] as Month20, [21] as Month21, [22] as Month22, [23] as Month23, [24] as Month24,
					[25] as Month25, [26] as Month26, [27] as Month27, [28] as Month28, [29] as Month29, [30] as Month30,
					[31] as Month31, [32] as Month32, [33] as Month33, [34] as Month34, [35] as Month35, [36] as Month36
					from (select DealerID, Class, ProductsV2.[Model No], MonthID, UnitCount
						  from [Stargatedb].[dbo].dtSalesPerformance with (nolock)
						  inner join (select Fiscal, BudYear, BudMonth,
									  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
									  from (select distinct Fiscal - 1 as Fiscal, BudYear - 1 as BudYear, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear
											and Dealer = @dealerid AND [Budget Forecast V2].[CompanyID] = 1

											union all select distinct Fiscal - 2, BudYear - 2, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear
											and Dealer = @dealerid AND [Budget Forecast V2].[CompanyID] = 1

											union all select distinct Fiscal - 3, BudYear - 3, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = 1
											and Dealer = @dealerid) as subA) as subPFRange on year([Invoice Date]) = BudYear
																							  and month([Invoice Date]) = BudMonth
						inner join OrdersV2 with (nolock) on dtSalesPerformance.WO# = OrdersV2.WO#
						inner join ProductsV2 with (nolock) on OrdersV2.[Model No] = ProductsV2.[Model No]
						inner join @listofdealerIDs as subList on OrdersV2.DealerID = subList.DealerIDs
						where UnitExcl = 1
						/*and DealerID = @dealerid*/) as subPivot
					pivot (sum(UnitCount) for MonthID in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12],
														  [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24],
														  [25], [26], [27], [28], [29], [30], [31], [32], [33], [34], [35], [36])) as pvt) as subActualPivot on #BFV2_ForecastEditData.Class = subActualPivot.Class
																																								and #BFV2_ForecastEditData.[Model No] = subActualPivot.[Model No]


	END
	ELSE BEGIN

		-- BWS

		insert into @listofdealerIDs
		select distinct ID from Dealers with (nolock)
		where [COMPANY NAME] = (select [COMPANY NAME] from Dealers with (nolock) where ID = @dealerid)

		insert into #BFV2_ForecastEditData (Dealer, Version, Class, [Model No], [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
											Month1, Month2, Month3, Month4, Month5, Month6, Month7, Month8, Month9, Month10, Month11, Month12, [CompanyID])
		select Dealer, Version, Class, [Model No], [Discount 1], [Discount 2], [Discount 3], [Expected Margin],
		[1] as Month1, [2] as Month2, [3] as Month3, [4] as Month4, [5] as Month5, [6] as Month6,
		[7] as Month7, [8] as Month8, [9] as Month9, [10] as Month10, [11] as Month11, [12] as Month12, [CompanyID]
		from (select Dealer, Version, Class, [Model No],
			  [Discount 1], [Discount 2], [Discount 3], [Expected Margin], MonthID, NoUnits, [CompanyID]
			  from [Budget Forecast V2] with (nolock)
			  inner join (select Fiscal, BudYear, BudMonth,
						  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
						  from (select distinct Fiscal, BudYear, BudMonth
								from [Budget Forecast V2] with (nolock)
								where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = 0 
								and Dealer = @dealerid) as subA) as subRowID on [Budget Forecast V2].Fiscal = subRowID.Fiscal
																	  and [Budget Forecast V2].BudYear = subRowID.BudYear
																	  and [Budget Forecast V2].BudMonth = subRowID.BudMonth
			  inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
			  where [Budget Forecast V2].Fiscal = @fiscalyear
			  --and Dealer = @dealerid
			  and Version = @version AND [Budget Forecast V2].[CompanyID] = 0) as subPivot
		pivot (sum(NoUnits) for MonthID in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])) as pvt

		--Add actual unit sales for prior 3 fiscals
		update #BFV2_ForecastEditData
		set PY1Month1 = case when subActualPivot.Month1 is null then 0 else subActualPivot.Month1 end, 
			PY1Month2 = case when subActualPivot.Month2 is null then 0 else subActualPivot.Month2 end, 
			PY1Month3 = case when subActualPivot.Month3 is null then 0 else subActualPivot.Month3 end, 
			PY1Month4 = case when subActualPivot.Month4 is null then 0 else subActualPivot.Month4 end, 
			PY1Month5 = case when subActualPivot.Month5 is null then 0 else subActualPivot.Month5 end, 
			PY1Month6 = case when subActualPivot.Month6 is null then 0 else subActualPivot.Month6 end, 
			PY1Month7 = case when subActualPivot.Month7 is null then 0 else subActualPivot.Month7 end, 
			PY1Month8 = case when subActualPivot.Month8 is null then 0 else subActualPivot.Month8 end, 
			PY1Month9 = case when subActualPivot.Month9 is null then 0 else subActualPivot.Month9 end, 
			PY1Month10 = case when subActualPivot.Month10 is null then 0 else subActualPivot.Month10 end, 
			PY1Month11 = case when subActualPivot.Month11 is null then 0 else subActualPivot.Month11 end, 
			PY1Month12 = case when subActualPivot.Month12 is null then 0 else subActualPivot.Month12 end,
			PY2Month1 = case when subActualPivot.Month13 is null then 0 else subActualPivot.Month13 end, 
			PY2Month2 = case when subActualPivot.Month14 is null then 0 else subActualPivot.Month14 end, 
			PY2Month3 = case when subActualPivot.Month15 is null then 0 else subActualPivot.Month15 end, 
			PY2Month4 = case when subActualPivot.Month16 is null then 0 else subActualPivot.Month16 end, 
			PY2Month5 = case when subActualPivot.Month17 is null then 0 else subActualPivot.Month17 end, 
			PY2Month6 = case when subActualPivot.Month18 is null then 0 else subActualPivot.Month18 end, 
			PY2Month7 = case when subActualPivot.Month19 is null then 0 else subActualPivot.Month19 end, 
			PY2Month8 = case when subActualPivot.Month20 is null then 0 else subActualPivot.Month20 end, 
			PY2Month9 = case when subActualPivot.Month21 is null then 0 else subActualPivot.Month21 end, 
			PY2Month10 = case when subActualPivot.Month22 is null then 0 else subActualPivot.Month22 end, 
			PY2Month11 = case when subActualPivot.Month23 is null then 0 else subActualPivot.Month23 end, 
			PY2Month12 = case when subActualPivot.Month24 is null then 0 else subActualPivot.Month24 end,
			PY3Month1 = case when subActualPivot.Month25 is null then 0 else subActualPivot.Month25 end, 
			PY3Month2 = case when subActualPivot.Month26 is null then 0 else subActualPivot.Month26 end, 
			PY3Month3 = case when subActualPivot.Month27 is null then 0 else subActualPivot.Month27 end, 
			PY3Month4 = case when subActualPivot.Month28 is null then 0 else subActualPivot.Month28 end, 
			PY3Month5 = case when subActualPivot.Month29 is null then 0 else subActualPivot.Month29 end, 
			PY3Month6 = case when subActualPivot.Month30 is null then 0 else subActualPivot.Month30 end, 
			PY3Month7 = case when subActualPivot.Month31 is null then 0 else subActualPivot.Month31 end, 
			PY3Month8 = case when subActualPivot.Month32 is null then 0 else subActualPivot.Month32 end, 
			PY3Month9 = case when subActualPivot.Month33 is null then 0 else subActualPivot.Month33 end, 
			PY3Month10 = case when subActualPivot.Month34 is null then 0 else subActualPivot.Month34 end, 
			PY3Month11 = case when subActualPivot.Month35 is null then 0 else subActualPivot.Month35 end, 
			PY3Month12 = case when subActualPivot.Month36 is null then 0 else subActualPivot.Month36 end
		from #BFV2_ForecastEditData
		left outer join (select Class, [Model No],
					[1] as Month1, [2] as Month2, [3] as Month3, [4] as Month4, [5] as Month5, [6] as Month6,
					[7] as Month7, [8] as Month8, [9] as Month9, [10] as Month10, [11] as Month11, [12] as Month12,
					[13] as Month13, [14] as Month14, [15] as Month15, [16] as Month16, [17] as Month17, [18] as Month18,
					[19] as Month19, [20] as Month20, [21] as Month21, [22] as Month22, [23] as Month23, [24] as Month24,
					[25] as Month25, [26] as Month26, [27] as Month27, [28] as Month28, [29] as Month29, [30] as Month30,
					[31] as Month31, [32] as Month32, [33] as Month33, [34] as Month34, [35] as Month35, [36] as Month36
					from (select DealerID, Class, Products.[Model No], MonthID, UnitCount
						  from dtSalesPerformance with (nolock)
						  inner join (select Fiscal, BudYear, BudMonth,
									  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
									  from (select distinct Fiscal - 1 as Fiscal, BudYear - 1 as BudYear, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear
											and Dealer = @dealerid AND [Budget Forecast V2].[CompanyID] = 0

											union all select distinct Fiscal - 2, BudYear - 2, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear
											and Dealer = @dealerid AND [Budget Forecast V2].[CompanyID] = 0

											union all select distinct Fiscal - 3, BudYear - 3, BudMonth 
											from [Budget Forecast V2] with (nolock)
											where Fiscal = @fiscalyear
											and Dealer = @dealerid AND [Budget Forecast V2].[CompanyID] = 0) as subA) as subPFRange on year([Invoice Date]) = BudYear
																							  and month([Invoice Date]) = BudMonth
						inner join Orders with (nolock) on dtSalesPerformance.WO# = Orders.WO#
						inner join Products with (nolock) on Orders.[Model No] = Products.[Model No]
						inner join @listofdealerIDs as subList on Orders.DealerID = subList.DealerIDs
						where UnitExcl = 1
						/*and DealerID = @dealerid*/) as subPivot
					pivot (sum(UnitCount) for MonthID in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12],
														  [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24],
														  [25], [26], [27], [28], [29], [30], [31], [32], [33], [34], [35], [36])) as pvt) as subActualPivot on #BFV2_ForecastEditData.Class = subActualPivot.Class
																																								and #BFV2_ForecastEditData.[Model No] = subActualPivot.[Model No]

END

	--Update Fiscals and MonthDates
	update #BFV2_ForecastEditData
	set Fiscal = @fiscalyear,
		Month1Date = subMonthDates.Month1Date,
		Month2Date = subMonthDates.Month2Date,
		Month3Date = subMonthDates.Month3Date,
		Month4Date = subMonthDates.Month4Date,
		Month5Date = subMonthDates.Month5Date,
		Month6Date = subMonthDates.Month6Date,
		Month7Date = subMonthDates.Month7Date,
		Month8Date = subMonthDates.Month8Date,
		Month9Date = subMonthDates.Month9Date,
		Month10Date = subMonthDates.Month10Date,
		Month11Date = subMonthDates.Month11Date,
		Month12Date = subMonthDates.Month12Date,
		PY1Fiscal = @fiscalyear - 1,
		PY1Month1Date = subMonthDates.Month13Date,
		PY1Month2Date = subMonthDates.Month14Date,
		PY1Month3Date = subMonthDates.Month15Date,
		PY1Month4Date = subMonthDates.Month16Date,
		PY1Month5Date = subMonthDates.Month17Date,
		PY1Month6Date = subMonthDates.Month18Date,
		PY1Month7Date = subMonthDates.Month19Date,
		PY1Month8Date = subMonthDates.Month20Date,
		PY1Month9Date = subMonthDates.Month21Date,
		PY1Month10Date = subMonthDates.Month22Date,
		PY1Month11Date = subMonthDates.Month23Date,
		PY1Month12Date = subMonthDates.Month24Date,
		PY2Fiscal = @fiscalyear - 2,
		PY2Month1Date = subMonthDates.Month25Date,
		PY2Month2Date = subMonthDates.Month26Date,
		PY2Month3Date = subMonthDates.Month27Date,
		PY2Month4Date = subMonthDates.Month28Date,
		PY2Month5Date = subMonthDates.Month29Date,
		PY2Month6Date = subMonthDates.Month30Date,
		PY2Month7Date = subMonthDates.Month31Date,
		PY2Month8Date = subMonthDates.Month32Date,
		PY2Month9Date = subMonthDates.Month33Date,
		PY2Month10Date = subMonthDates.Month34Date,
		PY2Month11Date = subMonthDates.Month35Date,
		PY2Month12Date = subMonthDates.Month36Date,
		PY3Fiscal = @fiscalyear - 3,
		PY3Month1Date = subMonthDates.Month37Date,
		PY3Month2Date = subMonthDates.Month38Date,
		PY3Month3Date = subMonthDates.Month39Date,
		PY3Month4Date = subMonthDates.Month40Date,
		PY3Month5Date = subMonthDates.Month41Date,
		PY3Month6Date = subMonthDates.Month42Date,
		PY3Month7Date = subMonthDates.Month43Date,
		PY3Month8Date = subMonthDates.Month44Date,
		PY3Month9Date = subMonthDates.Month45Date,
		PY3Month10Date = subMonthDates.Month46Date,
		PY3Month11Date = subMonthDates.Month47Date,
		PY3Month12Date = subMonthDates.Month48Date
	from #BFV2_ForecastEditData
	cross join (select [1] as Month1Date, [2] as Month2Date, [3] as Month3Date, [4] as Month4Date, [5] as Month5Date, [6] as Month6Date,
				[7] as Month7Date, [8] as Month8Date, [9] as Month9Date, [10] as Month10Date, [11] as Month11Date, [12] as Month12Date,
				[13] as Month13Date, [14] as Month14Date, [15] as Month15Date, [16] as Month16Date, [17] as Month17Date, [18] as Month18Date,
				[19] as Month19Date, [20] as Month20Date, [21] as Month21Date, [22] as Month22Date, [23] as Month23Date, [24] as Month24Date,
				[25] as Month25Date, [26] as Month26Date, [27] as Month27Date, [28] as Month28Date, [29] as Month29Date, [30] as Month30Date,
				[31] as Month31Date, [32] as Month32Date, [33] as Month33Date, [34] as Month34Date, [35] as Month35Date, [36] as Month36Date,
				[37] as Month37Date, [38] as Month38Date, [39] as Month39Date, [40] as Month40Date, [41] as Month41Date, [42] as Month42Date,
				[43] as Month43Date, [44] as Month44Date, [45] as Month45Date, [46] as Month46Date, [47] as Month47Date, [48] as Month48Date
				from (select cast(cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01' as datetime) as MonthDate,
						ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
						from (select distinct Fiscal, BudYear, BudMonth 
								from [Budget Forecast V2] with (nolock)
								inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
								where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = @companyID
								--and Dealer = @dealerid

								union all select distinct Fiscal - 1, BudYear - 1, BudMonth 
								from [Budget Forecast V2] with (nolock)
								inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
								where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = @companyID
								--and Dealer = @dealerid

								union all select distinct Fiscal - 2, BudYear - 2, BudMonth 
								from [Budget Forecast V2] with (nolock)
								inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
								where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = @companyID
								--and Dealer = @dealerid

								union all select distinct Fiscal - 3, BudYear - 3, BudMonth 
								from [Budget Forecast V2] with (nolock)
								inner join @listofdealerIDs as subList on [Budget Forecast V2].Dealer = subList.DealerIDs
								where Fiscal = @fiscalyear AND [Budget Forecast V2].[CompanyID] = @companyID
								/*and Dealer = @dealerid*/) as subA
				where Fiscal between @fiscalyear - 3 and @fiscalyear) as mainpivot
				pivot (min(MonthDate) for MonthID in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12],
														[13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24],
														[25], [26], [27], [28], [29], [30], [31], [32], [33], [34], [35], [36],
														[37], [38], [39], [40], [41], [42], [43], [44], [45], [46], [47], [48])) as pvt) as subMonthDates

	--Final select statement to be passed to local edit table
	select * from #BFV2_ForecastEditData

END
