USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_RptClassBudgetvsActualSummary V2]    Script Date: 2023-11-02 3:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- ============================================= 
--ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_RptClassBudgetvsActualSummary V2] 
--	-- Add the parameters for the stored procedure here
--	@fiscalyear int, @version int, @fxrate decimal(14, 4), @companyID INT = 0
--AS
--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
	
	DECLARE 
		@fiscalyear int,
		@version int,
		@fxrate decimal(14, 4),
		@companyID INT = 0

	SELECT 
		@fiscalyear = '2023',
		@version=1,
		@fxrate=1,
		@companyID=1
	
	SET NOCOUNT ON;

	--IF @companyID = 1 BEGIN
		select Grouping, ClassGroup, ClassSort, 
		BudgetUnits, BudgetSellingPrice, BudgetMargin, [BudgetMargin%], BudgetAvgRev, BudgetTotalHours,
		ActualUnits, ActualSellingPrice, ActualMargin, [ActualMargin%], ActualAvgRev, ActualTotalHours,
		ActualUnits - BudgetUnits as VarUnits,
		ActualSellingPrice - BudgetSellingPrice as VarSellingPrice,
		ActualMargin - BudgetMargin as VarMargin,
		cast(case when BudgetMargin = 0 then 0 else (ActualMargin - BudgetMargin) / BudgetMargin end as decimal(14, 3)) as [VarMargin%],
		ActualTotalHours - BudgetTotalHours as VarHours
		from (select Grouping, ClassGroup, ClassSort,
			sum([Forecast Units]) as BudgetUnits,
			cast(sum([Forecast Selling Price]) as decimal(14, 2)) as BudgetSellingPrice,
			cast(sum([Forecast Margin]) as decimal(14, 2)) as BudgetMargin,
			cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [BudgetMargin%],
			cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as BudgetAvgRev,
			sum([Forecast Hours]) as BudgetTotalHours, 
			sum(NoUnits) as ActualUnits,
			cast(sum([Selling Price]) as decimal(14, 2)) as ActualSellingPrice,
			cast(sum([Actual Margin]) as decimal(14, 2)) as ActualMargin,
			cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [ActualMargin%],
			cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as ActualAvgRev,
			sum(TotalHours) as ActualTotalHours
			from (select [ProductsV2].Grouping, ClassGroup, ClassSort,
					UnitCount as NoUnits, 
					[Net Cost] as [Selling Price], 
					[Net Cost] - ActualTotalCost as [Actual Margin],
					TotalActual as TotalHours,
					0 as [On Order],
					0 as [Forecast Units],
					0 as [Forecast Selling Price],
					0 as [Forecast Margin],
					0 as [Forecast Hours]
					from [Stargatedb].[dbo].dtSalesPerformance with (nolock)
					inner join (select distinct BudYear, BudMonth, [CompanyID]
								from [Budget Forecast V2] with (nolock)
								where 
									Fiscal = @fiscalyear
									AND [CompanyID] = @companyID
								) as subPFRange on year([Invoice Date]) = BudYear
																			 and month([Invoice Date]) = BudMonth
					inner join [OrdersV2] with (nolock) on dtSalesPerformance.WO# = [OrdersV2].WO#
					inner join [ProductsV2] with (nolock) on [OrdersV2].[Model No] = [ProductsV2].[Model No]
					inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
					where 
						UnitExcl = 1 
						and [Date Declined] is null 
						and dtSalesPerformance.WO# not like '3%'
						AND [ProductsV2].[CompanyID] = @companyID
						AND [OrdersV2].[CompanyID] = @companyID
						AND [v_Class Totals Breakdown V2].[CompanyID] = @companyID
						AND [subPFRange].[CompanyID] = @companyID

					union all select [ProductsV2].Grouping, ClassGroup, ClassSort,
					0, 0, 0, 0, 0,
					NoUnits, 
					(case when Approved = 1 
							then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
							else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
					* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
					  case when Approved = 1
							then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
					  case when Approved = 1
						   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
						   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
						   end as NetHours
					from [Budget Forecast V2 Master] with (nolock)
					inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																	and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
					inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
															and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
					inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
					inner join [v_Class Totals Breakdown V2] ON [ProductsV2].Grouping = [v_Class Totals Breakdown V2].Grouping
					left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
					where
						[Budget Forecast V2 Master].Fiscal = @fiscalyear
						and [Budget Forecast V2 Master].Version = @version
						AND [Budget Forecast V2].[CompanyID] = @companyID
						AND [ProductsV2].[CompanyID] = @companyID
						AND [DealersV2].[CompanyID] = @companyID
						AND [v_Class Totals Breakdown V2].[CompanyID] = @companyID
					) as mainsub
			group by Grouping, ClassGroup, ClassSort) as main
	--END
	--ELSE BEGIN
	--	-- Insert statements for procedure here
	--	--Select statement
	--	select Grouping, ClassGroup, ClassSort, 
	--	BudgetUnits, BudgetSellingPrice, BudgetMargin, [BudgetMargin%], BudgetAvgRev, BudgetTotalHours,
	--	ActualUnits, ActualSellingPrice, ActualMargin, [ActualMargin%], ActualAvgRev, ActualTotalHours,
	--	ActualUnits - BudgetUnits as VarUnits,
	--	ActualSellingPrice - BudgetSellingPrice as VarSellingPrice,
	--	ActualMargin - BudgetMargin as VarMargin,
	--	cast(case when BudgetMargin = 0 then 0 else (ActualMargin - BudgetMargin) / BudgetMargin end as decimal(14, 3)) as [VarMargin%],
	--	ActualTotalHours - BudgetTotalHours as VarHours
	--	from (select Grouping, ClassGroup, ClassSort,
	--		sum([Forecast Units]) as BudgetUnits,
	--		cast(sum([Forecast Selling Price]) as decimal(14, 2)) as BudgetSellingPrice,
	--		cast(sum([Forecast Margin]) as decimal(14, 2)) as BudgetMargin,
	--		cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [BudgetMargin%],
	--		cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as BudgetAvgRev,
	--		sum([Forecast Hours]) as BudgetTotalHours, 
	--		sum(NoUnits) as ActualUnits,
	--		cast(sum([Selling Price]) as decimal(14, 2)) as ActualSellingPrice,
	--		cast(sum([Actual Margin]) as decimal(14, 2)) as ActualMargin,
	--		cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [ActualMargin%],
	--		cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as ActualAvgRev,
	--		sum(TotalHours) as ActualTotalHours
	--		from (select Products.Grouping, ClassGroup, ClassSort,
	--				UnitCount as NoUnits, 
	--				[Net Cost] as [Selling Price], 
	--				[Net Cost] - ActualTotalCost as [Actual Margin],
	--				TotalActual as TotalHours,
	--				0 as [On Order],
	--				0 as [Forecast Units],
	--				0 as [Forecast Selling Price],
	--				0 as [Forecast Margin],
	--				0 as [Forecast Hours]
	--				from dtSalesPerformance with (nolock)
	--				inner join (select distinct BudYear, BudMonth, [CompanyID]
	--							from [Budget Forecast V2] with (nolock)
	--							where
	--								Fiscal = @fiscalyear
	--								AND [CompanyID] = @companyID
	--							) as subPFRange on year([Invoice Date]) = BudYear
	--																		 and month([Invoice Date]) = BudMonth
	--				inner join Orders with (nolock) on dtSalesPerformance.WO# = Orders.WO#
	--				inner join Products with (nolock) on Orders.[Model No] = Products.[Model No]
	--				inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
	--				where
	--					UnitExcl = 1 
	--					and [Date Declined] is null 
	--					and dtSalesPerformance.WO# not like '3%'
	--					AND [Orders].[CompanyID] = @companyID
	--					AND [Products].[CompanyID] = @companyID
	--					AND [subPFRange].[CompanyID] = @companyID
	--					AND [v_Class Totals Breakdown].[CompanyID] = @companyID

	--				union all select Products.Grouping, ClassGroup, ClassSort,
	--				0, 0, 0, 0, 0,
	--				NoUnits, 
	--				(case when Approved = 1 
	--						then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
	--						else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
	--				* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
	--				  case when Approved = 1
	--						then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
	--							 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
	--							- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
	--						else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
	--							 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
	--							- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
	--				  case when Approved = 1
	--					   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
	--					   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
	--								  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
	--					   end as NetHours
	--				from [Budget Forecast V2 Master] with (nolock)
	--				inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
	--																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
	--				inner join [Products] with (nolock) on [Budget Forecast V2].Class = Products.Class
	--														and [Budget Forecast V2].[Model No] = Products.[Model No]
	--				inner join [Dealers] with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
	--				inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
	--				left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
	--				where
	--					[Budget Forecast V2 Master].Fiscal = @fiscalyear
	--					and [Budget Forecast V2 Master].Version = @version
	--					AND [Budget Forecast V2].[CompanyID] = @companyID
	--					AND [Products].[CompanyID] = @companyID
	--					AND [Dealers].[CompanyID] = @companyID
	--					AND [v_Class Totals Breakdown].[CompanyID] = @companyID
	--				) as mainsub
	--		group by Grouping, ClassGroup, ClassSort) as main
	--END
--END
