USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastVersionNew]    Script Date: 2023-10-19 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastVersionNew] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @oldversion int, @newversion int, 
	@percentcategory nvarchar(50), @oldvalue decimal(14, 2), @newvalue decimal(14, 2), @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Add new version record in master table (based on @percentcategory) and revert change made to current version (@oldversion)
	if @percentcategory = 'Price'
		begin
			insert into [Budget Forecast V2 Master] with (tablock) (Fiscal, Version, [PriceIncrease%], [CostIncrease%], [CompanyID])
			select Fiscal, @newversion, @newvalue, [CostIncrease%], @companyID
			from [Budget Forecast V2 Master] with (nolock)
			where Fiscal = @fiscalyear
			and Version = @oldversion

			update [Budget Forecast V2 Master]
			set [PriceIncrease%] = @oldvalue,
				Approved = 1
			where Fiscal = @fiscalyear
			and Version = @oldversion
			AND [CompanyID] = @companyID
		end

	if @percentcategory = 'Cost'
		begin
			insert into [Budget Forecast V2 Master] with (tablock) (Fiscal, Version, [PriceIncrease%], [CostIncrease%], [CompanyID])
			select Fiscal, @newversion, [PriceIncrease%], @newvalue, @companyID
			from [Budget Forecast V2 Master] with (nolock)
			where Fiscal = @fiscalyear
			and Version = @oldversion

			update [Budget Forecast V2 Master]
			set [CostIncrease%] = @oldvalue,
				Approved = 1
			where Fiscal = @fiscalyear
			and Version = @oldversion
			AND [CompanyID] = @companyID
		end

	--Add new version records in forecast table
	insert into [Budget Forecast V2] with (tablock) (BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, Version, NoUnits, [Discount 1], [Discount 2], [Discount 3], [Expected Margin], [CompanyID])
	select BudYear, BudMonth, Dealer, Class, [Model No], Fiscal, @newversion, NoUnits, [Discount 1], [Discount 2], [Discount 3], [Expected Margin], @companyID
	from [Budget Forecast V2] with (nolock)
	where Fiscal = @fiscalyear
	and Version = @oldversion
	AND [CompanyID] = @companyID

	IF @companyID = 1 BEGIN

		-- STG

		--Add approved costing and hours for current version (@oldversion)
		update [Budget Forecast V2]
		set [Approved Price] = case [CURRENT DEALER US] when 0 then (case when Price is null then 0 else Price end)
														when 1 then (case when [US Price] is null then 0 else [US Price] end) end,
			[Approved COGS] = case when COGS is null then 0 else COGS end,
			[Discount 1] = case [CURRENT DEALER US] when 0 then QR_Discount1 when 1 then QRUS_Discount1 end,
			[Discount 2] = case [CURRENT DEALER US] when 0 then QR_Discount2 when 1 then QRUS_Discount2 end,
			[Discount 3] = case [CURRENT DEALER US] when 0 then QR_Discount3 when 1 then QRUS_Discount3 end,
			[Expected Margin] = case [CURRENT DEALER US] when 0 then QR_ExpectedMargin when 1 then QRUS_ExpectedMargin end,
			[Approved Hours] = case when (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									else (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end
		from [Budget Forecast V2] with (nolock)
		inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
												and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
		inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
		left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
		where Fiscal = @fiscalyear
		and Version = @oldversion
		AND [Budget Forecast V2].[CompanyID] = @companyID
		AND [ProductsV2].[CompanyID] = @companyID

	END
	ELSE BEGIN
	
		-- BWS

		--Add approved costing and hours for current version (@oldversion)
		update [Budget Forecast V2]
		set [Approved Price] = case [CURRENT DEALER US] when 0 then (case when Price is null then 0 else Price end)
														when 1 then (case when [US Price] is null then 0 else [US Price] end) end,
			[Approved COGS] = case when COGS is null then 0 else COGS end,
			[Discount 1] = case [CURRENT DEALER US] when 0 then QR_Discount1 when 1 then QRUS_Discount1 end,
			[Discount 2] = case [CURRENT DEALER US] when 0 then QR_Discount2 when 1 then QRUS_Discount2 end,
			[Discount 3] = case [CURRENT DEALER US] when 0 then QR_Discount3 when 1 then QRUS_Discount3 end,
			[Expected Margin] = case [CURRENT DEALER US] when 0 then QR_ExpectedMargin when 1 then QRUS_ExpectedMargin end,
			[Approved Hours] = case when (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									else (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end
		from [Budget Forecast V2] with (nolock)
		inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
												and [Budget Forecast V2].[Model No] = Products.[Model No]
		inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
		left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
		where Fiscal = @fiscalyear
		and Version = @oldversion
		AND [Budget Forecast V2].[CompanyID] = @companyID

	END

END
