USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_RptDealerPSalesvsCForecast V2]    Script Date: 2023-11-03 4:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_RptDealerPSalesvsCForecast V2]
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @version int, @fxrate decimal(14, 4), @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Calculate end period for last fiscal
	declare @PFED datetime

	select top (1) @PFED = cast(BudYear as nvarchar) + '-' + cast(BudMonth as nvarchar) + '-01'
	from (select distinct BudYear - 1 as BudYear, BudMonth
		  from [Budget Forecast V2] with (nolock)
		  where 
			Fiscal = @fiscalyear
			AND [CompanyID] = @companyID
		) as mainsub
	order by BudYear desc, BudMonth desc

	select @PFED = dateadd(day, -1, dateadd(month, 1, @PFED))
	
	IF @companyID = 1 BEGIN

		-- STG

		--Select statement
		select Grouping, Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS,
		sum(NoUnits) as PSUnits,
		cast(sum([Selling Price]) as decimal(14, 2)) as PSSellingPrice,
		cast(sum([Actual Margin]) as decimal(14, 2)) as PSActualMargin,
		cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [PSActualMargin%],
		cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as PSAvgRev,
		sum(TotalHours) as PSTotalHours,
		sum([On Order]) as [On Order],
		sum([Forecast Units]) as CFUnits,
		cast(sum([Forecast Selling Price]) as decimal(14, 2)) as CFSellingPrice,
		cast(sum([Forecast Margin]) as decimal(14, 2)) as CFMargin,
		cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [CFMargin%],
		cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as CFAvgRev
		from (select GROUPING as Grouping, Initials,
				Label, LabelTtl, Section, LabelSection, US, LabelUS, 
				UnitCount as NoUnits, 
				[Net Cost] as [Selling Price], 
				[Net Cost] - ActualTotalCost as [Actual Margin],
				TotalActual as TotalHours,
				0 as [On Order],
				0 as [Forecast Units],
				0 as [Forecast Selling Price],
				0 as [Forecast Margin]
				from [Stargatedb].[dbo].dtSalesPerformance
				inner join [Stargatedb].[dbo].[spv_DealerSalesSummary (Initials)] on dtSalesPerformance.WO# = [spv_DealerSalesSummary (Initials)].WO#
				and dtSalesPerformance.[Invoice #] = [spv_DealerSalesSummary (Initials)].[Invoice #]
				inner join (select distinct BudYear - 1 as BudYear, BudMonth, [CompanyID]
							from [Budget Forecast V2] with (nolock)
							where
								Fiscal = @fiscalyear
								AND [CompanyID] = @companyID
							) as subPFRange on year([Invoice Date]) = BudYear
																		 and month([Invoice Date]) = BudMonth
				where 
					[Date Declined] is null 
					and dtSalesPerformance.WO# not like '3%'
					and UnitExcl = 1
					AND [CompanyID] = @companyID

				union all select [v_Dealer Listing].GROUPING as Grouping, 
				[v_Dealer Listing].Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS,
				0, 0, 0, 0,
				count(SGQuote) as [On Order],
				0, 0, 0
				FROM [Stargatedb].[dbo].[v_Order Book Detail v2]
				inner join [Stargatedb].[dbo].[v_Dealer Listing] on [v_Order Book Detail v2].[COMPANY NAME] = [v_Dealer Listing].[COMPANY NAME]
				inner join [Stargatedb].[dbo].[v_Dealer Totals Breakdown] on [v_Dealer Listing].Initials = [v_Dealer Totals Breakdown].Initials
				WHERE 
					([v_Order Book Detail v2].[COMPANY NAME] <> N'BWS Manufacturing Ltd.')
					and ([PO Date] is not null and [PO Date] <= @PFED)
					and ([Invoice Date] is null or [Invoice Date] > @PFED)
					and ([Date Declined] is null or [Date Declined] > @PFED)

					--AND [CompanyID] = @companyID

				group by [v_Order Book Detail v2].[COMPANY NAME], [v_Dealer Listing].GROUPING, 
				[v_Dealer Listing].Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS

				union all select [v_Dealer Listing].GROUPING as SortD, [v_Dealer Listing].Initials,
				Label, LabelTtl, Section, LabelSection, US, LabelUS, 
				0, 0, 0, 0, 0,
				NoUnits, 
				(case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
				* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
				case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin
				from [Budget Forecast V2 Master] with (nolock)
				inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
				inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
														and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
				inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
				inner join [Stargatedb].[dbo].[v_Dealer Listing] on [DealersV2].[COMPANY NAME] = [v_Dealer Listing].[COMPANY NAME]
				inner join [Stargatedb].[dbo].[v_Dealer Totals Breakdown] on [v_Dealer Listing].Initials = [v_Dealer Totals Breakdown].Initials
				left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where 
					[Budget Forecast V2 Master].Fiscal = @fiscalyear
					and [Budget Forecast V2 Master].Version = @version
				
					AND [Budget Forecast V2 Master].[CompanyID] = @companyID
					AND [Budget Forecast V2].[CompanyID] = @companyID
					AND [ProductsV2].[CompanyID] = @companyID
					AND [DealersV2].[CompanyID] = @companyID
				
					) as mainsub
		group by Grouping, Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS
		having (case when Initials = 'BWS' and sum(NoUnits) = 0 then 0 else 1 end) = 1

	END
	ELSE BEGIN

		-- BWS

		--Select statement
		select Grouping, Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS,
		sum(NoUnits) as PSUnits,
		cast(sum([Selling Price]) as decimal(14, 2)) as PSSellingPrice,
		cast(sum([Actual Margin]) as decimal(14, 2)) as PSActualMargin,
		cast(case when sum([Selling Price]) = 0 then 0 else sum([Actual Margin]) / sum([Selling Price]) end as decimal(14, 3)) as [PSActualMargin%],
		cast(case when sum(NoUnits) = 0 then 0 else sum([Selling Price]) / sum(NoUnits) end as decimal(14, 2)) as PSAvgRev,
		sum(TotalHours) as PSTotalHours,
		sum([On Order]) as [On Order],
		sum([Forecast Units]) as CFUnits,
		cast(sum([Forecast Selling Price]) as decimal(14, 2)) as CFSellingPrice,
		cast(sum([Forecast Margin]) as decimal(14, 2)) as CFMargin,
		cast(case when sum([Forecast Selling Price]) = 0 then 0 else sum([Forecast Margin]) / sum([Forecast Selling Price]) end as decimal(14, 3)) as [CFMargin%],
		cast(case when sum([Forecast Units]) = 0 then 0 else sum([Forecast Selling Price]) / sum([Forecast Units]) end as decimal(14, 2)) as CFAvgRev
		from (select GROUPING as Grouping, Initials,
				Label, LabelTtl, Section, LabelSection, US, LabelUS, 
				UnitCount as NoUnits, 
				[Net Cost] as [Selling Price], 
				[Net Cost] - ActualTotalCost as [Actual Margin],
				TotalActual as TotalHours,
				0 as [On Order],
				0 as [Forecast Units],
				0 as [Forecast Selling Price],
				0 as [Forecast Margin]
				from dtSalesPerformance
				inner join [spv_DealerSalesSummary (Initials)] on dtSalesPerformance.WO# = [spv_DealerSalesSummary (Initials)].WO#
				and dtSalesPerformance.[Invoice #] = [spv_DealerSalesSummary (Initials)].[Invoice #]
				inner join (select distinct BudYear - 1 as BudYear, BudMonth, [CompanyID]
							from [Budget Forecast V2] with (nolock)
							where
								Fiscal = @fiscalyear
								AND [CompanyID] = @companyID
							) as subPFRange on year([Invoice Date]) = BudYear
																		 and month([Invoice Date]) = BudMonth
				where 
					[Date Declined] is null 
					and dtSalesPerformance.WO# not like '3%'
					and UnitExcl = 1
					AND [CompanyID] = @companyID

				union all select [v_Dealer Listing].GROUPING as Grouping, 
				[v_Dealer Listing].Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS,
				0, 0, 0, 0,
				count(Quote#) as [On Order],
				0, 0, 0
				FROM [v_Order Book Detail v2]
				inner join [v_Dealer Listing] on [v_Order Book Detail v2].[COMPANY NAME] = [v_Dealer Listing].[COMPANY NAME]
				inner join [v_Dealer Totals Breakdown] on [v_Dealer Listing].Initials = [v_Dealer Totals Breakdown].Initials
				WHERE 
					([v_Order Book Detail v2].[COMPANY NAME] <> N'BWS Manufacturing Ltd.')
					and ([PO Date] is not null and [PO Date] <= @PFED)
					and ([Invoice Date] is null or [Invoice Date] > @PFED)
					and ([Date Declined] is null or [Date Declined] > @PFED)

					--AND [CompanyID] = @companyID

				group by [v_Order Book Detail v2].[COMPANY NAME], [v_Dealer Listing].GROUPING, 
				[v_Dealer Listing].Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS

				union all select [v_Dealer Listing].GROUPING as SortD, [v_Dealer Listing].Initials,
				Label, LabelTtl, Section, LabelSection, US, LabelUS, 
				0, 0, 0, 0, 0,
				NoUnits, 
				(case when Approved = 1 
					then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
					else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
				* (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
				case when Approved = 1
					then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
					else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
						 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
						- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin
				from [Budget Forecast V2 Master] with (nolock)
				inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
				inner join [Products] with (nolock) on [Budget Forecast V2].Class = Products.Class
														and [Budget Forecast V2].[Model No] = Products.[Model No]
				inner join [Dealers] with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
				inner join [v_Dealer Listing] on Dealers.[COMPANY NAME] = [v_Dealer Listing].[COMPANY NAME]
				inner join [v_Dealer Totals Breakdown] on [v_Dealer Listing].Initials = [v_Dealer Totals Breakdown].Initials
				left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
				where 
					[Budget Forecast V2 Master].Fiscal = @fiscalyear
					and [Budget Forecast V2 Master].Version = @version
				
					AND [Budget Forecast V2 Master].[CompanyID] = @companyID
					AND [Budget Forecast V2].[CompanyID] = @companyID
					AND [Products].[CompanyID] = @companyID
					AND [Dealers].[CompanyID] = @companyID
				
					) as mainsub
		group by Grouping, Initials, Label, LabelTtl, Section, LabelSection, US, LabelUS
		having (case when Initials = 'BWS' and sum(NoUnits) = 0 then 0 else 1 end) = 1
	END
END
