USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ApplyInputLive]    Script Date: 2023-10-18 3:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ApplyInputLive] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @dealerid int, @version int, 
	@class nvarchar(255), @modelno nvarchar(255), @fieldname nvarchar(50), @fieldvalue int, @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Grab field id based on pivot field name so proper record is updated
	declare @fieldid int = case when left(@fieldname, 5) = 'Month' then SUBSTRING(@fieldname, CHARINDEX('Month', @fieldname) + 5, len(@fieldname)) 
								when @fieldname like 'PY1%' then SUBSTRING(@fieldname, CHARINDEX('Month', @fieldname) + 5, len(@fieldname)) + 12
								when @fieldname like 'PY2%' then SUBSTRING(@fieldname, CHARINDEX('Month', @fieldname) + 5, len(@fieldname)) + 24
								when @fieldname like 'PY3%' then SUBSTRING(@fieldname, CHARINDEX('Month', @fieldname) + 5, len(@fieldname)) + 36 end,
			@budyear int,
			@budmonth int
	;

	--Grab associated calendar year and month
	select @budyear = BudYear,
		   @budmonth = BudMonth
	from (select Fiscal, BudYear, BudMonth,
		  ROW_NUMBER() over(order by Fiscal desc, BudYear, BudMonth) as MonthID
		  from (select distinct Fiscal, BudYear, BudMonth
			    from [Budget Forecast V2] with (nolock)
			    where Dealer = @dealerid AND [CompanyID] = @companyID) as subA
		   where Fiscal between @fiscalyear - 2 and @fiscalyear) as main
	where MonthID = @fieldid

	--Apply value
	update [Budget Forecast V2]
	set NoUnits = @fieldvalue
	where BudYear = @budyear
	and BudMonth = @budmonth
	and Dealer = @dealerid
	and Class = @class
	and [Model No] = @modelno
	and Fiscal = case when @fieldid between 1 and 12 then @fiscalyear
					  when @fieldid between 13 and 24 then @fiscalyear - 1
					  when @fieldid between 25 and 36 then @fiscalyear - 2
					  when @fieldid between 37 and 48 then @fiscalyear - 3 end
	and Version = @version
	AND [CompanyID] = @companyID

END
