USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_ForecastVersion1Check]    Script Date: 2023-10-18 10:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_ForecastVersion1Check] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @companyID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @loopyear int = @fiscalyear,
			@loopmonth int = 11,
			@looptimes int = 1

	if (select count(*) from [Budget Forecast V2 Master] with (nolock) where Fiscal = @fiscalyear and Version = 1 AND [CompanyID] = @companyID) = 0
		begin
			insert into [Budget Forecast V2 Master] with (tablock) (Fiscal, Version, [CompanyID])
			select @fiscalyear, 1, @companyID
		end

END
