USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetForecastV2_RptByClassSummaryPerDealer V2]    Script Date: 2023-11-03 12:50:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_BudgetForecastV2_RptByClassSummaryPerDealer V2] 
	-- Add the parameters for the stored procedure here
	@fiscalyear int, @dealerid int, @version int, @fxrate decimal(14, 4), @companyID int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @companyID = 1 BEGIN

		-- Insert statements for procedure here
		--Show results based on @dealerid
		--Show all Dealers if "All" is selected
		if @dealerid = 0
			begin
				select Grouping, ClassGroup, ClassSort,
				sum(NoUnits) as TotalUnits,
				sum(NetPrice) as TotalPrice,
				sum(NetMargin) as TotalMargin,
				case when sum(NetPrice) = 0 then 0 else sum(NetMargin) / sum(NetPrice) end as [TotalMargin%],
				case when sum(NoUnits) = 0 then 0 else sum(NetPrice) / sum(NoUnits) end as TotalAvgRev,
				cast(sum(TotalHours) as decimal(14, 2)) as TotalHours
				from (select [ProductsV2].Grouping, ClassGroup, ClassSort, NoUnits, 
					  (case when Approved = 1 
							then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
							else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3) end)
					  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
					  case when Approved = 1
							then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
					  case when Approved = 1
							then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - [ProductsV2].QR_Discount1)) * (1 - [ProductsV2].QR_Discount2)) * (1 - [ProductsV2].QR_Discount3))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
					  case when Approved = 1
						   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
						   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
						   end as TotalHours
					  from [Budget Forecast V2 Master] with (nolock)
					  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																		and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
					  inner join [ProductsV2] with (nolock) on [Budget Forecast V2].Class = [ProductsV2].Class
																and [Budget Forecast V2].[Model No] = [ProductsV2].[Model No]
					  inner join [DealersV2] with (nolock) on [Budget Forecast V2].Dealer = [DealersV2].ID
					  inner join [v_Class Totals Breakdown] ON [ProductsV2].Grouping = [v_Class Totals Breakdown].Grouping
					  left outer join SysproCompanyS.dbo.v_BOMCosting on [ProductsV2].[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
					  where 
						[Budget Forecast V2 Master].Fiscal = @fiscalyear
						and [Budget Forecast V2 Master].Version = @version

						AND [Budget Forecast V2].[CompanyID] = @companyID
						AND [Budget Forecast V2 Master].[CompanyID] = @companyID
						AND [ProductsV2].[CompanyID] = @companyID
						AND [DealersV2].[CompanyID] = @companyID
						AND [v_Class Totals Breakdown].[CompanyID] = @companyID
					) as mainsub
				group by Grouping, ClassGroup, ClassSort
			end

		--Show specified dealer
		if @dealerid <> 0
			begin
				select Grouping, ClassGroup, ClassSort,
				sum(NoUnits) as TotalUnits,
				sum(NetPrice) as TotalPrice,
				sum(NetMargin) as TotalMargin,
				case when sum(NetPrice) = 0 then 0 else sum(NetMargin) / sum(NetPrice) end as [TotalMargin%],
				case when sum(NoUnits) = 0 then 0 else sum(NetPrice) / sum(NoUnits) end as TotalAvgRev,
				cast(sum(TotalHours) as decimal(14, 2)) as TotalHours
				from (select Products.Grouping, ClassGroup, ClassSort, NoUnits, 
					  (case when Approved = 1 
							then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
							else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
					  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
					  case when Approved = 1
							then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
					  case when Approved = 1
							then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
					  case when Approved = 1
						   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
						   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
						   end as TotalHours
					  from [Budget Forecast V2 Master] with (nolock)
					  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																		and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
					  inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
																and [Budget Forecast V2].[Model No] = Products.[Model No]
					  inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
					  inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
					  left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
					  where 
						[Budget Forecast V2 Master].Fiscal = @fiscalyear
						and [Budget Forecast V2 Master].Version = @version
						and Dealer = @dealerid
						
						AND [Budget Forecast V2].[CompanyID] = @companyID
						AND [Budget Forecast V2 Master].[CompanyID] = @companyID
						AND [Products].[CompanyID] = @companyID
						AND [Dealers].[CompanyID] = @companyID
						AND [v_Class Totals Breakdown].[CompanyID] = @companyID
					) as mainsub
				group by Grouping, ClassGroup, ClassSort
			end
	END
	ELSE BEGIN
		

		-- Insert statements for procedure here
		--Show results based on @dealerid
		--Show all Dealers if "All" is selected
		if @dealerid = 0
			begin
				select Grouping, ClassGroup, ClassSort,
				sum(NoUnits) as TotalUnits,
				sum(NetPrice) as TotalPrice,
				sum(NetMargin) as TotalMargin,
				case when sum(NetPrice) = 0 then 0 else sum(NetMargin) / sum(NetPrice) end as [TotalMargin%],
				case when sum(NoUnits) = 0 then 0 else sum(NetPrice) / sum(NoUnits) end as TotalAvgRev,
				cast(sum(TotalHours) as decimal(14, 2)) as TotalHours
				from (select Products.Grouping, ClassGroup, ClassSort, NoUnits, 
					  (case when Approved = 1 
							then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
							else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
					  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
					  case when Approved = 1
							then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
					  case when Approved = 1
							then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
					  case when Approved = 1
						   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
						   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
						   end as TotalHours
					  from [Budget Forecast V2 Master] with (nolock)
					  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																		and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
					  inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
																and [Budget Forecast V2].[Model No] = Products.[Model No]
					  inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
					  inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
					  left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
					  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
					  and [Budget Forecast V2 Master].Version = @version) as mainsub
				group by Grouping, ClassGroup, ClassSort
			end

		--Show specified dealer
		if @dealerid <> 0
			begin
				select Grouping, ClassGroup, ClassSort,
				sum(NoUnits) as TotalUnits,
				sum(NetPrice) as TotalPrice,
				sum(NetMargin) as TotalMargin,
				case when sum(NetPrice) = 0 then 0 else sum(NetMargin) / sum(NetPrice) end as [TotalMargin%],
				case when sum(NoUnits) = 0 then 0 else sum(NetPrice) / sum(NoUnits) end as TotalAvgRev,
				cast(sum(TotalHours) as decimal(14, 2)) as TotalHours
				from (select Products.Grouping, ClassGroup, ClassSort, NoUnits, 
					  (case when Approved = 1 
							then (((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3])
							else (((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3) end)
					  * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end) as NetPrice,
					  case when Approved = 1
							then (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetCost,
					  case when Approved = 1
							then (((((NoUnits * ([Approved Price] * (1 + [PriceIncrease%]))) * (1 - [Discount 1])) * (1 - [Discount 2])) * (1 - [Discount 3]))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * ([Approved COGS] * (1 + [CostIncrease%]))) end)
							else (((((NoUnits * (case [CURRENT DEALER US] when 0 then Price when 1 then [US Price] end * (1 + [PriceIncrease%]))) * (1 - Products.QR_Discount1)) * (1 - Products.QR_Discount2)) * (1 - Products.QR_Discount3))
								 * (case [CURRENT DEALER US] when 0 then 1 when 1 then @fxrate end))
								- (case when (NoUnits * (COGS * (1 + [CostIncrease%]))) is null then 0 else (NoUnits * (COGS * (1 + [CostIncrease%]))) end) end as NetMargin,
					  case when Approved = 1
						   then (case when NoUnits * [Approved Hours] is null then 0 else NoUnits * [Approved Hours] end)
						   else (case when NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) is null then 0
									  else NoUnits * (Axle + Step1 + Step2 + Blast + v_BOMCosting.Paint + FGNK + FinalAssembly + TireAssembly + Shipping) end) 
						   end as TotalHours
					  from [Budget Forecast V2 Master] with (nolock)
					  inner join [Budget Forecast V2] with (nolock) on [Budget Forecast V2 Master].Fiscal = [Budget Forecast V2].Fiscal
																		and [Budget Forecast V2 Master].Version = [Budget Forecast V2].Version
					  inner join Products with (nolock) on [Budget Forecast V2].Class = Products.Class
																and [Budget Forecast V2].[Model No] = Products.[Model No]
					  inner join Dealers with (nolock) on [Budget Forecast V2].Dealer = Dealers.ID
					  inner join [v_Class Totals Breakdown] ON Products.Grouping = [v_Class Totals Breakdown].Grouping
					  left outer join SysproCompanyA.dbo.v_BOMCosting on Products.[Top Level Part# (SYSPRO 8)] collate Latin1_General_BIN = v_BOMCosting.ParentPart
					  where [Budget Forecast V2 Master].Fiscal = @fiscalyear
					  and [Budget Forecast V2 Master].Version = @version
					  and Dealer = @dealerid) as mainsub
				group by Grouping, ClassGroup, ClassSort
			end
	END
END
