USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_InventoryValuation]    Script Date: 2023-11-09 2:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		James Crawford
-- Create date: 2016-01-21
-- Description: Returns resultsets showing which units are in inventory at BWS based on Syspro data; used on Inventory reports in our Access databases.

-- 2022-09-28 James Crawford - Added where clause to exclude 3 Half Round Work Orders from reports: 10015030 - 10015032
-- IT Request #001197
-- 2022-10-18 James Crawford - Removed 10015032 from 3 Half Round where clause as per Glen's request
-- IT Request #001294
-- 2023-03-17 James Crawford - Removed 10015248 & 10015249 from the EntInvoiceDate's list of case statements ("subC" sub-query) as Glen said these units have been sold
-- case statement had a "when" clause that nullified the "EntInvoiceDate" value for these 2 work orders
-- IT Request #001795
-- 2023-03-31 James Crawford - Removed invoice date from the following WO#s as per Sheil's request: 10016199, 10015249, 10016256
-- TODO:
-- WORK ON A MORE "BULLETPROOF" OR "SYSTEMATIC" WAY TO INCLUDE/EXCLUDE UNITS BASED ON # OF TIMES INVOICED & CREDITED (IF # INVOICES = # CREDITS THEN EXCLUDE, OTHEREWISE INCLUDE!)
-- IT Request #001849
-- 2023-04-20 James Crawford - Figured out the missing link! Once I solved debit-credit links, was also able to exclude unneeded credits via the SysproCompanyA.dbo.[CusSorMaster+] table (AccessQuote column <> '')
-- IT Request #001861
-- 2023-04-28 James Crawford - Added "subWOIssued2OtherWO" sub-select statement to exclude WOs that have been issued to other WOs as of the @ed parameter
-- IT Request #001861
-- =============================================

CREATE PROCEDURE [dbo].[sp_InventoryValuationV2] 
	-- Add the parameters for the stored procedure here
	-- declare 
	@ed datetime

	-- set @ed = '2023-04-28'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @pm int, @py int

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = CurrentFinYear,
		   @loopglperiod = CurrentFinPeriod
	from SysproCompanyS.dbo.WipControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.InvControl with (nolock)'

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select CurrentFinYear - 1 from SysproCompanyS.dbo.WipControl with (nolock))
		begin
			if @loopglyear = (select CurrentFinYear from SysproCompanyS.dbo.WipControl with (nolock))
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.WipControl with (nolock)'
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyS.dbo.WipControl with (nolock)'
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	select @pm = GlPeriod,
		   @py = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@ed)
	and year(PeriodEndDate) = year(@ed)

	-- Dump Sales Performance into temp table for comparing against Invoices & Credits in Syspro
	select SPID
		, [Invoice #]
		, [Invoice Date]
		, WO#
	INTO
		#dtSalesPerformance_LastInvoice
	FROM
		[Stargatedb].[dbo].[dtSalesPerformance] with (nolock)
	WHERE
		UnitExcl = 1
		and ActualTotalCost <> 0
		and [Invoice Date] <= @ed

	-- select #dtSalesPerformance_LastInvoice.*
	-- 	, SorMasterRep.LastInvoice
	-- FROM
	-- 	#dtSalesPerformance_LastInvoice
	-- INNER JOIN
	-- 	SysproCompanyA.dbo.SorMasterRep
	-- ON
	-- 	#dtSalesPerformance_LastInvoice.[Invoice #] collate Latin1_General_BIN = REPLACE(LTRIM(REPLACE(SorMasterRep.LastInvoice, '0', ' ')), ' ', '0')
	-- WHERE
	-- 	WO# in (
	-- 		10012200
	-- 		, 10012253
	-- 	)

	-- Remove all Invoices that are tied to a credit (cancelled) AND is NOT a discount/adjustment invoice
	delete from #dtSalesPerformance_LastInvoice
	FROM
		#dtSalesPerformance_LastInvoice
	INNER JOIN
		SysproCompanyS.dbo.SorMasterRep
	ON
		#dtSalesPerformance_LastInvoice.[Invoice #] collate Latin1_General_BIN = REPLACE(LTRIM(REPLACE(SorMasterRep.LastInvoice, '0', ' ')), ' ', '0')
	inner JOIN
		(
			select distinct Invoice
			from
				SysproCompanyS.dbo.SorDetailRep
			where
				LineType = 1
		) as subTopLevelInvoices
	ON
		SorMasterRep.InvoiceNumber = subTopLevelInvoices.Invoice
	INNER JOIN
		SysproCompanyS.dbo.[CusSorMaster+] with (nolock)
	ON
		SorMasterRep.SalesOrder = [CusSorMaster+].SalesOrder
	WHERE
		EntInvoiceDate <= @ed
		and REPLACE(LTRIM(REPLACE(SorMasterRep.InvoiceNumber, '0', ' ')), ' ', '0') not like '9%'
		and AccessQuote <> ''
		
	-- Remove all credits where there's a newer invoice that hasn't been credited yet
	delete from #dtSalesPerformance_LastInvoice
	FROM
		#dtSalesPerformance_LastInvoice
	INNER JOIN 
		(  
			select WO#
			FROM
				#dtSalesPerformance_LastInvoice
			GROUP by    
				WO#
			HAVING
				count(*) > 1
		) as subInvoiceAndCredit
	ON
		#dtSalesPerformance_LastInvoice.WO# = subInvoiceAndCredit.WO#
	INNER JOIN
		SysproCompanyS.dbo.SorMasterRep
	ON
		#dtSalesPerformance_LastInvoice.[Invoice #] collate Latin1_General_BIN = REPLACE(LTRIM(REPLACE(SorMasterRep.InvoiceNumber, '0', ' ')), ' ', '0')
	WHERE
		LastInvoice <> ''
		and EntInvoiceDate <= @ed

	-- Remove all duplicate invoices, except for the latest one
	delete from #dtSalesPerformance_LastInvoice
	from
		#dtSalesPerformance_LastInvoice
	INNER join
		(
			select WO#
				, [Invoice #]
				, [Invoice Date]
				, max(SPID) as LastSPID
			FROM
				#dtSalesPerformance_LastInvoice
			GROUP by    
				WO#
				, [Invoice #]
				, [Invoice Date]
			HAVING
				count(*) > 1
		) as subDuplicates
	ON
		#dtSalesPerformance_LastInvoice.WO# = subDuplicates.WO#
		and #dtSalesPerformance_LastInvoice.[Invoice #] = subDuplicates.[Invoice #]
		and #dtSalesPerformance_LastInvoice.[Invoice Date] = subDuplicates.[Invoice Date]
		and #dtSalesPerformance_LastInvoice.SPID <> subDuplicates.LastSPID

	-- final select statement
	select cast(mainsub.Job as int) as Job, subC.EntInvoiceDate, subC.ActCompleteDate, ExchangeRate,
	cast(sum(LabourToDate) + sum(MaterialToDate) as float) as TotalCostToDate
	from (select WipMaster.Job, JobDescription, JobClassification, JobTenderDate as DateCreated, ActCompleteDate, StockCode, StockDescription, 
		  cast(LRunTimeHours as decimal(14, 2)) as TimeToDate,
		  cast(case when TrnType = 'L' then TrnValue else 0 end as decimal(14, 2)) as LabourToDate,
		  cast(case when TrnType = 'R' then TrnValue else 0 end as decimal(14, 2)) as MaterialToDate
		  from SysproCompanyS.dbo.WipMaster with (nolock)
		  inner join SysproCompanyS.dbo.WipJobPost with (nolock) on WipMaster.Job = WipJobPost.Job
		  where PostYear <= @py
		  and (case when PostYear = @py and PostMonth <= @pm then 1
					when PostYear < @py then 1
					else 0 end) = 1) as mainsub
	left outer join (select Job, 
					 case when sum(MaterialValue) is null then 0 else sum(MaterialValue) end as Material, 
					 case when sum(LabourValue) is null then 0 else sum(LabourValue) end as Labour,
					 case when sum(MaterialValue) + sum(LabourValue)  is null then 0 else convert(float, sum(MaterialValue) + sum(LabourValue)) end as Total
					 from SysproCompanyS.dbo.WipPartBook with (nolock)
					 where TrnDate < @ed
					 group by Job) as subA on mainsub.Job = subA.Job
	inner join (select Job, sum(NetMatAllocations) as NetMatAllocations, sum(NetLabAllocations) as NetLabAllocations
				from (select Job, sum(ValueIssued) as NetMatAllocations, 0 as NetLabAllocations from SysproCompanyS.dbo.WipJobAllMat with (nolock)
					  group by Job

					  union all select Job, 0, sum(ValueIssued) from SysproCompanyS.dbo.WipJobAllLab with (nolock)
					  group by Job) as mainsub
				group by Job) as subB on mainsub.Job = subB.Job
	
	-- --REMOVE "Job in (10013938, 10014008)" CRITERIA WHEN SHEILA LETS YOU KNOW !!!
	-- --REMOVE "Job = 10013938" CRITERIA FROM ACTCOMPLETE DATA WHEN SHEILA LETS YOU KNOW !!!
	-- --REMOVE "Job = 10011822" CRITERIA FROM ACTCOMPLETE DATA WHEN SHEILA LETS YOU KNOW !!!
	-- --REMOVE "Job = 10014563" CRITERIA FROM INVOICE DATA WHEN SHEILA LETS YOU KNOW !!
	-- --REMOVE "70001030, 70001031, 70001032" CRITERIA WHEN SHEILA LETS YOU KNOW !!!
	-- --REMOVE "Job = 10015028" CRITERIA FROM INVOICE DATA WHEN SHEILA LETS YOU KNOW !!
	-- --REMOVE "Job in (10016199, 10015249, 10016256)" CRITERIA WHEN SHEILA LETS YOU KNOW !!!
	-- inner join (select Job, ExchangeRate,
	-- 			case when Job = 10011822 then 'february 28 2021' 
	-- 				when Job = 10014563 then 'april 30 2021' 
	-- 				when EntInvoiceDate is null then [Invoice Date] 
	-- 				/*when Job = 10015028 then null*/ 
	-- 				when Job in (70001030, 70001031, 70001032) then null 
	-- 				when Job in (10016199, 10015249, 10016256) then null
	-- 				else EntInvoiceDate end as EntInvoiceDate, 
	-- 			case when ActCompleteDate is null then [Date Completed] 
	-- 				/*when Job = 10013938 then 'march 31 2020'*/ 
	-- 				when Job in (70001030, 70001031, 70001032) then null 
	-- 				else ActCompleteDate end as ActCompleteDate
	-- 			from SysproCompanyA.dbo.v_CompletedJobInfo with (nolock)
	-- 			inner join Orders with (nolock) on v_CompletedJobInfo.Job = cast(Orders.WO# as varchar(20))
	-- 			inner join Production with (nolock) on Orders.WO# = Production.WO#
	-- 			group by Job, ExchangeRate, EntInvoiceDate, ActCompleteDate, [Invoice Date], [Date Completed]) as subC on mainsub.Job = subC.Job
	
	inner join (
					select Job
						, ExchangeRate
						, case when subCreditCheck.[Invoice Date] is null then (case when EntInvoiceDate is null then [OrdersV2].[Invoice Date] else EntInvoiceDate end)
							   when /*subCreditCheck.[Invoice Date] <= @ed and*/ left(subCreditCheck.[Invoice #], 1) = 8 then null 
								else subCreditCheck.[Invoice Date] end as EntInvoiceDate
						, case when ActCompleteDate is null then [Date Completed]
							   else ActCompleteDate end as ActCompleteDate
					FROM
						SysproCompanyS.dbo.v_CompletedJobInfo with (nolock)
					INNER JOIN
						[OrdersV2] with (nolock)
					on
						v_CompletedJobInfo.Job = cast([OrdersV2].[WO#] as varchar(20))
					INNER JOIN
						[ProductionV2] with (nolock)
					on
						[OrdersV2].[WO#] = [ProductionV2].[WO#]
					left outer join -- subquery to include units that have been credited 
						(
							select distinct [WO#]
								, [Invoice #]
								, [Invoice Date]
							from
								#dtSalesPerformance_LastInvoice
						) as subCreditCheck
					ON
						[OrdersV2].[WO#] = subCreditCheck.WO#
					where 
						left(Job, 1) = '1'
					group by 
						Job
						, ExchangeRate
						, subCreditCheck.[Invoice Date]
						, subCreditCheck.[Invoice #]
						, EntInvoiceDate
						, ActCompleteDate
						, [OrdersV2].[Invoice Date]
						, [Date Completed]
				) as subC on mainsub.Job = subC.Job
	left outer join (select [OrdersV2].[WO#], EntryDate from SysproCompanyS.dbo.InvSerialTrn with (nolock)
					 inner join [BWSdb].[dbo].[OrdersV2] with (nolock) on rtrim(InvSerialTrn.Serial) = cast(rtrim([OrdersV2].[Serial Number]) as varchar(20)) collate Latin1_General_BIN
					 where DetailType in ('ISS', 'ADJ') --= 'ISS'
					 and [OrdersV2].[WO#] is not null) as subD on mainsub.Job = cast(subD.[WO#] as varchar(20))
	left outer join (
						select WipMaster.Job as [MasterJob]
							, WipMaster.StockCode as [MasterStockCode]
							, WipJobAllMat.Job as [IssuedToJob]
							, WipJobAllMat.StockCode as [IssuedToStockCode]
							, max(WipJobPost.TrnDate) as LastIssueDate
						FROM
							SysproCompanyS.dbo.WipMaster with (nolock)
						inner JOIN
							[BWSdb].[dbo].[OrdersV2] with (nolock)
						ON
							WipMaster.Job = cast([OrdersV2].[WO#] as varchar(20))
						INNER JOIN
							SysproCompanyS.dbo.WipJobAllMat with (nolock)
						ON
							WipMaster.StockCode = WipJobAllMat.StockCode
						INNER JOIN
							SysproCompanyS.dbo.WipJobPost with (nolock)
						ON
							WipJobAllMat.Job = WipJobPost.Job
							and WipJobAllMat.StockCode = WipJobPost.MStockCode
						WHERE
							QtyIssued > 0
						group BY
							WipMaster.Job
							, WipMaster.StockCode
							, WipJobAllMat.Job
							, WipJobAllMat.StockCode
					) as subWOIssued2OtherWO
	ON
		mainsub.Job = subWOIssued2OtherWO.MasterJob
	where (EntInvoiceDate is null or EntInvoiceDate > @ed)
	and (subD.EntryDate is null or subD.EntryDate > @ed)
	--and mainsub.Job not in ('10015030', '10015031')
	and (subWOIssued2OtherWO.LastIssueDate is null or subWOIssued2OtherWO.LastIssueDate > @ed)
	group by mainsub.Job, subC.EntInvoiceDate, subC.ActCompleteDate, ExchangeRate, subA.Material, subA.Labour, subB.NetLabAllocations, subB.NetMatAllocations
	--having (((case when Labour = NetLabAllocations then NetLabAllocations else sum(LabourToDate) end + case when Material = NetMatAllocations then NetMatAllocations else sum(MaterialToDate) end)
	--		- ((case when Labour is null then 0 else Labour end) + (case when Material is null then 0 else Material end)) = 0
	--or subC.ActCompleteDate <= @ed))
	having subC.ActCompleteDate <= @ed
	--and cast(mainsub.Job as int) <> d0011658
	----Truck WO Removal criteria (THESE WILL BE GIVEN TO YOU AS SHEILA TELLS YOU!)
	--and cast(mainsub.Job as int) not in ('10012132', '10012189', '10012190', '10012191', '10012192', '10012193', '10012204', '10012241')

	

	-- select dtSalesPerformance.WO#
	-- 	, dtSalesPerformance.[Invoice #]
	-- 	, dtSalesPerformance.[Invoice Date]
	-- 	, SorMasterRep.InvoiceNumber
	-- 	, SorMasterRep.EntInvoiceDate
	-- 	, SorMasterRep.LastInvoice
	-- 	, SorMasterRep.LastDelNote
	-- 	, [CusSorMaster+].AccessQuote
	-- FROM
	-- 	BWSdb.dbo.dtSalesPerformance with (nolock)
	-- INNER JOIN
	-- 	SysproCompanyA.dbo.SorMasterRep with (nolock)
	-- ON
	-- 	dtSalesPerformance.[Invoice #] collate Latin1_General_BIN = REPLACE(LTRIM(REPLACE(SorMasterRep.InvoiceNumber, '0', ' ')), ' ', '0')
	-- 	or dtSalesPerformance.[Invoice #] collate Latin1_General_BIN = REPLACE(LTRIM(REPLACE(SorMasterRep.LastInvoice, '0', ' ')), ' ', '0')
	-- INNER JOIN
	-- 	SysproCompanyA.dbo.[CusSorMaster+] with (nolock)
	-- ON
	-- 	SorMasterRep.SalesOrder = [CusSorMaster+].SalesOrder
	-- WHERE
	-- 	WO# IN (
	-- 		10012200
	-- 		, 10012253
	-- 		, 10014001
	-- 	)
	-- 	and REPLACE(LTRIM(REPLACE(SorMasterRep.InvoiceNumber, '0', ' ')), ' ', '0') not like '9%'
	-- 	and [CusSorMaster+].AccessQuote <> ''
	-- ORDER BY
	-- 	WO#
	-- 	, dtSalesPerformance.[Invoice #]

	-- select *
	-- FROM
	-- 	SysproCompanyA.dbo.v_CompletedJobInfo
	-- WHERE
	-- 	Job in (
	-- 		'10012200'
	-- 		, '10012253'
	-- 	)

	-- select distinct InvoiceNumber
	-- 	, LastInvoice
	-- FROM
	-- 	SysproCompanyA.dbo.SorMasterRep with (nolock)
	-- WHERE
	-- 	InvoiceNumber in (
	-- 		510467
	-- 		, 510474
	-- 		, 851264
	-- 		, 851266
	-- 	)

	-- select *
	-- FROM
	-- 	SysproCompanyA.dbo.SorMasterRep with (nolock)
	-- WHERE
	-- 	InvoiceNumber in (
	-- 		510467
	-- 		, 510474
	-- 		, 851264
	-- 		, 851266
	-- 	)

	-- select *
	-- FROM
	-- 	SysproCompanyA.dbo.[CusSorMaster+] with (nolock)
	-- INNER JOIN
	-- 	SysproCompanyA.dbo.SorMasterRep with (nolock)
	-- ON
	-- 	[CusSorMaster+].SalesOrder = SorMasterRep.SalesOrder
	-- WHERE
	-- 	SorMasterRep.InvoiceNumber in (
	-- 		510467
	-- 		, 510474
	-- 		, 851264
	-- 		, 851266
	-- 	)

	-- select *
	-- FROM
	-- 	BWSdb.dbo.dtSalesPerformance with (nolock)
	-- WHERE
	-- 	[Invoice #] in (
	-- 		510467
	-- 		, 510474
	-- 		, 851264
	-- 		, 851266
	-- 	)

	-- select CreditOrderLine
	-- 	, CreditOrderNo
	-- 	, *
	-- FROM
	-- 	SysproCompanyA.dbo.SorDetailRep with (nolock)
	-- WHERE
	-- 	Invoice in (
	-- 		510467
	-- 		, 510474
	-- 		, 851264
	-- 		, 851266
	-- 	)

	-- select *
	-- FROM
	-- 	#dtSalesPerformance_LastInvoice 
	-- WHERE
	-- 	WO# in (
	-- 		10012200
	-- 		, 10012253
	-- 		, 10016199
	-- 		, 10016256
	-- 		, 10014001
	-- 		, 10016242
	-- 		, 10015033
	-- 		, 10015212
	-- 	)
	
	-- select *
	-- FROM
	-- 	BWSdb.dbo.dtSalesPerformance with (nolock) 
	-- WHERE
	-- 	WO# in (
	-- 		10012200
	-- 		, 10012253
	-- 	)
	

	-- drop temp table, now that you are done with it
	drop table #dtSalesPerformance_LastInvoice

END
