USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaleStats_NewOrdersDetails]    Script Date: 2023-11-09 2:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2022-09-28 James Crawford - Added where clause to exclude 3 Half Round Work Orders from reports: 10015030 - 10015032
--IT Request #001197

CREATE PROCEDURE [dbo].[sp_SaleStats_NewOrdersDetailsV2] 
	-- Add the parameters for the stored procedure here
	@sd datetime, @ed datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Grab Country sorting and associated Quote date information for fast referencing
	IF OBJECT_ID('tempdb..#SalesStats_CountyInfo') IS NOT NULL
		DROP TABLE #SalesStats_CountyInfo 

	create table #SalesStats_CountyInfo
	(
		CountrySort int,
		CountryGroup int,
		Country nvarchar(10),
		Quote NVARCHAR(MAX),
		WO int,
		Class nvarchar(255),
		ModelNo nvarchar(255),
		[PO Date] datetime,
		[US Sale] bit,
		[Net Price] int,
		Dealer nvarchar(50)
	)

	--Grab details to dump into temp table
	insert into #SalesStats_CountyInfo
	select distinct case when Dealers.Initials = 'BWS' then 4
						 when Dealers.[COMPANY NAME] = 'BWS - CDN Direct Sales' then 3
						 when Orders.[US Sale] = 0 then 2
						 when Dealers.[COMPANY NAME] = 'BWS - US Direct Sales' then 1
						 when Orders.[US Sale] = 1 then 0 end as CountrySort,
	case when Dealers.Initials = 'BWS' then 2
		 when Dealers.[COMPANY NAME] = 'BWS - CDN Direct Sales' or Orders.[US Sale] = 0 then 1
		 when Dealers.[COMPANY NAME] = 'BWS - US Direct Sales' or Orders.[US Sale] = 1 then 0 end as CountryGroup, 
	case when Dealers.Initials = 'BWS' then 'Stock' 
		 when Dealers.[COMPANY NAME] = 'BWS - CDN Direct Sales' then 'BWS CDN'
		 when Orders.[US Sale] = 0 then 'CDN'
		 when Dealers.[COMPANY NAME] = 'BWS - US Direct Sales' then 'BWS US' 
		 when Orders.[US Sale] = 1 then 'US'
		 end as Country, 
	Orders.[SGQuote], WO#, Products.Class, Orders.[Model No], Orders.[PO Date], 
	[US Sale], [Net Price], Dealers.[COMPANY NAME]
	from [OrdersV2] AS Orders with (nolock)
	inner join [v_Quote Raw Pricing V2] on Orders.[SGQuote] = [v_Quote Raw Pricing V2].[SGQuote]
	inner join [DealersV2] AS [Dealers] with (nolock) on Orders.DealerID = Dealers.ID
	inner join [ProductsV2] AS [Products] with (nolock) on Orders.[Model No] = Products.[Model No]
	left outer join SysproCompanyS.dbo.v_CompletedJobInfo on CAST(Orders.WO# as varchar(20)) COLLATE Latin1_General_BIN = SysproCompanyS.dbo.v_CompletedJobInfo.Job 
	where Orders.[PO Date] between @sd and @ed
	and (
			--Orders.WO# not in (10015030, 10015031, 10015032)
			--or
			Orders.WO# is null
		)

	--Final select statement
	select CountrySort, CountryGroup, Country, Dealer, Class, ModelNo,
	count(Quote) as [#NewOrders],
	sum([Net Price]) as [$NewOrders]
	from #SalesStats_CountyInfo
	group by CountrySort, CountryGroup, Country, Dealer, Class, ModelNo

END
