/* html, */

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* td, th { */
  /* white-space: nowrap; */
  /* overflow: hidden; */
/* } */
		
.dropdown {
	position: relative;
	margin: 0 auto;
	white-space: nowrap;
}

.dropdown-content {
	background-color: maroon;
	display: none;
	position: absolute;
	min-width: 300px;
	z-index: 1;
}

.grid-container {
  display: flex;
  background-color: #2196F3;
  padding: 10px;
  /* align-items: center; */
  justify-content: center;
}

.description-cell {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
}

.submit-wrapper {
	/* overflow-x: auto; */
	/* display: flex; */
}

.submit-comments-textarea {
	background-color: rgba(200, 200, 200, 1);
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: black solid 1px;
}

.submit-button {
	
}

/* .list-header { */
	
/* } */

tr:nth-child(even) {
	background-color: rgba(255, 48, 48, 1);
} 
		
tr:nth-child(odd) {
	background-color: rgba(128, 112, 112, 1); 
} 
		
th {
	/* background-color: rgba(128, 112, 112, 1);  */
	border: 1px solid rgba(212, 32, 47, 1);
	border-bottom: 9px solid black;
	font:bold;
	background-color: rgba(222, 0, 0, 1);
	color: white;
} 

/* thead { */
/* } */

/* .optionLine { */
	/* /* float: left; */ */
	/* /* align-items: flex-start; */ */
	/* /* display: flex; */ */
  /* /* align-items: center; */ */
  /* /* justify-content: center; */ */
  /* /* height: 100%; */ */
  /* /* flex-direction: column; */ */
  
  
  
	/* /* display: -webkit-inline-box; */ */
	/* /* position: relative; */ */
	/* /* top: 50%; */ */
	/* /* transform: translateY(-50%);  */ */
/* /* } */ */

/* /* .optionsList:after { */ */
	/* /* background-color: green; */ */
    /* /* /* white-space: nowrap; */ */ */
    /* /* /* overflow-x: auto; */ */ */
    /* /* /* overflow-y: hidden; */ */ */
	/* /* /* position: relative; */ */ */
	/* /* display: table; */ */
	/* /* clear: both; */ */
	/* /* table-layout:fixed */ */
/* /* } */ */

/* /* .optionsHeader { */ */
	/* /* display: flex; */ */
	/* /* /* position: relative; */ */ */
/* /* } */ */

/* /* .descriptionSpan { */ */
	/* /* width: 30%; */ */
/* /* } */ */

/* /* .weightSpan { */ */
	/* /* width: 8%; */ */
/* /* } */ */

/* /* .priceSpan { */ */
	/* /* width: 8%; */ */
/* /* } */ */

/* /* .inc_dec_widget { */ */
	/* /* white-space: nowrap; */ */
	/* /* overflow: hidden; */ */
/* /* } */ */

#industry-selection {
	margin: 0 auto;
	width: 33%;
	/* display: flex; */
	/* align-items: center; */
	justify-content: center;
}

#class-selection {
	margin: 0 auto;
	width: 33%;
	/* display: flex; */
	/* align-items: center; */
	justify-content: center;
}

#model-selection {
	margin: 0 auto;
	width: 33%;
	/* display: flex; */
	/* align-items: center; */
	justify-content: center;
}

.industrySelectionP {
	text-align: center;
	justify-content: center;
}

.classSelectionP {
	text-align: center;
	justify-content: center;
}

.modelSelectionP {
	text-align: center;
	justify-content: center;
}

.inc_dec_widget {
	display: contents;
}

/* /* */
/* top, right, bottom, left */
/* */ */
td {
	padding: 0px 8px 0px 8px;
}

table {
	background-color: rgba(200, 180, 180, 1);
	color: rgba(10, 10, 10, 1);
}

#npo-banner {
	text-align: center !important;
	background-color: rgba(150, 150, 150, 1);
	color: black;
	font-size: 20px;
	padding: 3px 0px 3px 0px;
	display: inherit;
}

.npo-banner {
	text-align: center !important;
}

.industryElem {
	color: rgba(217, 217, 217, 1);
}

.classElem {
	color: rgba(217, 217, 217, 1);
}

.modelElem {
	color: rgba(217, 217, 217, 1);
}

.industryElem:hover {color: green;}
.industryElem:active {color: blue;}
.classElem:hover {color: green;}
.classElem:active {color: blue;}
.modelElem:hover {color: green;}
.modelElem:active {color: blue;}
	
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.optionLine:hover {background-color: white;}
.baseSpecLine:hover {background-color: white;}
