/* html, */

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;

}


.dropdown {
  /* position: center; */
  /* margin: 0 auto; */
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;

}


.dropdown-content {
  background-color: maroon;
  
  
  
  
  /* TODO change this back */
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  height: 0px;
  
  
  
  
  
  /* position: absolute; */
  min-width: 100px;
  z-index: 1;
  vertical-align: middle;
  text-align: center;
  padding: 0px 40px  0px 0px;
  justify-content: center;
<<<<<<< HEAD
  transition: all .35s linear;
=======
  transition: all .5s linear;
>>>>>>> 41e82916cd7568d3ab106c02759eb4e072cb8c9c

}


.grid-container {
  display: flex;
  /* background-color: #2196F3; */
  background-color: rgba(222, 0, 0, 1);
  padding: 10px;
  justify-content: center;
<<<<<<< HEAD
  transition: all .35s linear;
=======
  transition: all .5s linear;
>>>>>>> 41e82916cd7568d3ab106c02759eb4e072cb8c9c

}


.description-cell {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0px 8px 0px 8px;

}


.table-wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;

}


.submit-comments-textarea {
  background-color: rgba(200, 200, 200, 1);
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: black solid 1px;
  border-radius: 15px;

}


.list-wrapper {
	display: flex;
}


tr:nth-child(even) {
  background-color: rgba(255, 48, 48, 1);

}


tr:nth-child(odd) {
  background-color: rgba(128, 112, 112, 1);

}


th {
  border: 1px solid rgba(212, 32, 47, 1);
  border-bottom: 9px solid black;
  font: bold;
  background-color: rgba(222, 0, 0, 1);
  color: white;

}


.selection {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  width: 33%;
  vertical-align: middle;

}


.selectionP {
	background-color: white;
	border-radius: 15px;
	margin: 0px 0px 50px 0px;
	font-weight: bold;
	padding-top: 27px;
	
}


.selectionPLink {
	vertical-align: center;
}

.menu-elem {
	vertical-align: middle;
	padding: 10px 10px 10px 20px;
}

#industrySelectionP {
  text-align: center;
  justify-content: center;

}


#classSelectionP {
  text-align: center;
  justify-content: center;

}


#modelSelectionP {
  text-align: center;
  justify-content: center;

}


.inc_dec_widget {
  display: contents;

}


td {
  padding: 0px 8px 0px 8px;
  /* color: yellow; */
  font-size: 14px;
  font-weight: 600;

}


table {
  background-color: rgba(200, 180, 180, 1);
  color: rgba(10, 10, 10, 1);

}


.banner {
  text-align: center !important;
  background-color: rgba(150, 150, 150, 1);
  color: black;
  font-size: 20px;
  padding: 3px 0px 3px 0px;
  display: inherit;

}


#npo-banner {
  text-align: center;

}


.industryElem {
  color: rgba(217, 217, 217, 1);

}


.classElem {
  color: rgba(217, 217, 217, 1);

}


.modelElem {
  color: rgba(217, 217, 217, 1);

}


.industryElem:hover {
  color: green;
}


.industryElem:active {
  color: blue;
}


.classElem:hover {
  color: green;
}


.classElem:active {
  color: blue;
}


.modelElem:hover {
  color: green;
}


.modelElem:active {
  color: blue;
}


.dropdown-content a:hover {
  background-color: white;
}


.dropdown:hover .dropdown-content {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  height: auto;
}


.dropdown:hover .dropbtn {
  background-color: grey;
}


.optionLine:hover {
  background-color: white;
}


.baseSpecLine:hover {
  background-color: white;
}


#minimize-specs-A {
	margin: 3px 3px 20px 8px;
}


#minimize-options-A {
	margin: 3px 3px 20px 8px;
	border-radius: 25px;
}


.list-title {
	margin-left: 50 px;
	border-radius: 25px;
}