USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_defectsEngineeringByDesignerReport]    Script Date: 7/14/2021 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_defectsEngineeringByDesignerReport]
	-- Add the parameters for the stored procedure here
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN

	DECLARE @Companies TABLE ([CompanyID] int);
	INSERT INTO @Companies VALUES (0);
	SELECT
		[Staff],
		[Defect],
		MAX([# Defects]) AS [Total Defects]
	FROM
		(
		SELECT
			[Engineer],
			[Defect],
			ROW_NUMBER() OVER (
				PARTITION BY 
					[Engineer],
					[Defect]
				ORDER BY 
					Engineer DESC
			) AS [# Defects]
		FROM
			[Defects_Print]
		WHERE
			[Input Date] Between @StartDate	And @EndDate
	) AS [EngineerDefects]
	LEFT JOIN
		[Design StaffV2]
	ON
		[EngineerDefects].[Engineer] = [Design StaffV2].[ID-SaleStaff]
	WHERE
		[Design StaffV2].[CompanyID] IN (SELECT [CompanyID] FROM @Companies)
	GROUP BY
		[Staff],
		[Defect]
	ORDER BY
		[Staff],
		[Defect]
	;
END
