USE [SysproCompanyA]
GO
/****** Object:  Trigger [dbo].[tr_EmpOverBudEmailNotification]    Script Date: 2022-12-09 9:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_EmpOverBudEmailNotification] 
   ON  [dbo].[ClkTransaction] 
   AFTER UPDATE
   
AS 

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	declare @recordID bigint,
			@MCDesc varchar(50),
			@EmpName varchar(50),
			@JobDesc varchar(50),
			@Loggedon datetime,
			@Loggedoff datetime,
			@Job varchar(20),
			@JobOp decimal(5, 0),
			@JobOpComp bit,
			@WC varchar(20),
			@WCDesc varchar(50),
			@EmpNum int, 
			@MC varchar(30),
			@budget decimal(9, 4),
			@actual decimal(9, 4),
			@budgetremaining decimal(9, 4),
			@postedtime decimal(9, 4),
			@netactual decimal(9, 4),
			@varpercent decimal(14, 2)

	select @recordID	= i.TransactionID				from inserted i
	select @Loggedon	= i.LoggedOn					from inserted i
	select @Loggedoff	= d.LoggedOff					from deleted d
	select @EmpNum		= i.EmployeeNumber				from inserted i
	select @EmpName		= i.EmployeeName				from inserted i
	select @Job			= i.JobNumber					from inserted i
	select @JobDesc		= i.JobName						from inserted i
	select @JobOp		= i.Operation					from inserted i
	select @JobOpComp	= i.OperationComplete			from inserted i
	select @WC			= i.WorkCentreCode				from inserted i
	select @WCDesc		= i.WorkCentreCodeDescription	from inserted i
	select @MC			= i.MachineCode					from inserted i
	select @MCDesc		= i.MachineCodeDescription		from inserted i

	--Get net time posted from ShopClock for current transaction
	select @postedtime = cast(cast(DATEDIFF(N, LoggedOn, LoggedOff) as float) / 60 as decimal(9, 4))
	from ClkTransaction with (nolock)
	where TransactionID = @recordID
	and LoggedOff is not null

	--Get net budget remaining for Job and Operation the employee posted to
	select @budget = IExpUnitRunTim * QtyToMake,
		   @actual = RunTimeIssued
	from WipJobAllLab with (nolock)
	inner join WipMaster with (nolock) on WipJobAllLab.Job = WipMaster.Job
	where WipMaster.Job = @Job
	and Operation = @JobOp

	select @budgetremaining = @budget - @actual

	--Continue if Posted time puts actual hours over budget (Posted Time > Budget Remaining) and this is the first time updating this record (no logged off date prior to)
	--Also, ignore all Adam Nicholson transactions (REMOVE WHEN NO LONGER A TEST EMPLOYEE!)
	if @postedtime > @budgetremaining and @LoggedOff is null and @EmpNum <> 200100
	begin
		--Calculate net Actual hours
		select @netactual = @actual + @postedtime

		--Calculate variance %
		select @varpercent = case when @budget = 0 then 0 else ((@budget - @netactual) / @budget) * 100 end

		--Compose email body
		declare @sSubject varchar(1000) = rtrim(@EmpName) + ' Over Budget!',
				@sBody varchar(8000)
		select @sBody = 'This employee is exceeding budget on Job ' + @Job + '.' + char(10) + char(10)
						+ 'Time Card info:' + char(10) + char(10)
						+ 'Logged On: ' + cast(@loggedon as nvarchar) + char(10)
						+ 'Employee Number: ' + cast(@EmpNum as nvarchar) + char(10)
						+ 'Employee Name: ' + @EmpName + char(10)
						+ 'Job: ' + @Job + char(10)
						+ 'Job Description: ' + @JobDesc + char(10)
						+ 'Operation: ' + cast(@JobOp as nvarchar) + char(10)
						+ 'Operation Complete Y/N: ' + case @JobOpComp when 0 then 'N' when 1 then 'Y' end + char(10)
						+ 'WorkCente: ' + @WC + char(10)
						+ 'WorkCente Description: ' + @WCDesc + char(10)
						+ 'Machine Code: ' + @MC + char(10)
						+ 'Machine Code Description: ' + @MCDesc + char(10)
						+ 'Budget: ' + cast(@budget as nvarchar) + char(10)
						+ 'Actual: ' + cast(@netactual as nvarchar) + char(10)
						+ '% Variance: ' + cast(@varpercent as nvarchar) + '%' + char(10) + char(10)
						+ '(i) Maybe budget needs reviwed, you can forward this email to accounting with reasons why employee is over and it can be reviwed.' + char(10)
						+ '(ii) Maybe the employee is having issues that need to be discussed with them.'
	
		--Generate email recipients based on WorkCentres
		declare @sRecipients varchar(1000)

		if @WC = 'M'
			begin
				select @sRecipients = 'charlie.guest@bwstrailers.com'
			end
		else
			begin
				select @sRecipients = 'charlie.guest@bwstrailers.com'
			end

		--Send email
		exec msdb.dbo.sp_send_dbmail
			@recipients = @sRecipients,
			@profile_name = 'SQL Agent',
			@subject = @sSubject,
			@body = @sBody;

	end

END




