USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_WOSnapshotEmployeesOnJob Ops 4 5]    Script Date: 2024-03-19 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_WOSnapshotEmployeesOnJob Ops 5to8]
	@WO NVARCHAR(MAX)
AS
BEGIN

--DECLARE @WO NVARCHAR(MAX) = '10016015';

-- SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4

--SELECT
--	[LoggedOff]
--	,[LoggedOn]
	
--			,[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4


SELECT
	[ClkEmployee].[Employee]
	,[ClkEmployee].[Name]
	,[Operation]
	,CAST(ROUND(SUM([RunTime]), 2) AS DECIMAL(14, 2)) AS [SumHours]
	FROM
		[WipLabJnl]
	INNER JOIN 
		[ClkEmployee]
	ON
		[WipLabJnl].[Employee] = [ClkEmployee].[Employee]
	WHERE
		[Job] LIKE @WO
		--AND ([Operation] = 4 OR [Operation] = 5)
		AND ([Operation] BETWEEN 5 AND 8)
		--AND ([Machine] = 41 OR [Machine] = 42)
	GROUP BY
		[ClkEmployee].[Employee]
		,[ClkEmployee].[Name]
		,[Operation]
	ORDER BY
		[Operation],
		[SumHours] DESC,
		[ClkEmployee].[Name]

--SELECT
--		[EmployeeNumber]
--		,[EmployeeName]
--		,[Operation]
--		,CAST(ROUND(SUM([Hours]), 2) AS DECIMAL(14, 2)) AS [Hours]
--	FROM (
--		SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 4
--		UNION
--		SELECT
--			[EmployeeNumber]
--			,[EmployeeName]
--			,[Operation]
--			,DATEDIFF(HOUR, [LoggedOn], [LoggedOff]) + ((DATEDIFF(MINUTE, [LoggedOn], [LoggedOff])) - (60.0 * DATEDIFF(HOUR, [LoggedOn], [LoggedOff]))) / 60.0 AS [Hours]
--		FROM
--			[ClkTransaction]
--		WHERE
--			[JobNumber] = @WO
--			AND [Operation] = 5
--	) AS [UnionSrc]
--	GROUP BY
--		[EmployeeNumber]
--		,[EmployeeName]
--		,[Operation]
END
