USE [SysproCompanyS]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClkTallyHours]    Script Date: 2022-04-18 2:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- All calls are prioritized by P = (sd=ed) > empNum > transaction# > date
-- i.e. iff @by_transaction = 1 then ignore @by_date else apply @by_date iff applicable

--ALTER PROCEDURE [dbo].[sp_ClkTallyHours]
DECLARE
	@sd DATETIME, @ed DATETIME, @empNum NVARCHAR(MAX) = NULL, @by_transaction BIT = 1, @by_date BIT = 0
SET @sd = '2022-04-11';
SET @ed = '2022-04-13 23:59:59';
SET @by_transaction = 0;
SET @by_date = 1;
--AS 
--BEGIN 

	
	DECLARE @emps AS TABLE([idx] INT, [EmpNum] NVARCHAR(MAX));
	INSERT INTO @emps SELECT * FROM [BWSdb].[dbo].[split_string_idx](@empNum, ';');

	DECLARE @Src TABLE ([EmployeeNumber] NVARCHAR(MAX), [EmployeeName] NVARCHAR(200), [StartDate] DATETIME, [EndDate] DATETIME, [HrsWorked] FLOAT);
	IF @empNum IS NOT NULL BEGIN

		INSERT INTO @Src
		SELECT 
			[EmployeeNumber],
			[EmployeeName],
			@sd AS [StartDate],
			@ed AS [EndDate],
			ROUND(DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) + ((DATEDIFF(mi, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) / 60.0) - DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk]))), 2)
			--ROUND(((60 * ((DATEPART(HOUR, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))))) + DATEPART(MINUTE, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
			--ROUND(((60 * (SUM(DATEPART(HOUR, [OutTimeFromShopClk] - [InTimeFromShopClk])))) + SUM(DATEPART(MINUTE, [OutTimeFromShopClk] - [InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
		FROM
			[ClkTransaction]
		WHERE
			--[EmployeeNumber] = CAST(@empNum AS NVARCHAR)
			[EmployeeNumber] IN (SELECT [EmpNum] FROM @emps)
			AND [InTimeFromShopClk] BETWEEN @sd AND @ed
			AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
		GROUP BY
			[EmployeeNumber], [EmployeeName]
		ORDER BY
			[EmployeeNumber];

		IF @by_transaction = 1 BEGIN
			SELECT 
				'A' AS [QueryID],
				[TransactionID],
				[JobNumber],
				[ClkTransaction].[EmployeeNumber],
				[ClkTransaction].[EmployeeName],
				[LoggedOn],
				[InTimeFromShopClk],
				[LoggedOff],
				[OutTimeFromShopClk],
				(CASE WHEN [LoggedOff] IS NULL THEN 0 ELSE 1 END) AS [PlaceHolder],
				[@Src].[HrsWorked],
				@sd AS [StartDate],
				@ed AS [EndDate]
			FROM
				[ClkTransaction]
			INNER JOIN
				@Src
			ON
				[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
			WHERE
				--[ClkTransaction].[EmployeeNumber] = @empNum
				[@Src].[EmployeeNumber] IN (SELECT [EmpNum] FROM @emps)
				AND [InTimeFromShopClk] BETWEEN  @sd AND @ed
				AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
			ORDER BY
				[PlaceHolder], [LoggedOn], [LoggedOff];
		END

		ELSE BEGIN
			IF @by_date = 0 BEGIN
				SELECT 
					'B' AS [QueryID],
					[ClkTransaction].[EmployeeNumber],
					[ClkTransaction].[EmployeeName],
					[@Src].[HrsWorked],
					@sd AS [StartDate],
					@ed AS [EndDate]
				FROM
					[ClkTransaction]
				INNER JOIN
					@Src
				ON
					[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
				WHERE
					[ClkTransaction].[EmployeeNumber] = @empNum
					AND [InTimeFromShopClk] BETWEEN  @sd AND @ed
					AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
				GROUP BY
					[ClkTransaction].[EmployeeNumber], [ClkTransaction].[EmployeeName], [@Src].[HrsWorked]
				ORDER BY
					[ClkTransaction].[EmployeeNumber]
			END
			ELSE BEGIN

				-- Re-pop @Src to add groups by date
				DELETE FROM @Src
				INSERT INTO @Src
				SELECT 
					[EmployeeNumber],
					[EmployeeName],
					MIN([InTimeFromShopClk]) AS [StartDate],
					MAX([OutTimeFromShopClk]) AS [EndDate],
					ROUND(DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) + ((DATEDIFF(mi, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) / 60.0) - DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk]))), 2)
					--ROUND(((60 * ((DATEPART(HOUR, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))))) + DATEPART(MINUTE, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
					--ROUND(((60 * (SUM(DATEPART(HOUR, [OutTimeFromShopClk] - [InTimeFromShopClk])))) + SUM(DATEPART(MINUTE, [OutTimeFromShopClk] - [InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
				FROM
					[ClkTransaction]
				WHERE
					--[EmployeeNumber] = CAST(@empNum AS NVARCHAR)
					[EmployeeNumber] IN (SELECT [EmpNum] FROM @emps)
					AND [InTimeFromShopClk] BETWEEN @sd AND @ed
					AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
				GROUP BY
					[EmployeeNumber], [EmployeeName], CAST(CAST([InTimeFromShopClk] AS DATETIME) AS NVARCHAR(12))
				ORDER BY
					[EmployeeNumber];

				SELECT
					[QueryID],
					[EmployeeNumber],
					[EmployeeName],
					[HrsWorked],
					--CONVERT(DATETIME, [Date], 'Mon  dd, yyyy') AS [Date]
					CONVERT(DATETIME, [Date], 107) AS [Date]
				FROM (
					SELECT 
						'C' AS [QueryID],
						[ClkTransaction].[EmployeeNumber],
						[ClkTransaction].[EmployeeName],
						[@Src].[HrsWorked],
						CAST(CAST([@Src].[StartDate] AS DATETIME) AS NVARCHAR(12)) AS [Date]
					FROM
						[ClkTransaction]
					INNER JOIN
						@Src
					ON
						[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
					WHERE
						--[ClkTransaction].[EmployeeNumber] = @empNum
						[@Src].[EmployeeNumber] IN (SELECT [EmpNum] FROM @emps)
						AND [InTimeFromShopClk] BETWEEN  @sd AND @ed
						AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
					GROUP BY
						[ClkTransaction].[EmployeeNumber], [ClkTransaction].[EmployeeName], [@Src].[HrsWorked], CAST(CAST([@Src].[StartDate] AS DATETIME) AS NVARCHAR(12))
				) AS [SubSrc]
				ORDER BY
					[EmployeeNumber]
			END
		END

	END
	ELSE BEGIN
		INSERT INTO @Src
		SELECT
			[EmployeeNumber],
			[EmployeeName],
			@sd AS [StartDate],
			@ed AS [EndDate],
			ROUND(DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) + ((DATEDIFF(mi, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) / 60.0) - DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk]))), 2)
			--ROUND(((60 * ((DATEPART(HOUR, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))))) + DATEPART(MINUTE, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
			--ROUND(((60 * (SUM(DATEPART(HOUR, [OutTimeFromShopClk] - [InTimeFromShopClk])))) + SUM(DATEPART(MINUTE, [OutTimeFromShopClk] - [InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
		FROM
			[ClkTransaction]
		WHERE
			[InTimeFromShopClk] BETWEEN @sd AND @ed
			AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
		GROUP BY
			[EmployeeNumber], [EmployeeName]
		ORDER BY
			[EmployeeNumber];

		IF @by_transaction = 1 BEGIN
			SELECT 
				'D' AS [QueryID],
				[TransactionID],
				[JobNumber],
				[ClkTransaction].[EmployeeNumber],
				[ClkTransaction].[EmployeeName],
				[LoggedOn],
				[InTimeFromShopClk],
				[LoggedOff],
				[OutTimeFromShopClk],
				(CASE WHEN [LoggedOff] IS NULL THEN 0 ELSE 1 END) AS [PlaceHolder],
				[@Src].[HrsWorked],
				@sd AS [StartDate],
				@ed AS [EndDate]
			FROM
				[ClkTransaction]
			INNER JOIN
				@Src
			ON
				[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
			WHERE
				[InTimeFromShopClk] BETWEEN  @sd AND @ed
				AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
			ORDER BY
				[PlaceHolder], [LoggedOn], [LoggedOff];
		END
		ELSE BEGIN
			IF @by_date = 0 BEGIN
				SELECT 
					'E' AS [QueryID],
					[ClkTransaction].[EmployeeNumber],
					[ClkTransaction].[EmployeeName],
					[@Src].[HrsWorked],
					@sd AS [StartDate],
					@ed AS [EndDate]
				FROM
					[ClkTransaction]
				INNER JOIN
					@Src
				ON
					[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
				WHERE
					[InTimeFromShopClk] BETWEEN  @sd AND @ed
					AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
				GROUP BY
					[ClkTransaction].[EmployeeNumber], [ClkTransaction].[EmployeeName], [@Src].[HrsWorked]
				ORDER BY
					[ClkTransaction].[EmployeeNumber]
			END
			ELSE BEGIN
			
				-- Re-pop @Src to add groups by date
				DELETE FROM @Src
				INSERT INTO @Src
				SELECT
					[EmployeeNumber],
					[EmployeeName],
					MIN([InTimeFromShopClk]) AS [StartDate],
					MAX([OutTimeFromShopClk]) AS [EndDate],
					ROUND(DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) + ((DATEDIFF(mi, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk])) / 60.0) - DATEDIFF(hh, MIN([InTimeFromShopClk]), MAX([OutTimeFromShopClk]))), 2)
					--ROUND(((60 * ((DATEPART(HOUR, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))))) + DATEPART(MINUTE, MAX([OutTimeFromShopClk]) - MIN([InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
					--ROUND(((60 * (SUM(DATEPART(HOUR, [OutTimeFromShopClk] - [InTimeFromShopClk])))) + SUM(DATEPART(MINUTE, [OutTimeFromShopClk] - [InTimeFromShopClk]))) / 60.0, 2) AS [HrsWorked]
				FROM
					[ClkTransaction]
				WHERE
					[InTimeFromShopClk] BETWEEN @sd AND @ed
					AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
				GROUP BY
					[EmployeeNumber], [EmployeeName], CAST(CAST([InTimeFromShopClk] AS DATETIME) AS NVARCHAR(12))
				ORDER BY
					[EmployeeNumber];

				SELECT
					[QueryID],
					[EmployeeNumber],
					[EmployeeName],
					[HrsWorked],
					CONVERT(DATETIME, [Date], 107) AS [Date]
				FROM (
					SELECT 
						'F' AS [QueryID],
						[ClkTransaction].[EmployeeNumber],
						[ClkTransaction].[EmployeeName],
						[@Src].[HrsWorked],
						CAST(CAST([@Src].[StartDate] AS DATETIME) AS NVARCHAR(12)) AS [Date]
					FROM
						[ClkTransaction]
					INNER JOIN
						@Src
					ON
						[@Src].[EmployeeNumber] = [ClkTransaction].[EmployeeNumber]
					WHERE
						[InTimeFromShopClk] BETWEEN  @sd AND @ed
						AND [OutTimeFromShopClk] BETWEEN @sd AND @ed
					GROUP BY
						[ClkTransaction].[EmployeeNumber], [ClkTransaction].[EmployeeName], [@Src].[HrsWorked], CAST(CAST([@Src].[StartDate] AS DATETIME) AS NVARCHAR(12))
				) AS [SubSrc]
				ORDER BY
					[EmployeeNumber], [Date]
			END
		END
	END
--END