USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClkLabourTime]    Script Date: 2023-03-29 2:41:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--OLD

--ALTER PROCEDURE [dbo].[sp_ClkLabourTime] 
--	@sd AS DATETIME,
--	@ed AS DATETIME,
--	@w AS INT = 3

--AS 
--BEGIN


DECLARE @sd AS DATETIME;
DECLARE @ed AS DATETIME;
DECLARE @w AS INT;
SELECT 
	@sd='2023-03-28'
	, @ed='2023-03-28 23:59:59'
	, @w = 3
;

	SELECT
		[A_EmpName]
		, [A_EmpNum]
		, CAST(DATEDIFF(SECOND, [FirstLogOn], [LastLogOff]) / (60.0 * 60) AS DECIMAL(14, 3)) AS [Hours]
		, [EntryDate]
		, [FirstLogOn]
		, [LastLogOff]
	FROM (
		SELECT
			[A_EmpName]
			, [A_EmpNum]
			, SUM([A_Len]) AS [Hours]
			, CAST([ST] AS DATE) AS [EntryDate]
			, MIN([A_LoggedOn]) AS [FirstLogOn]
			, MAX([A_LoggedOff]) AS [LastLogOff]
		FROM (
			SELECT 
				[A_EmpName]
				, [A_EmpNum]
				, [A_LoggedOn]
				, [A_LoggedOff]
				, [A_Len]
				, [ST]
				, [ET]
				, DATEDIFF(SECOND,
					(CASE WHEN [A_LoggedOn] <= [ST] THEN [ST] ELSE [A_LoggedOn] END),
					(CASE WHEN [A_LoggedOff] >= [ET] THEN [ET] ELSE [A_LoggedOff] END)
				) AS [ToS]
			FROM (
				SELECT
					[ClkTransaction].[EmployeeName] AS [A_EmpName]
					, [ClkTransaction].[EmployeeNumber] AS [A_EmpNum]
					, [ClkTransaction].[InTimeFromShopClk] AS [A_LoggedOn]
					, [ClkTransaction].[OutTimeFromShopClk] AS [A_LoggedOff]
					, DATEDIFF(SECOND, [ClkTransaction].[InTimeFromShopClk], [ClkTransaction].[OutTimeFromShopClk]) / (60.0 * 60) AS [A_Len]
					, DATEADD(HOUR, @w, DATEADD(DAY, DAY(@sd) - 1, DATEADD(MONTH, MONTH(@sd) - 1, (DATEADD(YEAR, YEAR(@sd) - 1900, CAST([StartTime] AS DATETIME)))))) AS [ST]
					, DATEADD(HOUR, @w, DATEADD(DAY, DAY(@ed) - 1, DATEADD(MONTH, MONTH(@ed) - 1, (DATEADD(YEAR, YEAR(@ed) - 1900, CAST([EndTime] AS DATETIME)))))) AS [ET]
				FROM
					[ClkTransaction]
				INNER JOIN
					[ClkShiftEmpAssign]
				ON
					[ClkTransaction].[EmployeeNumber] = [ClkShiftEmpAssign].[Emp#]
				INNER JOIN
					[ClkShiftRoundRules V2]
				ON
					[ClkShiftRoundRules V2].[ShiftID] = [ClkShiftEmpAssign].[ShiftID]
				WHERE
					LEFT([EmployeeNumber], 1) = '2'
					AND
					([InTimeFromShopClk] BETWEEN DATEADD(HOUR, -6, DATEADD(DAY, DAY(@sd) - 1, DATEADD(MONTH, MONTH(@sd) - 1, (DATEADD(YEAR, YEAR(@sd) - 1900, CAST([StartTime] AS DATETIME)))))) AND DATEADD(HOUR, 6, DATEADD(DAY, DAY(@ed) - 1, DATEADD(MONTH, MONTH(@ed) - 1, (DATEADD(YEAR, YEAR(@ed) - 1900, CAST([EndTime] AS DATETIME))))))
					OR [OutTimeFromShopClk] BETWEEN DATEADD(HOUR, -6, DATEADD(DAY, DAY(@sd) - 1, DATEADD(MONTH, MONTH(@sd) - 1, (DATEADD(YEAR, YEAR(@sd) - 1900, CAST([StartTime] AS DATETIME)))))) AND DATEADD(HOUR, 6, DATEADD(DAY, DAY(@ed) - 1, DATEADD(MONTH, MONTH(@ed) - 1, (DATEADD(YEAR, YEAR(@ed) - 1900, CAST([EndTime] AS DATETIME)))))))
			) AS [SrcA]
		) AS [SrcB]
		WHERE
			[ToS] >= 0
		GROUP BY
			[A_EmpName]
			, [A_EmpNum]
			, [ST]
	) AS [SrcC]
	ORDER BY
		[A_EmpName]
;

--END