USE [Stargatedb]
GO
--/****** Object:  StoredProcedure [dbo].[sp_HourlyEmpDetail]    Script Date: 2022-10-25 4:26:35 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_HourlyEmpDetail] 
--	-- Add the parameters for the stored procedure here
--	@startdate datetime, @enddate datetime
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	/**/
	-- TESTING
	DECLARE @startdate datetime, @enddate datetime;
	SELECT @startdate = '2022-04-04',  @enddate = '2022-10-25'
	/**/


	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Adjust date parameters to meet specified 24-hour range
	select @startdate = DATEADD(hour, 3, @startdate) --3 AM of start date
	select @enddate = dateadd(hour, 27, @enddate) --3 AM of date following start date (to get full 24 hour period)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#SYSPROTransReport') IS NOT NULL
		DROP TABLE #SYSPROTransReport 

	create table #SYSPROTransReport
	(
		EntryDate datetime,
		LoggedOn datetime,
		Employee varchar(20),
		Journal decimal(10, 0),
		Job varchar(20),
		WorkCentre varchar(20),
		Operation decimal(4, 0),
		NPCode varchar(10),
		MachCode varchar(30),
		Reference varchar(30),
		RunTime decimal(14, 2),
		RunTime_Sum decimal(14, 5)
	)
	
	--Insert initial Labour Journal transactions
	insert into #SYSPROTransReport (EntryDate, Employee, Journal, Job, WorkCentre, Operation, NPCode, MachCode, Reference, RunTime)
	select EntryDate, Employee, Journal, Job, WorkCentre, Operation, NonProdCode, Machine, Reference, RunTime
	from SysproCompanyS.dbo.WipLabJnl with (nolock)
	where EntryDate between cast(@startdate as date) and cast(@enddate as date)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#SYSPROTransReportSC') IS NOT NULL
		DROP TABLE #SYSPROTransReportSC

	create table #SYSPROTransReportSC
	(
		LoggedOn datetime,
		LoggedOff datetime,
		ActualLoggedOnUTC datetime,
		ActualLoggedOffUTC datetime,
		JobNumber varchar(20),
		EmployeeNumber varchar(20),
		WorkCentreCode varchar(20),
		Operation decimal(5, 0),
		MachineCode varchar(30),
		NonProductiveCode varchar(10)
	)

	--Insert ShopClock transactions into separate temp table (for faster processing)
	insert into #SYSPROTransReportSC
	select LoggedOn, LoggedOff, ActualLoggedOnUTC, ActualLoggedOffUTC, JobNumber, EmployeeNumber, WorkCentreCode, Operation, MachineCode, NonProductiveCode
	from SysproCompanyS.dbo.ClkTransaction with (nolock)
	where cast(LoggedOn as date) between cast(@startdate as date) and cast(@enddate as date)

	--Add loggedon dates from ShopClock
	--update #SYSPROTransReport
	--set LoggedOn = b.LoggedOn
	--from #SYSPROTransReport as a
	--inner join SysproCompanyS.dbo.ClkTransaction as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
	--											    and a.Job collate Latin1_General_BIN = b.JobNumber
	--											    and a.Employee = b.EmployeeNumber
	--												and a.WorkCentre = b.WorkCentreCode collate Latin1_General_BIN
	--											    and a.Operation = b.Operation
	--											    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
	--											    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	--where cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) <> 0

	update #SYSPROTransReport
	set LoggedOn = b.LoggedOn,
		RunTime_Sum = case when cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
						   then cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 5)) / 60 as decimal(14, 5))
						   when cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
						   then (cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 5)) / 60 as decimal(14, 5))) * -1
						   when cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
						   then cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 5)) / 60 as decimal(14, 5))
						   when cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
						   then (cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 5)) / 60 as decimal(14, 5))) * -1 end
	from #SYSPROTransReport as a
	inner join #SYSPROTransReportSC as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
												    and a.Job collate Latin1_General_BIN = b.JobNumber
												    and a.Employee collate Latin1_General_BIN = b.EmployeeNumber
													and a.WorkCentre collate Latin1_General_BIN = b.WorkCentreCode 
												    and a.Operation = b.Operation
												    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
												    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	where cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
	or cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1
	or cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime
	or cast(cast(DATEDIFF(minute, b.ActualLoggedOnUTC, b.ActualLoggedOffUTC) as decimal(14, 2)) / 60 as decimal(14, 2)) = RunTime * -1

	--Remove records that fall outside of ShopClock range
	delete from #SYSPROTransReport
	from #SYSPROTransReport as a
	inner join SysproCompanyS.dbo.ClkTransaction as b with (nolock) on a.EntryDate = cast(b.LoggedOn as date)
												    and a.Job collate Latin1_General_BIN = b.JobNumber
												    and a.Employee collate Latin1_General_BIN = b.EmployeeNumber
													and a.WorkCentre collate Latin1_General_BIN = b.WorkCentreCode 
												    and a.Operation = b.Operation
												    and (a.MachCode collate Latin1_General_BIN = b.MachineCode or (a.MachCode = '30' and b.MachineCode = ''))
												    and a.NPCode collate Latin1_General_BIN = b.NonProductiveCode
	where RunTime = cast(cast(DATEDIFF(minute, b.LoggedOn, b.LoggedOff) as decimal(14, 2)) / 60 as decimal(14, 2))
	and b.LoggedOn not between @startdate and @enddate
	and Reference = 'ShopClock'

	--Remove records that still fall outside of range EXCEPT FOR BEREAVEMENT AND HOLIDAY HOURS!
	delete from #SYSPROTransReport
	where (LoggedOn not between @startdate and @enddate
	or LoggedOn is null)
	and NPCode not in ('01', '09')
	and Reference = 'ShopClock'

	--Remove any bereavement and holiday hours that fall past original end date
	delete from #SYSPROTransReport
	where EntryDate > dateadd(hour, -27, @enddate)
	and NPCode in ('01', '09')

	--Remove rounding records
	delete from #SYSPROTransReport
	where Reference <> 'ShopClock'
	and RunTime between -0.03 and 0.03

	--Update Runtime_Sum column for remaining bereavement and holiday hours
	update #SYSPROTransReport
	set RunTime_Sum = RunTime
	where NPCode in ('01', '09')
	or Reference <> 'ShopClock'

	--PERMANENT FIX FOR NOVEMBER 22 2018 RESULTS FOR EMP# 200440 AND JOB# 20030539
	delete from #SYSPROTransReport
	where Employee = '200440'
	and Job = '20030539'
	and RunTime = -4.38

	--PERMANENT FIX FOR APRIL 22 2019 RESULTS FOR EMP# 200448 AND JOB# 58000727
	if 'april 22 2019' between @startdate and @enddate
		begin
			insert into #SYSPROTransReport (EntryDate, LoggedOn, Employee, Journal, Job, WorkCentre, Operation, NPCode, MachCode, Reference, RunTime, RunTime_Sum)
			select EntryDate, '2019-04-22 22:30:00.000', Employee, Journal, Job, WorkCentre, Operation, NonProdCode, Machine, Reference, RunTime, RunTime
			from SysproCompanyS.dbo.WipLabJnl with (nolock)
			where Employee = '200448'
			and Job = '58000727'
			and Journal = '41615'
			and EntryDate = 'april 22 2019'
		end

	--Adjust entry date for smaller transactions that fall between 12 - 3 am on the following day
	--FOR THOSE THAT DO, move EntryDate back 1 day
	update #SYSPROTransReport
	set EntryDate = case when datepart(hour, LoggedOn) < 3 then dateadd(day, -1, EntryDate) else EntryDate end
	where LoggedOn is not null

	----Adjust rounding so it matches ShopClock report
	--update #SYSPROTransReport
	--set RunTime = case when b.NetRunTime between -0.01 and 0.01 then RunTime + b.NetRunTime
	--				   else b.NetRunTime end
	--from #SYSPROTransReport as a
	--inner join (select WipLabJnl.EntryDate, WipLabJnl.Job, WipLabJnl.Employee, WipLabJnl.WorkCentre, WipLabJnl.Operation, WipLabJnl.Machine, WipLabJnl.NonProdCode,
	--			count(*) as NoRecords, min(WipLabJnl.Journal) as FirstJE, max(WipLabJnl.Journal) as LastJE, sum(RunTime) as NetRunTime
	--			from SysproCompanyS.dbo.WipLabJnl with (nolock)
	--			inner join (select EntryDate, Job, Employee, WorkCentre, Operation,  Machine, NonProdCode, Journal, RunTime as RunTimeAdj
	--						from SysproCompanyS.dbo.WipLabJnl with (nolock)
	--						where RunTime = -0.01
	--						or RunTime = 0.01) as subAdjust on WipLabJnl.EntryDate = subAdjust.EntryDate
	--														   and WipLabJnl.Job = subAdjust.Job
	--														   and WipLabJnl.Employee = subAdjust.Employee
	--														   and WipLabJnl.WorkCentre = subAdjust.WorkCentre
	--														   and WipLabJnl.Operation = subAdjust.Operation
	--														   and WipLabJnl.Machine = subAdjust.Machine
	--														   and WipLabJnl.NonProdCode = subAdjust.NonProdCode
	--			group by WipLabJnl.EntryDate, WipLabJnl.Job, WipLabJnl.Employee, WipLabJnl.WorkCentre, WipLabJnl.Operation,  WipLabJnl.Machine, WipLabJnl.NonProdCode) as b on a.EntryDate = b.EntryDate
	--																								     and a.Job collate Latin1_General_BIN = b.Job
	--																									 and a.Employee = b.Employee
	--																									 and a.WorkCentre collate Latin1_General_BIN = b.WorkCentre
	--																									 and a.Operation = b.Operation
	--																									 and a.MachCode collate Latin1_General_BIN = b.Machine
	--																									 and a.NPCode collate Latin1_General_BIN = b.NonProdCode
	--																									 and ((a.Journal = b.FirstJE and NoRecords = 2)
	--																										  or
	--																										  (a.Journal <= b.LastJE and a.Journal <> b.FirstJE))
	--																									 and (a.RunTime = b.NetRunTime - 0.01
	--																										  or a.RunTime = b.NetRunTime + 0.01
	--																										  or b.NetRunTime = -0.01
	--																										  or b.NetRunTime = 0.01)

	select *
	--convert(real, right(Employee, 3)) as Emp#,
	--	  EntryDate, RunTime_Sum as HoursWorked
		  from #SYSPROTransReport
		  WHERE [Employee] = '300111'

	select convert(real, right(Employee, 3)) as Emp#,
		  EntryDate, RunTime_Sum as HoursWorked
		  from #SYSPROTransReport
		  where (Employee not between 100054 and 100071)
		  AND [Employee] = '300111'



select Emp#, EntryDate, 
	sum(HoursWorked) as HoursWorked,
	sum(Vacation) as Vacation,
	sum(Absent) as Absent,
	sum(Absent_BQ) as Absent_BQ,
	sum([Sick Leave]) as [Sick Leave],
	sum(Late) as Late,
	sum([Leave Early]) as [Leave Early],
	sum([Shortage of Work]) as [Shortage of Work],
	max(ISNULL(Comments, '')) as Comments
	from (select Emp#, EntryDate, cast(sum(HoursWorked) as decimal(14, 2)) as HoursWorked,
	0 as Vacation,
	0 as Absent,
	0 as Absent_BQ,
	0 as [Sick Leave],
	0 as Late,
	0 as [Leave Early],
	0 as [Shortage of Work],
	null as Comments
	from (select convert(real, right(Employee, 3)) as Emp#,
		  EntryDate, RunTime_Sum as HoursWorked
		  from #SYSPROTransReport
		  where Employee not between 100054 and 100071) as subHours
	where EntryDate between cast(@startdate as date) and cast(@enddate as date)
	group by Emp#, EntryDate

	union -- all
	select Emp#, DateWorked, convert(float, 0),
	Vacation,
	Absent,
	case when Absent_BQOverride = 1 then 0 else Absent end,
	[Sick Leave],
	Late,
	[Leave Early],
	[Shortage of Work],
	Comments
	from [Hours Worked]
	where DateWorked between cast(@startdate as date) and cast(@enddate as date)) as subA
	--group by Emp#, EntryDate

	--) AS [A]
	WHERE [Emp#] = 111
	group by Emp#, EntryDate

	--select Emp#, DateWorked, convert(float, 0),
	--Vacation,
	--Absent,
	--case when Absent_BQOverride = 1 then 0 else Absent end,
	--[Sick Leave],
	--Late,
	--[Leave Early],
	--[Shortage of Work],
	--Comments
	--from [Hours Worked]
	--where DateWorked between cast(@startdate as date) and cast(@enddate as date) -- as subA
	--group by Emp# --, --EntryDate



	--Final select statement	
	SELECT * FROM (
	select Emp#, EntryDate, 
	sum(HoursWorked) as HoursWorked,
	sum(Vacation) as Vacation,
	sum(Absent) as Absent,
	sum(Absent_BQ) as Absent_BQ,
	sum([Sick Leave]) as [Sick Leave],
	sum(Late) as Late,
	sum([Leave Early]) as [Leave Early],
	sum([Shortage of Work]) as [Shortage of Work],
	max(Comments) as Comments
	from (select Emp#, EntryDate, cast(sum(HoursWorked) as decimal(14, 2)) as HoursWorked,
	0 as Vacation,
	0 as Absent,
	0 as Absent_BQ,
	0 as [Sick Leave],
	0 as Late,
	0 as [Leave Early],
	0 as [Shortage of Work],
	null as Comments
	from (select convert(real, right(Employee, 3)) as Emp#,
		  EntryDate, RunTime_Sum as HoursWorked
		  from #SYSPROTransReport
		  where Employee not between 100054 and 100071) as subHours
	where EntryDate between cast(@startdate as date) and cast(@enddate as date)
	group by Emp#, EntryDate

	union all select CAST(RIGHT(Emp#, 3) AS INT), DateWorked, convert(float, 0),
	Vacation,
	Absent,
	case when Absent_BQOverride = 1 then 0 else Absent end,
	[Sick Leave],
	Late,
	[Leave Early],
	[Shortage of Work],
	Comments
	from [Hours Worked]
	where DateWorked between cast(@startdate as date) and cast(@enddate as date)) as subA
	group by Emp#, EntryDate


	) AS [A]
	WHERE [Emp#] = 111

--END
