USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClkEmpShiftAssignments]    Script Date: 2022-01-24 3:41:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ClkEmpShiftAssignments]
AS
BEGIN

SELECT
	ROW_NUMBER() OVER(
		ORDER BY 
			[ClkEmployee].[Name],
			[ClkShiftRoundRules].[ShiftID]
	) AS [Row#],
	MAX([Employee]) AS [Emp#],
	[ClkEmployee].[Name],
	(CASE WHEN [ClkShiftRoundRules].[ShiftID] IS NULL THEN (SELECT TOP 1 [ShiftID] FROM [ClkShiftRoundRules]) ELSE [ClkShiftRoundRules].[ShiftID] END) AS [ShiftID]
FROM
	[ClkEmployee]
LEFT JOIN
	[ClkShiftEmpAssign]
ON
	[ClkEmployee].[Employee] = [ClkShiftEmpAssign].[Emp#]
LEFT JOIN	
	[ClkShiftRoundRules]
ON
	[ClkShiftEmpAssign].[ShiftID] = [ClkShiftRoundRules].[ShiftID]
GROUP BY
	[ClkEmployee].[Name],
	[ClkShiftRoundRules].[ShiftID]
ORDER BY
	[ClkEmployee].[Name]

END
;