USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoundTime]    Script Date: 2023-03-29 11:31:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_RoundTime]
	@time DATETIME, @interval INT, @in_out BIT, @threshold_early INT=0, @threshold_late INT=0, @start_date DATETIME=NULL, @end_date DATETIME=NULL
AS
BEGIN

	SET NOCOUNT ON

	IF @start_date IS NULL BEGIN
		SET @start_date = CAST(CAST(DATEPART(YEAR, @time) AS varchar(4)) + '-' + CAST(DATEPART(MONTH, @time) AS varchar(2)) + '-' + CAST(DATEPART(DAY, @time) AS varchar(2)) AS DATETIME);
	END
	IF @end_date IS NULL BEGIN
		SET @end_date = DATEADD(MINUTE, @interval, DATEADD(DAY, 1, CAST(CAST(DATEPART(YEAR, @time) AS varchar(4)) + '-' + CAST(DATEPART(MONTH, @time) AS varchar(2)) + '-' + CAST(DATEPART(DAY, @time) AS varchar(2)) AS DATETIME)));
	END

	-- Working vars
	DECLARE @intervals TABLE ([Interval#] INT, [Interval] DATETIME, [InTime] DATETIME, [In / Out] VARCHAR(3));
	DECLARE @n_minutes AS FLOAT;
	DECLARE @t AS DATETIME;
	DECLARE @i AS INT;

	IF @interval = 0 BEGIN
		SET @interval = 1;
	END
	SET @n_minutes = CEILING(DATEDIFF(MINUTE, @start_date, @end_date) / CAST(@interval AS DECIMAL(14, 7)));
	SET @i = 0;

	IF @in_out = 1 BEGIN
		WHILE @i < (@n_minutes + 1) BEGIN
			SET @t = DATEADD(MINUTE, @i * @interval, @start_date);
			INSERT INTO @intervals ([Interval#], [Interval], [InTime], [In / Out]) VALUES (@i, @t, @time, (CASE WHEN @in_out=1 THEN 'In' ELSE 'Out' END));
			IF DATEADD(MINUTE, @threshold_late, @t) >= @time BEGIN 
				BREAK;
			END
			SET @i = @i + 1;
		END

		-- Final Select
		SELECT 
			TOP 1 [In / Out], @start_date AS [Start Date], @end_date AS [End Date], [InTime], [Interval] AS [RoundedTime], @threshold_early AS [ThresholdEarly], @threshold_late AS [ThresholdLate], @interval AS [Interval]
		FROM
			@intervals
		ORDER BY [Interval#] DESC;
	END
	ELSE BEGIN
		SET @i = @n_minutes;
		WHILE @i >= 0 BEGIN
			SET @t = DATEADD(MINUTE, @i * @interval, @start_date);
			INSERT INTO @intervals ([Interval#], [Interval], [InTime], [In / Out]) VALUES (@i, @t, @time, (CASE WHEN @in_out=1 THEN 'In' ELSE 'Out' END));
			IF DATEADD(MINUTE, -@threshold_early, @t) <= @time BEGIN 
				BREAK;
			END
			SET @i = @i - 1;
		END

		-- Final Select
		SELECT 
			TOP 1 [In / Out], @start_date AS [Start Date], @end_date AS [End Date], [InTime], [Interval] AS [RoundedTime], @threshold_early AS [ThresholdEarly], @threshold_late AS [ThresholdLate], @interval AS [Interval]
		FROM
			@intervals
		ORDER BY [Interval#];
	END
END;