USE [SysproCompanyS]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNthBusinessDay]    Script Date: 2024-09-10 5:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2024-09-10 - Avery Briggs - added a cap for max and min dates. Prevents non-breaking while loop


ALTER FUNCTION [dbo].[GetNthBusinessDay](
    @dateIn DATETIME,
    @nBusinessDays INT
)
RETURNS DATETIME
AS
BEGIN


/*
	--------------------------------------------------
	DECLARE
		@dateIn DATETIME,
		@nBusinessDays INT
	
	SET @dateIn = '2024-07-03'
	SET @dateIn = GETDATE()
	SET @dateIn = '2025-08-20'
	SET @nBusinessDays = 3
	--------------------------------------------------	
*/

	DECLARE @currentDate DATETIME = @dateIn;
	DECLARE @maxDate DATETIME;
	DECLARE @minDate DATETIME;

	SELECT 
		@maxDate = MAX([CalendarDate])
		, @minDate = MIN([CalendarDate])
	FROM
		[SysproCompanyS].[dbo].[v_CalendarWorkDays]

	IF @dateIn IS NOT NULL BEGIN

		DECLARE @daysCount INT = 0;

		-- Determine the direction of iteration based on the sign of nBusinessDays
		DECLARE @direction INT = CASE WHEN @nBusinessDays >= 0 THEN 1 ELSE -1 END;

		/*
		--   TESTING
		SELECT 
			@daysCount AS [@daysCount]
			,@nBusinessDays AS [@nBusinessDays]
			,@currentDate AS [@currentDate]
			,@maxDate AS [@maxDate]
		*/
    
		-- Loop until we reach the nth business day
		WHILE @daysCount <> ABS(@nBusinessDays)
		BEGIN
			-- Move to the next/previous day
			SET @currentDate = DATEADD(DAY, @direction, @currentDate);
        
			-- Check if the new date is a business day
			IF EXISTS (
				SELECT 
					1
				FROM
					[SysproCompanyS].[dbo].[v_CalendarWorkDays]
				WHERE
					YEAR([CalendarDate]) = YEAR(@currentDate)
					AND MONTH([CalendarDate]) = MONTH(@currentDate)
					AND DAY([CalendarDate]) = DAY(@currentDate)
					AND [WorkDay] = 1
			)
			BEGIN
				-- Increment the business day counter
				SET @daysCount = @daysCount + 1;
			END

			IF @currentDate > @maxDate BEGIN
				SELECT
					@daysCount = @nBusinessDays
					, @currentDate = NULL
			END
			ELSE IF @currentDate < @minDate BEGIN
				SELECT
					@daysCount = @nBusinessDays
					, @currentDate = NULL
			END
		END

	
/*
		------------------------------------------------------
		-- TESTING
		SELECT
			@dateIn AS [dateIn]
			, @currentDate AS [currentDate]
			, @nBusinessDays AS [nBusinessDays]
			, @daysCount AS [daysCount]
			, @direction AS [direction]

		SELECT
			*
		FROM
			[SysproCompanyS].[dbo].[v_CalendarWorkDays]
		WHERE
			([CalendarDate] BETWEEN @dateIn AND @currentDate)
			OR ([CalendarDate] BETWEEN @currentDate AND @dateIn)
		------------------------------------------------------
*/

	END

	RETURN @currentDate;
END;

