USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionSchedule V4_Slots]    Script Date: 2024-08-16 5:09:36 PM ******/
/*
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
*/

--2022-09-28 James Crawford - Added where clause to exclude 3 Half Round Work Orders from reports: 10015030 - 10015032
--IT Request #001197
-- 2022-11-22 Avery Briggs - Altered the ordering of lines. See request #001453
/*
ALTER PROCEDURE [dbo].[sp_ProductionSchedule V4_Slots] 
	-- Add the parameters for the stored procedure here
	@sd datetime, @ed datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	*/

	DECLARE @sd datetime, @ed datetime
	SELECT @sd = '2024-01-01'
	SELECT @ed = '2024-12-31'

    -- Insert statements for procedure here
	--Ensure quote links are intact before you add records
	update dtProductionSchedule
	set Quote# = Orders.Quote#
	from dtProductionSchedule with (nolock)
	inner join Orders with (nolock) on dtProductionSchedule.Slot# = Orders.Slot#
	left outer join dtProductionSchedule as subQuoteCheck with (nolock) on Orders.Quote# = subQuoteCheck.Quote#
	where dtProductionSchedule.Quote# is null
	and subQuoteCheck.Quote# is null

	--Ensure all records for date range are copied into dtProductionSchedule
	insert into dtProductionSchedule with (tablock) (Quote#, WO#, InputField1, InputField2, [Beam Line], [Beam Date], [GN Line], [GN Date], 
													 [WO Line 1], [Prod Date 1], [WO Line 2], [Prod Date 2], Other, [Other Line], [Other Date])
	select Orders.Quote#, Orders.WO#, 
	case when Production.Other is null and Orders.Quote# is not null then Orders.[Model No] else Production.Other end,
	case when Production.Other is null and [COMPANY NAME] is not null then [COMPANY NAME] else Orders.[Model No] end,
	Production.[Beam Line], Beams, Production.[GN Line], GN, [Prod Line], [Prod Date], [Prod Line2], [Prod Date2], 
	Production.Other, Production.[Other Line], Production.[Other Date]
	from Production with (nolock)
	inner join Orders with (nolock) on Production.Quote# = Orders.Quote#
	inner join Dealers with (nolock) on Orders.DealerID = Dealers.ID
	left outer join dtProductionSchedule with (nolock) on Orders.Quote# = dtProductionSchedule.Quote#
	where (([Prod Date] between @sd and @ed) or [Prod Date] is null)
	and dtProductionSchedule.Quote# is null
	and Orders.[Date Declined] is null
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Update WO#
	update dtProductionSchedule
	set WO# = Production.WO#
	from dtProductionSchedule with (nolock)
	inner join Production with (nolock) on dtProductionSchedule.Quote# = Production.Quote#
	where (dtProductionSchedule.WO# <> Production.WO# or dtProductionSchedule.WO# is null)

	--Ensure there's no duplicate records in dtProductionSchedule
	update dtProductionSchedule
	set Slot# = subStuff.Slot
	from dtProductionSchedule
	inner join (select Quote#, max(Slot#) as Slot, max(ProdSchedID#) as LastRecord
				from dtProductionSchedule with (nolock)
				where Quote# is not null
				group by Quote#
				having  count(*)  > 1) as subStuff on dtProductionSchedule.Quote# = subStuff.Quote#

	delete from dtProductionSchedule
	from dtProductionSchedule
	inner join (select Quote#, max(Slot#) as Slot, max(ProdSchedID#) as LastRecord
				from dtProductionSchedule with (nolock)
				where Quote# is not null
				group by Quote#
				having  count(*)  > 1) as subStuff on dtProductionSchedule.Quote# = subStuff.Quote#
													  and dtProductionSchedule.ProdSchedID# = subStuff.LastRecord

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#ProdSched') IS NOT NULL
		DROP TABLE #ProdSched 

	create table #ProdSched
	(
		GroupID int,
		LO int,
		[Prod Line] nvarchar(255),
		[Prod Date] datetime,
		Quote# int,
		WO# int,
		InputField1 nvarchar(50),
		InputField2 nvarchar(50),
		[GN WO#] nvarchar(50),
		Other nvarchar(255),
		[Other WO#] int,
		[Beam WO#] nvarchar(50),
		[Steel Kit WO#] nvarchar(50),
		JobStartDate nvarchar(50),
		Reviewed bit,
		NoNPOs int,
		[Stock/Sold] nvarchar(10),
		[Slot/Quote] int default(0),
		[Slot#] int,
		NoDays int default(1),
		HighRiskUnit bit default(0),
		IsGavlanized bit default(0),
		GalvIndicator nvarchar(10)
	)

	declare @workdays table
	(
		CalendarDate datetime,
		RN int,
		WorkDay int
	)

	insert into @workdays
	select CalendarDate, ROW_NUMBER() over (order by CalendarDate desc) as RN, WorkDay
	from SysproCompanyA.dbo.v_CalendarWorkDays
	where WorkDay = 1

	--Adds units with Prod date in date range
	insert into #ProdSched (LO, [Prod Line], [Prod Date], Quote#, WO#, InputField1, InputField2, [Steel Kit WO#], JobStartDate, IsGavlanized, GalvIndicator)
	select LO, [Prod Lines].[Prod Line], [Prod Date 1], Orders.Quote#, dtProductionSchedule.WO#, InputField1, InputField2, 
	[Steel Kit WO#], RIGHT('00' + cast(day(WipMaster.JobStartDate) as varchar), 2) + '-' + left(datename(mm, WipMaster.JobStartDate), 3),
	case when subGalvID.Quote# is null then 0 else 1 end,
	case when subGalvID.Quote# is null then null else 'GALV' end
	from [Prod Lines] with (nolock)
	left outer join dtProductionSchedule with (nolock) on [Prod Lines].[Prod Line] = dtProductionSchedule.[WO Line 1]
	left outer join Orders with (nolock) on dtProductionSchedule.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	left outer join SysproCompanyA.dbo.WipMaster with (nolock) on cast(Production.[Steel Kit WO#] as varchar(20)) collate Latin1_General_BIN = WipMaster.Job
	left outer join (
						select distinct Quote#
						from (
								select distinct Quote#
								from [Order Options_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'

								union all select distinct Quote#
								from [Custom Work_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'
							) as galvoptionsandnpos
					) as subGalvID on Orders.Quote# = subGalvID.Quote#
	where dtProductionSchedule.[Prod Date 1] between @sd and @ed
	and [Date Declined] is null
	and ([Slot/Quote] = 0 or ([Slot/Quote] = 1 and [Slot Approved] = 1 and dtProductionSchedule.Quote# is not null))
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Adds units with 2nd Prod date in date range
	insert into #ProdSched (LO, [Prod Line], [Prod Date], Quote#, WO#, InputField1, InputField2, [Steel Kit WO#], JobStartDate, IsGavlanized, GalvIndicator)
	select LO, [Prod Lines].[Prod Line], [Prod Date 2], Orders.Quote#, Orders.WO#, InputField1, InputField2, [Steel Kit WO#], 
	RIGHT('00' + cast(day(WipMaster.JobStartDate) as varchar), 2) + '-' + left(datename(mm, WipMaster.JobStartDate), 3),
	case when subGalvID.Quote# is null then 0 else 1 end,
	case when subGalvID.Quote# is null then null else 'GALV' end
	from [Prod Lines] with (nolock)
	left outer join dtProductionSchedule with (nolock) on [Prod Lines].[Prod Line] = dtProductionSchedule.[WO Line 2]
	left outer join Orders with (nolock) on dtProductionSchedule.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	left outer join SysproCompanyA.dbo.WipMaster with (nolock) on cast(Production.[Steel Kit WO#] as varchar(20)) collate Latin1_General_BIN = WipMaster.Job
	left outer join (
						select distinct Quote#
						from (
								select distinct Quote#
								from [Order Options_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'

								union all select distinct Quote#
								from [Custom Work_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'
							) as galvoptionsandnpos
					) as subGalvID on Orders.Quote# = subGalvID.Quote#
	where dtProductionSchedule.[Prod Date 2] between @sd and @ed
	and [Date Declined] is null
	and ([Slot/Quote] = 0 or ([Slot/Quote] = 1 and [Slot Approved] = 1 and dtProductionSchedule.Quote# is not null))
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Adds units with GN Prod date in date range
	insert into #ProdSched (LO, [Prod Line], [Prod Date], Quote#, WO#, InputField1, InputField2, [GN WO#], JobStartDate, IsGavlanized, GalvIndicator)
	select LO, dtProductionSchedule.[GN Line], [GN Date], Orders.Quote#, Orders.WO#, InputField1, InputField2, [GN WO#], 
	RIGHT('00' + cast(day(WipMaster.JobStartDate) as varchar), 2) + '-' + left(datename(mm, WipMaster.JobStartDate), 3),
	case when subGalvID.Quote# is null then 0 else 1 end,
	case when subGalvID.Quote# is null then null else 'GALV' end
	from dtProductionSchedule with (nolock)
	inner join Orders with (nolock) on dtProductionSchedule.Quote# = Orders.Quote#
	inner join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[GN Line] = [Prod Lines].[Prod Line]
	left outer join (
						select distinct Quote#
						from (
								select distinct Quote#
								from [Order Options_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'

								union all select distinct Quote#
								from [Custom Work_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'
							) as galvoptionsandnpos
					) as subGalvID on Orders.Quote# = subGalvID.Quote#
	left outer join SysproCompanyA.dbo.WipMaster with (nolock) on cast(Production.[GN WO#] as varchar(20)) collate Latin1_General_BIN = WipMaster.Job
	where [GN Date] between @sd and @ed
	and [Date Declined] is null
	and ([Slot/Quote] = 0 or ([Slot/Quote] = 1 and [Slot Approved] = 1 and dtProductionSchedule.Quote# is not null))
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Adds units with Beams Prod date in date range
	insert into #ProdSched (LO, [Prod Line], [Prod Date], Quote#, WO#, InputField1, InputField2, [Beam WO#], JobStartDate, IsGavlanized, GalvIndicator)
	select LO, dtProductionSchedule.[Beam Line], [Beam Date], Orders.Quote#, Orders.WO#, InputField1, InputField2, [Beam WO#], 
	RIGHT('00' + cast(day(WipMaster.JobStartDate) as varchar), 2) + '-' + left(datename(mm, WipMaster.JobStartDate), 3),
	case when subGalvID.Quote# is null then 0 else 1 end,
	case when subGalvID.Quote# is null then null else 'GALV' end
	from dtProductionSchedule with (nolock)
	inner join Orders with (nolock) on dtProductionSchedule.Quote# = Orders.Quote#
	inner join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[Beam Line] = [Prod Lines].[Prod Line]
	left outer join (
						select distinct Quote#
						from (
								select distinct Quote#
								from [Order Options_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'

								union all select distinct Quote#
								from [Custom Work_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'
							) as galvoptionsandnpos
					) as subGalvID on Orders.Quote# = subGalvID.Quote#
	left outer join SysproCompanyA.dbo.WipMaster with (nolock) on cast(Production.[Beam WO#] as varchar(20)) collate Latin1_General_BIN = WipMaster.Job
	where [Beam Date] between @sd and @ed
	and [Date Declined] is null
	and ([Slot/Quote] = 0 or ([Slot/Quote] = 1 and [Slot Approved] = 1 and dtProductionSchedule.Quote# is not null))
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Adds units with Other Prod date in date range
	insert into #ProdSched (LO, [Prod Line], [Prod Date], Quote#, WO#, InputField1, InputField2, [Other WO#], Other, JobStartDate, IsGavlanized, GalvIndicator)
	select LO, dtProductionSchedule.[Other Line], dtProductionSchedule.[Other Date], Orders.Quote#, Orders.WO#, InputField1, InputField2, 
	[Other WO#], dtProductionSchedule.Other, RIGHT('00' + cast(day(WipMaster.JobStartDate) as varchar), 2) + '-' + left(datename(mm, WipMaster.JobStartDate), 3),
	case when subGalvID.Quote# is null then 0 else 1 end,
	case when subGalvID.Quote# is null then null else 'GALV' end
	from dtProductionSchedule with (nolock)
	inner join Orders with (nolock) on dtProductionSchedule.Quote# = Orders.Quote#
	inner join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[Other Line] = [Prod Lines].[Prod Line]
	left outer join (
						select distinct Quote#
						from (
								select distinct Quote#
								from [Order Options_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'

								union all select distinct Quote#
								from [Custom Work_SpecLines] with (nolock)
								where SpecGroup = 'GENERAL SPECIFICATIONS'
								and SpecSection = 'Color'
								and SpecSortSeLine = 0
								and lower([SpecDescription]) like '%galv%'
							) as galvoptionsandnpos
					) as subGalvID on Orders.Quote# = subGalvID.Quote#
	left outer join SysproCompanyA.dbo.WipMaster with (nolock) on cast(Production.[Other WO#] as varchar(20)) collate Latin1_General_BIN = WipMaster.Job
	where dtProductionSchedule.[Other Date] between @sd and @ed
	and [Date Declined] is null 
	and ([Slot/Quote] = 0 or ([Slot/Quote] = 1 and [Slot Approved] = 1 and dtProductionSchedule.Quote# is not null))
	and (
			Orders.WO# not in (10015030, 10015031, 10015032)
			or Orders.WO# is null
		)

	--Add non-approved, scheduled slots (insert slot on initial date and every 2/4 working days to follow - based on if slot is King Pin or Tag)
	insert into #ProdSched (LO, [Prod Line], [Prod Date], [Slot/Quote], Slot#, InputField1, InputField2, NoDays)
	select LO, [Prod Lines].[Prod Line], ctedays.CalendarDate, 1, Slot#, InputField1, InputField2, NoDays
	from @workdays as cte
	cross join @workdays as ctedays
	cross join dtProductionSchedule with (nolock)
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[WO Line 1] = [Prod Lines].[Prod Line]
	inner join [Production Slots] with (nolock) on dtProductionSchedule.Slot# = [Production Slots].PSlotID#
	where dtProductionSchedule.[Prod Date 1] between @sd and @ed
	and dtProductionSchedule.[Prod Date 1] between cte.CalendarDate and ctedays.CalendarDate
	and cte.RN - ctedays.RN = (NoDays - 1)
	and [Slot/Quote] = 1
	and [Slot Approved] = 0

	insert into #ProdSched (LO, [Prod Line], [Prod Date], [Slot/Quote], Slot#, InputField1, InputField2, NoDays)
	select LO, [Prod Lines].[Prod Line], ctedays.CalendarDate, 1, Slot#, InputField1, InputField2, NoDays
	from @workdays as cte
	cross join @workdays as ctedays
	cross join dtProductionSchedule with (nolock)
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[WO Line 2] = [Prod Lines].[Prod Line]
	inner join [Production Slots] with (nolock) on dtProductionSchedule.Slot# = [Production Slots].PSlotID#
	where dtProductionSchedule.[Prod Date 2] between @sd and @ed
	and dtProductionSchedule.[Prod Date 2] between cte.CalendarDate and ctedays.CalendarDate
	and cte.RN - ctedays.RN = (NoDays - 1)
	and [Slot/Quote] = 1
	and [Slot Approved] = 0

	insert into #ProdSched (LO, [Prod Line], [Prod Date], [Slot/Quote], Slot#, InputField1, InputField2, NoDays)
	select LO, [GN Line], ctedays.CalendarDate, 1, Slot#, InputField1, InputField2, NoDays
	from @workdays as cte
	cross join @workdays as ctedays
	cross join dtProductionSchedule with (nolock)
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[GN Line] = [Prod Lines].[Prod Line]
	inner join [Production Slots] with (nolock) on dtProductionSchedule.Slot# = [Production Slots].PSlotID#
	where dtProductionSchedule.[GN Date] between @sd and @ed
	and dtProductionSchedule.[GN Date] between cte.CalendarDate and ctedays.CalendarDate
	and cte.RN - ctedays.RN = (NoDays - 1)
	and [Slot/Quote] = 1
	and [Slot Approved] = 0

	insert into #ProdSched (LO, [Prod Line], [Prod Date], [Slot/Quote], Slot#, InputField1, InputField2, NoDays)
	select LO, [Beam Line], ctedays.CalendarDate, 1, Slot#, InputField1, InputField2, NoDays
	from @workdays as cte
	cross join @workdays as ctedays
	cross join dtProductionSchedule with (nolock)
	inner join [Prod Lines] with (nolock) on dtProductionSchedule.[Beam Line] = [Prod Lines].[Prod Line]
	inner join [Production Slots] with (nolock) on dtProductionSchedule.Slot# = [Production Slots].PSlotID#
	where dtProductionSchedule.[Beam Date] between @sd and @ed
	and dtProductionSchedule.[Beam Date] between cte.CalendarDate and ctedays.CalendarDate
	and cte.RN - ctedays.RN = (NoDays - 1)
	and [Slot/Quote] = 1
	and [Slot Approved] = 0

	--Adds missing calendar days to whole schedule based on Syspro's Company Calendar
	insert into #ProdSched ([Prod Date], [Prod Line], LO)
	select CalendarDate, mainsub.[Prod Line], mainsub.LO
	from (select CalendarDate, [Prod Line], LO 
		  from SysproCompanyA.dbo.v_CalendarWorkDays
		  cross join [Prod Lines]
		  where WorkDay = 1) as mainsub
	left outer join #ProdSched as a on mainsub.CalendarDate = a.[Prod Date]
	and mainsub.[Prod Line] = a.[Prod Line]
	where CalendarDate between @sd and @ed
	and [Prod Date] is null

	--Update GroupID
	update #ProdSched
	set GroupID = case [Prod Line] when 'T1' then 1
								   when 'T2' then 2
								   when 'T3' then 3
								   when 'T4' then 4
								   when 'T5' then 5
								   when 'T6' then 6
								   when 'T7' then 7
								   when 'T8' then 8
								   when 'T9' then 9
								   when 'T14' then 10
								   when 'T15' then 11

								   when 'GNK1' then 12
								   when 'GNK2' then 13
								   when 'GNK3' then 14
								   when 'B1' then 15
								   when 'B2' then 16
								   when 'B3' then 17
								   when 'T10' then 18
								   when 'T11' then 19
								   when 'T12' then 20

								   --when 'TT1' then 21
								   --when 'TT2' then 22

								   when 'TS1' then 23
								   when 'TS2' then 24

								   when 'B4' then 25
								   when 'TBF' then 26
								   when 'PBF' then 27
								   when 'TS3' then 28
								   when 'SCREENERS' then 29
								   
								   else null end

	--Update Job Start Date for Steel Kit, Beams, GN and Other WOs with multiple values (i.e. 12345/12346)
	declare @chars int

	select @chars = charindex('/', [Steel Kit WO#]) - 1 from #ProdSched
	where [Steel Kit WO#] like '%/%'

	update #ProdSched
	set JobStartDate = RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on left(a.[Steel Kit WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where left(a.[Steel Kit WO#], @chars) <> '00000'
	and a.[Steel Kit WO#] like '%/%'
	and left(Job, 1) = '2'

	update #ProdSched
	set JobStartDate = case when a.JobStartDate is null then RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
							else a.JobStartDate + '/' + RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3) end
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on right(a.[Steel Kit WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where right(a.[Steel Kit WO#], @chars) <> '00000'
	and a.[Steel Kit WO#] like '%/%'
	and left(Job, 1) = '2'

	select @chars = charindex('/', [Beam WO#]) - 1 from #ProdSched
	where [Beam WO#] like '%/%'

	update #ProdSched
	set JobStartDate = RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on left(a.[Beam WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where left(a.[Beam WO#], @chars) <> '00000'
	and [Beam WO#] like '%/%'
	and left(Job, 1) = '2'

	update #ProdSched
	set JobStartDate = case when a.JobStartDate is null then RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
							else a.JobStartDate + '/' + RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3) end
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on right(a.[Beam WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where right(a.[Beam WO#], @chars) <> '00000'
	and [Beam WO#] like '%/%'
	and left(Job, 1) = '2'

	select @chars = charindex('/', [GN WO#]) - 1 from #ProdSched
	where [GN WO#] like '%/%'

	update #ProdSched
	set JobStartDate = RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on left(a.[GN WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where left(a.[GN WO#], @chars) <> '00000'
	and [GN WO#] like '%/%'
	and left(Job, 1) = '2'

	update #ProdSched
	set JobStartDate = case when a.JobStartDate is null then RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
							else a.JobStartDate + '/' + RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3) end
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on right(a.[GN WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where right(a.[GN WO#], @chars) <> '00000'
	and [GN WO#] like '%/%'
	and left(Job, 1) = '2'

	select @chars = charindex('/', [Other WO#]) - 1 from #ProdSched
	where [Other WO#] like '%/%'

	update #ProdSched
	set JobStartDate = RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on left(a.[Other WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where left(a.[Other WO#], @chars) <> '00000'
	and [Other WO#] like '%/%'
	and left(Job, 1) = '2'

	update #ProdSched
	set JobStartDate = case when a.JobStartDate is null then RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3)
							else a.JobStartDate + '/' + RIGHT('00' + cast(day(b.JobStartDate) as varchar), 2) + '-' + left(datename(mm, b.JobStartDate), 3) end
	from #ProdSched as a
	inner join SysproCompanyA.dbo.WipMaster as b with (nolock) on right(a.[Other WO#], @chars) collate Latin1_General_BIN = right(b.Job, @chars)
	where right(a.[Other WO#], @chars) <> '00000'
	and [Other WO#] like '%/%'
	and left(Job, 1) = '2';

	--Update null Steel Kit/Beam/GNK/Other WO and associated JobStartDate fields with Dock To Stock Dates
	with cte
	as
	(
		select CalendarDate, ROW_NUMBER() over (order by CalendarDate desc) as RN, WorkDay
		from SysproCompanyA.dbo.v_CalendarWorkDays
		where WorkDay = 1
	)
	
	update #ProdSched
	set JobStartDate = RIGHT('00' + cast(day(DTSDate) as varchar), 2) + '-' + left(datename(mm, DTSDate), 3)
	from #ProdSched as a
	inner join (select T1.Job, T1.PlannedStartDate, 14 as NoDays, T2.CalendarDate as DTSDate
				from cte
				join SysproCompanyA.dbo.WipJobAllLab as T1 with (nolock) on cte.CalendarDate = T1.PlannedStartDate
				join cte as T2 on T2.RN - cte.RN = 14
				where Operation = 4) as b on cast(a.WO# as varchar(20)) = b.Job
	where JobStartDate is null;

	--Add Quote# to null WO fields
	update #ProdSched
	set WO# = Quote#
	where WO# is null

	--Updated Reviewed field based on "WO Reviewed" field in Orders table
	update #ProdSched
	set Reviewed = case when [WO Reviewed] is null then 0 else [WO Reviewed] end
	from #ProdSched
	left outer join Orders with (nolock) on #ProdSched.Quote# = Orders.Quote#

	--Update NoNPOs field with count of NPOs on each unit (Custom Work table)
	update #ProdSched
	set NoNPOs = case when subA.NoNPOs is null then 0 else subA.NoNPOs end
	from #ProdSched
	left outer join (select Quote#, count(*) as NoNPOs 
					 from [Custom Work] with (nolock)
					 where Description not like '%none%'
					 and Description not like '%All WO before July 1, 2011 Please use in conjunction with Excel WO.%'
					 and Description not like '%See NPOs for New Quote%'
					 group by Quote#) as subA on #ProdSched.Quote# = subA.Quote#

	--Update Stock/Sold column based on Customer information
	update #ProdSched
	set [Stock/Sold] = case when Customer is not null and Customer <> 'stock' then 'SOLD' else 'STOCK' end
	from #ProdSched
	left outer join Customers with (nolock) on #ProdSched.Quote# = Customers.Quote#
	
	--Set the default for Slots as STOCK, until specified
	update #ProdSched
	set [Stock/Sold] = 'STOCK'
	where Slot# is not null

	update #ProdSched
	set [Stock/Sold] = null
	where Quote# is null
	and Slot# is null

	--Update HighRiskUnit column based on column in Orders table
	update #ProdSched
	set HighRiskUnit = Orders.HighRiskUnit
	from #ProdSched
	inner join Orders with (nolock) on #ProdSched.Quote# = Orders.Quote#

	--Remove unnecessary lines
	delete from #ProdSched
	where GroupID is null

	--====================== Temp Solution for solving 3 pages issue! ======================
	--Remove "Screener" line
	delete from #ProdSched
	where [Prod Line] = 'SCREENERS'
	OR [Prod Line] IN ('B4')
	--======================================================================================

	--Final select statement
	select * from #ProdSched

	/*
END
*/
