USE [SysproCompanyS]
GO
/****** Object:  Trigger [dbo].[tr_PDS_UpdateWarrantyUnits]    Script Date: 2024-05-14 1:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Avery Briggs>
-- Create date: <2024-05-13>
-- Description:	<Ensure that new warranty work order numbers are transferred to [Stargatedb].[dbo].[PDS WarrantyUnits]>

-- 2024-05-14 James Crawford - Fixed incorrect [PDS WarrantyUnits] table name to [PDS_WarrantyUnits] as it was causing SQL insert errors in Stargate Syspro.
-- IT Requst # 2765
-- =============================================
ALTER TRIGGER [dbo].[tr_PDS_UpdateWarrantyUnits]
   ON [SysproCompanyS].[dbo].[WipMaster]
   AFTER 
	INSERT,
	UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO
		[Stargatedb].[dbo].[PDS_WarrantyUnits]
		([Job])
	SELECT
		[I].[Job]
	FROM
		inserted [I]
	LEFT JOIN
		[Stargatedb].[dbo].[PDS_WarrantyUnits] [W]
	ON
		[I].[Job] = [W].[Job] COLLATE Latin1_General_BIN
	WHERE
		[W].[Job] IS NULL
		AND LEFT([I].[Job], 1) = '3'

END
