USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_UpdateAccessDBID]    Script Date: 2024-03-26 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER  [dbo].[tr_UpdateAccessDBID]
   ON [dbo].[ADG Events]
   --BEFORE
   AFTER
   --INSTEAD OF
   INSERT
   --, DELETE
   , UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		UPDATE
			[ADG Events]
		SET
			[AccessDBID] = [D].[ADODatabasesID]
		FROM
			[ADG Events] [E]
		INNER JOIN
			[INSERTED] [I]
		ON
			[E].[ID] = [I].[ID]
		INNER JOIN
			[ADO Databases] [D]
		ON
			LOWER([E].[AccessDB]) = LOWER([D].[Name])


	END
END
