USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_QuickRef_ListSimilarQuotes]    Script Date: 2025-01-14 4:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>

-- 2022-06-29 Added to join clause in the #QuoteswithsameOptions insert statement. Had to double check that the quantities are the same.
--     See ITR#000604
-- 2023-03-17 James Crawford - Adjusted #QuoteswithsameOptions & #QuoteswithsameNPOs insert statements as using the [Quote Date] columns from [Order Options]/[Custom Work] instead of [Orders] was causing Option/NPO count issues
-- IT Request #1793
-- =============================================

ALTER PROCEDURE [dbo].[sp_QuickRef_ListSimilarQuotes] 
	-- Add the parameters for the stored procedure here
	*/
	 declare
	@quote int = 31009
/*
AS
BEGIN
*/
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Grab Model No for future referencing
	declare @modelno nvarchar(255) = (select [Model No] from Orders with (nolock) where Quote# = @quote)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteOptions') IS NOT NULL
		DROP TABLE #QuoteOptions 

	create table #QuoteOptions
	(
		#Options int,
		[Option No] nvarchar(255),
        [Price] money,
        [Qty] int,
        [Sections] nvarchar(255),
        [Description] nvarchar(max)
	)

	--Grab Quotes with same Model No and Options as @quote parameter
	insert into #QuoteOptions ([Option No], Price, Qty, Sections, Description)
	select [Option No], Price, Qty, Sections, Description
	from [Order Options] with (nolock)
	where Quote# = @quote

	update #QuoteOptions
	set #Options = NoOptions
	from (select count(*) as NoOptions
		  from [Order Options] with (nolock)
		  where Quote# = @quote) as subCountOptions

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteswithsameOptions') IS NOT NULL
		DROP TABLE #QuoteswithsameOptions 

	create table #QuoteswithsameOptions
	(
		[Quote#] int,
		[WO#] int,
		[Quote Date] datetime,
		[Prod Date] datetime
	)

	insert into #QuoteswithsameOptions
	select Orders.Quote#, Orders.WO#, Orders.[Quote Date], [Prod Date]
	from [Order Options] as main with (nolock)
	inner join Orders with (nolock) on main.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join #QuoteOptions as QuoteOptions on main.[Option No] = QuoteOptions.[Option No]
												and (case when main.Sections is null then '' else main.Sections end) = (case when QuoteOptions.Sections is null then '' else QuoteOptions.Sections end)
												and main.Description = QuoteOptions.Description
												AND main.[Qty] = [QuoteOptions].[Qty]
	where main.Quote# in (select Quote#
						  from [Order Options] with (nolock)
						  group by Quote#
						  having count(*) in (select #Options from #QuoteOptions))
	and Orders.[Model No] = @modelno
	and [Date Declined] is null
	group by Orders.Quote#, Orders.WO#, Orders.[Quote Date], [Prod Date]
	having count(*) = (select distinct #Options from #QuoteOptions)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteNPOs') IS NOT NULL
		DROP TABLE #QuoteNPOs

	create table #QuoteNPOs
	(
		#NPOs int,
        [Description] nvarchar(max)
	)

	--Grab Quotes with same NPOs
	insert into #QuoteNPOs (Description)
	select Description
	from [Custom Work] with (nolock)
	where Quote# = @quote

	update #QuoteNPOs
	set #NPOs = NoNPOs
	from (select count(*) as NoNPOs
		  from [Custom Work] with (nolock)
		  where Quote# = @quote) as subCountNPOs

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#QuoteswithsameNPOs') IS NOT NULL
		DROP TABLE #QuoteswithsameNPOs 

	create table #QuoteswithsameNPOs
	(
		[Quote#] int,
		[WO#] int,
		[Quote Date] datetime,
		[Prod Date] datetime
	)

	insert into #QuoteswithsameNPOs
	select Orders.Quote#, Orders.WO#, Orders.[Quote Date], [Prod Date]
	from [Custom Work] as main with (nolock)
	inner join Orders with (nolock) on main.Quote# = Orders.Quote#
	left outer join Production with (nolock) on Orders.Quote# = Production.Quote#
	inner join #QuoteNPOs as QuoteNPOs on main.Description = QuoteNPOs.Description
	where main.Quote# in (select Quote#
						  from [Custom Work] with (nolock)
						  group by Quote#
						  having count(*) in (select #NPOs from #QuoteNPOs))
	and Orders.[Model No] = @modelno
	and [Date Declined] is null
	group by Orders.Quote#, Orders.WO#, Orders.[Quote Date], [Prod Date]
	having count(*) = (select distinct #NPOs from #QuoteNPOs)

	--Final select statement
	select Options.Quote#, Options.WO#, Options.[Quote Date], Options.[Prod Date]
	from #QuoteswithsameOptions as Options
	inner join #QuoteswithsameNPOs as NPOs on Options.Quote# = NPOs.Quote#
	where Options.Quote# <> @quote


	SELECT @quote AS [Qiq]
	
		SELECT
			'O2' AS [T],
			*
		FROM
			[BWSdb].[dbo].[Orders]
		WHERE
			[Quote#] = @quote


	
	SELECT
		[Quote#]
	FROM (
	
		SELECT
			--[O1].*
			--*
		
			[O1].[Quote#]
			, [O1].[Order Date]
			, [O1].[WO#]
			, [O1].[Model No]
			, [Os1].[Group]
			, [Os1].[Section]
			, [Os1].[Description] AS [OStanDesc]
			, [Op1].[Option No]
			, [Op1].[Description] AS [OOptnDesc]
			, [Cw1].[Description] AS [CWorkDesc]
		FROM
			[BWSdb].[dbo].[Orders] [O1]
		CROSS JOIN (
			SELECT
				*
			FROM
				[BWSdb].[dbo].[Orders]
			WHERE
				[Quote#] = @quote
		) AS [O2]
	

		CROSS JOIN (
			SELECT
				ROW_NUMBER() OVER(
					ORDER BY [Quote#]
				) AS [RN],
				*
			FROM
				[Order Standards]
			WHERE
				[Quote#] = @quote
		) AS [Os2]
		LEFT JOIN
			[BWSdb].[dbo].[Order Standards] [Os1]
		ON
			[O1].[Quote#] = [Os1].[Quote#]

		CROSS JOIN (
			SELECT
				ROW_NUMBER() OVER(
					ORDER BY [Quote#]
				) AS [RN],
				*
			FROM
				[Order Options]
			WHERE
				[Quote#] = @quote
		) AS [Op2]
		LEFT JOIN
			[BWSdb].[dbo].[Order Options] [Op1]
		ON
			[O1].[Quote#] = [Op1].[Quote#]
		CROSS JOIN (
			SELECT
				ROW_NUMBER() OVER(
					ORDER BY [Quote#]
				) AS [RN],
				*
			FROM
				[Custom Work]
			WHERE
				[Quote#] = @quote
		) AS [Cw2]
		LEFT JOIN
			[BWSdb].[dbo].[Custom Work] [Cw1]
		ON
			[O1].[Quote#] = [Cw1].[Quote#]
		WHERE
			--([O2].[Quote#] IS NULL)
			--AND
			([O1].[Date Declined] IS NULL)
			AND (
				([O1].[ProductID] = [O2].[ProductID])
				AND ([O1].[Width] = [O2].[Width])
				AND ([O1].[Spread] = [O2].[Spread])
			)
			AND (
				--([Os1].[Quote#] = [Os2].[Quote#])
				--AND 
				--([Os1].[Standard No] = [Os2].[Standard No])
				([Os1].[Group] = [Os2].[Group])
				AND ([Os1].[Section] = [Os2].[Section])
				AND ([Os1].[Description] = [Os2].[Description])
			)
			AND (
				--[Op1].[Option No] = [Op2].[Option No]
				([Op1].[Sections] = [Op2].[Sections])
				AND 
				([Op1].[Description] = [Op2].[Description])
			)
			AND (
				[Cw1].[Description] = [Cw2].[Description]
			)
			--AND ([O1].[Quote#] IS NULL)
		GROUP BY
			[O1].[Quote#]
			, [O1].[Order Date]
			, [O1].[WO#]
			, [O1].[Model No]
			, [Os1].[Group]
			, [Os1].[Section]
			, [Os1].[Description]
			, [Op1].[Option No]
			, [Op1].[Description]
			, [Cw1].[Description]
			/*
		HAVING 
			--COUNT([O1].[Quote#]) > 1
			COUNT(*) > 1
			*/
	
	) [Src]
	WHERE
		[Quote#] <> @quote
	GROUP BY
		[Quote#]
	
	ORDER BY
		[Quote#] DESC
		/*[O1].[Quote#] DESC
		,[O1].[Order Date] DESC*/


--END
