USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewOptionV2]    Script Date: 2021-09-20 3:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_AddNewOptionV2] 
	-- Add the parameters for the stored procedure here
	@modelno nvarchar(50), @compid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @tmptbl table
	(
		[Model No] nvarchar(50),
		[Option No] nvarchar(50)
	)
	
	--grabs model no and latest option no id (at end of option no) and increases id by 1
	insert into @tmptbl([Model No], [Option No])
	select [Model No], [Model No] + '-' + convert(nvarchar, right('00000' + cast(No + 1 as varchar(2)), 5)) as [Option No] 
	from (select CompanyID, [Model No], max(right([Option No], 2)) as [No]
	from (select CompanyID, [Model No], [Option No] from OptionsV2
		  where right([Option No], 2) not like '%[A-Z]%') as subA
	group by CompanyID, [Model No]) as mainsub
	where right(No, 1) not like '[A-Z]'
	and [Model No] = @modelno
	and CompanyID = @compid

	--ensure older options with same option no doesn't exist in other tables
	declare @mncheck nvarchar(50) = (select [Model No] from @tmptbl), 
	        @oncheck nvarchar(50) = (select [Option No] from @tmptbl)

	delete from [Budget Options V2]
	where [Model No] = @mncheck
	and [Option No] = @oncheck
	and CompanyID = @compid

	delete from Options_SpecLinesV2
	where [Model No] = @mncheck
	and [Option No] = @oncheck
	and CompanyID = @compid

	delete from Options_FactoryLinesV2
	where [Model No] = @mncheck
	and [Option No] = @oncheck
	and CompanyID = @compid

	--inserts model no and new option no in option tables
	insert into OptionsV2 with (tablock) (CompanyID, [Model No], [Option No])
	select @compid, [Model No], [Option No] 
	from @tmptbl

	insert into Options_SpecLinesV2 with (tablock) (CompanyID, [Model No], [Option No], Line#)
	select @compid, [Model No], [Option No], 1
	from @tmptbl

	insert into Options_FactoryLinesV2 with (tablock) (CompanyID, [Model No], [Option No], Line#)
	select @compid, [Model No], [Option No], 1
	from @tmptbl

	insert into [Budget Options V2] with (tablock) (CompanyID, [Model No], [Option No])
	select @compid, [Model No], [Option No] 
	from @tmptbl

END
