USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExistingOptionToModelV2]    Script Date: 2021-09-20 2:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_AddExistingOptionToModelV2] 
	-- Add the parameters for the stored procedure here
	@OptID int, @MN nvarchar(255), @compid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Grab selected Model No and a new, cooresponding Option No
	declare @MNandON table
	(
		ModelNo nvarchar(255),
		NewOptNo nvarchar(255)
	)

	insert into @MNandON (ModelNo, NewOptNo)
	select [Model No], [Model No] + '-' + RIGHT(('00000' + convert(nvarchar, max(right([Option No], len([Option No]) - PATINDEX('%-[0-9]%', [Option No]))) + 1)), 5) as NewOptNo
	from OptionsV2
	where CompanyID = @compid
	and [Model No] = @MN
	group by [Model No]

	--Begin inserting Option records into associated tables for New Model and Option No
	insert into [Budget Options V2] with (tablock) (CompanyID, [Model No], [Option No], [Description], [Cost], [Labour Cost], [Made In Material], [Bought Out Material], 
													[Machine Shop], [Steel Kit], [Axles], [Stakes/Bunks], [Beam], [GNK], [Parts], [Line], [Step 1], [Step 2], [Blast], [Paint], 
													[Finish], [Finish - GNK], [Final Assembly], [Tire Assembly], [Shipping], [Sections], [SortSe], [Obsolete])
	select @compid, ModelNo, NewOptNo, [Budget Options V2].[Description], [Cost], [Labour Cost], [Made In Material], [Bought Out Material], 
		   [Machine Shop], [Steel Kit], [Axles], [Stakes/Bunks], [Beam], [GNK], [Parts], [Line], [Step 1], [Step 2], [Blast], [Paint], 
		   [Finish], [Finish - GNK], [Final Assembly], [Tire Assembly], [Shipping], [Budget Options V2].[Sections], [Budget Options V2].[SortSe], [Budget Options V2].[Obsolete]
		   from [Budget Options V2]
		   inner join OptionsV2 on [Budget Options V2].[Model No] = OptionsV2.[Model No]
								 and [Budget Options V2].[Option No] = OptionsV2.[Option No]
								 and [Budget Options V2].CompanyID = OptionsV2.CompanyID
		   cross join @MNandON as a
		   where OptionsV2.ID# = @OptID

	insert into OptionsV2 with (tablock) (CompanyID, [Model No], [Option No], [Start Date], [End Date], [Price], [Sections], [Description], [Weight], [Width], [Deck Length], [Spread], 
										  [SortSe], [Draw/Part#], [Std Hours], [Obsolete], [Selection], [New Option Wording])
	select @compid, ModelNo, NewOptNo, [Start Date], [End Date], [Price], [Sections], [Description], [Weight], [Width], [Deck Length], [Spread], 
		   [SortSe], [Draw/Part#], [Std Hours], [Obsolete], [Selection], [New Option Wording]
		   from OptionsV2
		   cross join @MNandON as a
		   where OptionsV2.ID# = @OptID

	insert into Options_SpecLinesV2 with (tablock) (CompanyID, [Model No], [Option No], [Description], [Line#], [SpecGroup], [SpecSortG], [SpecSection], [SpecSortSe], 
													[SpecDescription], [SpecDescriptionBold], [SpecDescriptionItalic], [SpecDescriptionUnderline], [SpecDescriptionBackColour], [SpecDescriptionFontColour], [SpecSortSeLine])
	select @compid, ModelNo, NewOptNo, OptionsV2.[Description], [Line#], [SpecGroup], [SpecSortG], [SpecSection], [SpecSortSe], 
		   [SpecDescription], [SpecDescriptionBold], [SpecDescriptionItalic], [SpecDescriptionUnderline], [SpecDescriptionBackColour], [SpecDescriptionFontColour], [SpecSortSeLine]
		   from Options_SpecLinesV2
		   inner join OptionsV2 on Options_SpecLinesV2.[Model No] = OptionsV2.[Model No]
								 and Options_SpecLinesV2.[Option No] = OptionsV2.[Option No]
								 and Options_SpecLinesV2.Description = OptionsV2.Description
								 and Options_SpecLinesV2.CompanyID = OptionsV2.CompanyID
		   cross join @MNandON as a
		   where OptionsV2.ID# = @OptID

	insert into Options_FactoryLinesV2 with (tablock) (CompanyID, [Model No], [Option No], [Description], [Line#], [SpecGroup], [SpecSortG], [SpecSection], [SpecSortSe], 
													   [SpecDescription], [SpecDescriptionBold], [SpecDescriptionItalic], [SpecDescriptionUnderline], [SpecDescriptionBackColour], [SpecDescriptionFontColour], [SpecSortSeLine])
	select @compid, ModelNo, NewOptNo, OptionsV2.[Description], [Line#], [SpecGroup], [SpecSortG], [SpecSection], [SpecSortSe], 
		   [SpecDescription], [SpecDescriptionBold], [SpecDescriptionItalic], [SpecDescriptionUnderline], [SpecDescriptionBackColour], [SpecDescriptionFontColour], [SpecSortSeLine]
		   from Options_FactoryLinesV2
		   inner join OptionsV2 on Options_FactoryLinesV2.[Model No] = OptionsV2.[Model No]
								 and Options_FactoryLinesV2.[Option No] = OptionsV2.[Option No]
								 and Options_FactoryLinesV2.Description = OptionsV2.Description
								 and Options_FactoryLinesV2.CompanyID = OptionsV2.CompanyID
		   cross join @MNandON as a
		   where OptionsV2.ID# = @OptID

END
