USE [BWSdb]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PartOrNoneIssued]    Script Date: 2025-09-30 9:07:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2025-09-23 17:44 - Avery Briggs - TVF to show StockCode Issuing to an Operation on a Job.
--		Shows only partially or wholly missing quantites issued to the operation.
--		This is inferred from the [PROD_JobOpIssue].[FirstIssued] value, and the associating trigger on [SysproCompanyA].[dbo].[WipJobPost].

/*ALTER FUNCTION [dbo].[fn_PartOrNoneIssued]
(*/
	DECLARE
    @StartDate     DATETIME,
    @TopLevelOnly  BIT = 1

	SELECT
		--@StartDate = '2025-09-18 08:00',
		@StartDate = DATEADD(HOUR, -1, GETDATE()),
		@TopLevelOnly = 1
	;

	
DECLARE @sd DATETIME = '2025-09-18';
DECLARE @tlo BIT = 1;
DECLARE @op INT = 1;
DECLARE @j NVARCHAR(MAX) = '10017648';
DECLARE @sc NVARCHAR(MAX) = '544325048';

/*)
RETURNS TABLE
AS
RETURN
(*/

WITH MatMissed AS (
    SELECT
          [JOI].[Job]
        , [JOI].[Operation]
        , [JOI].[FirstIssued]
        , [JOI].[LastIssued]
        , [WM].[StockCode]
        , ISNULL([WM].[QtyIssued], 0)     AS [QtyIssued]
        , ISNULL([WM].[UnitQtyReqd], 0)   AS [UnitQtyReqd]
		--, *
    FROM [BWSdb].[dbo].[PROD_JobOpIssue] AS [JOI]
    INNER JOIN [SysproCompanyA].[dbo].[WipJobAllMat] AS [WM]
        ON [JOI].[Job]       = [WM].[Job] COLLATE DATABASE_DEFAULT
       AND [JOI].[Operation] = [WM].[OperationOffset]
    WHERE
        ([JOI].[FirstIssued] IS NOT NULL)
--        AND ISNULL([WM].[QtyIssued], 0) < ISNULL([WM].[UnitQtyReqd], 0)
--        AND 
--		[JOI].[FirstIssued] >= @StartDate
        AND 
		(
             CASE WHEN ISNULL(@TopLevelOnly, 0) = 1
                  THEN CASE WHEN LEFT([WM].[Job], 1) = '1' THEN 1 ELSE 0 END
                  ELSE 1
             END
        ) > 0
	GROUP BY
		[JOI].[Job]
		, [WM].[Job]
        , [JOI].[Operation]
        , [JOI].[FirstIssued]
        , [JOI].[LastIssued]
        , [WM].[StockCode]
        , [WM].[QtyIssued]
        , [WM].[UnitQtyReqd]
	/*HAVING COUNT(*) = 1
	ORDER BY
		[WM].[Job],
		[WM].[StockCode]*/
)
	SELECT
		*
	FROM
		[MatMissed] [MM]
	WHERE
		([MM].[Job] = @j)


	FULL JOIN
		[SysproCompanyA].[dbo].[v_PROD_JobMaterialStatus] [JMS]
	ON
		([MM].[Job] = [JMS].[Job] COLLATE DATABASE_DEFAULT)
		AND ([MM].[Operation] = [JMS].[Operation])
		AND ([MM].[StockCode] <> [JMS].[StockCode])
	WHERE
		([MM].[Job] IS NOT NULL)
		AND ([MM].[Operation] IS NOT NULL)
	ORDER BY
		[MM].[Job],
		[MM].[StockCode]


--);
