USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_REC_3TermSearch]    Script Date: 2025-11-05 3:19:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2025-08-21 - Avery Briggs - Simple format to search known parts by up to 3 terms.
--								Condsiders [Description] and [LongDescription] fields of [SysproCompanyA].[dbo].[InvMaster]
-- 2025-08-25 - Avery Briggs -  Added support for specific [Warehouse] lookups
-- 2025-10-30 - Avery Briggs - Removed case-sensitivity.
-- 2025-11-05 - Avery Briggs - Supported StockCode and Bin match

ALTER PROCEDURE [dbo].[sp_REC_3TermSearch]
	@st1 NVARCHAR(MAX) = NULL,
	@st2 NVARCHAR(MAX) = NULL,
	@st3 NVARCHAR(MAX) = NULL,
	@warehouse NVARCHAR(MAX) = '01'
AS
BEGIN

	SELECT
		*
	FROM (
		SELECT
			[IW].[StockCode],
			[IM].[Description],
			[IM].[LongDesc],
			[IW].[DefaultBin],
			[IW].[QtyOnHand],
			[IW].[QtyAllocated],
			[IW].[QtyAllocatedToPick],
			[IW].[QtyAllocatedWip],
			[IW].[UnitCost],
			[IW].[DateLastSale],
			[IW].[Warehouse]
			, LOWER(ISNULL([IM].[Description], '') + ISNULL([IM].[LongDesc], '')) + ISNULL([IW].[StockCode], '') + ISNULL([IW].[DefaultBin], '') AS [Desc]
		FROM
			[SysproCompanyA].[dbo].[InvWarehouse] [IW]
		INNER JOIN
			[SysproCompanyA].[dbo].[InvMaster] [IM]
		ON
			[IW].[StockCode] = [IM].[StockCode]
		/*WHERE
			LEFT(LOWER([IW].[DefaultBin]), 3) = 'f36'*/
	) AS [Src]
	WHERE
		((CASE WHEN @st1 IS NULL THEN 1 ELSE (CASE WHEN LOWER([Desc]) LIKE '%' + LOWER(@st1) + '%' THEN 1 ELSE 0 END) END) * 
		(CASE WHEN @st2 IS NULL THEN 1 ELSE (CASE WHEN LOWER([Desc]) LIKE '%' + LOWER(@st2) + '%' THEN 1 ELSE 0 END) END) *
		(CASE WHEN @st3 IS NULL THEN 1 ELSE (CASE WHEN LOWER([Desc]) LIKE '%' + LOWER(@st3) + '%' THEN 1 ELSE 0 END) END)) > 0
		AND (CASE WHEN ISNULL(@warehouse, '') = '' THEN 1 ELSE (CASE WHEN LOWER([Warehouse]) = LOWER(@warehouse) THEN 1 ELSE 0 END) END) > 0
END