USE [SysproCompanyA]
GO
/****** Object:  Trigger [dbo].[tr_PROD_WipJobPost_FirstIssue]    Script Date: 2025-09-29 3:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2025-09-22 14:40 - Avery Briggs - Ensure that when something is issued, the operation and job are stored in [BWSdb].[dbo].[PROD_JobOpIssue].
--	Using this data, check if another stockcode was missed as part of a kit-issuing. If another stockcode was missed while posting stockcodes to the current Job's operation,
--	create a temporary YellowTag to be approved by purchasing or production before it can enter [BWSdb].[dbo].[PROD_YellowTags].
-- 2025-09-22 15:28 - Avery Briggs - Adjusted for full DATETIME for [TrnDate]
-- 2025-09-22 15:53 - Avery Briggs - Adjusted for material only transactions via [TrnType] <> 'L'
-- 2025-09-23 14:29 - Avery Briggs - Discovered that [WipJobPost].[LOperation] is almost always posted as 0, unless a specific issue was done.
--	Had to default to an inferential method to know if a particular StockCodes' issuing on a Job is the first of the operation set.
--  Built [SysproCompanyA].[dbo].[v_PROD_JobMaterialStatus] to act as a master reference - Think 'WO Status'.

ALTER TRIGGER [dbo].[tr_PROD_WipJobPost_FirstIssue]
ON [dbo].[WipJobPost]
AFTER INSERT
AS
BEGIN

	 SET NOCOUNT ON;

    ;WITH Ins AS (
        -- New material issues being posted
        SELECT i.Job,
               i.MStockCode,
               i.MWarehouse,
               DATEADD(MINUTE, (i.LTrnTime % 100),
               DATEADD(HOUR, FLOOR(i.LTrnTime / 100), CAST(i.TrnDate AS DATETIME))) AS TrnDateTime
        FROM inserted i
        WHERE i.TrnType <> 'L'  -- non labour
    ),
    OpsWithIssues AS (
        -- Map the stock issues back to operations via v_PROD_JobMaterialStatus
        SELECT v.Job,
               v.Operation,
               MIN(ins.TrnDateTime) AS MinTrnDate,
               MAX(ins.TrnDateTime) AS MaxTrnDate
        FROM Ins ins
        INNER JOIN SysproCompanyA.dbo.v_PROD_JobMaterialStatus v
            ON v.Job = ins.Job COLLATE DATABASE_DEFAULT
           AND v.StockCode = ins.MStockCode COLLATE DATABASE_DEFAULT
           AND v.Warehouse = ins.MWarehouse
        GROUP BY v.Job, v.Operation
    )
    UPDATE T
    SET T.FirstIssued = ISNULL(T.FirstIssued, S.MinTrnDate),
        T.LastIssued  = S.MaxTrnDate
    FROM BWSdb.dbo.PROD_JobOpIssue T
    INNER JOIN OpsWithIssues S
        ON T.Job = S.Job COLLATE DATABASE_DEFAULT
       AND T.Operation = S.Operation;

	-- Version 2025-09-23 - Avery Briggs - This version uses [LOperation], which is largely misleading.

    /*SET NOCOUNT ON;

    ;WITH Issued AS (
        SELECT 
              [i].[Job]
            , [i].[LOperation] AS [Operation]
            , MIN(DATEADD(MINUTE, ([i].[LTrnTime] % 100), 
                DATEADD(HOUR, FLOOR([i].[LTrnTime] / 100), CAST([i].[TrnDate] AS DATETIME)))) AS [MinTrnDate]
            , MAX(DATEADD(MINUTE, ([i].[LTrnTime] % 100), 
                DATEADD(HOUR, FLOOR([i].[LTrnTime] / 100), CAST([i].[TrnDate] AS DATETIME)))) AS [MaxTrnDate]
        FROM inserted [i]
		WHERE [i].[TrnType] <> 'L'  -- no labour postings
        GROUP BY [i].[Job], [i].[LOperation]
    )
    UPDATE T
    SET 
        [T].[FirstIssued] = ISNULL([T].[FirstIssued], [S].[MinTrnDate]),
        [T].[LastIssued] = [S].[MaxTrnDate]
    FROM [BWSdb].[dbo].[PROD_JobOpIssue] [T]
    INNER JOIN Issued [S]
        ON [T].[Job] COLLATE DATABASE_DEFAULT = [S].[Job] COLLATE DATABASE_DEFAULT
       AND [T].[Operation] = [S].[Operation];
	*/
END
