USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_PopSysproDataPROD_YellowTags]    Script Date: 2025-10-08 2:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Avery Briggs>
-- Create date:	<2025-07-29 07:48:00>
-- Description:	<Maintain History Table>
-- =============================================

--	202509181653 - Avery Briggs - Force [StockCode] to uppercase
-- 2025-09-23 14:49 - Avery Briggs - Added support for [OrigDueDate] and [LatestDueDate], Removed [YT].[Active]
-- 2025-09-23 15:41 - Avery Briggs - Cleaned up the trigger to support changes to [Active]=0 rows, and faster joins.
--  Maintain the old data for [Active]=0 YTs, including changes made to POs
-- 2025-10-08 14:20 - Avery Briggs - Added a second update statement to update ALL PO values (if needed) every time the table is updated.

ALTER TRIGGER [dbo].[tr_PopSysproDataPROD_YellowTags] 
ON [dbo].[PROD_YellowTags]
AFTER INSERT, UPDATE
AS 
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;


	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		--DECLARE @wh NVARCHAR(MAX) = '01';

		UPDATE
			[BWSdb].[dbo].[PROD_YellowTags]
		SET
			[PO] = ISNULL([YT].[PO], [Src].[PurchaseOrder])
		FROM
			[BWSdb].[dbo].[PROD_YellowTags] [YT]
		INNER JOIN (
			SELECT 
				[MD].[PurchaseOrder],
				[MD].[MStockCode],
				[MOrigDueDate] AS [OrigDueDate],
				[MLatestDueDate] AS [LatestDueDate],
				ROW_NUMBER() OVER(
					PARTITION BY
						[MD].[MStockCode]
					ORDER BY
						[MD].[MOrigDueDate] DESC
				) AS [RN]
			FROM [SysproCompanyA].[dbo].[PorMasterDetail] [MD]
			INNER JOIN [BWSdb].[dbo].[PROD_YellowTags] [YT] ON [MD].[MStockCode] = [YT].[StockCode] COLLATE DATABASE_DEFAULT
			WHERE ([MD].[MLastReceiptDat] IS NULL)
		) AS [Src]
		ON
			[YT].[StockCode] = [Src].[MStockCode] COLLATE DATABASE_DEFAULT
		
		;

		UPDATE
			[BWSdb].[dbo].[PROD_YellowTags]
		SET
			[StockCode] = UPPER([I].[StockCode]),
			[Supplier] = (
				CASE 
				  WHEN [YT].[Active] = 0 THEN ISNULL([YT].[Supplier], ISNULL([AS].[SupShortName], [AS].[SupplierName]))
				  ELSE ISNULL([AS].[SupShortName], [AS].[SupplierName])
			   END),
			[Description] = ISNULL([IM].[Description], '') + ' *---* ' + ISNULL([IM].[LongDesc], ''),
			/*[PO] = (  -- Updated above
				CASE 
				  WHEN [YT].[Active] = 0 THEN ISNULL([YT].[PO], [Src].[PurchaseOrder])
				  ELSE [Src].[PurchaseOrder]
			   END),*/
			[POOrigDueDate] = (
				CASE 
				  WHEN [YT].[Active] = 0 THEN ISNULL([YT].[POOrigDueDate], [Src].[OrigDueDate])
				  ELSE [Src].[OrigDueDate]
			   END),
			[POLatestDueDate] = (CASE 
				  WHEN [YT].[Active] = 0 THEN ISNULL([YT].[POLatestDueDate], [Src].[LatestDueDate])
				  ELSE [Src].[LatestDueDate]
			   END)
		FROM 
			[BWSdb].[dbo].[PROD_YellowTags] [YT]
		INNER JOIN
			INSERTED [I]
		ON
			[YT].[ID] = [I].[ID]
		LEFT JOIN
			DELETED [D]
		ON
			[YT].[ID] = [D].[ID]
		INNER JOIN (
			SELECT 
				[MD].[PurchaseOrder],
				[MD].[MStockCode],
				[MOrigDueDate] AS [OrigDueDate],
				[MLatestDueDate] AS [LatestDueDate],
				ROW_NUMBER() OVER(
					PARTITION BY
						[MD].[MStockCode]
					ORDER BY
						[MD].[MOrigDueDate] DESC
				) AS [RN]
			FROM [SysproCompanyA].[dbo].[PorMasterDetail] [MD]
			INNER JOIN [BWSdb].[dbo].[PROD_YellowTags] [YT] ON [MD].[MStockCode] = [YT].[StockCode] COLLATE DATABASE_DEFAULT
			WHERE ([MD].[MLastReceiptDat] IS NULL)
		) AS [Src]
		ON
			[YT].[StockCode] = [Src].[MStockCode] COLLATE DATABASE_DEFAULT
		INNER JOIN
			[SysproCompanyA].[dbo].[InvMaster] [IM]
		ON
			[Src].[MStockCode] = [IM].[StockCode]
		LEFT JOIN
			[SysproCompanyA].[dbo].[ApSupplier] [AS]
		ON
			[IM].[Supplier] = [AS].[Supplier]
		WHERE
			([Src].[RN] = 1)
		;

	END
END