USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_AnnualInventoryTurnover]    Script Date: 2021-09-27 9:55:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DECLARE @SD AS DATETIME, @ED AS DATETIME;
--SET @SD = '1950-01-01';
--SET @ED = '2012-09-23';

ALTER procedure [dbo].[sp_AnnualInventoryTurnover]
	@SD DATETIME, @ED DATETIME, @COL AS VARCHAR(2)

as
begin

declare @glyear decimal(4, 0), @glmonth decimal(2, 0), @ytdsd datetime, @pytdsd datetime

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = GlYear,
		   @loopglperiod = GlPeriod
	from SysproCompanyA.dbo.GenControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)
	where Company = 'A'

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.GenControl with (nolock) where Company = ''A'''

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select GlYear - 1 from SysproCompanyA.dbo.GenControl with (nolock) where Company = 'A')
		begin
			if @loopglyear = (select GlYear from SysproCompanyA.dbo.GenControl with (nolock) where Company = 'A')
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.GenControl with (nolock) where Company = ''A'''
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrPrdEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.GenControl with (nolock) where Company = ''A'''
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

IF OBJECT_ID('tempdb..#GLTransactions') IS NOT NULL
		DROP TABLE #GLTransactions 

	create table #GLTransactions
	(
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		GlCode varchar(35),
		EntryValue decimal(14, 2)
	)

	insert into #GLTransactions
	select GlYear, GlPeriod, GlCode, sum(EntryValue) as Value 
	from SysproCompanyA.dbo.GenTransaction with (nolock)
	group by GlYear, GlPeriod, GlCode

	IF OBJECT_ID('tempdb..#GLTransactionsWSource') IS NOT NULL
		DROP TABLE #GLTransactionsWSource 

	create table #GLTransactionsWSource
	(
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		GlCode varchar(35),
		Source char(2),
		EntryValue decimal(14, 2)
	)

	insert into #GLTransactionsWSource
	select GlYear, GlPeriod, GlCode, Source, sum(EntryValue) as Value 
	from SysproCompanyA.dbo.GenTransaction with (nolock)
	group by GlYear, GlPeriod, GlCode, Source

if @COL = 'I' begin
	select GenHistory.GlYear, sum(BeginYearBalance) + NetTrans as Inventory
	from GenHistory with (nolock)
	inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenHistory.GlCode = subInv.WhLdgCtlAcc
	inner join (select GlYear, sum(EntryValue) as NetTrans
				from #GLTransactions as GenTransaction with (nolock)
				inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenTransaction.GlCode = subInv.WhLdgCtlAcc collate Latin1_General_BIN
				group by GlYear) as subTrans on GenHistory.GlYear = subTrans.GlYear
	left outer join (select GlYear, sum(EntryValue) as CostOfSales
					 from #GLTransactions as GenTransaction with (nolock)
					 inner join (select distinct CosGlCode From SalGlIntSale with (nolock)) as subSales on GenTransaction.GlCode = subSales.CosGlCode collate Latin1_General_BIN
					 where GlPeriod <= 12
					 group by GlYear) as subCostSales on GenHistory.GlYear = subCostSales.GlYear
	inner join GenControl with (nolock) on GenHistory.Company = GenControl.Company
	where GenHistory.GlYear between YEAR(@SD) and YEAR(@ED)
	group by GenHistory.GlYear, NetTrans, CostOfSales, GenControl.GlYear, GenControl.GlPeriod
end
else if @COL = 'C' begin
	select GenHistory.GlYear,
	CostOfSales
	from GenHistory with (nolock)
	inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenHistory.GlCode = subInv.WhLdgCtlAcc
	inner join (select GlYear, sum(EntryValue) as NetTrans
				from #GLTransactions as GenTransaction with (nolock)
				inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenTransaction.GlCode = subInv.WhLdgCtlAcc collate Latin1_General_BIN
				group by GlYear) as subTrans on GenHistory.GlYear = subTrans.GlYear
	left outer join (select GlYear, sum(EntryValue) as CostOfSales
					 from #GLTransactions as GenTransaction with (nolock)
					 inner join (select distinct CosGlCode From SalGlIntSale with (nolock)) as subSales on GenTransaction.GlCode = subSales.CosGlCode collate Latin1_General_BIN
					 where GlPeriod <= 12
					 group by GlYear) as subCostSales on GenHistory.GlYear = subCostSales.GlYear
	inner join GenControl with (nolock) on GenHistory.Company = GenControl.Company
	where GenHistory.GlYear between YEAR(@SD) and YEAR(@ED)
	group by GenHistory.GlYear, NetTrans, CostOfSales, GenControl.GlYear, GenControl.GlPeriod
end
else if @COL = 'IC' begin
	select GenHistory.GlYear, sum(BeginYearBalance) + NetTrans as Inventory,
	CostOfSales
	from GenHistory with (nolock)
	inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenHistory.GlCode = subInv.WhLdgCtlAcc
	inner join (select GlYear, sum(EntryValue) as NetTrans
				from #GLTransactions as GenTransaction with (nolock)
				inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenTransaction.GlCode = subInv.WhLdgCtlAcc collate Latin1_General_BIN
				group by GlYear) as subTrans on GenHistory.GlYear = subTrans.GlYear
	left outer join (select GlYear, sum(EntryValue) as CostOfSales
					 from #GLTransactions as GenTransaction with (nolock)
					 inner join (select distinct CosGlCode From SalGlIntSale with (nolock)) as subSales on GenTransaction.GlCode = subSales.CosGlCode collate Latin1_General_BIN
					 where GlPeriod <= 12
					 group by GlYear) as subCostSales on GenHistory.GlYear = subCostSales.GlYear
	inner join GenControl with (nolock) on GenHistory.Company = GenControl.Company
	where GenHistory.GlYear between YEAR(@SD) and YEAR(@ED)
	group by GenHistory.GlYear, NetTrans, CostOfSales, GenControl.GlYear, GenControl.GlPeriod
end
else begin
	select GenHistory.GlYear,
	((((sum(BeginYearBalance) + NetTrans) + sum(BeginYearBalance)) / 2) / CostOfSales)
	* case when GenHistory.GlYear = GenControl.GlYear then GlPeriod * 30 else 365 end as InvTurnoverDays
	from GenHistory with (nolock)
	inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenHistory.GlCode = subInv.WhLdgCtlAcc
	inner join (select GlYear, sum(EntryValue) as NetTrans
				from #GLTransactions as GenTransaction with (nolock)
				inner join (select distinct WhLdgCtlAcc from InvWhControl with (nolock)) as subInv on GenTransaction.GlCode = subInv.WhLdgCtlAcc collate Latin1_General_BIN
				group by GlYear) as subTrans on GenHistory.GlYear = subTrans.GlYear
	left outer join (select GlYear, sum(EntryValue) as CostOfSales
					 from #GLTransactions as GenTransaction with (nolock)
					 inner join (select distinct CosGlCode From SalGlIntSale with (nolock)) as subSales on GenTransaction.GlCode = subSales.CosGlCode collate Latin1_General_BIN
					 where GlPeriod <= 12
					 group by GlYear) as subCostSales on GenHistory.GlYear = subCostSales.GlYear
	inner join GenControl with (nolock) on GenHistory.Company = GenControl.Company
	where GenHistory.GlYear between YEAR(@SD) and YEAR(@ED)
	group by GenHistory.GlYear, NetTrans, CostOfSales, GenControl.GlYear, GenControl.GlPeriod
end
end