USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcDiscount]    Script Date: 2022-11-30 4:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_CalcDiscount]

	@quote AS INT

AS
BEGIN

-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------

--DECLARE @quote AS INT;
--SELECT @quote = 28362;

-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------

	SELECT
		[Orders].[Quote#]
		, [COMPANY NAME]
		, [Model No]
		, ISNULL((CASE WHEN [UseDefaultDiscount] = 1 THEN [Slot] ELSE [SlotOverride] END), 0) AS [Slot]
		, ISNULL((CASE WHEN [UseDefaultDiscount] = 1 THEN [Market] ELSE [MarketOverride] END), 0) AS [Market]
	FROM
		[Orders]
	INNER JOIN
		[Order Discounts]
	ON
		[Orders].[DiscountID] = [Order Discounts].[ID]
	INNER JOIN
		[Discounts]
	ON
		[Order Discounts].[DefaultDiscount] = [Discounts].[ID]
	LEFT JOIN
		[Dealers]
	ON
		[Discounts].[DealerID] = [Dealers].[ID]
	WHERE
		[Quote#] = @quote;

END