USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_UpdateOrderDiscounts]    Script Date: 2023-01-09 10:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_UpdateOrderDiscounts]
   ON  [dbo].[Orders]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF TRIGGER_NESTLEVEL() < 1 BEGIN

		-- Insert statements for trigger here
	
		DECLARE @newDiscountID AS INT;
		DECLARE @oldDiscountID AS INT;
		DECLARE @editor AS NVARCHAR(255);
		DECLARE @quote INT;
		DECLARE @defaultDiscount AS INT;
		DECLARE @productID AS INT;
		DECLARE @dealerID AS INT;
		DECLARE @modelName AS NVARCHAR(255);
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);

		DECLARE @sendEmail AS BIT;
		SELECT @sendEmail = 0;
	
		DECLARE @persons AS NVARCHAR(MAX);
		DECLARE @subject AS NVARCHAR(MAX);
		DECLARE @body AS NVARCHAR(MAX);

		IF @productID IS NULL BEGIN
			SELECT @productID = [Products].[IDTrailer] FROM [Products] WHERE [Non-Current] = 0 AND [Proposed] = 0 AND [Model No] = @modelName;
			UPDATE [Orders] SET [ProductID] = @productID WHERE [Orders].[Quote#] = @quote;
		END

		IF @productID IS NULL BEGIN
			SELECT @productID = [ProductsV2].[IDTrailer] FROM [ProductsV2] WHERE [Non-Current] = 0 AND [Proposed] = 0 AND [Model No] = @modelName;
			UPDATE [Orders] SET [ProductID] = @productID WHERE [Orders].[Quote#] = @quote;
		END

		-- Insert statements for trigger here
		IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'UPDATE';
			SET @user = SYSTEM_USER;
		
			SELECT @newDiscountID = [DiscountID] FROM inserted i
			SELECT @oldDiscountID = [DiscountID] FROM deleted d
			SELECT @editor = DataEntryUser FROM inserted i

			IF @newDiscountID <> @oldDiscountID BEGIN
			
				UPDATE
					[Orders]
				SET
					[DiscountSetDate] = GETDATE()
					, [DiscountSetBy] = @editor
				WHERE
					[Quote#] = @quote

				SELECT @sendEmail = 1;

			END


		END
		IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'INSERT';
			SET @user = SYSTEM_USER;
		
			SELECT @newDiscountID = [DiscountID] FROM inserted i
			SELECT @editor = [DataEntryUser] FROM inserted i
			SELECT @modelName = [Model No] FROM inserted i
			SELECT @dealerID = [DealerID] FROM inserted i
		
			--SELECT @productID = [IDTrailer FROM [Products] WHERE [Non-Current] = 0 AND [Proposed] = 0 AND [Model No] = @modelName
			SELECT @defaultDiscount = [ID] FROM [Discounts] WHERE [ProductID] = @productID AND [DealerID] = @dealerID
		
				SELECT @quote = [Quote#] FROM inserted i
			
			IF @newDiscountID IS NOT NULL BEGIN
			
				UPDATE
					[Orders]
				SET
					[DiscountSetDate] = GETDATE()
					, [DiscountSetBy] = @editor
				WHERE
					[Quote#] = @quote

				SELECT @quote = [Quote#] FROM inserted i

				INSERT INTO
					[Order Discounts]
				([Active], [UseDefaultDiscount], [DefaultDiscount], [Quote])
				VALUES
					(1, 1, @defaultDiscount, @quote)
		
				SELECT @sendEmail = 1;

			END
			ELSE BEGIN
		
			SELECT @defaultDiscount = [ID] FROM [Discounts] WHERE [ProductID] = @productID AND [DealerID] = @dealerID

				INSERT INTO [Order Discounts] ([Active], [DateActive], [Quote], [DefaultDiscount], [UseDefaultDiscount]) VALUES (1, GETDATE(), @quote, @defaultDiscount, (CASE WHEN @newDiscountID IS NULL THEN 1 ELSE 0 END))

				--SELECT @newDiscountID = 
		
				SELECT @body = '@quote="' + CAST(@quote AS NVARCHAR(MAX)) + '", @newDiscountID is null from the insert section of [tr_UpdateOrderDiscounts].'
				-- Send Email
				EXEC msdb.dbo.sp_send_dbmail 
					@recipients = 'avery.briggs@bwstrailers.com',
					@profile_name = 'SQL Agent',
					@subject = 'Discount Alert', 
					@body = @body,
					@body_format='TEXT'
					--@body_format='HTML'
					;
			END


		END
		IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
			SET @activity = 'DELETE';
			SET @user = SYSTEM_USER;
		END

	
		IF @sendEmail = 1 BEGIN
			DECLARE @s AS NVARCHAR(MAX);
			SELECT @s = '';
			SELECT @persons = 'avery.briggs@bwstrailers.com';
			SELECT @subject = 'New Order Discount';
			SELECT @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001" ><p>@Quote= "' +
					CAST(ISNULL(@quote, -1) AS NVARCHAR(MAX)) +
					'", @ModelNo="' + CAST(ISNULL(@modelName, 'N/A') AS NVARCHAR(MAX)) + '"</p>' +
					ISNULL(@s, '')
					+ ', </div></body><footer></footer></html>';

			SELECT @body AS [@body], @s AS [@s]
			--SELECT * FROM @t_to_update

			-- Send Email
			EXEC msdb.dbo.sp_send_dbmail 
				@recipients = @persons,
				@profile_name = 'SQL Agent',
				@subject = @subject, 
				@body = @body,
				--@body_format='TEXT'
				@body_format='HTML'
				;
		END

	END
	--ELSE BEGIN
		
	--	SELECT @body = '@quote="' + CAST(@quote AS NVARCHAR(MAX)) + '", @newDiscountID is null from the insert section of [tr_UpdateOrderDiscounts].'
	--			-- Send Email
	--			EXEC msdb.dbo.sp_send_dbmail 
	--				@recipients = 'avery.briggs@bwstrailers.com',
	--				@profile_name = 'SQL Agent',
	--				@subject = 'Discount Alert', 
	--				@body = @body,
	--				@body_format='TEXT'
	--				--@body_format='HTML'
	--				;

	--END

END
