USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_UpdateOrderDiscounts]    Script Date: 2022-12-05 8:58:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[tr_UpdateOrderDiscounts]
   ON  [dbo].[Orders]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	
	DECLARE @newDiscountID AS INT;
	DECLARE @oldDiscountID AS INT;
	DECLARE @editor AS NVARCHAR(255);
	DECLARE @quote INT;
	DECLARE @defaultDiscount AS INT;
	DECLARE @productID AS INT;
	DECLARE @dealerID AS INT;
	DECLARE @modelName AS NVARCHAR(255);
	
	DECLARE @user NVARCHAR(20);
	DECLARE @activity NVARCHAR(20);

	DECLARE @sendEmail AS BIT;
	SELECT @sendEmail = 0;

	-- Insert statements for trigger here
	IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
		SET @activity = 'UPDATE';
		SET @user = SYSTEM_USER;
		
		SELECT @newDiscountID = [DiscountID] FROM inserted i
		SELECT @oldDiscountID = [DiscountID] FROM deleted d
		SELECT @editor = DataEntryUser FROM inserted i

		IF @newDiscountID <> @oldDiscountID BEGIN
			
			UPDATE
				[Orders]
			SET
				[DiscountSetDate] = GETDATE()
				, [DiscountSetBy] = @editor

			SELECT @sendEmail = 1;

		END


	END
	IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
		SET @activity = 'INSERT';
		SET @user = SYSTEM_USER;
		
		SELECT @newDiscountID = [DiscountID] FROM inserted i
		SELECT @editor = [DataEntryUser] FROM inserted i
		SELECT @modelName = [Model No] FROM inserted i
		SELECT @dealerID = [DealerID] FROM inserted i
		
		SELECT @productID = [IDTrailer] FROM [Products] WHERE [Non-Current] = 0 AND [Proposed] = 0 AND [Model No] = @modelName
		SELECT @defaultDiscount = [ID] FROM [Discounts] WHERE [ProductID] = @productID AND [DealerID] = @dealerID

			
		IF @newDiscountID IS NOT NULL BEGIN
			
			UPDATE
				[Orders]
			SET
				[DiscountSetDate] = GETDATE()
				, [DiscountSetBy] = @editor

			SELECT @quote = [Quote#] FROM inserted i

			INSERT INTO
				[Order Discounts]
			([Active], [UseDefaultDiscount], [DefaultDiscount], [Quote])
			VALUES
				(1, 1, @defaultDiscount, @quote)
		
			SELECT @sendEmail = 1;

		END


	END
	IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
		SET @activity = 'DELETE';
		SET @user = SYSTEM_USER;
	END

	
	IF @sendEmail = 1 BEGIN
		DECLARE @s AS NVARCHAR(MAX);
		SELECT @s = '';
	
		DECLARE @persons AS NVARCHAR(MAX);
		DECLARE @subject AS NVARCHAR(MAX);
		DECLARE @body AS NVARCHAR(MAX);
		SELECT @persons = 'avery.briggs@bwstrailers.com';
		SELECT @subject = 'New Order Discount';
		SELECT @body = '<!DOCTYPE html><html><body><div class="ITR Body" id="ITR Body ID 001" ><p>@Quote= "' +
				CAST(ISNULL(@quote, -1) AS NVARCHAR(MAX)) +
				'", @ModelNo="' + CAST(ISNULL(@modelName, 'N/A') AS NVARCHAR(MAX)) + '"</p>' +
				ISNULL(@s, '')
				+ ', </div></body><footer></footer></html>';

		SELECT @body AS [@body], @s AS [@s]
		--SELECT * FROM @t_to_update

		-- Send Email
		EXEC msdb.dbo.sp_send_dbmail 
			@recipients = @persons,
			@profile_name = 'SQL Agent',
			@subject = @subject, 
			@body = @body,
			--@body_format='TEXT'
			@body_format='HTML'
			;
	END

END
