USE [SysproCompanyS]
GO
/****** Object:  StoredProcedure [dbo].[sp_WSS_Multiple_Jobs_OPS_BWS]    Script Date: 2024-04-17 2:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_WSS_Multiple_Jobs_OPS_STG]
	@WOS NVARCHAR(MAX)
	,@OPS NVARCHAR(MAX)
	,@unk NVARCHAR(MAX) = 'UNKNOWN'
AS BEGIN


/*
-----------------------------------------------------------------------------------------------------------------------------
DECLARE @WOS NVARCHAR(MAX);
DECLARE @OPS NVARCHAR(MAX);
SELECT @WOS = '10016980';
SELECT @WOS = '10001444';
SELECT @WOS = '10016844';
SELECT @OPS = '2;3;4;5;6;7;8;12';
DECLARE @unk NVARCHAR(MAX) = 'UNKNOWN';
----------------------------------------------------------------------------------------------------------------------------
*/

DECLARE @ops_split TABLE ([ID] INT, [OP] NVARCHAR(MAX));
INSERT INTO @ops_split
SELECT * FROM [BWSdb].[dbo].[split_string_idx](@OPS, ';')
;
DECLARE @wos_split TABLE ([ID] INT, [WO] NVARCHAR(MAX));
INSERT INTO @wos_split
SELECT * FROM [BWSdb].[dbo].[split_string_idx](@WOS, ';')
;

/*
SELECT
	[OP]
FROM
	@ops_split
GROUP BY
	[OP]
;

SELECT
	[WO]
FROM
	@wos_split
GROUP BY
	[WO]
;*/

	SELECT
		[Src1].[Job],
		[Src1].[Operation],
		CAST(ISNULL([Src1].[Total Budgeted Hours], 0) AS DECIMAL(16, 2)) AS [Total Budgeted Hours],
		CAST(ISNULL([Src1].[Total Hours Issued], 0) AS DECIMAL(16, 2)) AS [Total Hours Issued],
		CAST(ISNULL([Src1].[Hours Over Budget], 0) AS DECIMAL(16, 2)) AS [Hours Over Budget],
		ISNULL([Src4].[#Defects], 0) AS [Total Defects],
		[Src2].[Employee],
		ISNULL([Src2].[Name], @unk) AS [Name],
		ISNULL([Src2].[SumHours], 0) AS [SumHours],
		[Src2].[PlaceMostHoursOnOP],
		[O].[Model No],
		[W].[StockCode],
		[W].[StockDescription],
		[W].[JobDescription],
		[W].[JobStartDate],
		[W].[ActCompleteDate],
		[Total Budgeted Hours Unit],
		[Total Hours Issued Unit],
		[Hours Over Budget Unit],
		[Src1].[WorkCentreDesc]
	FROM
		@ops_split [OS]
	LEFT OUTER JOIN (
		SELECT
			[Job],
			[Operation],
			SUM([IExpUnitRunTim]) AS [Total Budgeted Hours],
			SUM([RunTimeIssued]) AS [Total Hours Issued],
			SUM([RunTimeIssued]) - SUM(IExpUnitRunTim) AS [Hours Over Budget],
			[WorkCentreDesc]
			--,
			--ISNULL(SUM([#Defects]), 0) AS [Total Defects]
		FROM
			[WipJobAllLab] [W]
		INNER JOIN
			@ops_split [OS]
		ON
			[W].[Operation] = CAST([OS].[OP] AS DECIMAL(14, 4))
		INNER JOIN
			@wos_split [WO]
		ON
			[W].[Job] = [WO].[WO]
		GROUP BY
			[Job]
			, [WO].[WO]
			--, [D].[WO#]
			, [Operation]
			, [WorkCentreDesc]
	) AS [Src1]
	ON
		CAST([OS].[OP] AS DECIMAL(14, 4)) = [Src1].[Operation]
	LEFT OUTER JOIN (
		SELECT
			[Job]
			,ROW_NUMBER() OVER(
				PARTITION BY
					[Job],
					[Operation]
				ORDER BY
					[Operation]
					,CAST(ROUND(SUM([RunTime]), 2) AS DECIMAL(14, 2)) DESC
			) AS [PlaceMostHoursOnOP]
			,[C].[Employee]
			,ISNULL([C].[Name], @unk) AS [Name]
			,[Operation]
			,CAST(ROUND(SUM([RunTime]), 2) AS DECIMAL(14, 2)) AS [SumHours]
		FROM
			[WipLabJnl] [W]
		LEFT JOIN 
			[ClkEmployee] [C]
		ON
			[W].[Employee] = [C].[Employee]
		INNER JOIN
			@ops_split [OS]
		ON
			[W].[Operation] = CAST([OS].[OP] AS DECIMAL(14, 4))
		INNER JOIN
			@wos_split [WO]
		ON
			[W].[Job] = [WO].[WO]
		GROUP BY
			[Job]
			,[C].[Employee]
			,[C].[Name]
			,[Operation]
	) AS [Src2]
	ON
		[Src1].[Job] = [Src2].[Job]
		AND [Src1].[Operation] = [Src2].[Operation]
	LEFT JOIN
		[WipMaster] [W]
	ON
		[Src1].[Job] = [W].[Job]
	LEFT JOIN
		[BWSdb].[dbo].[OrdersV2] [O]
	ON
		[Src1].[Job] = CAST([O].[WO#] AS NVARCHAR(MAX))
	LEFT JOIN (
		SELECT
			[Job],
			SUM(IExpUnitRunTim) AS [Total Budgeted Hours Unit],
			SUM([RunTimeIssued]) AS [Total Hours Issued Unit],
			SUM([RunTimeIssued]) - SUM(IExpUnitRunTim) AS [Hours Over Budget Unit]
		FROM
			[WipJobAllLab] [W]
		INNER JOIN
			@ops_split [OS]
		ON
			[W].[Operation] = CAST([OS].[OP] AS DECIMAL(14, 4))
		INNER JOIN
			@wos_split [WO]
		ON
			[W].[Job] = [WO].[WO]
		GROUP BY
			[Job]
			, [WO].[WO]
	) AS [Src3]
	ON
		[Src1].[Job] = [Src3].[Job]
	
	CROSS JOIN (
		SELECT
			SUM([#Defects]) AS [#Defects]
		FROM
			[BWSdb].[dbo].[Defects] [D]
		INNER JOIN
			@wos_split [WO]
		ON
			CAST([D].[WO#] AS NVARCHAR(MAX)) = [WO].[WO]
	) AS [Src4]
	--ON
--		CAST([D].[WO#] AS NVARCHAR(MAX)) = [Src1].[Job]
	
	
	ORDER BY
		[Job],
		[Src1].[Operation],
		[PlaceMostHoursOnOP]

END