USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ADPExportData]    Script Date: 2022-02-02 2:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_ADPExportData] 
--	-- Add the parameters for the stored procedure here
--	@sd datetime, @ed datetime
--AS
--BEGIN
--	-- SET NOCOUNT ON added to prevent extra result sets from
--	-- interfering with SELECT statements.
--	SET NOCOUNT ON;

DECLARE @sd datetime, @ed datetime;
SET @sd = '2022-02-01';
SET @ed = '2022-02-02';

    -- Insert statements for procedure here
	select @sd = DATEADD(hour, 3, @sd) --3 AM of start date
	select @ed = dateadd(hour, 27, @ed) --3 AM of date following start date (to get full 24 hour period)

	select 'H5PL000' + ADPEmp# as [Position ID],
	[EmployeeNumber],
	'CP' as [Payment Type],
	'Regular' as [Description],
	'01' as [Earnings Code],
	cast(round(sum(cast(cast(DATEDIFF(minute, LoggedOn, LoggedOff) as decimal(14, 5)) / 60 as decimal(14, 2))) * 4, 0, 0)/4.0 as decimal(14, 2)) as [Earnings Value] --Round to the nearest 0.25 as per Jenn's request - December 2, 2021
	from ClkTransaction with (nolock)
	left outer join (select distinct Emp#, ADPEmp#
                    from BWSdb.dbo.Employees with (nolock)) as Employees on convert(real, right(ClkTransaction.EmployeeNumber, 3)) = Employees.Emp#
	where LoggedOn between @sd and @ed
	and EmployeeNumber not between '100054' and '100071'
	group by ADPEmp#, [EmployeeNumber]

--END
