USE [BWSdb]
GO
--/****** Object:  StoredProcedure [dbo].[sp_EfficiencyRework]    Script Date: 2022-06-14 3:08:14 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_EfficiencyRework]
	-- Add the parameters for the stored procedure here
	DECLARE
	@ed datetime = '2022-06-08'
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @glyear decimal(4, 0), @ytdsd datetime, @ytded datetime, @pytdsd datetime, @pytded datetime

	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = CurrentFinYear,
		   @loopglperiod = CurrentFinPeriod
	from SysproCompanyA.dbo.WipControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.WipControl with (nolock)'

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select CurrentFinYear - 1 from SysproCompanyA.dbo.WipControl with (nolock))
		begin
			if @loopglyear = (select CurrentFinYear from SysproCompanyA.dbo.WipControl with (nolock))
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.WipControl with (nolock)'
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from SysproCompanyA.dbo.WipControl with (nolock)'
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	select @glyear = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@ed)
	and year(PeriodEndDate) = year(@ed)

	select top (1) @ytdsd = cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01'
	from #PeriodEndDates
	where GlYear = @glyear
	order by PeriodEndDate asc

	select top (1) @ytded = PeriodEndDate
	from #PeriodEndDates
	where GlYear = @glyear
	order by PeriodEndDate desc

	select top (1) @pytdsd = cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01'
	from #PeriodEndDates
	where GlYear = @glyear - 1
	order by PeriodEndDate asc

	select top (1) @pytded = PeriodEndDate
	from #PeriodEndDates
	where GlYear = @glyear - 1
	order by PeriodEndDate desc

	select Fiscal, [Month], cast([Group] as int) as Sort,
	sum(AHrs) as AHrs, sum(RW) as RW
	from (select case when ActCompleteDate between @ytdsd and @ytded then 'Current'
						when ActCompleteDate between @pytdsd and @pytded then 'Prior'
						end as Fiscal,
			datename(MONTH, ActCompleteDate) as [Month],
			MonthGroup as [Group],
			MonthSort as [Sort],
			TotalActual as AHrs,
			[ChargedToBOM]+[ChargedToSales]+[ChargedToEngineering]+[ChargedToParts]+[ChargedToPurchasing]+[ChargedToWorkmanship] as RW
			from v_SYSPROLabourAnalysis
			inner join (select ROW_NUMBER() over(order by GlYear, GlPeriod) as MonthSort, month(PeriodEndDate) as MonthGroup, GlYear, GlPeriod,
						cast(cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01' as datetime) as PeriodStartDate, PeriodEndDate
						from #PeriodEndDates
						where GlYear between @glyear - 1 and @glyear) as subPeriods on v_SYSPROLabourAnalysis.ActCompleteDate between subPeriods.PeriodStartDate and subPeriods.PeriodEndDate) as mainsub
	group by [Group], Fiscal, [Month]

	/*
	select Fiscal, [Month], cast(Sort as int) as Sort,
	sum(AHrs) as AHrs, sum(RW) as RW
	from (select case when ActCompleteDate between @ytdsd and @ytded then 'Current'
						when ActCompleteDate between @pytdsd and @pytded then 'Prior'
						end as Fiscal,
			datename(MONTH, ActCompleteDate) as [Month],
			MonthSort as [Sort],
			TotalActual as AHrs,
			[ChargedToBOM]+[ChargedToSales]+[ChargedToEngineering]+[ChargedToParts]+[ChargedToPurchasing]+[ChargedToWorkmanship] as RW
			from v_SYSPROLabourAnalysis
			inner join (select ROW_NUMBER() over(order by GlYear, GlPeriod) as MonthSort, GlYear, GlPeriod,
						cast(cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01' as datetime) as PeriodStartDate, PeriodEndDate
						from #PeriodEndDates
						where GlYear between @glyear - 1 and @glyear) as subPeriods on v_SYSPROLabourAnalysis.ActCompleteDate between subPeriods.PeriodStartDate and subPeriods.PeriodEndDate) as mainsub
	group by Sort, Fiscal, [Month]
	*/

	/*
    declare @cy int, @py int
    
    if MONTH(@ed) > 7
		select @cy = DATEPART(year, @ed)
	else
		select @cy = DATEPART(year, @ed) - 1

	select @py = @cy - 1

	select Fiscal, [Month], Sort, sum(AHrs) as AHrs, sum(RW) as RW
	from(select case when ActCompleteDate between CONVERT(datetime, convert(nvarchar, @cy) + '-07-01') and CONVERT(datetime, convert(nvarchar, @cy + 1) + '-06-30') then 'Current'
	when ActCompleteDate between CONVERT(datetime, convert(nvarchar, @py) + '-07-01') and CONVERT(datetime, convert(nvarchar, @cy) + '-06-30') then 'Prior'
	else '' end as Fiscal,
	case when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 7 then 'July'
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 8 then 'August'
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 9 then 'September'
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 10 then 'October'
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 11 then 'November'
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 12 then 'December'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 1 then 'January'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 2 then 'February'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 3 then 'March'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 4 then 'April'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 5 then 'May'
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 6 then 'June'
	else '' end as [Month],
	case when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 7 then 1
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 8 then 2
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 9 then 3
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 10 then 4
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 11 then 5
	when year(ActCompleteDate) between @py and @cy and MONTH(ActCompleteDate) = 12 then 6
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 1 then 7
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 2 then 8
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 3 then 9
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 4 then 10
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 5 then 11
	when year(ActCompleteDate) between @cy and @cy + 1 and MONTH(ActCompleteDate) = 6 then 12
	else '' end as [Sort],
	TotalActual as AHrs,
	[ChargedToBOM]+[ChargedToSales]+[ChargedToEngineering]+[ChargedToParts]+[ChargedToPurchasing]+[ChargedToWorkmanship] as RW
	from v_SYSPROLabourAnalysis) as mainsub
	group by Sort, Fiscal, [Month]
	having Fiscal <> ''
	*/

--END

