USE [SysproCompanyA]
GO
--/****** Object:  StoredProcedure [dbo].[sp_ReworkReviewReport v2_StartEndDates]    Script Date: 2022-06-14 11:18:01 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO




---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_ReworkReviewReport v2_StartEndDates] 
--	-- Add the parameters for the stored procedure here
--	@sd datetime, @ed datetime
--AS
--BEGIN
DECLARE @sd AS DATETIME;
DECLARE @ed AS DATETIME;
SET @sd = '2021-06-08'
SET @ed = '2022-06-08'
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- declare variables for MTD and YTD Rework calcuations
	
	declare @MTDmonth int, @MTDyear int, @ytdsd datetime, @ytded datetime

	select @MTDmonth = datepart(month, @ed),
		   @MTDyear = datepart(year, @ed),
		   @ytded = @ed
	
	declare @loopid int = 1,
			@loopglyear decimal(4, 0),
			@loopglperiod decimal(2, 0),
			@loopglenddatefix datetime,
			@SQLselect nvarchar(4000)

	--Create table for future proof method of collecting period end dates
	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#PeriodEndDates') IS NOT NULL
		DROP TABLE #PeriodEndDates

	create table #PeriodEndDates
	(
		RecordID int identity(1, 1),
		GlYear decimal(4, 0),
		GlPeriod decimal(2, 0),
		PeriodEndDate datetime
	)

	--declare stuff for period end date collecting
	select @loopglyear = CurrentFinYear,
		   @loopglperiod = CurrentFinPeriod
	from WipControl with (nolock) -- <- HERE, YOU WOULD USE WHICHEVER "Control" SQL TABLE BASED ON SYSPRO MODULE YOU WERE WORKING WITHIN! (i.e. Inventory = InvControl)

	--grab current period end date (if it's there)
	select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
						 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from WipControl with (nolock)'

	exec sp_executesql @SQLselect

	--If it's not there, update today's date
	if (select PeriodEndDate from #PeriodEndDates) is null
		begin
			update #PeriodEndDates
			set PeriodEndDate = cast(getdate() as date)
		end

	select @loopid = @loopid + 1

	if @loopglperiod = 1	
		begin
			select @loopglperiod = 12,
				   @loopglyear = @loopglyear - 1
		end
	else
		begin
			select @loopglperiod = @loopglperiod - 1
		end
	
	--Loop through current and prior year month end date columns
	while @loopglyear >= (select CurrentFinYear - 1 from WipControl with (nolock))
		begin
			if @loopglyear = (select CurrentFinYear from WipControl with (nolock))
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', CurYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from WipControl with (nolock)'
				end
			else
				begin
					select @SQLselect = 'insert into #PeriodEndDates (GlYear, GLPeriod, PeriodEndDate)
										 select ' + cast(@loopglyear as nvarchar) + ', ' + cast(@loopglperiod as nvarchar) +', PrvYrMthEnd' + cast(@loopglperiod as nvarchar) + ' from WipControl with (nolock)'
				end

			exec sp_executesql @SQLselect
			
			if (select PeriodEndDate from #PeriodEndDates where GlYear = @loopglyear and GlPeriod = @loopglperiod and @loopglperiod <> 12) is null
				begin
					if @loopglperiod = 12
						begin
							delete from #PeriodEndDates 
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglenddatefix = dateadd(month, -1, PeriodEndDate)
							from #PeriodEndDates
							where GlYear = @loopglyear + 1
							and GlPeriod = 1

							select @loopglenddatefix = DATEADD(mm, DATEDIFF(mm, 0, @loopglenddatefix), 0)

							select @loopglenddatefix = DATEADD(dd, -DAY(DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix))), DATEADD(mm, 1, dateadd(day, 1, @loopglenddatefix)))

							insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
							select @loopglyear, @loopglperiod, @loopglenddatefix

							select @loopglperiod = @loopglperiod - 1
						end
					else
						begin
							delete from #PeriodEndDates
							where GlYear = @loopglyear
							and GlPeriod = @loopglperiod

							select @loopglyear = @loopglyear - 1,
								   @loopglperiod = 12
						end
				end
			else
				begin
					if @loopglperiod = 1	
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end
				
			select @loopid = @loopid + 1
		end

	--Continue rest of the way (going back 8 years), based on last period end date
	declare @loopdate datetime,
			@loopenddate datetime,
			@loopglstartyear decimal(4, 0) = @loopglyear

	select top (1) @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, PeriodEndDate), 0))
	from #PeriodEndDates
	order by RecordID desc

	insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
	select @loopglyear, @loopglperiod, @loopdate

	while @loopglstartyear - @loopglyear <= 7
		begin
			select @loopdate = dateadd(day, -1, DATEADD(mm, DATEDIFF(mm, 0, @loopdate), 0))

			if @loopglyear = 2017 and @loopglperiod = 8
				begin
					select @loopglperiod = 12,
						   @loopglyear = @loopglyear - 1
				end
			else
				begin
					if @loopglperiod = 1
						begin
							select @loopglperiod = 12,
								   @loopglyear = @loopglyear - 1
						end
					else
						begin
							select @loopglperiod = @loopglperiod - 1
						end
				end

			insert into #PeriodEndDates (GlYear, GlPeriod, PeriodEndDate)
			select @loopglyear, @loopglperiod, @loopdate
		end

	declare @glyear int

	select @glyear = GlYear
	from #PeriodEndDates
	where month(PeriodEndDate) = month(@ed)
	and year(PeriodEndDate) = year(@ed)

	select top (1) @ytdsd = cast(year(PeriodEndDate) as nvarchar) + '-'+ cast(month(PeriodEndDate) as nvarchar) + '-01'
	from #PeriodEndDates
	where GlYear = @glyear
	order by PeriodEndDate asc

	--Drop and create temp table in tmpdb SQL database for faster processing
	IF OBJECT_ID('tempdb..#ReworkReview') IS NOT NULL
		DROP TABLE #ReworkReview 

	create table #ReworkReview
	(
		Job varchar(20),
		JobDescription varchar(50),
		Machine varchar(30),
		[Description] varchar(50),
		EmployeeName varchar(50),
		RWHours decimal(14, 2),
		JobTtlHours decimal(14, 2),
		TtlHours decimal(14, 2),
		PercentageofTotal float,
		MTDRework decimal(14, 2),
		MTDProdHours decimal(14, 2),
		NetMTDRework decimal(14, 2),
		[MTDProd%] float,
		YTDRework decimal(14, 2),
		YTDProdHours decimal(14, 2),
		NetYTDRework decimal(14, 2),
		[YTDProd%] float
	)
	
	-- insert statement for jobs with rework for date range
	insert into #ReworkReview (Job, JobDescription, Machine, Description, EmployeeName, RWHours, JobTtlHours, PercentageofTotal)
	select WipMaster.Job, WipMaster.JobDescription, 
	BomMachine.Machine as Machine, 
	BomMachine.Description, dbo.ToProperCase(Name) as Name,
	sum(RunTime) as RWHours, JobTtlHours,
	case when JobTtlHours = 0 or JobTtlHours is null then 0 else (sum(RunTime) / JobTtlHours) * 100 end as PercentageofTotal
	from WipLabJnl with (nolock)
	inner join WipMaster with (nolock) on WipLabJnl.Job = WipMaster.Job
	inner join BomMachine with (nolock) on WipLabJnl.Machine = BomMachine.Machine
	inner join BomEmployee with (nolock) on WipLabJnl.Employee = BomEmployee.Employee
	--Job Total Runtime for date range
	inner join (select WipMaster.Job, sum(RunTime) as JobTtlHours from WipLabJnl with (nolock)
					    inner join WipMaster with (nolock) on WipLabJnl.Job = WipMaster.Job
					    where EntryDate between @sd and @ed
					    group by WipMaster.Job) as subA on WipMaster.Job = subA.Job
	where EntryDate between @sd and @ed
	and (BomMachine.Description like '%Rework%' or BomMachine.Description like '%REWORK%')
	group by WipMaster.Job, WipMaster.JobDescription, BomMachine.Machine, BomMachine.Description, Name, JobTtlHours
	having sum(RunTime) <> 0

	--insert all rework machine codes into table
	insert into #ReworkReview (Machine, Description)
	select BomMachine.Machine, BomMachine.Description
	from BomMachine with (nolock) 
	left outer join (select Machine from #ReworkReview group by Machine) as subF on BomMachine.Machine collate Latin1_General_BIN = subF.Machine
	where (Description like '%Rework%' or Description like '%REWORK%')
	and subF.Machine is null
	group by BomMachine.Machine, BomMachine.Description

	--update ytd rework for all machine codes
	update #ReworkReview
	set YTDRework = b.YTDRework
	from #ReworkReview as a
	inner join (select BomMachine.Machine, BomMachine.Description, 
				sum(RunTime) as YTDRework
				from WipLabJnl with (nolock)
				inner join BomMachine with (nolock) on WipLabJnl.Machine = BomMachine.Machine
				where EntryDate between @ytdsd and @ytded
				and (Description like '%Rework%' or Description like '%REWORK%')
				group by BomMachine.Machine, BomMachine.Description) as b on a.Machine collate Latin1_General_BIN = b.Machine
		
	--update ytd prod hours and net ytd rework for all rework machine codes
	update #ReworkReview
	set YTDProdHours = (select sum(JobTtlHours) as YTDProdHours 
						from (select WipMaster.Job, sum(RunTime) as JobTtlHours from WipLabJnl with (nolock)
								inner join WipMaster with (nolock) on WipLabJnl.Job = WipMaster.Job
								where EntryDate between @ytdsd and @ytded
								and NonProdCode = ''
								group by WipMaster.Job) as mainsub),
	NetYTDRework = (select sum(YTDRework) as NetYTDRework from (
					select BomMachine.Machine, sum(RunTime) as YTDRework from WipLabJnl with (nolock)
						inner join BomMachine with (nolock) on WipLabJnl.Machine = BomMachine.Machine
						where EntryDate between @ytdsd and @ytded
						and (Description like '%Rework%' or Description like '%REWORK%')
						group by BomMachine.Machine) as mainsub)

	--update ytdprod% with % calc for rework machine codes
	update #ReworkReview
	set [YTDProd%] = case when YTDRework is null then 0 else convert(float, (YTDRework / YTDProdHours) * 100) end

	--remove rework machine codes with no ytd rework
	delete from #ReworkReview
	where YTDRework is null
		
	--update mtd rework for all machine codes
	update #ReworkReview
	set MTDRework = b.MTDRework
	from #ReworkReview as a
	inner join (select BomMachine.Machine, sum(RunTime) as MTDRework from WipLabJnl with (nolock)
				inner join BomMachine with (nolock) on WipLabJnl.Machine = BomMachine.Machine
				where MONTH(EntryDate) = @MTDmonth
				and year(EntryDate) = @MTDyear
				and (Description like '%Rework%' or Description like '%REWORK%')
				group by BomMachine.Machine) as b on a.Machine collate Latin1_General_BIN = b.Machine
		
	--update null mtd rework with zero value for calcuations
	update #ReworkReview
	set MTDRework = 0
	where MTDRework is null		
		
	--update mtd prod hours and net mtd rework
	update #ReworkReview
	set MTDProdHours = (select sum(JobTtlHours) as MTDProdHours 
							from (select WipMaster.Job, sum(RunTime) as JobTtlHours from WipLabJnl with (nolock)
								inner join WipMaster with (nolock) on WipLabJnl.Job = WipMaster.Job
								where MONTH(EntryDate) = @MTDmonth
								and year(EntryDate) = @MTDyear
								and NonProdCode = ''
								group by WipMaster.Job) as mainsub),
	NetMTDRework = (select sum(MTDRework) as NetMTDRework from (
							select BomMachine.Machine, sum(RunTime) as MTDRework from WipLabJnl with (nolock)
								inner join BomMachine with (nolock) on WipLabJnl.Machine = BomMachine.Machine
								where MONTH(EntryDate) = @MTDmonth
								and year(EntryDate) = @MTDyear
								and (Description like '%Rework%' or Description like '%REWORK%')
								group by BomMachine.Machine) as mainsub)

	--update mtdprod% with % calc
	update #ReworkReview
	set [MTDProd%] = case when MTDRework is null then 0 else convert(float, (MTDRework / MTDProdHours) * 100) end
	
	-- update statement for total job hours with rework for date range
	update #ReworkReview
	set TtlHours = 	(select sum(JobTtlHours) as TtlHours 
					 from (select WipMaster.Job, sum(RunTime) as JobTtlHours from WipLabJnl with (nolock)
						   inner join WipMaster with (nolock) on WipLabJnl.Job = WipMaster.Job
						   where EntryDate between @sd and @ed
						   group by WipMaster.Job) as mainsub)
	
	-- update statement to rid of nulls affecting report formatting
	update #ReworkReview
	set RWHours = 0,
	JobTtlHours = 0
	where RWHours is null

	--select from tmp table
	select * from #ReworkReview
	;
	SELECT
		CAST(ROUND(100 * (CASE WHEN ([JobTtlHours]) = 0 THEN 0.0 ELSE ([RWHours]) / ([JobTtlHours]) END), 1) AS NVARCHAR(MAX)) + ' %' AS [Y1]
	FROM
		#ReworkReview
	;
	SELECT
		SUM([RWHours]) AS [A],
		SUM([JobTtlHours]) AS [B],
		CAST(ROUND(100 * (CASE WHEN SUM([JobTtlHours]) = 0 THEN 0 ELSE SUM([RWHours]) / SUM([JobTtlHours]) END), 1) AS NVARCHAR(MAX)) + ' %' AS [Y2]
	FROM
		#ReworkReview
	;
	SELECT
		[Machine],
		CAST(ROUND(100 * (CASE WHEN SUM([JobTtlHours]) = 0 THEN 0 ELSE SUM([RWHours])/SUM([JobTtlHours]) END), 1) AS NVARCHAR(MAX)) + ' %' AS [X],
		CAST(ROUND((CASE WHEN SUM([JobTtlHours]) = 0 THEN 0 ELSE SUM([RWHours]) / SUM([JobTtlHours]) END), 1) AS NVARCHAR(MAX)) + ' %' AS [Y]
	FROM
		#ReworkReview
	GROUP BY
		[Machine]

--END

