USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ITI_ListSimilarItemsWithType]    Script Date: 2022-07-05 12:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ITI_ListSimilarItemsWithType]
	@name NVARCHAR(MAX)=NULL,
	@desc NVARCHAR(MAX)=NULL,
	@actv BIT=NULL,
	@cond INT=NULL,
	@stat INT=NULL,
	@type INT=NULL,
	@subt INT=NULL,
	@date DATETIME=NULL
AS
BEGIN

------ TESTING ----


--DECLARE @name AS NVARCHAR(MAX);
--DECLARE @desc AS NVARCHAR(MAX);
--DECLARE @actv as BIT;
--DECLARE @cond as INT;
--DECLARE @stat as INT;
--DECLARE @type as INT;
--DECLARE @subt as INT;
--DECLARE @date as DATETIME;

------ TESTING ----

	SELECT
		[ITI Item].[ID] AS [ItemID]
		, [Quantity] AS [Qty]
		, [ITI Item].[Name] AS [ITI_Item]
		, [ITI Condition].[Name] AS [ITI_Condition]
		, [ITI Status].[Name] AS [ITI_Status]
		, [ITI Type].[Name] AS [ITI_Type]
		, [ITI Computer].[Name] AS [Computer]
		, [ITI Peripherals].[Name] AS [Peripherals]
		, [ITI Wire].[Name] AS [Wire]
		, [ITI Network].[Name] AS [Network]
		, [ITI Unknown].[Name] AS [Unknown]
		
		, [ITI InvMaster].[ID] AS [InvMasterID]
		, [ITI InvMaster].[Quantity] AS [InvMasterQty]
		, [ITI InvMaster].[Item] AS [InvMasterItem]
		, [ITI InvMaster].[UOM] AS [InvMasterUOM]
		, [ITI InvMaster].[TotalAdded] AS [InvMasterTotalAdded]
		, [ITI InvMaster].[TotalConsumed] AS [InvMasterTotalConsumed]
		, [ITI InvMaster].[LastDateConsumed] AS [InvMasterLastDateConsumed]
		
		, [ITI Item].[Name] AS [ItemName]
		, [ITI Item].[Description]
		, [ITI Item].[IsActive]
		, [ITI Item].[Condition]
		, [ITI Item].[Status]
		, [ITI Item].[Type]
		, [ITI Item].[SubType]
		, [ITI Item].[DateCreated]
	FROM
		[ITI InvMaster]
	LEFT JOIN
		[ITI Item]
	ON
		[ITI InvMaster].[Item] = [ITI Item].[ID]
	LEFT JOIN
		[ITI Condition]
	ON
		[ITI Item].[Condition] = [ITI Condition].[ID]
	LEFT JOIN
		[ITI Status]
	ON
		[ITI Item].[Status] = [ITI Status].[ID]
	LEFT JOIN
		[ITI Type]
	ON
		[ITI Item].[Type] = [ITI Type].[ID]
	LEFT JOIN
		[ITI Computer]
	ON
		[ITI Item].[Type] = (SELECT [ID] FROM [ITI Type] WHERE [Name] = 'Computer')
		AND [ITI Item].[SubType] = [ITI Computer].[ID]
	LEFT JOIN
		[ITI Peripherals]
	ON
		[ITI Item].[Type] = (SELECT [ID] FROM [ITI Type] WHERE [Name] = 'Peripherals')
		AND [ITI Item].[SubType] = [ITI Peripherals].[ID]
	LEFT JOIN
		[ITI Wire]
	ON
		[ITI Item].[Type] = (SELECT [ID] FROM [ITI Type] WHERE [Name] = 'Wire')
		AND [ITI Item].[SubType] = [ITI Wire].[ID]
	LEFT JOIN
		[ITI Network]
	ON
		[ITI Item].[Type] = (SELECT [ID] FROM [ITI Type] WHERE [Name] = 'Network')
		AND [ITI Item].[SubType] = [ITI Network].[ID]
	LEFT JOIN
		[ITI Unknown]
	ON
		[ITI Item].[Type] = (SELECT [ID] FROM [ITI Type] WHERE [Name] = 'UNKNOWN')
		AND [ITI Item].[SubType] = [ITI Unknown].[ID]
	WHERE 0 != (1 *
			(CASE 
				WHEN @name IS NULL THEN 1
				WHEN LOWER(LTRIM(RTRIM([ITI Item].[Name]))) = LOWER(LTRIM(RTRIM(@name))) THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @desc IS NULL THEN 1
				WHEN LOWER(LTRIM(RTRIM([Description]))) = LOWER(LTRIM(RTRIM(@desc))) THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @actv IS NULL THEN 1
				WHEN [IsActive] = @actv THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @cond IS NULL THEN 1
				WHEN [Condition] = @cond THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @stat IS NULL THEN 1
				WHEN [Status] = @stat THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @type IS NULL THEN 1
				WHEN [Type] = @type THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @subt IS NULL THEN 1
				WHEN [SubType] = @subt THEN 1
				ELSE 0
			END)
			*
			(CASE 
				WHEN @date IS NULL THEN 1
				WHEN [DateCreated] = @date THEN 1
				ELSE 0
			END)
		)
END