USE [BWSdb]
GO
/****** Object:  Trigger [dbo].[tr_ITIDamageLevelsUpdateActive]    Script Date: 2023-09-12 5:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[tr_ITIInventoryUpdateHistory]
   ON  [dbo].[ITI Inventory]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for trigger hereSET NOCOUNT ON;

	-- In vars
	DECLARE @in_id AS INT;
	DECLARE @in_dateCreated AS DATETIME;
	DECLARE @in_active AS BIT;

	-- Out vars
	DECLARE @out_active AS BIT;

	-- working vars
	DECLARE @new_activity AS BIT;

	SELECT 
		@in_id = i.[ID]
		, @in_dateCreated = i.[DateCreated]
		, @in_active = ISNULL(i.[Active], 1)
	FROM
		inserted i
	;

	SELECT 
		@out_active = d.[Active]
	FROM
		deleted d
	;

	SELECT @new_activity = (CASE WHEN @in_active = @out_active THEN 0 ELSE 1 END);

	IF TRIGGER_NESTLEVEL() < 2 BEGIN
	
		DECLARE @user NVARCHAR(20);
		DECLARE @activity NVARCHAR(20);

		-- Insert statements for trigger here
		IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'UPDATE';
			SET @user = SYSTEM_USER;

			INSERT INTO
				[ITI Inventory History]
			(
				[InvID]
				,[DateCreated]
				,[Active]
				,[DateActive]
				,[DateInactive]
				,[HardwareType]
				,[BrandName]
				,[ModelName]
				,[ColourList]
				,[Dimension_L_INCH]
				,[Dimension_W_INCH]
				,[Dimension_H_INCH]
				,[Weight_LBS]
				,[ITSerial]
				,[HardwareNotes]
				,[IsNew]
				,[Supplier]
				,[PurchaseCost]
				,[AcquisitionDate]
				,[DamageLevel]
				,[DirtLevel]
				,[ConditionNotes]
				,[TestedDate]
				,[ITLocation]
				,[IsAssigned]
				,[AssignedDate]
				,[AssignedNotes]
				,[AssignedExpectedReturn]
				,[RetrievedDate]
				,[RetireDate]
				,[RetireReason]
				,[ResourcePath]
				,[CableLength]
				,[PurchaseCostDate]
			)
			SELECT 
				[ID]
				,[DateCreated]
				,[Active]
				,[DateActive]
				,[DateInactive]
				,[HardwareType]
				,[BrandName]
				,[ModelName]
				,[ColourList]
				,[Dimension_L_INCH]
				,[Dimension_W_INCH]
				,[Dimension_H_INCH]
				,[Weight_LBS]
				,[ITSerial]
				,[HardwareNotes]
				,[IsNew]
				,[Supplier]
				,[PurchaseCost]
				,[AcquisitionDate]
				,[DamageLevel]
				,[DirtLevel]
				,[ConditionNotes]
				,[TestedDate]
				,[ITLocation]
				,[IsAssigned]
				,[AssignedDate]
				,[AssignedNotes]
				,[AssignedExpectedReturn]
				,[RetrievedDate]
				,[RetireDate]
				,[RetireReason]
				,[ResourcePath]
				,[CableLength]
				,[PurchaseCostDate]
			FROM
				[ITI Inventory]
			WHERE
				[ID] = @in_id

		END

		IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted) BEGIN
			SET @activity = 'INSERT';
			SET @user = SYSTEM_USER;

			INSERT INTO
				[ITI Inventory History]
			(
				[InvID]
				,[DateCreated]
				,[Active]
				,[DateActive]
				,[DateInactive]
				,[HardwareType]
				,[BrandName]
				,[ModelName]
				,[ColourList]
				,[Dimension_L_INCH]
				,[Dimension_W_INCH]
				,[Dimension_H_INCH]
				,[Weight_LBS]
				,[ITSerial]
				,[HardwareNotes]
				,[IsNew]
				,[Supplier]
				,[PurchaseCost]
				,[AcquisitionDate]
				,[DamageLevel]
				,[DirtLevel]
				,[ConditionNotes]
				,[TestedDate]
				,[ITLocation]
				,[IsAssigned]
				,[AssignedDate]
				,[AssignedNotes]
				,[AssignedExpectedReturn]
				,[RetrievedDate]
				,[RetireDate]
				,[RetireReason]
				,[ResourcePath]
				,[CableLength]
				,[PurchaseCostDate]
			)
			SELECT 
				[ID]
				,[DateCreated]
				,[Active]
				,[DateActive]
				,[DateInactive]
				,[HardwareType]
				,[BrandName]
				,[ModelName]
				,[ColourList]
				,[Dimension_L_INCH]
				,[Dimension_W_INCH]
				,[Dimension_H_INCH]
				,[Weight_LBS]
				,[ITSerial]
				,[HardwareNotes]
				,[IsNew]
				,[Supplier]
				,[PurchaseCost]
				,[AcquisitionDate]
				,[DamageLevel]
				,[DirtLevel]
				,[ConditionNotes]
				,[TestedDate]
				,[ITLocation]
				,[IsAssigned]
				,[AssignedDate]
				,[AssignedNotes]
				,[AssignedExpectedReturn]
				,[RetrievedDate]
				,[RetireDate]
				,[RetireReason]
				,[ResourcePath]
				,[CableLength]
				,[PurchaseCostDate]
			FROM
				[ITI Inventory]
			WHERE
				[ID] = @in_id

		END
		IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted) BEGIN 
			SET @activity = 'DELETE';
			SET @user = SYSTEM_USER;
		END

	END

END
