/*
USE [BWSdb]
GO
--****** Object:  StoredProcedure [dbo].[sp_ProductionScheduleDateShift]    Script Date: 7/7/2021 11:27:32 AM ******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ProductionScheduleDateShift] 
	-- Add the parameters for the stored procedure here
	@Line VARCHAR(6),
	@StartDate DATETIME,
	@Days int
AS
BEGIN

	DECLARE @WorkDays TABLE (
			[CalendarDate] DATE,
			[Row#] INT
		)
	;

	DECLARE @X DATETIME;
	SET @X = 
		[dbo].NEXT_BUSINESS_DAY(
				@StartDate,
				DEFAULT
		)
			
	;
	

	INSERT INTO @WorkDays 
		SELECT
			[CalendarDate], ROW_NUMBER() OVER (ORDER BY [CalendarDate] ASC)
		FROM
			[SysproCompanyA].[dbo].[v_CalendarWorkDays]
		WHERE
			[WorkDay] = 1
	;	

	SELECT
		(
			CASE
				WHEN DATEDIFF(d, [CalendarDate], [dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)) = 1 THEN
					[CalendarDate]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)
			END
		) AS [Calc Production Date],
		[Prod Date 1],
		[dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [CalendarDate], [dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)) = 1 THEN
					[CalendarDate]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)
			END
		), @Days) AS [New Calc Date],
		DATEPART(weekday, [Prod Date 1]) AS [Weekday OLD],
		DATEPART(weekday, [dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [CalendarDate], [dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)) = 1 THEN
					[CalendarDate]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([CalendarDate], DEFAULT)
			END
		), @Days)) AS [Weekday NEW],
		*,
		(
			case
				when DATEPART(WEEKDAY, [CalendarDate]) = 6 then
					DATEADD(DAY, 3, [CalendarDate])
				when DATEPART(WEEKDAY, [CalendarDate]) = 7 then
					DATEADD(DAY, 2, [CalendarDate])
				else
					DATEADD(DAY, 1, [CalendarDate])
			end
		) AS [next_day]
	FROM
		[dtProductionSchedule]
	RIGHT JOIN
		@WorkDays
	ON
		[Prod Date 1] = [CalendarDate]
	WHERE
		@Line LIKE [WO Line 1]
		AND @StartDate <= [Prod Date 1]
	ORDER BY
		[Row#]
END
;
*/
/*
USE [BWSdb]
GO
--****** Object:  StoredProcedure [dbo].[sp_ProductionScheduleDateShift]    Script Date: 7/7/2021 11:27:32 AM ******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ProductionScheduleDateShift] 
	-- Add the parameters for the stored procedure here
	@Line VARCHAR(6),
	@StartDate DATETIME,
	@Days int
AS
BEGIN

	DECLARE @WorkDays TABLE (
			[CalendarDate] DATE,
			[Row#] INT
		)
	;

	DECLARE @X DATETIME;
	SET @X = 
		[dbo].NEXT_BUSINESS_DAY(
				@StartDate,
				DEFAULT
		)
			
	;
	

	INSERT INTO @WorkDays 
		SELECT
			[CalendarDate], ROW_NUMBER() OVER (ORDER BY [CalendarDate] ASC)
		FROM
			[SysproCompanyA].[dbo].[v_CalendarWorkDays]
		WHERE
			[WorkDay] = 1
	;	

	SELECT
		(
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		) AS [Calc Production Date],
		[Prod Date 1],
		[dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		), @Days) AS [New Calc Date],
		DATEPART(weekday, [Prod Date 1]) AS [Weekday OLD],
		DATEPART(weekday, [dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		), @Days)) AS [Weekday NEW],
		*,
		(
			case
				when DATEPART(WEEKDAY, [Prod Date 1]) = 6 then
					DATEADD(DAY, 3, [Prod Date 1])
				when DATEPART(WEEKDAY, [Prod Date 1]) = 7 then
					DATEADD(DAY, 2, [Prod Date 1])
				else
					DATEADD(DAY, 1, [Prod Date 1])
			end
		) AS [next_day]
	FROM
		[dtProductionSchedule]
	WHERE
		@Line LIKE [WO Line 1]
		AND @StartDate <= [Prod Date 1]
END
;
*/

USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionScheduleDateShift]    Script Date: 7/7/2021 11:27:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ProductionScheduleDateShift] 
	-- Add the parameters for the stored procedure here
	@Line VARCHAR(6),
	@StartDate DATETIME,
	@Days int
AS
BEGIN

	DECLARE @X DATETIME;
	SET @X = 
		[dbo].NEXT_BUSINESS_DAY(
				@StartDate,
				DEFAULT
		)
			
	;

	SELECT
		(
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		) AS [Calc Production Date],
		[Prod Date 1],
		[dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		), @Days) AS [New Calc Date],
		DATEPART(weekday, [Prod Date 1]) AS [Weekday OLD],
		DATEPART(weekday, [dbo].NEXT_BUSINESS_DAY((
			CASE
				WHEN DATEDIFF(d, [Prod Date 1], [dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)) = 1 THEN
					[Prod Date 1]
				ELSE
					[dbo].NEXT_BUSINESS_DAY([Prod Date 1], DEFAULT)
			END
		), @Days)) AS [Weekday NEW],
		*,
		(
			case
				when DATEPART(WEEKDAY, [Prod Date 1]) = 6 then
					DATEADD(DAY, 3, [Prod Date 1])
				when DATEPART(WEEKDAY, [Prod Date 1]) = 7 then
					DATEADD(DAY, 2, [Prod Date 1])
				else
					DATEADD(DAY, 1, [Prod Date 1])
			end
		) AS [next_day]
	FROM
		[dtProductionSchedule]
	WHERE
		@Line LIKE [WO Line 1]
		AND @StartDate <= [Prod Date 1]
END
;

-- REAL 
/*
DECLARE @CalcDate DATETIME;
SET @CalcDate = [dbo].NEXT_BUSINESS_DAY([Prod Date 1], @Days);
IF @CalcDate IS NULL BEGIN
	SET @CalcDate = [Prod Date 1]
END

UPDATE
	[dtProductionSchedule]
SET	
	[Prod Date 1] = @CalcDate
WHERE
	@Line LIKE [WO Line 1]
	AND @StartDate <= [Prod Date 1]
;
UPDATE
	[Production]
SET	
	[Prod Date] = @CalcDate
WHERE
	@Line LIKE [Prod Line]
	AND @StartDate <= [Prod Date]
;
*/
