USE [SysproCompanyA]
GO
/****** Object:  StoredProcedure [dbo].[sp_TopLevelWOSubsReport]    Script Date: 2023-07-19 2:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2022-09-28 James Crawford - Added where clause to exclude 3 Half Round Work Orders from reports: 10015030 - 10015032
--IT Request #001197


--ALTER PROCEDURE [dbo].[sp_TopLevelWOSubsReport]
DECLARE
	@WO VARCHAR(8), @INCOMPLETEONLY BIT
SET @WO = '10016619';
SET @INCOMPLETEONLY = 0;
--AS
--BEGIN
SELECT
	0 AS [ph],
	1 AS [MadeIn],
	MAX([WipMaster].[JobStartDate]) AS [WipMaster.JobStartDate],
	MAX([WipMaster].[Job]) AS [WipMaster.Job],
	[WipJobAllMat].[StockCode] AS [WipMaster.StockCode],
	[WipJobAllMat].[StockDescription] AS [WipMaster.StockDescription],
	CAST(ROUND(AVG(QtyOnHand), 0) AS int) AS [QtyOnHand],
	CAST(ROUND(AVG([QtyIssued]), 0) AS int) AS [QtyIssued],
	CAST(ROUND(AVG([UnitQtyReqd]), 0) AS int) AS [QtyRequired],
	CAST(ROUND(SUM([RunTimeIssued]), 2) AS decimal(14, 2)) AS [HrsIssued],
	(CASE WHEN (CAST(ROUND(AVG([UnitQtyReqd]), 0) AS int)) - CAST(ROUND(AVG([QtyIssued]), 0) AS int) <= 0 THEN 'Y' else 'N' END) AS [Complete],
	[WipMaster].[Warehouse] AS [Warehouse]
FROM
	[WipJobAllMat] WITH (NOLOCK)
INNER JOIN
	[WipMaster] WITH (NOLOCK)
ON
	[WipJobAllMat].[StockCode] = [WipMaster].[StockCode] and [WipJobAllMat].[Warehouse] = [WipMaster].[Warehouse]
INNER JOIN
	[WipJobAllLab]
ON
	[WipJobAllLab].[Job] = [WipMaster].[Job]
INNER JOIN
	[InvWarehouse]
ON
	[InvWarehouse].[StockCode] = [WipMaster].[StockCode] and [InvWarehouse].[Warehouse] = [WipMaster].[Warehouse]
WHERE
	[WipJobAllMat].[Job] = @WO
	AND ((@INCOMPLETEONLY = 1 AND [WipMaster].[Complete] = 'N') OR @INCOMPLETEONLY = 0)
	AND QtyOnHand = 0
	and WipMaster.Job not in ('10015030', '10015031', '10015032')
GROUP BY
	[WipJobAllMat].[StockCode], [WipJobAllMat].[StockDescription], [WipMaster].[Warehouse]

--UNION ALL (
	SELECT
		1 AS [ph],
		1 AS [MadeIn],
		MAX([WipMaster].[JobStartDate]) AS [WipMaster.JobStartDate],
		MAX([WipMaster].[Job]) AS [WipMaster.Job],
		[WipJobAllMat].[StockCode] AS [WipMaster.StockCode],
		[WipJobAllMat].[StockDescription] AS [WipMaster.StockDescription],
		CAST(ROUND(AVG(QtyOnHand), 0) AS int) AS [QtyOnHand],
		CAST(ROUND(AVG([QtyIssued]), 0) AS int) AS [QtyIssued],
		CAST(ROUND(AVG([UnitQtyReqd]), 0) AS int) AS [QtyRequired],
		CAST(ROUND(SUM([RunTimeIssued]), 2) AS decimal(14, 2)) AS [HrsIssued],
		(CASE WHEN (CAST(ROUND(AVG([UnitQtyReqd]), 0) AS int)) - CAST(ROUND(AVG([QtyIssued]), 0) AS int) <= 0 THEN 'Y' else 'N' END) AS [Complete],
		[WipMaster].[Warehouse] AS [Warehouse]
	FROM
		[WipJobAllMat] WITH (NOLOCK)
	INNER JOIN
		[WipMaster] WITH (NOLOCK)
	ON
		[WipJobAllMat].[StockCode] = [WipMaster].[StockCode] and [WipJobAllMat].[Warehouse] = [WipMaster].[Warehouse]
	INNER JOIN
		[WipJobAllLab]
	ON
		[WipJobAllLab].[Job] = [WipMaster].[Job]
	INNER JOIN
		[InvWarehouse]
	ON
		[InvWarehouse].[StockCode] = [WipMaster].[StockCode] and [InvWarehouse].[Warehouse] = [WipMaster].[Warehouse]
	WHERE
		[WipJobAllMat].[Job] = @WO
		AND ((@INCOMPLETEONLY = 1 AND [WipMaster].[Complete] = 'N') OR @INCOMPLETEONLY = 0)
		AND QtyOnHand > 0
		and WipMaster.Job not in ('10015030', '10015031', '10015032')
	GROUP BY
		[WipJobAllMat].[StockCode], [WipJobAllMat].[StockDescription], [WipMaster].[Warehouse]
	--ORDER BY
	--	[WipMaster.JobStartDate]
--)
--ORDER BY
--	[ph], [Complete], [WipMaster.JobStartDate], [WipJobAllMat].[StockCode]
-- END
