USE [BWSdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSlotReport]    Script Date: 6/28/2021 8:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

 -- SlotStatus Can be one of 0, 1, or 2.
 -- 0	-	SlotStatus is unassigned
 -- 1	-	SlotStatus is assigned
 -- 2	-	Any Non-NULL SlotStatus Value
ALTER PROCEDURE [dbo].[sp_GetSlotReport]
	@StartDate AS Date,
	@SlotStatus AS Int = 1
AS
BEGIN
	-- Monthly slot counts for each dealer
	WITH SlotTypes AS (
		SELECT
			ROW_NUMBER() OVER (
				PARTITION BY [Dealer], [Slot Types]
				ORDER BY [Dealer] ASC
			) AS row_num, *
		FROM
			[Production Slots]
	)
	
	SELECT
		*
	FROM (
		SELECT 
			[Dealers].[COMPANY NAME],
			[Slot Types] AS [Slot Type],
			[GROUPING],
			[Label],
			[Dealers].[Initials], 
			[LabelTtl],
			[Slot Status],
			DateName(mm, [Slot Date]) AS [Month],
			COUNT(*) AS [# Slots]
		FROM
			[SlotTypes] WITH (NOLOCK)
		INNER JOIN
			[Dealers]
		ON
			[Dealers].[ID] = [SlotTypes].[Dealer]
		INNER JOIN 
			[v_Dealer Totals Breakdown]
		ON
			[Dealers].[Initials] = [v_Dealer Totals Breakdown].[Initials]
		WHERE
			[Slot Types] IS NOT NULL
			AND [Slot Date] >= @StartDate
			AND (
				[Slot Status] = @SlotStatus
				OR (@SlotStatus = (CASE WHEN @SlotStatus = 2 THEN 2 ELSE -1 END))
			)
		GROUP BY
			[Dealers].[COMPANY NAME], [Slot Types], [GROUPING], [Label], [Dealers].[Initials], [LabelTtl], [Slot Status], [Slot Date]
	) AS [SourceTable]
	PIVOT (
		SUM([# Slots])
		FOR 
			[Month]
		IN
			(
				[January],
				[February],
				[March],
				[April],
				[May],
				[June],
				[July],
				[August],
				[September],
				[October],
				[November],
				[December]
			)
	) AS PivotTable
	ORDER BY
		[COMPANY NAME], [Slot Type]
END
;
GO