USE [BWSdb]
GO
--/****** Object:  StoredProcedure [dbo].[sp_CustomerSatisfaction]    Script Date: 2023-07-04 11:24:03 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:		<Author,,Name>
---- Create date: <Create Date,,>
---- Description:	<Description,,>
---- =============================================
--ALTER PROCEDURE [dbo].[sp_CustomerSatisfaction]
--	-- Add the parameters for the stored procedure here
--	@sd datetime, @ed datetime
--AS
--BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	DECLARE
	@sd datetime, @ed datetime
	SELECT @sd = '2022-01-01'
	SELECT @ed = '2023-07-04'

	SET NOCOUNT ON;

	select case when [COMPANY NAME] like '%diamond%' then 'Diamond'
	when [COMPANY NAME] like '%northeast%' then 'Northeast'
	when [COMPANY NAME] like '%summit%' then 'Summit'
	when [COMPANY NAME] like '%demount%' then 'Demountable'
	when [COMPANY NAME] like '%department%' then 'DOT'
	when [COMPANY NAME] like '%E&R%' then 'E&R'
	when [COMPANY NAME] like '%golden west%' then 'Golden West'
	when [COMPANY NAME] like '%hale%' then 'Hale'
	when [COMPANY NAME] like '%pierquip%' then 'Pierquip'
	when [COMPANY NAME] like '%quality trailer%' then 'Quality Trailers'
	when [COMPANY NAME] like '%redhead%' then 'Redhead'
	when [COMPANY NAME] like '%s & s%' then 'S & S'
	when [COMPANY NAME] like '%transeast%' then 'Transeast Trailers'
	when [COMPANY NAME] like '%transfinder%' then 'Transfinder'
	when [COMPANY NAME] like '%transit%' then 'Transit Trailer'
	when [COMPANY NAME] like '%willrett farm%' then 'Willrett Farm'
	when [COMPANY NAME] like '%atlantic powertrain%' then 'Atlantic Powertrain'
	else [COMPANY NAME] end as Dealer, 
	count([Claim Number]) as Claims 
	from [Warranty Claims]
	inner join Dealers on [Warranty Claims].DealerID = Dealers.ID
	where [Claim Date] between @sd and @ed
	and [COMPANY NAME] not like '%BWS%'
	group by [COMPANY NAME]

--END
